[2022-04-28 03:32] ruibaby opened #1918 "附件列表的图片链接移除 encodeURI 编码"
### What is version of Halo has the issue?

1.5.2

### What database are you using?

H2

### Your site address.

https://ryanc.cc

### What happened?

see https://github.com/halo-dev/halo/issues/1899 https://github.com/halo-dev/halo/pull/1874#pullrequestreview-955803501

目前决定后端接口返回的 path 字段将进行 encodeURI 操作，无需再在前端进行处理。

/kind bug
/milestone 1.5.x
/good-first-issue

### Relevant log output

_No resp

[2022-04-28 05:10] ruibaby commented on #1205
@Simple-Stark 可以看看这里 https://github.com/halo-dev/halo/pull/1874#pullrequestreview-955803501

我们打算在后端接口统一处理。

[2022-04-28 09:34] bxbdba commented on #1798
使用1.5.2版本中同意遇到了此问题，新评论不会再发送邮件，但在【博客设置】的界面进行测试，发现是能够正常接收邮件的。

[2022-04-28 10:27] 2465622629 commented on #1877
请问你清空了什么 我也遇到这个问题了

[2022-04-28 12:32] daifiyum opened #1905 "希望可以对友链”分组“进行排序"
### Your current Halo version

1.5.2

### Describe this feature

目前，链接（友链）的分组还无法排序，有多个分组时，无法将重要分组放在满意的位置

### Additional information

_No response_

[2022-04-28 14:17] ruibaby commented on #1905
感谢反馈，目前由于分组字段是存在友链的表当中的，所以要对分组排序也就意味着对分组下的所有友链进行排序。所以目前问题就变成了对所有友链的排序。

对此提供一种方案：

对于后端：

1. 提供批量更新友链的接口。在 [LinkController](https://github.com/halo-dev/halo/blob/master/src/main/java/run/halo/app/controller/admin/api/LinkController.java) 当中提供类似 [MenuController#updateBatchBy](https://github.com/halo-dev/halo/blob/master/src/main/java/run/halo/app/controller/admin/api/MenuController.java#L104) 的接口。

[2022-04-29 02:34] zyy247796143 opened #1906 "halo后台编辑文章区域出现两个"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.2

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在管理后台编辑文章的时候，文章编辑区有时候会出现两个。鼠标滚轮上下滚动几次就没了，有时候又突然出现。截图如下：

### 相关日志输出

_No response_

### 附加信息

![image](https://user-

[2022-04-29 02:35] ruibaby commented on #1906
感谢反馈，能提供一个复现步骤吗？

[2022-04-29 02:59] zyy247796143 commented on #1906
编辑一篇之前保存过的 草稿 文章，打开 单栏 编辑模式，然后上下滚鼠标轮就出现了。刚刚又试了两篇 草稿 文章都会这样。

[2022-04-29 03:20] ruibaby commented on #1906
@zyy247796143 可以复现，应该是切换的时候又实例化了一次编辑器。

/kind bug
/milestone 1.5.x

[2022-04-29 03:24] JohnNiang commented on #1906
/area admin

[2022-04-29 03:26] JohnNiang commented on #1906
/priority important-longterm

[2022-04-29 08:48] JohnNiang commented on #1899
Hi @FanZeros，请问有意愿修复这个问题么？

[2022-04-29 09:50] FanZeros commented on #1899
好

[2022-04-29 09:51] JohnNiang commented on #1899
/assign @FanZeros

[2022-04-29 09:52] JohnNiang commented on #1205
/unassign
/assign @FanZeros

[2022-04-29 09:55] JohnNiang commented on #1205
Hi @FanZeros，方便的话，可以回复一下 `/assign`，halo-ci-bot 会自动将这个 issue assign 给你。:heart:

[2022-04-29 14:50] libo-sober commented on #1798
把数据库换回使用H2就不会出现这个问题，使用NySql就有这个问题。我已经测试过了，不知道为什么也？表示很无奈，MySql与发邮件不可兼得。。。。

[2022-04-30 02:50] FanZeros commented on #1205
/assign

[2022-04-30 08:38] Yhcrown commented on #1880
正好想学习一下，这个static下的文件为什么没有和upload下的文件一样直接全部创建映射，而是要用事件监听的方式创建。者是出于什么一种考虑。

[2022-04-30 09:21] Yhcrown commented on #1880
目前想到有三种解决方案。一种是可以在刷新页面的时候加一个onChange事件通知更新映射，每次点过刷新之后就可以正常访问服务端本地上传的文件。一种就是暴力的把static下的目录全部映射（可以加个开关）。还有就是写一个文件监听器去检测变化，就是可能有点浪费资源。

[2022-04-30 09:24] ruibaby commented on #1880
我觉得这种方式目前可能更好。

[2022-04-30 09:44] Yhcrown commented on #1880
/assign

[2022-04-30 13:29] guqing commented on #1898
可以的 先在此 Issue 描述你的解决思路 讨论过后在开始编码
/assign @Ljfanny

[2022-04-30 13:49] Ljfanny commented on #1898
您好，我更改的代码部分如下：
![image](https://user-images.githubusercontent.com/84827635/166108153-2dcfacd7-5093-4646-b594-b7e6f8dcb5e9.png)
您看是否有其他的考虑？

[2022-04-30 14:13] ruibaby commented on #1898
我不确定一个 mapping 不做响应是否会带来其他问题。

/cc @halo-dev/sig-halo

[2022-04-30 14:14] ruibaby commented on #1898
@Ljfanny 可以先直接提交 PR。

[2022-05-02 05:33] qq240 commented on #1897
![image](https://user-images.githubusercontent.com/75786235/166188784-162a7c99-9511-4984-96cf-adf21c5a6847.png)
是所有的都不行
![1](https://user-images.githubusercontent.com/75786235/166188803-cef9b0fc-4927-459e-a9c0-e040add96e50.jpg)

[2022-05-02 05:33] qq240 commented on #1897
更换一个图片也不行

[2022-05-02 05:35] qq240 commented on #1897
之前有一个文章404，找不到在哪，回收站也没有所有备份重装了一下博客不知道是不是这个原因

[2022-05-02 05:36] qq240 commented on #1897
更换一张图片也不行

有一个文章404，找不到在哪里，备份站也没有所有备份重装这个博客不是之前的原因知道

![image](https://user-images.githubusercontent.com/75786235/166189010-bc618017-6cd3-4d7c-b4d8-3f1d06d7ac7b.png)

[2022-05-02 05:37] qq240 commented on #1897
之前有一个文章404，找不到在哪里，回收站也没有 所以备份重装了博客不知道是不是这个原因

[2022-05-02 14:00] jiazhiyuans commented on #1905
ok

[2022-05-03 02:21] ruibaby commented on #1905
如果有兴趣，可以评论 `/assign` 来指派。

[2022-05-03 09:37] toolv94 opened #1909 "上传附件到华为云，提示NoSuchMethodError，okhttp3.RequestBody.create"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.2

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://blog.toolv.net

### 发生了什么？

我在上传Favicon时，提示错误。
因为是docker跑的，应该不是环境问题，推测是依赖或者SDK有更新导致的。

### 相关日志输出

[code]

### 附加信息

![image](https://u

[2022-05-04 07:10] JohnNiang commented on #1909
/area core
/kind bug

可能是因为 https://github.com/halo-dev/halo/pull/1602 升级依赖导致的问题。稍后我确认一下。

[2022-05-04 07:16] JohnNiang commented on #1909
/assign

[2022-05-04 15:40] wangxiaoerYah opened #1910 "数据库远程连接"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.2

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.wangxiaoer.site

### 发生了什么？

数据库访问频繁出现' No operations allowed after connection closed.). Possibly consider using a shorter maxLife

[2022-05-05 01:42] Foundation-Maker opened #1911 "增加文章列表和文章存档列表"
### 你当前使用的版本

1.5.2 joe2.0主题

### 描述一下此特性

一篇文章简述或者标签下，增加相关标签说明，对这篇文章也是一种很好的说明简述；增加文章列表和文章存档列表

### 附加信息

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/46839690/166852331-ccb046e9-356b-4e22-a70d-ae98004122e9.png">

<img width="1150" alt="image" src="https://user-images.githubusercontent.com/46839690/166852494-b533d344-069f-40aa-ad54-816c054086c4.png">
5.2

[2022-05-05 01:52] ruibaby commented on #1911
感谢反馈，但这不属于 Halo 的 issue，你可以向主题提交这个 feature。

https://github.com/qinhua/halo-theme-joe2.0

/kind support

[2022-05-05 01:53] ruibaby commented on #1910
/kind support
/cc @halo-dev/sig-halo

[2022-05-05 01:56] JohnNiang commented on #910
/reopen

[2022-05-05 02:10] qq240 opened #1912 "附件无法上传"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.5.2

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site add

[2022-05-05 02:25] JohnNiang commented on #1910
Hi @wangxiaoerYah ，感谢反馈这个详细的问题。由于我们现在不是很方便去测试数据库集群的情况，所以我这里给出一个可能的办法，希望能够帮忙多试试，一起寻找解决方案：

首先，你使用的是 MySQL 8.0，每 8hours 就会断掉数据库连接，但是 Halo 的 Hikari 连接池并不知道数据库连接已经断掉了，那么再次使用该数据库连接的地方就会报错：` No operations allowed after connection closed`。可以根据提示 `Possibly consider using a shorter maxLifetime value` 更改一下 `maxLieftime`：

[code]

参考：

- https://dev.mysql.com/doc/refman/8.0/en/gone-away.html
- https://docs.s

[2022-05-05 02:38] ruibaby commented on #1912
可以先检查一下 .halo/upload 是否有写入权限。

[2022-05-05 02:38] ruibaby commented on #1912
/kind support

[2022-05-05 02:49] Foundation-Maker commented on #1911
感谢，我查看了一下其他主题，确实有的主题有显示标签；

[2022-05-05 06:28] ruibaby commented on #1798
/kind bug

[2022-05-05 06:57] JohnNiang commented on #1798
/assign

[2022-05-05 07:26] #1898 closed

[2022-05-05 09:08] #1877 closed

[2022-05-05 11:12] wangxiaoerYah commented on #1910
测试了一下，我把maxlifetime设置成300000ms即5分钟 和 idle-timeout: 300000
现在没有出现maxlifetime报错了，但是访问任然会慢。

我刚刚翻到mxscale 路由模块文档，发现是readwritesplit 不支持jdbc的批量查询，因为他要跟踪每条读取写入的返回值。
[readwritesplit](https://mariadb.com/kb/en/mariadb-maxscale-25-readwritesplit/#optimistic_trx)

有没有可能将查询改成一条多次查询?这样与批量查询有什么速度差距没?

然后就是和 #910 这个问题里出现的，使用远程数据库卡顿问题是不是也是批量查询，然后关联条数太多，数据库端tcp缓存不足，造成的?

[2022-05-06 01:40] JohnNiang commented on #1910
我们测试发现，如果数据库和 Halo 所在的服务器网络延迟过高，确实会造成较大的延迟（比如：数据库在 HK，Halo 所在服务器处于北京，则访问首页的延迟高达 1s+）。目前我能想到两种方案：

1. 在 Halo 侧添加数据缓存
2. 并发执行没有关联的查询

我更倾向第一种方式，相对第二种方式更简单，无需大量修改已有的代码。

[2022-05-06 02:27] ruibaby commented on #1881
/close

[2022-05-06 02:27] #1881 closed

[2022-05-06 03:20] #1880 closed

[2022-05-06 04:05] ruibaby commented on #1918
/area admin

[2022-05-06 04:06] ruibaby commented on #1919
/area admin

[2022-05-06 04:08] ruibaby commented on #1921
/area admin

[2022-05-06 04:13] #2000 closed

[2022-05-06 04:14] #2017 closed

[2022-05-06 04:18] qibao07 opened #1934 "主题在线更新支持代理"
### 你当前使用的版本

1.5.2

### 描述一下此特性

### 当前情况
由于主题大多数都是从github拉取，导致国内网络更新主题经常失败。
### 期望
application.yaml添加可选配置，用于设置git的代理。
### 配置
[code]
### 参考
[代码中的JGit代理配置](https://mlog.club/article/1562206)

### 附加信息

_No response_

[2022-05-06 05:08] #1798 closed

[2022-05-06 06:43] JohnNiang commented on #1934
/area core
/kind feature

目前你可以了解一下 https://ghproxy.com/ ，我们目前倾向利用这种方式进行克隆仓库以及下载主题。

[2022-05-06 06:54] JohnNiang commented on #1798
Hi @bxbdba @cetr @libo-sober @jeremy526 @hapke24 ，这个问题主要是因为数据库事务和异步发送邮件提醒造成的。

当 Halo 创建了评论后，就发送了新评论或评论回复通知，但此时事务并未提交且评论通知的逻辑是异步执行的，也就导致了评论通知逻辑中查询不到刚刚创建的评论，出现了以上错误。

想要查看如何修复此问题，请参考：
- https://github.com/halo-dev/halo/pull/1916

[2022-05-06 06:56] JohnNiang commented on #1789
请参考：
- https://github.com/halo-dev/halo/issues/1798#issuecomment-1119313057

[2022-05-06 06:57] JohnNiang commented on #1789
/remove-kind support
/kind bug

[2022-05-06 07:06] qibao07 commented on #1934
@JohnNiang
这个办法确实可以，当前就是先下载zip上传更新，但可以<kbd>在线更新</kbd>会更优雅一些。

[2022-05-06 07:30] #1759 closed

[2022-05-06 07:37] JohnNiang commented on #1934
Hi @qibao07 ，正在考虑怎么将 ghproxy.com 集成到 Halo 中。比如，在系统配置中提供 proxy 配置，供主题下载和更新使用。如果有兴趣的话，可以帮忙一起完善这个功能 : )

[2022-05-06 10:15] stars-one opened #2072 "博文增加代码块高亮强调某几行的效果"
### 你当前使用的版本

1.4.2

### 描述一下此特性

看到了之前的Vue文档，可以实现代码块里的高亮某行的效果，阅读体验比较好，是否考虑增加此功能？

效果如下图所示：

![](https://img2022.cnblogs.com/blog/1210268/202205/1210268-20220506180813845-736799313.png)

参考的链接：

[Markdown 拓展 | VuePress 中文文档 | VuePress 中文网](https://www.vuepress.cn/guide/markdown.html#%E4%BB%A3%E7%A0%81%E5%9D%97%E4%B8%AD%E7%9A%84%E8%A1%8C%E9%AB%98%E4%BA%AE)

有个开源库链接：
[egoist/markdown-it-highlight-li

[2022-05-06 13:18] ChunelFeng opened #2073 "关于【系统-小工具-博客备份-整站备份】的问题咨询"
### Your current Halo version

docker latest版本

### Describe this feature

【背景】
大佬您好，我自己的ecs快要到期了，结束的时候，应该回去淘宝上用朋友的账号买收购充值，机器肯定是要换的了。
我在现在在阿里云的ecs上通过 docker 部署了 halo 版本的博客。
里面也写了不少内容：[个人博客 地址](http://www.chunel.cn/)

【问题】
1，我刚才通过【整站备份】功能，下载了 *.zip包到本地，如果我今后要换 ecs的话，通过找个zip就可以一键恢复么？有具体使用方法的文档么？

2，【系统-博客设置-SMTP服务】这里的功能，有什么作用？ 能帮我一键生成一个 自己域名结尾的邮箱么？

### Additional information

_No response_

[2022-05-06 13:48] ruibaby commented on #2073
1. 如果是使用的默认的 h2 数据库，那么所有的数据都在这个压缩包，这个压缩包包含整个工作目录，参考 https://docs.halo.run/getting-started/prepare#%E5%B7%A5%E4%BD%9C%E7%9B%AE%E5%BD%95 。
2. 目前用在评论发信和重置密码，需要用到三方邮件服务商。

/kind support

[2022-05-06 14:07] qq240 commented on #1912
OK了权限问题全开就行了所有者不是halo....

[2022-05-06 14:12] ruibaby commented on #1897
@qq240 可以看看是不是和这一样的问题：https://github.com/halo-dev/halo/issues/1912#issuecomment-1119662216

[2022-05-06 14:14] ruibaby commented on #1912
那我就先关闭这个 issue 了，上面的日志无法查看完整错误栈的问题已经在 https://github.com/halo-dev/halo/pull/1913 中修复。

/close

[2022-05-06 14:14] #1912 closed

[2022-05-06 14:17] ruibaby commented on #1897
没有注意到是同一个人提出的，那么这个 issue 应该是一样的问题。

/triage duplicate
/close

[2022-05-06 14:17] #1897 closed

[2022-05-06 14:31] ChunelFeng commented on #2073
1，哈哈，我打开zip文件，里面就是 ~/.halo 这一批内容。保存到本地，就放心了

[2022-05-06 14:57] JohnNiang commented on #2073
A2： 目前我所知道的邮件服务商有：https://www.fastmail.com/ ，不过它需要收费才能够创建以自己域名结尾的邮箱。

[2022-05-07 02:28] ruibaby commented on #2073
@ChunelFeng 如果没有其他问题，这个 issue 就先关闭了。

/close

[2022-05-07 02:28] #2073 closed

[2022-05-07 02:46] stars-one commented on #2072
心有余力不足，前端这块不是很懂，我只是初级入门 :joy:

[2022-05-07 02:50] ruibaby commented on #2072
Okay，晚点我会尝试一下。

/area admin

[2022-05-07 02:59] JohnNiang commented on #2072
/assign @ruibaby

[2022-05-07 09:59] ruibaby commented on #1906
/assign

[2022-05-07 09:59] ruibaby commented on #1919
/assign

[2022-05-07 12:20] ChunelFeng commented on #2073
没有了，非常感谢

[2022-05-07 12:31] Cyiming commented on #1687
支持该功能 顶一下 方便收到提醒

[2022-05-08 03:05] letdosomething opened #2074 "网站从http改成https，部分之前上传的图片加载不出来"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.2

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://gaodongfei.com

### 发生了什么？

网站使用http运行了一段时间，也写了几篇文章，尝试将网站配成https之后，页面上的css样式加载不出来，报错显示是上传的图片是http的有跨域问题

### 相关日志输出

_No response_

###

[2022-05-08 10:10] ruibaby commented on #2074
https://docs.halo.run/user-guide/faq#前台样式丢失如何解决

对于部分已经保存的内容，可以参考 https://bbs.halo.run/d/153 解决。

[2022-05-08 10:10] ruibaby commented on #2074
/kind support

[2022-05-08 15:38] #1906 closed

[2022-05-08 15:42] letdosomething commented on #2074
thanks, 直接修改数据库生效了

[2022-05-09 01:46] ruibaby commented on #2074
Okay，那我先关闭此 issue 了。

/close

[2022-05-09 01:46] #2074 closed

[2022-05-09 06:12] #1919 closed

[2022-05-09 14:44] ruibaby commented on #1798
已经在 1.5.3 修复，可以升级尝试一下。https://github.com/halo-dev/halo/releases/tag/v1.5.3

[2022-05-10 03:22] #1718 closed

[2022-05-10 04:05] flyingCrp commented on #1934
是否可以直接通过`git action`同步到[gitee](https://gitee.com/)上,看了一下 `ghproxy.com`是个人维护,因为国内特殊网络环境的原因,可能会出现不必要问题.最重要的是给ghproxy增加额外的负担, 除非我们能有所捐赠;

[参考](https://blog.csdn.net/sculpta/article/details/104897320)

[2022-05-10 05:36] ruibaby commented on #1934
我们目前的 halo-dev 组织的库是有同步到 gitee 的。

参考：

- https://github.com/halo-dev/sync-to-gitee
- https://gitee.com/halo-dev/

至于三方的主题，那恐怕需要自己去镜像了。

[2022-05-10 06:38] qq240 opened #2079 "基于宝塔 supervisor 更新版本"
### Your current Halo version

1.5.2

### Describe this feature

我用的宝塔supervisord守护程序搭建，我想问下更新的化是直接下载到运行包目录改名就行吗？

### Additional information

_No response_

[2022-05-10 06:43] ruibaby commented on #2079
和这个教程的差别是不大的。https://docs.halo.run/getting-started/upgrade

1. 在 supervisor 停止 Halo 进程。
2. 备份。
3. 替换最新的 Jar，然后去 supervisor 启动 Halo 进程。

/retitle 基于宝塔 supervisor 更新版本
/kind support

[2022-05-10 06:54] flyingCrp commented on #1934
我们可以建立一个规则,呼吁主题的开发者来遵循,比如像`halo`通过`git action`来同步到`gitee`上一样(可能需要写一个README来帮助主题开发者完成`workflow`的配置);

`halo`的主题是`halo`生态比较重要的内容,当制作者愿意把主题分享给社区时,为了解决国内访问`github`的连通性问题和给使用者更好的速度体验,呼吁主题开发者加入这个`workflow`到主题所在的仓库中,当然,开发者需要先有一个`gitee`的帐号.

在没有找到其他可持续性的解决方案前,这是一个简单有效的方式. 但是需要`halo`官方在主题开发介绍的文档中进行**明显提示**,并连接到如何使用`git action`进行同步的说明

同时还需要在`halo`的后台中支持选择主题搜索的源为`gitee or github ` 或则默认就是支持全部

[2022-05-10 07:36] qq240 commented on #2079
ok已经解决了

[2022-05-10 07:49] UvDream opened #2080 "sm.sm图床也无法上传"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

设置sm.sm图床

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

www.uvdream.cn

### 发生了什么？

后台设置了sm.sm图床也是无法上传
[halo-log-2022-05-10-15-48-00.log](https://github.com/halo-dev/halo/files/8659445/halo-log-2

[2022-05-10 07:53] ruibaby commented on #2080
可以尝试在服务器 `ping sm.ms`，或者 `dig sm.ms`。查看是否输出正常。

[2022-05-10 07:53] ruibaby commented on #2079
/close

[2022-05-10 07:53] #2079 closed

[2022-05-10 07:54] JohnNiang commented on #2080
@UvDream 你的服务器的网络似乎有些问题，之前你似乎也遇到过无法连接 qiniu 的域名：https://github.com/halo-dev/halo/issues/1893

[2022-05-10 07:57] UvDream commented on #2080
我ping过都是可以的
<img width="759" alt="image" src="https://user-images.githubusercontent.com/33121872/167578408-3e86390c-2221-4176-9314-6c0ff7c4eccc.png">
七牛云那个至今没解决,所以我尝试了下其它的

[2022-05-10 07:58] UvDream commented on #2080
<img width="717" alt="image" src="https://user-images.githubusercontent.com/33121872/167578610-d6ccdb54-e03b-4a19-882e-b5657ee8a8f8.png">

[2022-05-10 08:00] JohnNiang commented on #2080
@UvDream 试试在容器内执行以上命令，还能得到相同的结果么？

[2022-05-10 08:01] JohnNiang commented on #2080
/kind support

[2022-05-10 08:08] UvDream commented on #2080
你们的容器没装ping😭,我自己装一个吗

[2022-05-10 08:11] JohnNiang commented on #2080
试试：`curl -vL sm.ms` 或者 `wget sm.ms`。

[2022-05-10 08:17] UvDream commented on #2080
我的服务器是不是需要放行一些端口出去,让halo容器访问外网?

[2022-05-10 08:23] UvDream commented on #2080
<img width="433" alt="image" src="https://user-images.githubusercontent.com/33121872/167583435-c4f70659-0145-44c8-b2cc-d5a4df9248f3.png">

[2022-05-10 08:48] #2080 closed

[2022-05-10 08:49] #1893 closed

[2022-05-10 09:06] ruibaby commented on #2080
@UvDream 你好，请问这个问题已经得到解决了吗？

[2022-05-10 09:06] JohnNiang commented on #2080
Hi @UvDream，请问这个问题有解决么？如果确实解决了，可以提供一下解决方案么。

[2022-05-10 09:34] UvDream commented on #2080
网桥挂了,
[code]

[2022-05-10 10:14] ruibaby commented on #1893
解决方式：https://github.com/halo-dev/halo/issues/2080#issuecomment-1122157766

[2022-05-11 11:31] ZTfred opened #2083 "备份的数据浏览器无法下载"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://alialili.cn

### 发生了什么？

![image](https://user-images.githubusercontent.com/53425107/167838644-4e19a4bd-1648-4a06-bc63-db69ad039425.png

[2022-05-11 11:34] JohnNiang commented on #2083
/kind support

[2022-05-11 13:35] JohnNiang commented on #2083
Hi @ZTfred ，建议提供一下下载备份出错时 halo 的日志。目前只知道出现了 400 错误，但具体原因不明。

[2022-05-11 13:45] ZTfred commented on #2083
2022-05-11 13:40:02.855  WARN 1 --- [qtp424944647-495] .m.m.a.ExceptionHandlerExceptionResolver : Failure in @ExceptionHandler run.halo.app.core.ControllerExceptionHandler#handleGlobalException(Exception)

org.springframework.http.converter.HttpMessageNotWritableException: No converter for [class run.halo.app.model.support.BaseResponse] with preset Content-Type 'application/zip'
	at org.springfram

[2022-05-11 14:04] JohnNiang commented on #2083
[code]

[2022-05-11 14:12] JohnNiang commented on #2083
我这边手动测试了一下，无法复现以上错误：

[code]

![image](https://user-images.githubusercontent.com/16865714/167870342-a12dfca8-f8ce-4205-9723-85d52651028a.png)

[2022-05-11 14:15] ZTfred commented on #2083
代理了试试

[2022-05-12 01:41] JohnNiang commented on #2083
目前已经找到大量备份无法下载的问题：

- https://bbs.halo.run/d/1167
- https://bbs.halo.run/d/1116
- https://bbs.halo.run/d/2394-ubuntu2004

@halo-dev/sig-halo ，这个问题需要好好排查一下。

/priority awaiting-more-evidence

[2022-05-13 08:08] ruibaby commented on #2083
@JohnNiang 似乎都包含了 `The one-time token does not exist`，但下载链接是包含了 ott 参数的。

[2022-05-14 03:58] iRoZhi opened #2084 "希望邮件通知模板中的参数可以丰富一点~"
### Your current Halo version

1.5.3

### Describe this feature

看了一下，目前可供调用的参数有点少，希望可增加以下参数
mail_notice：
{评论者邮箱地址}、{评论者ip地址}、{该评论状态}、{评论时间}
mail_reply：
{双方邮箱地址}、{回复时间}

### Additional information

_No response_

[2022-05-15 06:19] WangRongsheng opened #2085 "是否有商业主题？"
### Your current Halo version

_No response_

### Describe this feature

您好，我正在寻求一个商业的主题，我翻遍了halo的主题仓库并没有我需要的，请问 [https://halo.run/](https://halo.run/) 的主页是否是一个主题提供？

### Additional information

_No response_

[2022-05-15 12:58] JohnNiang commented on #2085
1. 目前的主题都偏向于个人博客风格，后续看是否有人贡献一些商业风的主题。

2. 官网的主题因版权问题无法提供。

[2022-05-16 02:26] ruibaby commented on #2085
/kind support

[2022-05-16 02:27] ruibaby commented on #2084
/kind feature
/milestone 1.6.x

[2022-05-16 05:35] ruibaby commented on #2084
/good-first-issue

[2022-05-16 05:47] JohnNiang commented on #2084
Hi @ruibaby ，建议指出具体需要修改什么地方，这样第一次参与贡献的朋友更容易上手。

[2022-05-16 06:00] ruibaby commented on #2084
https://github.com/halo-dev/halo/blob/0e3890ada48451ecb51fcd36a5a2ca6cd127e26f/src/main/java/run/halo/app/listener/comment/CommentEventListener.java#L228-L232

在这个位置添加必要的参数即可。

[2022-05-16 08:19] XM2510136957 opened #2087 "更新v1.5.3启动报错"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

启动报错

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-05-16 08:24] ruibaby commented on #2087
/triage duplicate
/kind support

see https://github.com/halo-dev/halo/issues/1765

[2022-05-16 09:23] WangRongsheng commented on #2085
谢谢！祝好

[2022-05-16 11:12] XM2510136957 commented on #2087
上传文件出现oom的问题
Caused by: java.lang.OutOfMemoryError: Java heap space
	at java.base/jdk.internal.misc.Unsafe.allocateUninitializedArray(Unsafe.java:1375) ~[na:na]
	at java.base/java.lang.StringConcatHelper.newArray(StringConcatHelper.java:494) ~[na:na]
	at java.base/java.lang.String.join(String.java:3264) ~[na:na]
	at java.base/java.lang.System$2.join(System.java:2438) ~[na:na]
	at java.base/java.ut

[2022-05-16 11:19] ruibaby commented on #2087
@XM2510136957 你好，有其他问题请提交新的 issue，当前 issue 只针对这个升级的问题。

[2022-05-16 12:37] XM2510136957 opened #2088 "导入zip文件出现oom的问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

导入文件出现oom的问题

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-05-16 13:54] carolin-violet opened #2089 "写文章时添加的图片不显示"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

http://82.157.183.73:8090/archives/python%E8%B0%83%E7%94%A8qq%E9%82%AE%E7%AE%B1%E6%8E%A5%E5%8F%A3%E5%8F%91%E9%80%81%E9%82%AE%E4%BB%B6

### 发生了什么？

[2022-05-16 14:04] Yhcrown commented on #2089
似乎是文件名的问题 见#1205，应该快修复了。

[2022-05-16 14:17] JohnNiang commented on #2089
是的，具体修复请参考：https://github.com/halo-dev/halo/issues/1205

[2022-05-16 14:24] ruibaby commented on #2088
你好 @XM2510136957 ，`导入zip文件` 是指在初始化页面导入数据吗？

[2022-05-16 14:28] #2089 closed

[2022-05-16 14:28] XM2510136957 commented on #2088
2核4g腾讯云

[2022-05-16 14:32] JohnNiang commented on #2087
Hi @XM2510136957 ，这个问题和 https://github.com/halo-dev/halo/issues/1765 重复，我们将关闭此 issue，如果有任何问题，欢迎随时重新打开。

/close

[2022-05-16 14:32] XM2510136957 commented on #2088
Markdown 文章导入

[2022-05-16 14:35] ruibaby commented on #2088
目前不支持上传 ZIP 导入，只能导入纯文本格式（.markdown .md .txt）。虽然可以选择 zip 文件，但是会被当做文本格式去解析，所以会导致 OOM，稍后将新建一个 issue 来限制上传组件的文件后缀。

[2022-05-16 14:40] ruibaby opened #2090 "后台小工具中的 Markdown 导入可以选择任意文件"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://halo.run

### 发生了什么？

see https://github.com/halo-dev/halo/issues/2088#issuecomment-1127756950

可以限定部分后缀格式的文件，如：`.markdown` `.md` `.txt`。

在 a

[2022-05-16 14:40] XM2510136957 commented on #2088
那我现在不能批量导入之前的markdown笔记了

[2022-05-16 14:55] XM2510136957 commented on #2088
![image](https://user-images.githubusercontent.com/18229485/168622113-4907830b-b667-47c7-a6aa-324afe5577e7.png)

[2022-05-16 14:59] JohnNiang commented on #2090
出现 OOM 的关键在于这里直接读取了文件：

https://github.com/halo-dev/halo/blob/0e3890ada48451ecb51fcd36a5a2ca6cd127e26f/src/main/java/run/halo/app/service/impl/BackupServiceImpl.java#L235

建议在后端也限制一下文件的大小和类型。

[2022-05-16 15:03] JohnNiang commented on #2088
@XM2510136957 ，建议提供一下出现错误时的日志信息。

[2022-05-17 07:58] livejq opened #2092 "小工具导出md再导入后文章别名无法复原（年份型）"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.4.17

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site ad

[2022-05-17 08:12] Camsyn commented on #1905
在不修改数据库表的前提下对分组进行排序，我认为分组排序和组内友链的排序可以共用一个priority字段（team字段不做排序）。即将分组内最大的友链priority作为该分组的priority。

- 后端：`List<LinkTeamVO> listTeamVos(Sort sort) ` api 可以先默认按分组的priority对分组进行排序，再对组内的友链进行排序。
- 前端：修改 管理友链的页面，不再显式的提供修改友链priority的方法，而是采用可视化的拖拽来对分组或分组内的友链进行排序，并在前端按照最终的次序(从上到下，从左到右)对各个友链的priority进行递增/递减，配合后端提供的批量更新接口，完成对分组排序，组内友链排序的可视化调整。

[2022-05-17 08:12] Camsyn commented on #1905
/assign

[2022-05-17 08:14] JohnNiang commented on #1905
/milestone 1.6.x

[2022-05-17 08:20] ruibaby commented on #1905
/area core
/area admin

[2022-05-17 15:22] #1205 closed

[2022-05-18 02:40] #1899 closed

[2022-05-18 02:40] #1918 closed

[2022-05-18 03:15] ruibaby commented on #2092
/kind improvement

你好 @livejq ，目前确实有这样的问题，但你导出 Markdown 再导入的意图是什么呢，看看临时有没有其他解决办法。

[2022-05-18 06:50] #2084 closed

[2022-05-18 07:09] ETLAN666 commented on #2090
因为课程要求，我需要积极参与到开源项目的开发，关于这个问题，我可以帮着做一些改进，大概周末提个pr

[2022-05-18 07:15] ETLAN666 commented on #2090
我之前处理过类似的问题，我可以帮忙做一些改进吗？大概周末pr

[2022-05-18 07:17] ETLAN666 commented on #2090
thx

[2022-05-18 07:18] JohnNiang commented on #2090
建议不要随意删除评论。

[2022-05-18 07:26] ETLAN666 commented on #2090
谢谢提醒，没想到回复这么快，本来是想重新补充一下改进思路

[2022-05-18 13:08] Foundation-Maker opened #2096 "增加文档形式功能页面"
### 你当前使用的版本

1.5.2

### 描述一下此特性

我最近在构建自己博客笔记，想采用页面进行组织，但实现起来不够灵活；我查看了有几种静态博客的支持此功能；只是提一个建议，如果不会支持，可以讨论一下；
<img width="1385" alt="image" src="https://user-images.githubusercontent.com/46839690/168996383-680781ab-5208-47d3-b626-934e531c139a.png">
<img width="1367" alt="image" src="https://user-images.githubusercontent.com/46839690/168996595-85a38b4f-1a7b-441d-a41e-9855fb1c02dd.png">

### 附加信息

_No

[2022-05-18 13:58] ruibaby commented on #2096
其实目前的主题 API 应该是可以满足这个效果的，但可能不太方便实现。后续我们会考虑如何让分类/菜单和文章更加结构化。感谢你的建议。

/kind feature
/milestone 2.0

[2022-05-19 02:24] ruibaby commented on #2090
/remove-kind bug
/kind improvement

[2022-05-19 06:13] ruibaby opened #2097 "修改默认的评论组件资源地址，目前使用的 jsDelivr 在部分地区已经无法正常访问"
### 你当前使用的版本

1.5.3

### 描述一下此特性

在 https://github.com/halo-dev/halo/issues/1619 中遗漏了默认的评论组件资源地址。

目前需要修改的位置：

- https://github.com/halo-dev/halo/blob/bec10e9066b608aebcabf6d49479b77229f4248a/src/main/resources/templates/common/macro/global_macro.ftl#L64-L65
- https://github.com/halo-dev/halo/blob/8f35382c39e90531a33f29aa8e13663a3476942b/src/main/java/run/halo/app/model/properties/CommentPropertie

[2022-05-19 06:13] ruibaby commented on #2097
/milestone 1.5.x

[2022-05-19 06:43] Yhcrown commented on #2097
/assign

[2022-05-19 06:51] ruibaby commented on #2097
/kind improvement

[2022-05-19 06:51] ruibaby commented on #2092
/kind improvement

[2022-05-19 06:52] ruibaby commented on #2090
/kind improvement

[2022-05-19 06:57] JohnNiang commented on #2097
/good-first-issue

[2022-05-19 07:59] #2097 closed

[2022-05-19 09:00] flyingCrp commented on #1934
目前gitee已经不是最优选择了，国内的互联网环境太差了

[gitee开源项目必须审核后才能再次公开](https://www.zhihu.com/answer/2491172345)

[2022-05-19 14:17] JohnNiang commented on #1921
Hi @FanZeros ，这个 issue 已经被 https://github.com/halo-dev/halo/issues/1921#issuecomment-1119242674 认领了，可能 @Have-an-flower 已经在做这个事情了。为了避免重复做同一件事情，建议不要重复认领，谢谢！

[2022-05-19 14:34] FanZeros commented on #1921
好的，/unassign

[2022-05-19 14:34] FanZeros commented on #1921
/unassign

[2022-05-19 16:28] ruibaby commented on #1921
/remove-kind feature
/kind improvement

[2022-05-20 00:40] dingtianlu opened #2100 "默认主题的 jsDelivr 资源无法正常访问。"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

被墙 js加载不了

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

未知问题

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-05-20 00:46] ruibaby commented on #2100
请问你使用的版本是？还有具体是哪个位置无法正常加载（后台、评论、前台）

[2022-05-20 00:52] dingtianlu commented on #2100
拉取docker hub 的最新版 halohub/halo:latest，进入首页[jquery js js](https://cdn.jsdelivr.net/npm/jquery@1.9.1/jquery.min.js)加载不了

[2022-05-20 01:36] JohnNiang commented on #2100
/triage needs-information

建议提供一下具体是使用的哪个主题。如果确认是主题中引入了该 js，请尝试向主题作者反馈此问题。

[2022-05-20 01:46] dingtianlu commented on #2100
![image](https://user-images.githubusercontent.com/25783998/169432132-4a632d96-4506-4703-855a-7c1ee0c6e1b8.png)

[2022-05-20 01:56] guqing commented on #2100
使用的halo哪个版本，你可以到 https://github.com/halo-dev/halo-theme-anatole 下载最新的更新一下主题

[2022-05-20 01:59] JohnNiang commented on #2100
Hi @guqing ，@dingtianlu 使用的应该是最新版。建议 @dingtianlu 更新一下默认主题，我们最近优化了默认主题。

[2022-05-20 02:08] ruibaby commented on #2100
可以直接下载 master 分支的版本：https://github.com/halo-dev/halo-theme-anatole/archive/refs/heads/master.zip

另外，在这一个 https://github.com/halo-dev/halo/pull/1621/files PR 中，应该就已经将 jsDelivr 的资源改为了本地资源，不知道你的 latest tag 是什么时候的版本。

[2022-05-20 02:23] dingtianlu commented on #2100
好的 我已经该到本地资源了谢谢

[2022-05-20 02:32] ruibaby commented on #2100
/retitle 默认主题的 jsDelivr 资源无法正常访问。

@dingtianlu 如果问题已经解决，我将关闭此 PR。

/close

[2022-05-20 02:32] #2100 closed

[2022-05-20 02:32] ruibaby commented on #2100
/kind support

[2022-05-20 02:39] ruibaby commented on #1850
/remove-kind bug
/kind improvement

[2022-05-20 06:32] Have-an-flower commented on #1921
/unassign

[2022-05-20 06:36] Have-an-flower commented on #1921
您好  由于自身水平有限（基础不牢）  暂时搞不出来  抱歉

[2022-05-20 07:01] FanZeros commented on #1921
/assign

[2022-05-20 15:15] FanZeros commented on #1850
请问这部分（除了前端之外）还需要后端再处理一下么

[2022-05-21 03:47] livejq commented on #2092
我文章里面的图片外链挂了，但因特殊情况无法使用相同的域名，所以想着全部md文件导出来，再用sed批量一键全局替换二级域名。但实际情况是导入后文章链接不一样了，然后这种方法就作罢了。而且好像只能一个一个md文件导入，也无法将md文件打包导入，还不如我直接编辑文件效率高点哈哈😆

[2022-05-21 04:07] ruibaby commented on #2092
@livejq 导出 Markdown 再导入并不是一个明智的办法，也不是用来做备份和恢复的。目前你有两种解决方案：

1. 导出数据（json）格式，在本地编辑这个 json 文件，然后再重装 Halo 的初始化页面导入这个 json 文件即可完成无损恢复。
2. 使用 SQL 脚本批量替换文本，参考：https://bbs.halo.run/d/153

[2022-05-21 05:15] MyMatty opened #2103 "从旧版本1.4.17更新到新版本1.5.3附件预览不显示"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

Halo 1.5.3 \ Windows Server 2019 10.0 \ OpenJDK 64-Bit Server VM 11.0.13

### What database are you using?

[2022-05-21 14:48] ruibaby commented on #2103
@Deemai 你好，请简单说明一下你的升级步骤。

[2022-05-21 14:50] Deemai commented on #2103
这个嘛，我是从Github发布区下载了最新版本直接替换原有的Jar文件进行更新的

[2022-05-23 03:29] TheShyzzcy opened #2106 "最新文章、热门文章、最近更新、最多点赞无法显示，在点击的同时，首页会出现错误信息提示"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://124.220.170.34:8090/

### 发生了什么？

看着难受什么都不显示的话，影响美观

### 相关日志输出

_No response_

### 附加信息

![image](https://user-images.githubusercontent

[2022-05-23 03:31] JohnNiang commented on #2106
这里有启用 API 服务么？

![image](https://user-images.githubusercontent.com/16865714/169738086-f71b9d4f-aa88-417a-a65a-de1c78126d77.png)

/kind support

[2022-05-23 03:33] TheShyzzcy commented on #2106
![image](https://user-images.githubusercontent.com/105832208/169738298-49993dd8-353c-43c0-8beb-91b36e3ce35a.png)
这边好像没有这个选项

[2022-05-23 03:48] ruibaby commented on #2106
这属于主题的 issue，请看主题的文档：https://github.com/qinhua/halo-theme-joe2.0#%EF%B8%8F-%E5%BF%85%E8%AF%BB

[2022-05-23 04:01] TheShyzzcy commented on #2106
已解决，感谢大佬

[2022-05-23 04:01] JohnNiang commented on #2106
/close

[2022-05-23 04:01] #2106 closed

[2022-05-23 05:55] shenmuegit opened #2107 "Version中正则表达式与gradle.properties中版本不匹配"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

Version中正则表达式与gradle.properties中版本不匹配
导致ThemeRepositoryImpl类中checkThemePropertyCompatibility永远为false
正则: ^(?<major>0|[1-9]\

[2022-05-23 06:02] JohnNiang commented on #2107
Hi @shenmuegit ，感谢发现了这个问题。

- 每次发版前，我们都会去掉 SNAPSHOT
- 开发调试的时候，版本会变成 UNKNOWN

详情请看：

https://github.com/halo-dev/halo/blob/6d4ac6b79f1c3170352b21df2f0081affc794bf4/.github/workflows/halo.yml#L54

如果确实要针对当前版本进行打包，请尝试修改版本号。
如果想要完善这个版本问题，欢迎提交 PR 适配 `1.5.3-SNAPSHOT` 这种版本。

[2022-05-23 09:07] JohnNiang opened #2109 "Integrate WebFlux instead of Servlet"
### Your current Halo version

2.0.0-SNAPSHOT

### Describe this feature

#### Why we need WebFlux?

Please refer to:
- https://www.infoq.com/articles/Servlet-and-Reactive-Stacks-Spring-Framework-5/
- https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html#webflux-ann-requestmapping-composed
- https://docs.spring.io/spring-boot/docs/3.0.0-M3/reference/htmlsingle/#web.

[2022-05-24 07:48] ruibaby commented on #2103
看起来是因为 `2022/` 中的 `/` 被转义导致的，但我没有在最新版本复现这个问题。

[2022-05-24 07:49] ruibaby commented on #2107
/kind support

[2022-05-25 02:08] Nonoas opened #2112 "建议新增生成文章二维码海报的功能用于分享到移动端"
### 你当前使用的版本

1.4.13

### 描述一下此特性

点击分享时，可以选择生成二维码海报图片，可以下载用于分享文章

### 附加信息

_No response_

[2022-05-25 02:10] #1905 closed

[2022-05-25 03:09] ruibaby commented on #2112
感谢建议，但目前不考虑在系统内置这样的功能，可以等到插件系统完成后为此开发一个插件。

/milestone 2.0
/kind feature

[2022-05-25 03:23] TheShyzzcy opened #2113 "文章图片左上角的小图片显示错误，或者在什么更改"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://124.220.170.34:8090/

### 发生了什么？

![image](https://user-images.githubusercontent.com/105832208/170172834-1d59c692-7994-4764-89d7-a6ceda2

[2022-05-25 03:42] #2113 closed

[2022-05-25 04:16] JohnNiang commented on #2109
/assign
/milestone 2.0

[2022-05-25 08:02] dhljoingithub opened #2114 "当前主题仅支持 Halo 1.3.0 及以上的版本"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

主题远程下载出现 “当前主题仅支持 Halo 1.3.0 及以上的版本”

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

远程下载主题出现“当前主题仅支持 Halo 1.3.0 及以上的版本”，本地运行没问题，部署到linux 上出现此问题

### 相关日志输出

_No respons

[2022-05-25 08:16] ruibaby commented on #2114
主题远程下载出现 “当前主题仅支持 Halo 1.3.0 及以上的版本”

你服务器上的 Halo 版本是？

[2022-05-25 09:18] MarmaladeCat opened #2115 "小工具上传文件不一致"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

docker halo:1.5.3

### What database are you using?

H2

### What is your deployment method?

Docker

### Yo

[2022-05-25 09:20] MarmaladeCat commented on #2115
日志spring.log没有找到相关的日志，故没上传

[2022-05-26 03:13] ruibaby commented on #2115
可以复现，可能与这里有关 https://github.com/halo-dev/halo/blob/c2e477fcabb0a93f5c7aa3fffee17f0a1a21ccd1/src/main/java/run/halo/app/service/impl/PostServiceImpl.java#L339-L341

将表格的语法当做 FrontMatter 给移除了。

/kind bug

[2022-05-26 08:40] #2090 closed

[2022-05-26 10:32] JohnNiang commented on #1309
Inspired from GitLab:

[code]

[2022-05-26 11:24] JohnNiang commented on #1309
/unassign
/assign @guqing

[2022-05-26 15:06] ruibaby commented on #2114
/triage needs-information

[2022-05-27 03:29] lanfei-4 opened #2118 "any file upload vuln"
### Your current Halo version

v1.5.3

### Describe this feature

Any file has been uploaded. Procedure
![image](https://user-images.githubusercontent.com/43632720/170622316-28a10f89-f345-4ba5-8e2a-d04d2973198d.png)
question code
![image](https://user-images.githubusercontent.com/43632720/170622295-e50f2f5a-c8ce-4943-ba98-93fb0f6cb7f6.png)
verify vuln
![image](https://user-images.githubusercontent

[2022-05-27 03:35] JohnNiang commented on #2118
This is not a vulnerability. On the contrary, this is designed for administrator users who want to upload any files into their server.

[2022-05-27 04:01] ruibaby commented on #2118
/triage duplicate

https://github.com/halo-dev/halo/issues/1575

[2022-05-27 09:30] szgacsaftop opened #2121 "导出文章为markdown文档，出现 “Internal Server Error”"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

使用数据备份时，导出文章为markdown文档，出现 “Internal Server Error”

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-05-27 14:32] origami-tech commented on #1934
这样感觉复杂化了，我的想法是：用户可以勾选填写类似ghproxy.com的代理（可以自行部署） ；就可以通过代理更新以及安装，如果不勾选通过代理 则使用默认方式进行更新及安装。

[2022-05-28 03:05] SwordMasterJS opened #2123 "markdown代码块样式渲染过慢"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://blog.luckgirl.top/archives/mybatisplus

### 发生了什么？

进入时
![N_HRE6OEBP8G}S__3`FN3O4](https://user-images.githubusercontent.com/32394118/17080716

[2022-05-28 03:16] SwordMasterJS commented on #2123
又查询了一下，最新版已经不使用  jsDelivr CDN ，我先去尝试一下docker安装最新版本，或者有推荐哪个更新的版本比较稳定吗？

[2022-05-28 04:56] SwordMasterJS commented on #2123
已自行解决，不知道为什么重装了一次后，过了一会儿就没这个问题了。。。。

[2022-05-28 05:47] JohnNiang commented on #2123
/kind support

这个问题已经在 https://github.com/halo-dev/halo/pull/2098 修复。

/triage duplicate

请参考：<https://github.com/halo-dev/halo/issues/2097>。

[2022-05-28 05:50] JohnNiang commented on #2121
/kind support
/triage needs-information

请提供对应的错误日志。

[2022-05-28 06:47] ruibaby commented on #2118
I will close this issue and reopen if there are follow-up questions.

/close

[2022-05-28 06:47] #2118 closed

[2022-05-28 07:29] szgacsaftop commented on #2121
[haloService.out.log](https://github.com/halo-dev/halo/files/8790695/haloService.out.log)

这个为运行日志

[2022-05-28 08:37] wordlesswind opened #2124 "Cannot load driver class: org.mariadb.jdbc.Driver"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

无法启动 halo

### 相关日志输出

[code]

### 附加信息

使用 `com.mysql.jdbc.Driver` 和 `jdbc:mysql://` 则会提示：
[code]
docker-compose.yml:
[

[2022-05-28 08:40] JohnNiang commented on #2124
/kind support
Thanks for reaching out here! Please see https://github.com/halo-dev/halo/blob/352d9d4e2002b3bf8ffa5dfd956c228341519a45/src/main/resources/application-dev.yaml#L25 for more.

[2022-05-28 08:48] wordlesswind commented on #2124
But this doesn't work with MariaDB, I've posted the log when using com.mysql.cj.jdbc.Driver:
[code]
Although the connection can still be done via `jdbc:mysql://`.

[2022-05-28 08:57] JohnNiang commented on #2124
目前确实不支持 MariaDB。因为我们只添加了 MySQL 和 H2 的 driver 依赖。但 MariaDB 需要特有的驱动才能正常连接，请参考：<https://mariadb.com/docs/connect/programming-languages/java-r2dbc/spring/>。

如果你有兴趣提供这样的连接方式，需要在 build.gradle 中添加 `org.mariadb.jdbc:mariadb-java-client` 依赖，请参考：

- https://spring.io/projects/spring-data-r2dbc

[2022-05-28 09:03] #2124 closed

[2022-05-28 09:09] JohnNiang commented on #2124
Hi @wordlesswind，if you're willing to contribute this feature, please reopen this issue by commenting `/reopen` and assign this issue to yourself by commenting `/assign`.

[2022-05-28 16:14] ruibaby commented on #2123
代码块渲染慢似乎和你截图的资源无关，评论组件可以参考 https://bbs.halo.run/d/2488-guan-yu-yin-wei-jsdelivr-cdn-wu-fa-zheng-chang-fang-wen-ye-mian-de-wen-ti 更换源。

[2022-05-29 14:44] #1920 closed

[2022-05-29 14:52] ruibaby commented on #2114
请问此问题还有后续补充吗？

[2022-05-29 14:57] ruibaby commented on #2072
这个特性我尝试了一下，似乎不是很好处理。因为目前关于代码块我们是直接保存的原格式，没有保存经过高亮渲染引擎（PrismJS、highlight.js 等）后的内容。如果要使用 https://github.com/egoist/markdown-it-highlight-lines 这个插件的话，那么就需要保存代码高亮渲染后的内容，否则在前台文章中也需要各个主题去处理。所以目前可能不会考虑去做这个修改，但不排除在后续大版本中会做这个改动（直接存储高亮渲染的代码块结构）。

/milestone 2.0

[2022-06-01 03:37] yikexiaoyao opened #2129 "502 Bad Gateway问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.tingyuxuan.tk/

### 发生了什么？

半个月前开始，网站打开一直502，刷新无效，每次隔天刷新或者重启依然没有好转

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-06-01 03:45] ruibaby commented on #2129
应该是 Halo 进程被终止，可以提供一下运行日志。

[2022-06-01 06:54] wuxiongwei opened #2130 "2022年6月1日 都有1.5.3tag了为什么master分支启动的版本1.5.2比tag还老"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

略

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

2022年6月1日 都有1.5.3tag了为什么master分支启动的版本1.5.2比tag还老
<img width="900" alt="WX20220601-145357@2x" src="https://user-images.githubus

[2022-06-01 07:03] ruibaby commented on #2130
/kind support

[2022-06-01 07:10] JohnNiang commented on #2130
想要运行 1.5.x 最新代码，请切换至 release-1.5 分支：https://github.com/halo-dev/halo/tree/release-1.5

[2022-06-01 08:15] wuxiongwei commented on #2130
好嘞

[2022-06-01 08:15] #2130 closed

[2022-06-01 09:51] ruibaby commented on #2129
/help

[2022-06-01 10:45] h265642327 opened #2133 "关于反向代理的一些问题"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.5.3

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site add

[2022-06-01 13:27] h265642327 commented on #2133
没想到什么问题，不过过了几个小时自动解决了，可能是cookies问题，不过我记得我是删除了的

[2022-06-01 13:27] #2133 closed

[2022-06-02 05:31] yikexiaoyao opened #2135 "关于主题选择页面主题缩略图加载失败的问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.tingyuxuan.tk/

### 发生了什么？

主题选择页面主题缩略图加载失败，刷新无效
![Snipaste_2022-06-02_13-27-37](https://user-images.githubusercontent.com/36374114/17155

[2022-06-02 06:16] JohnNiang commented on #2135
/kind support

建议按 F12 打开浏览器调试工具，查看请求失败的 URL 具体是什么。

[2022-06-02 06:45] yikexiaoyao commented on #2135
GET https://www.tingyuxuan.tk/themes/bao/screenshot.png 404

[2022-06-02 06:48] yikexiaoyao commented on #2135
我已经重新部署几次了，这个问题依然无法解决

[2022-06-02 06:50] ruibaby commented on #2135
<img width="334" alt="image" src="https://user-images.githubusercontent.com/21301288/171570229-e184a2de-0d45-4adc-bdcb-89a163b8f584.png">

Nginx 的错误页面，请检查 Nginx 的配置。

[2022-06-02 09:19] yikexiaoyao commented on #2135
我是按照官方文档一步一步来的，实在想不明白哪里不对

[2022-06-02 15:36] wordlesswind opened #2136 "合规化"
### 你当前使用的版本

1.5.3

### 描述一下此特性

比如若要在[全国互联网安全管理服务平台](https://www.beian.gov.cn/)备案交互式网站，则网站需要做到：

再比如[《互联网用户账号名称信息管理规定（征求意见稿）》](http://www.cac.gov.cn/2021-10/26/c_1636843202454310.htm)第三章第十二条：

### 附加信息

诚然，对于 Halo 这种不算大型的项目，以及小众的个人博客来说，要完整地符合法律法规的要求是比较困难的。
但法律法规不会因为网站体量小，就降低要求。
除非不进行备案，否则上述要求是现在及将来都不可避免的事情。

[2022-06-03 07:47] Simple-Stark commented on #2115
/assign

[2022-06-03 11:01] ruibaby commented on #2136
目前不支持多用户。

当前版本不打算做这个特性。

这个是默认开启的。

除非手动删除，否则都会归档。

[2022-06-03 12:46] ruibaby commented on #2136
@wordlesswind 目前可以先不关闭这个 issue。因为我们目前正在开发 2.0 版本（可查看 next 分支），后面设计功能的时候可以参考一下这个 issue。

/reopen
/milestone 2.0

[2022-06-03 13:53] ruibaby commented on #2121
/remove-kind support
/kind bug

[2022-06-03 13:53] ruibaby commented on #2123
如果没有后续问题，我将关闭此 issue。

/close

[2022-06-03 13:53] #2123 closed

[2022-06-03 13:54] ruibaby commented on #2135
你可以提供一下你的 Nginx 配置。

[2022-06-03 13:54] ruibaby commented on #2114
/close

[2022-06-03 13:54] #2114 closed

[2022-06-06 13:19] ChunelFeng opened #2139 "无法登陆我的halo博客后台"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

docker 版本(39a1fd6cd683)

### What database are you using?

Other

### What is your deployment method?

Docke

[2022-06-06 13:41] ruibaby commented on #2139
https://bbs.halo.run/d/2488-guan-yu-yin-wei-jsdelivr-cdn-wu-fa-zheng-chang-fang-wen-ye-mian-de-wen-ti

/triage duplicate

[2022-06-06 14:20] ChunelFeng commented on #2139
大佬，您好。查看了一下，文档中并没有涉及 docker用户如何更新。

是不是，我把现有的docker image 升级到 halohub/halo的最新版本，然后同样的方式重新启动，就可以解决这个情况捏。

注意：我当前用的docker 是  ruibaby/halo （39a1fd6cd683）

[2022-06-06 14:49] ChunelFeng commented on #2139
我升级到  halohub/halo:1.5.3 版本，重启docker，还是无法登陆admin大盘。网页可以正常登录

[2022-06-06 14:53] ChunelFeng commented on #2139
已经可以了，感谢。
ruibaby/halo 和 halohub/halo 版本兼容

[2022-06-07 01:56] #2115 closed

[2022-06-07 02:21] JohnNiang commented on #2121
关键错误日志：

[code]

[2022-06-07 02:31] JohnNiang commented on #2121
/remove-triage needs-information

[2022-06-07 02:49] eziosudo commented on #2121
本地试了下同样的非法字符windows下才报了这个错。
在编辑页面生成的“文章别名“有时不能过滤非法字符，导致存进了数据库。
导出的时候代码里只有catch IOException，所以InvalidPathException直接抛出去了。

<img width="669" alt="image" src="https://user-images.githubusercontent.com/54128896/172285076-9efa54f2-af37-46b0-8a32-0fe5b60ea5a8.png">

在后台代码里再过滤一遍文件名的非法字符应该就能解决。

[2022-06-07 02:50] JohnNiang commented on #2121
根据 [Windows 官方文档](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file)来看，文件名是有限制的，如果文章名包含特殊字符（如 "|"），则无法正常保存文件到 Windows 上。

出现问题的代码如下：

https://github.com/halo-dev/halo/blob/36b99d24765b78dec0edb24388801a19f1b6f609/src/main/java/run/halo/app/service/impl/BackupServiceImpl.java#L633-L634

#### 可能的解决方案：

1. 对生成的文件名去除或者替换 Windows 文件名保留字符

#### 参考：

- https://docs.microsoft.com/en-us/w

[2022-06-07 02:53] JohnNiang commented on #2121
Hi @eziosudo ，有兴趣修复这个小问题么 : P

如果可以的话，可以回复 `/assign` 可以自动将这个 issue assign 给你 :heart: 。

[2022-06-07 02:54] eziosudo commented on #2121
/assign

[2022-06-07 02:55] eziosudo commented on #2121
@JohnNiang 没问题，正有此意。

[2022-06-07 02:56] JohnNiang commented on #2121
非常欢迎 🥳

如果对于如何参与 Halo，可参考：<https://github.com/halo-dev/halo/blob/master/CONTRIBUTING.md>。

[2022-06-07 06:05] JohnNiang opened #2141 "完善用户认证和授权机制"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性

在完善用户认证和授权机制之前，需要先完成以下两个模块：

#### 用户模型

[code]

#### 实现 ReactiveUserDetailService

由于没有用户体系，目前仅仅创建了一个用于测试的 MapReactiveUserDetailsService。

[code]

### 附加信息

/kind feature
/area core
/milestone 2.0
/assign

[2022-06-07 08:18] ruibaby commented on #2072
@stars-one 目前都是保存了的，在 contents 表。

[2022-06-07 09:09] ffha opened #2142 "使用Serverless Devs部署至腾讯云SCF等类似的云服务"
### 你当前使用的版本

1.5.3

### 描述一下此特性
### 当前情况
阿里云函数计算使用容器镜像创建不能实现持久化存储。
其他暂未测试。
Serverless Devs可以使得Halo可以部署至包括但不限于:
* 阿里云函数计算
* 腾讯云SCF

### 附加信息

_No response_

[2022-06-07 09:21] ruibaby commented on #2142
如果是通过容器来实现这样的产品的话，那么应该与应用无关。尝试找找是否有 Volume 之类的功能。挂载一下工作目录就可以了。

比如腾讯云托管：https://github.com/halo-dev/tencent-cloudbase-halo/blob/master/cloudbaserc.json#L17

[2022-06-07 09:22] ruibaby commented on #2142
/kind support

[2022-06-07 09:25] ffha commented on #2142
阿里云可以挂载NAS,但是只能挂载至/home或者/mnt的子目录

[2022-06-07 09:26] ruibaby commented on #2142
挂载位置应该是不会做限制的。

[2022-06-07 12:52] ChunelFeng commented on #2139
大佬，再来打扰，昨天的确通过笔记本登录到halo的 登录页面了，今天又登录不上去了。

开不开梯子，都登不上去了。

还有什么可能么？

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/37905059/172382703-a8f0d345-407f-4f4c-bcb1-f5b899e3400f.png">

[2022-06-07 13:40] ruibaby commented on #2139
@ChunelFeng 强制刷新清空一下缓存试试。

[2022-06-07 13:43] ChunelFeng commented on #2139
哈哈，大佬，可以了，感谢大佬。

[2022-06-07 14:08] ChunelFeng commented on #2139
哈哈，更新+设置完毕，代码前面还多了行号了捏。

感谢大佬

[2022-06-07 15:25] ruibaby commented on #2142
可以看到，即便是 WordPress 这种公开发行的版本都是直接将原始代码放进去。甚至无法很好的得知代码来源和版本。

[2022-06-08 00:49] #2142 closed

[2022-06-09 07:48] #2121 closed

[2022-06-09 07:59] xiaodu33603 opened #2147 "无法正常保存为中文的设置，显示乱码"
### 检查清单

- [x] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://xiaodu33603.com/

### 发生了什么？

版本：1.5.3
数据库：H2 1.4.199 (2019-03-13)
运行模式：production
启用主题：Anatole
启动时间：2022-06-08 17:05

系统设置里存储的中文无法正常显示，显示问号，

[2022-06-09 08:02] xiaodu33603 commented on #2147
用的服务运行

[2022-06-09 08:07] xiaodu33603 commented on #2147
好像是主题原因，换了一个主题就好了

[2022-06-09 08:13] JohnNiang commented on #2147
/kind support

[2022-06-09 10:57] carolin-violet opened #2148 "没法单独下载markdown笔记，markdown笔记备份的时候也没法单独将笔记所用的图片备份"
### 你当前使用的版本

1.5.3

### 描述一下此特性

没法单独下载markdown笔记，markdown笔记备份的时候也没法单独将笔记所用的图片备份

### 附加信息

_No response_

[2022-06-10 02:12] imi4u36d commented on #1743
好吧，现在已经是1.5.3版本,该错误仍然在我按照docker方式部署文档进行时出现
**环境**
基于docker部署 nginx、halo、mysql8.0

**我的链接**
https://blog.miaowuyun.com/

**建议**
官方文档在修改application.yaml文件的同时带上下列参数，该方式已经测试通过可用
[code]

[2022-06-10 02:20] ruibaby commented on #1743
@imi4u36d 能够提供一下 MySQL 的具体配置，我们无法复现这个问题。能帮忙测试一下这个 docker-compose.yaml 吗？https://docs.halo.run/getting-started/install/other/docker-compose

[2022-06-10 02:20] ruibaby commented on #1743
[code]

[2022-06-10 02:47] imi4u36d commented on #1743
当然可以，我需要一点时间来测试，测试完成后我会在这里再次回复

[2022-06-10 02:58] TomShiDi commented on #1743
这是使用以上配置启动后的服务日志
[spring.log](https://github.com/halo-dev/halo/files/8875422/spring.log)

[2022-06-10 03:04] ruibaby commented on #1743
这个日志看起来不是因为没有指定 database-platform。

[2022-06-10 03:04] ruibaby commented on #1743
可以先看看 MySQL 的日志

[code]

[2022-06-10 03:16] TomShiDi commented on #1743
mysql启动报错，看起来是挂载目录的问题，移除yaml中的mysql挂载配置后成功启动mysql。mysql启动成功后halo日志无报错。
http://124.223.71.119:8090/
[code]

[2022-06-10 03:23] TomShiDi commented on #1743
账号：111
密码：123456789

[2022-06-10 03:26] ruibaby commented on #1743
不清楚是不是文件夹权限不够导致的，挂载 MySQL 数据的目录无法使用。你可以先去掉下面两行，然后测试一下。

[code]

[2022-06-10 03:28] TomShiDi commented on #1743
注释该两行后mysql正常启动了，halo服务也正常运行。

[2022-06-10 03:29] TomShiDi commented on #1743
注释该两行后mysql正常启动了，halo服务也正常运行。

[2022-06-10 03:30] ruibaby commented on #1743
所以 `database-platform: org.hibernate.dialect.MySQL5InnoDBDialect` 的配置似乎并不是影响这个问题的主要原因。我们想知道当 MySQL 处于什么情况的时候才会必须要指定 database-platform。

[2022-06-10 03:32] imi4u36d commented on #1743
已经测试过该方式，这个错误依然出现在我的halo-server启动时。
之前我出现错误的时候是通过单独的docker服务分别启动的nginx mysql8.0.25 halo1.5.3
我现在仍然收到这个问题，而且当我启动server服务出现错误时，查看mysql logs此时无任何打印

[2022-06-10 03:35] ruibaby commented on #1743
@imi4u36d @TomShiDi 如果无法正常启动，就先把 `database-platform: org.hibernate.dialect.MySQL5InnoDBDialect` 加上吧。我们需要研究一下如何复现这个问题，毕竟这个可能涉及到修改文档。

[2022-06-10 08:12] ruibaby commented on #2148
/kind feature

建议提供一下具体的用途，以及这个功能应该是怎样的。

[2022-06-10 09:43] ruibaby commented on #2147
建议提供一下服务器环境等信息，目前无法判断是什么原因导致的乱码。

/retitle 无法正常保存为中文的设置，显示乱码

[2022-06-10 09:43] ruibaby commented on #2147
/triage needs-information

[2022-06-10 14:49] chmdir commented on #1720
1.5.3有这个功能没， 怎么加上去

[2022-06-11 11:51] eziosudo commented on #1720
话说这个PR要是一直不合怎么办？

[2022-06-13 00:17] yikexiaoyao commented on #2135
upstream halo {
  server 127.0.0.1:8090;
}
server {
  listen 80;
  listen [::]:80;
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  ssl_certificate /usr/local/nginx/conf/ssl/www.tingyuxuan.tk.crt;
  ssl_certificate_key /usr/local/nginx/conf/ssl/www.tingyuxuan.tk.key;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
  ssl_ciphers TLS13-AES-256-GCM-SHA384:TLS13-CHACHA20-POLY1305-SHA256:TLS13-AES

[2022-06-13 00:18] yikexiaoyao commented on #2135
请问哪里有问题，我对照教程实在没找到问题，有可能是我没发现

[2022-06-13 02:36] ruibaby commented on #2148
/triage needs-information

[2022-06-13 02:38] ruibaby commented on #2129
/triage needs-information

[2022-06-13 02:39] ruibaby commented on #2109
/close

[2022-06-13 02:40] #2109 closed

[2022-06-13 02:42] JohnNiang commented on #1720
Hi @eziosudo ，我们尝试 ping 过作者，似乎没有得到回应，可能该作者最近有些忙无法继续完成此功能。请参考：<https://github.com/halo-dev/halo/pull/1889#issuecomment-1129493299>。

近期我们将再次 ping 以下该 PR 作者，如果还未得到回应，且你感兴趣的话，可以根据 https://github.com/halo-dev/halo/pull/1889#pullrequestreview-964161428 提交一个新的 PR 来尽快修复此功能。

[2022-06-13 07:42] cosolar opened #2153 "能否增强附件（图片）管理功能"
### 你当前使用的版本

最新版

### 描述一下此特性

提个小小的需求，附件管理中能看到这个附件或图片被哪些文章引用？避免被删除掉，导致文章无法加载图片。

### 附加信息

_No response_

[2022-06-13 10:05] guqing commented on #2153
Hi @cosolar, 你说的这个功能预计会在 2.0 版本实现，当前 1.x 版本不会做这样的功能，你可以关注一下 [Milestone 2.0](https://github.com/halo-dev/halo/milestone/19) 的进度

[2022-06-13 10:06] guqing commented on #2153
/milestone 2.0
/kind improvement

[2022-06-14 04:40] li-guohao commented on #546
这个功能，是不是应该给文章加个语言标识，一篇文章可以关联多种语言的同一文章，比如用户用中文写了一篇文章，然后为了方便让母语为其它语言(比如英语或者日语)的朋友看，又翻译成了对应语言的文章，但都是同一篇文章的不同语言版本。

最终期望达到的效果是，同一文章链接，中文朋友看的是中文，英文朋友看的是英文版本的，日语朋友看的是日语版本的。

[2022-06-14 06:05] wx1458084829 opened #2155 "跨域问题，在新版谷歌浏览器环境下会出现跨域问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://www.007namo.com

### 发生了什么？

在新版本谷歌浏览器环境下，会出现跨域问题，已经找到答案。
部署环境： docker+mysql8.0
部署服务商：腾讯云+轻量云服务器
部署域名：http://www.007namo.com/ （没有使用https

[2022-06-14 06:14] ruibaby commented on #2155
https://docs.halo.run/user-guide/faq#%E5%89%8D%E5%8F%B0%E6%A0%B7%E5%BC%8F%E4%B8%A2%E5%A4%B1%E5%A6%82%E4%BD%95%E8%A7%A3%E5%86%B3

/triage duplicate
/kind support

[2022-06-14 06:25] wx1458084829 commented on #2155
get it,thanks。下次提issues应该再搜索一下文档确认一下。

[2022-06-14 06:25] #2155 closed

[2022-06-14 06:46] ruibaby commented on #546
是的，欢迎到 https://github.com/halo-dev/rfcs/issues/6 交流一下想法。

[2022-06-14 06:50] wx1458084829 opened #2156 "管理界面的标签在较小的窗口下评论和标签会重叠"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://www.007namo.com

### 发生了什么？

管理界面的标签在较小的窗口下评论和标签会重叠
![image](https://user-images.githubusercontent.com/49525907/173506453-994751be-5d8b-

[2022-06-14 10:50] JohnNiang commented on #2156
/kind support
/area admin
/cc @halo-dev/sig-halo-admin

[2022-06-14 16:16] wx1458084829 commented on #2156
bug我尝试修改了一下，找到原因所在：

 解决问题：在src/core/constant.js文件里面配置分类标题和标签标题的最小宽度即可解决问题。

![image](https://user-images.githubusercontent.com/49525907/173624497-f3db9a3b-e5ff-4370-a452-5fab991f7848.png)

大窗口模式下：
![image](https://user-images.githubusercontent.com/49525907/173625091-e6e16816-d0e8-4fd9-8af2-446b250612df.png)

小窗口模式下：
![image](https://user-images.githubusercontent.com/49525907/173625938-0d424c73-90

[2022-06-15 06:03] ruibaby commented on #2156
@wx1458084829 这种方式应该是可以解决这个问题的。

[2022-06-15 09:39] sppan24 opened #2157 "Markdown标题生成HTML的时候被URLEncode导致锚点无法使用"
### 检查清单

- [x] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://sppan24.cn/archives/docker-dev-1.html

### 发生了什么？

Markdown标题生成HTML发生的时候，中文会被进行URLEncode，导致锚点无法定位，最终导致文章目录无法跳转对应的位置。

### 相关日志输出

_No respons

[2022-06-15 10:08] JohnNiang commented on #2157
试试自定义锚点：

[code]

[2022-06-16 03:12] sppan24 commented on #2157
好的 谢谢

[2022-06-16 03:14] sppan24 commented on #2157
这个我觉得应该和主题没关系吧，我去看过了，现在数据库里面的标题也是被编码了的，我之前的文章数据库里面标题就没有被编码，所以我觉得应该是服务端某个版本导致的。

[2022-06-16 03:17] ruibaby commented on #2157
对于浏览器来说，中文或者其他特殊字符被 URLEncode 处理是不会影响锚定位的，是符合预期的表现。这个问题就是主题所用的目录生成插件导致的。这个问题被 tocbot 这个插件定义为 bug，详情见：https://bbs.halo.run/d/2288/7

[2022-06-16 03:26] eziosudo commented on #1720
/assign

[2022-06-16 03:40] JohnNiang commented on #1720
期待 @eziosudo 的又一个 Contribution :heart:，关于此 Issue 的问题，我们会积极回复。

[2022-06-16 03:41] JohnNiang commented on #1720
/milestone 1.6.x

[2022-06-16 04:18] eziosudo commented on #1720
谢谢。我很喜欢halo和halo的团队，愿尽绵薄之力。

[2022-06-16 04:19] ruibaby opened #2159 "重构管理端附件管理/附件选择/图库管理的文件排列方式"
### 你当前使用的版本

1.5.3

### 描述一下此特性

采用 TailwindCSS 官方的 [aspect-ratio](https://github.com/tailwindlabs/tailwindcss-aspect-ratio) 插件来固定每项的长宽比，防止图片变形。

另外，目前图片的显示是采用的设置 background，而不是使用 img 标签。会导致图片无法加载的时候，导致空白。

/assign
/kind feature
/milestone 1.6.x

### 附加信息

_No response_

[2022-06-16 04:19] ruibaby commented on #2159
/area admin

[2022-06-16 06:02] ruibaby commented on #1720
@eziosudo 管理端已经有了一个添加移除 EXIF 信息设置选项的 PR，你可以用这个 PR 进行测试。

[2022-06-16 07:04] #2159 closed

[2022-06-16 07:07] NbTOne opened #2160 "建议在小工具中增加同步至知乎、csdn，以及从知乎、csdn拉取功能"
### 你当前使用的版本

1.5.3

### 描述一下此特性

![图片](https://user-images.githubusercontent.com/39721050/174012291-dd9d0e7b-d812-4107-aba4-9223e97fe278.png)

### 附加信息

_No response_

[2022-06-16 11:24] eziosudo commented on #1720
好的。

[2022-06-16 11:38] ruibaby commented on #2160
感谢你的建议，但目前不打算在 1.x 添加这样的功能。建议等到 2.0 发布之后，通过插件来实现这样的功能。如果感兴趣，可以关注我们的开发动态。

https://github.com/halo-dev/halo/pulls?q=is%3Apr+milestone%3A2.0+is%3Aclosed

https://github.com/halo-dev/rfcs/blob/main/plugin/pluggable-design.md

[2022-06-16 11:38] ruibaby commented on #2160
/milestone 2.0
/kind feature

[2022-06-17 09:33] ZYyyh-cool opened #2162 "账号密码错误，如何粗暴找回，目前登录不上去"
### 你当前使用的版本

_No response_

### 描述一下此特性

账号密码错误，如何粗暴找回，目前登录不上去

### 附加信息

_No response_

[2022-06-17 09:50] ruibaby commented on #2162
请正确选择 issue 模板，这个问题不属于新特性建议。

[2022-06-17 13:59] ChaoChingchien opened #2166 "搭建完毕后以IP:port形式无法登入"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在跟随配置文档搭建完成之后，使用ip:port无法登入，已经确认开放过端口，使用配置为默认，查看日志发现报错，报错信息与application.yaml内容附下。

### 相关日志输出

[code]

### 附加信息

server:

[2022-06-18 04:31] ruibaby commented on #2166
日志不完整，无法通过当前日志判断具体原因。

[2022-06-18 09:36] ruibaby commented on #2166
/triage needs-information

[2022-06-18 10:31] ChaoChingchien commented on #2166
您好，今天重新调日志，没有看到之前的报错，但是依然打不开，日志内容如下
[code]

[2022-06-18 11:15] ruibaby commented on #2166
这个日志代表 Halo 是正常运行的。无法通过 IP+端口访问几乎只可能是端口不通，建议再检查一下。

[2022-06-20 02:31] xiaofengjue opened #2169 "希望增加付费阅读的插件或功能"
### 你当前使用的版本

1.4.17

### 描述一下此特性

需要支付马内后才能阅读，我仍认为付出就应该有收获（包括资源搜索、整合、利用、实践、写文档、哪一步不需要付出大量精力？），用爱去发电是不行的，白嫖都还不算什么，最恨的是大平台搬运你的原创博文，搜索排名还比你高，此事我就经历过，十分心寒，所以博客园也没在更新。所以准备走自建网站付费阅读的道路，像wp+付费阅读插件这种方式我也在探索，halo测试可以添加openwrite去限制搬运，顺带引流公众号。

### 附加信息

_No response_

[2022-06-20 02:40] ruibaby commented on #2169
感谢你的建议，但目前不打算在 1.x 添加这样的功能。建议等到 2.0 发布之后，通过插件来实现这样的功能。如果感兴趣，可以关注我们的开发动态。

https://github.com/halo-dev/halo/pulls?q=is%3Apr+milestone%3A2.0+is%3Aclosed

https://github.com/halo-dev/rfcs/blob/main/plugin/pluggable-design.md

[2022-06-20 03:11] JohnNiang commented on #2169
/kind feature
/milestone 2.0

[2022-06-20 04:00] xiaofengjue commented on #2169
好哥哥，大概什么什么时候更到2.0，坐等

[2022-06-20 07:19] yikexiaoyao commented on #2148
我这边遇到网站备份无法下载的问题
![Snipaste_2022-06-20_15-17-23](https://user-images.githubusercontent.com/36374114/174546280-8a9e25a7-d478-4df3-b71c-ca588789560a.png)
所有能用的下载工具都无法下载备份的压缩文件

[2022-06-20 11:35] ruibaby commented on #2169
@xiaofengjue 我们 milestone 里面定的是 9.30 发布第一个 alpha 版本。

https://github.com/halo-dev/halo/milestone/19

[2022-06-20 15:50] liaocp666 opened #2171 "建议仪表盘新增一些排序统计功能"
### 你当前使用的版本

1.5.3

### 描述一下此特性

希望仪表盘中新增针对这两种的数据的文章排序功能：最多评论、最多浏览。

类似新动态卡片中的标签页，切换这两种排序

### 附加信息

_No response_

[2022-06-21 01:29] JohnNiang commented on #2169
Hi @xiaofengjue ，当前 Issue 可不用关闭，直到这个功能在 2.x 上完成。

/reopen

[2022-06-21 01:39] eziosudo opened #2173 "附件上传图片后缩略图方向错误"
### 检查清单

- [X] 已经查阅过[文档](https://docs.halo.run/)
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

本地启动，仅后台

### 在线站点地址

_No response_

### 发生了什么？

部分图片上传后，缩略图方向错误。

原因在这里：
[code]
[Thumbnail - issue 159](https://github.com/coobird/thumbnailator/issues/159)

是否考虑调整？

##

[2022-06-21 02:43] ruibaby commented on #2135
<img width="1259" alt="image" src="https://user-images.githubusercontent.com/21301288/174705165-f397bc06-bd42-4ca2-8419-de799ec73600.png">

应该和网络环境有关。

[2022-06-21 03:21] Raremaa commented on #2171
我打算先简单做，这里加2个标签 各位觉得如何

<img width="448" alt="image" src="https://user-images.githubusercontent.com/37170921/174709405-f0f2e985-0eaa-43d8-a250-604c132e0669.png">

[2022-06-21 03:22] ruibaby commented on #2171
我觉得可以。

/milestone 1.6.x
/kind feature

[2022-06-21 03:22] ruibaby commented on #2171
/assign @Raremaa

[2022-06-21 03:23] Raremaa commented on #2171
好滴 那我这周就发一下PR～

[2022-06-21 03:31] JohnNiang commented on #2171
非常期待~

/area admin

[2022-06-21 04:26] liaocp666 commented on #2171
建议把最近评论放到第一个标签页，或者默认激活这个标签页。最近文章这个感觉可有可无
@Raremaa

[2022-06-21 04:31] eziosudo commented on #2173
我是本地启动的服务，直接调用后端接口做测测试。

个别手机拍的原图上传的时候会出现这个问题，并且这个图片在编辑压缩后上传又正常了
![Screenshot2022_06_21_122433](https://user-images.githubusercontent.com/54128896/174716205-b8618089-8cf2-4563-aa2d-f36c06273ea7.jpg)

https://github.com/coobird/thumbnailator/issues/159#issue-704448059 这个测试图片上传后方向也不正确
。
![image](https://user-images.githubusercontent.com/54128896/174716348-0f240e6f-f3ff-48a5-ad57-a436d783977c.png)

难

[2022-06-21 06:24] Raremaa commented on #2171
我感觉放第一个还比较合理，我目前感觉这个“最近文章”意义好像也不是很大。

其他小伙伴们怎么看

[2022-06-21 08:28] ruibaby commented on #2171
@liaocp666 @Raremaa

其实可以把之前的 `最新文章` 这个 Tab 项做成一个下拉框，通过下拉框来选择 **最多评论、最多浏览**。

不知道好不好实现。

[2022-06-21 09:48] ruibaby opened #2176 "Markdown 导入无法正常上传符合预期格式的文件"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

master

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://halo.run

### 发生了什么？

/kind bug
/milestone 1.5.x

see https://github.com/halo-dev/halo/pull/2137#pullrequestreview-994912972

<img width="61

[2022-06-21 10:38] Raremaa commented on #2171
主要我感觉那个“新动态”卡片，里面的标签页是比较空的，放4个感觉刚刚好填满。（不考虑特别小屏的情况）
然后我这边想着就是改变一下顺序：最多评论、最多浏览、最近文章、最近评论

然后就是后续可能”新动态卡片“会放更多的标签，之后有这方面需求的时候，再改下拉框满足更多信息流展示的需求。

[2022-06-21 10:41] Raremaa commented on #2171
就我感觉下拉框的操作路径 是要比直接标签页要长的 实际使用上体验怪怪的

不过从业务分类角度看，其实最多评论，最多浏览，最新文章都是对“文章”这个实体做不同维度的排序和展示

从这方面考虑也合理。

我个人还是倾向于四个标签页平铺简单做😹

[2022-06-21 13:04] Raremaa commented on #2171
@JohnNiang @ruibaby @liaocp666  各位小伙伴怎么看这个问题

[2022-06-21 13:16] #1720 closed

[2022-06-21 13:23] ruibaby commented on #2176
/cc @eziosudo 这个 issue 有兴趣看看吗

[2022-06-21 13:31] ruibaby commented on #2173
@eziosudo 中文名称无法显示的问题与 https://github.com/halo-dev/halo/pull/1874 这个 PR 有关，因为这个 PR 的修改涉及到管理端项目的修改，所以你可能需要在本地同时启动一个 halo-dev/halo-admin 项目。因为目前的版本发布流程是在发布的时候才会编译 halo-admin 项目到 halo-dev/halo 主项目。

[2022-06-21 13:40] liaocp666 commented on #2171
我感觉也可以，`新动态` 可以换成 `文章排名` ？@ruibaby @Raremaa

[2022-06-21 13:42] ruibaby commented on #2171
但是还有一个 `最近评论` 的标签。

[2022-06-21 13:51] ruibaby commented on #2171
我觉得可以叫做 **概览**

[2022-06-21 13:52] Raremaa commented on #2171
极好！ 就改这个吧！

[2022-06-21 13:52] liaocp666 commented on #2171
不错

[2022-06-21 13:54] ruibaby commented on #2171
目前仪表盘是不可以由使用者自定义的，所以尽可能做的通用一点。在 2.0 我们可能会做成这样的形态：

<img width="1511" alt="image" src="https://user-images.githubusercontent.com/21301288/174816546-621d1b60-2313-4719-8fb0-c3279d3e1d23.png">
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/21301288/174816743-70971d4e-5c2d-4e2c-9e16-f274745016db.png">
<img width="1549" alt="image" src="https://user-images.githubuserconten

[2022-06-21 14:31] Raremaa commented on #2171
我这一期接口的计划是会围绕“文章”这个实体
开放一个排序接口，支持按照时间，访问量，评论数进行排序

目前看起来后端api是兼容的

前端新加的两个标签加上之前的最新文章三个标签会做成一个独立组件

[2022-06-21 14:32] Raremaa commented on #2171
这样能满足2.0的兼容吗

[2022-06-21 14:47] yikexiaoyao commented on #2135
是的，我增加了防盗链设置，难道是因为这个问题？<br/><br/><br/><html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="ntes-mailmaster-quote" style="padding-top: 1px; padding-bottom: 1px" >
    <div style=" margin-top: 20px; margin-bottom: 12px; font-size: 14px; line-height: 1.25; color: #89898c; " >---- 回复的原邮件 ----</div>
    <div style=" margin-bottom: 12px; font-s

[2022-06-21 14:47] JohnNiang commented on #2171
Hi @Raremaa ，目前可不考虑兼容 2.0。毕竟 2.0 本身就还没有 Release。

[2022-06-21 14:59] eziosudo commented on #2176
/assign

[2022-06-21 15:09] ruibaby commented on #2157
/triage needs-information

[2022-06-22 00:00] eziosudo commented on #2176
@ruibaby
把`consumes = {
        MediaType.TEXT_PLAIN_VALUE,
        MediaType.TEXT_MARKDOWN_VALUE})`去掉后可以正常上传。

consumes里给了两种MediaType，但目前上传的组件似乎是默认给了"multipart/form-data"。所以在`run.halo.app.controller.admin.api.AttachmentController#uploadAttachments`方法里能正确匹配`MediaType.MULTIPART_FORM_DATA_VALUE`。
[code]
![image](https://user-images.githubusercontent.com/54128896/174914592-3aeef76a-e3cd-4fda-b3f6-f74

[2022-06-22 00:45] eziosudo commented on #2173
好的，这个issue麻烦先别关，我想再研究下原因。

[2022-06-22 02:37] cc201855 opened #2178 "markdown文件特定字符串保存不了"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://bk.hutucc.top/

### 发生了什么？

在后台编写markdown文章时，编写到如下字符串
`model.eval()`
就会出现保存失败的情况，查看后台无任何报错，仅仅是admin端提示保存失败。
新疆文章检测也是如此
当使用添加一个空格时，就保存成功，字符串如下

[2022-06-22 02:42] JohnNiang commented on #2178
请按 F12 打开调试工具，查看具体错误。

[2022-06-22 02:43] cc201855 commented on #2178
已经解决，是宝塔的防火墙给拦住了，谢谢大佬

[2022-06-22 02:43] #2178 closed

[2022-06-22 02:53] bqey opened #2179 "加密博客_访问404"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

15.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://bqeysq.com/

### 发生了什么？

配置ssl证书后访问加密文章输入密码后报404；
![image](https://user-images.githubusercontent.com/86216991/174932380-2ec1ebe6-5dec-4

[2022-06-22 02:55] ruibaby commented on #2178
/kind support

[2022-06-22 02:56] ruibaby commented on #2173
/triage needs-information

[2022-06-22 03:54] bqey commented on #2179
nginx配置ssl证书后，将http请求强制转为https请求后post请求变为get请求报的错，解决方式：nginx配置文件将http请求转https请求的server；301换为307
`server {
                listen 80;
                #填写绑定证书的域名
                server_name bqeysq.com www.bqeysq.com;
                #把http的域名请求转成https
                return 307 https://$host$request_uri;
                }
`
有可能会出现不安全提示，只能修改系统变量换为https
![image](https://user-images.githubusercontent.c

[2022-06-22 04:05] JohnNiang commented on #2176
倾向第一种方案。请参考：https://datatracker.ietf.org/doc/html/rfc7763#section-5

[2022-06-22 07:02] okayhu opened #2181 "又拍云图片上传未使用原图片名称"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://www.justokay.cn

### 发生了什么？

附件上传方式：又拍云

原图片名称：宇航员头像_01

上传后图片名称：c7d43c917794644cf2e8592ec0513d19（新名称是原名称的 MD5 值）
![image](https://user

[2022-06-22 08:40] JohnNiang commented on #1909
Hi @Jarrett33 ，暂时还未解决。近期我将尝试撤回该依赖的升级再试试。

[2022-06-22 08:40] JohnNiang commented on #1909
/milestone 1.5.x

[2022-06-22 09:00] manction opened #2182 "后台发布文章页面预览按钮的提示语优化"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.manction.com

### 发生了什么？

![Snap1](https://user-images.githubusercontent.com/9378928/174988865-03603b6a-e85b-4087-8650-d740ca45e491.png)

[2022-06-22 09:05] ruibaby commented on #2182
/good-first-issue
/area admin
/milestone 1.6.x

需要修改 https://github.com/halo-dev/editor

[2022-06-22 09:13] manction commented on #2182
/assign

[2022-06-22 09:16] skyls03 commented on #1790
可以将文章的CRC32或者UUID等 生成唯一标识，取前8位或者更多，然后将其作为文章的Permalink

Hexo中有个插件[hexo-abbrlink](https://github.com/rozbo/hexo-abbrlink)、[hexo-abbrlink2](https://github.com/rozbo/hexo-abbrlink2)，就是这种

[2022-06-22 09:48] manction commented on #2182
/assign @manction

[2022-06-22 15:58] DEARENDWANG opened #2184 "建议oss文件所上传的路径自动生成当前上传的年份日期，以便后续方便查找。"
### 你当前使用的版本

1.5.3

### 描述一下此特性

非常建议在后续的版本更新中会对这方面作出相应改动，这样分类会对于以后的图片查找有非常大的帮助！（ halo天下无敌！

### 附加信息

_No response_

[2022-06-23 02:42] ruibaby commented on #2182
Fixed at https://github.com/halo-dev/editor/pull/4

[2022-06-23 02:42] #2182 closed

[2022-06-23 02:46] ruibaby commented on #2179
/kind support

@bqey 如果这个问题已经解决，我将关闭此 issue。

[2022-06-23 02:47] ruibaby commented on #2176
在 halo-dev/halo-admin 的仓库已经有了一个 PR，但目前似乎没有最新动态。https://github.com/halo-dev/halo-admin/pull/573

[2022-06-23 02:48] bqey commented on #2179
好的

[2022-06-23 02:49] ruibaby commented on #2179
/close

[2022-06-23 02:50] #2179 closed

[2022-06-23 03:17] eziosudo commented on #2176
这个PR中仅过滤文件扩展名应该不能解决这个Issue。我正在尝试在```uploadHandler: (file, options) => apiClient.backup.importMarkdown(file, options)```中增加interceptor去修改Content-Type，目前还没有成功。

[2022-06-23 03:20] JohnNiang commented on #2181
/area core

[2022-06-23 03:28] JohnNiang commented on #2176
如果前端操作难度过大，那就直接采取第二种方案吧。

[2022-06-23 03:30] eziosudo commented on #2176
嗯，我再试一下，今天如果改不动前端的话我就改后端接口。

[2022-06-23 04:08] guqing commented on #2181
之前忘了什么原因没有改这个类，你有兴趣修复这个问题吗

[2022-06-23 05:43] okayhu commented on #2181
我很乐意！我会尽快提交 pr 的

[2022-06-23 05:49] ruibaby commented on #2181
/assign @okayhu

[2022-06-23 09:54] #2181 closed

[2022-06-23 11:53] eziosudo commented on #2176
`uploadHandler: (file, options) => apiClient.backup.importMarkdown(file, options)`修改`header["Content-Type"]="text/markdown"`无效，似乎浏览器会把它自动设置成multipart/form-data去传。

然后在 [RFC7763](https://datatracker.ietf.org/doc/html/rfc7763#section3)里居然说Markdown没有Magic number。
[code]

只能通过扩展名去判断了。

[2022-06-23 12:00] Deemai commented on #2103
也许是我数据库的原因呢，又或者是其他的问题，我按F12检查了预览图的链接，显示的404错误

[2022-06-24 06:59] 125761565 opened #2188 "建议在博客页面添加一个到后台管理系统连接"
### 你当前使用的版本

_No response_

### 描述一下此特性

便于使用

### 附加信息

_No response_

[2022-06-24 15:00] #2176 closed

[2022-06-24 15:11] ruibaby commented on #2188
这个需要主题适配，建议向具体的主题提交反馈。

/kind support

[2022-06-24 15:16] ruibaby commented on #2157
如果没有后续动态，我们将关闭此 issue。

/close

[2022-06-24 15:16] #2157 closed

[2022-06-26 06:40] WenyinWei commented on #1896
我想借助 [loud-links](https://github.com/MahdiF/loud-links) 这一插件实现鼠标滑过喇叭图标的时候发出声音，但我没能在 halo 里用得上 loud-links。我暂时的权宜之计直接把声音 MP3 当做超链接插入，但没办法实现鼠标 hover 就发出声音。例子见下

<ruby>声<rt>sh&emacr;ng</rt></ruby>[:loud_sound:](https://i1.hao86.com/mp3/sheng1.mp3) <ruby>音<rt>y&imacr;n</rt></ruby>[:loud_sound:](https://i1.hao86.com/mp3/yin1.mp3)
[code]

[2022-06-26 14:49] WenyinWei commented on #2159
文章封面图的长宽比面临复杂场景（PC 端目录/文章页、手机端目录/文章页）挑战， 可能需要自动在长宽比不合适时缩小图片尺寸，空白地方用透明替代。看看有没有其他好的解决方案？

[2022-06-26 16:03] ruibaby commented on #2159
用透明代替可能效果不是特别好。可以看看这个 issue 对应的解决方案。https://github.com/halo-dev/halo-admin/pull/580

[2022-06-27 17:32] NullPointX opened #2193 "文章更新时间 逻辑优化"
### Halo版本

`1.5.3`

### 我的建议：
对于读者而言，文章的更新时间应该是文章 **内容** 的「实际修改时间」，而不是文章除 **内容** 字段以外的修改时间。

### 目前文章更新时间的逻辑：
对文章内容以外的数据进行修改（比如：修改文章的SEO关键词），保存后，数据库中 `posts`表的 `update_time`和`edit_time` 以及 `contents`表的 `update_time` 都会以这次修改的时间为准。

[2022-06-28 02:09] JohnNiang commented on #2193
/area core
/kind improvement

[2022-06-28 02:10] ruibaby commented on #2193
/good-first-issue

[2022-06-28 02:13] wxyShine commented on #2193
/assign

[2022-06-28 07:21] wxyShine commented on #2193
只有当修改文章标题 或文章内容时 去更新posts表的edit_time字段 ，posts和contents表的update_time 保持上面的逻辑不变。可否？

[2022-06-28 07:55] skyls03 commented on #2193
我觉得可以。

另外问一下，有了`edit_time` 为什么还要有 `update_time`？是历史遗留原因吗？

[2022-06-28 07:58] wxyShine commented on #2193
`create_time`和`update_time`好像是每个表都有的基础字段

[2022-06-28 09:27] danbai225 opened #2196 "rss订阅生成错误"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://p00q.cn/rss.xml

### 发生了什么？

最近打开rss后发现有报错，可能跟我最近写的文章编码有关系，但我没找到。
日志里没有报错
`
This page contains the following errors:
error on line 31 at colum

[2022-06-28 12:11] cetr opened #2197 "附件链接地址提供短链接和直链两种方式"
### 你当前使用的版本

_No response_

### 描述一下此特性

附件链接地址提供短链接和直链两种方式

### 附加信息

_No response_

[2022-06-28 12:11] cetr commented on #2197
/milestone 2.0

[2022-06-28 12:15] ruibaby commented on #2197
这里的短链接是指？可以详细描述一下。

[2022-06-28 12:18] cetr commented on #2197
![image](https://user-images.githubusercontent.com/49756728/176176560-53b772c0-5db1-4933-be6d-8659437e6df9.png)

[2022-06-28 13:05] guqing commented on #2196
由于你的文章中出现了不完整的 utf-8 字符导致浏览器无法显示 rss 的 xml，通过如下图片可以看出 halo 正确反回了 rss.xml，因此这并不是 halo 的问题
![image](https://user-images.githubusercontent.com/38999863/176185743-dafa8d07-4cd5-4a48-bd51-d44e9fa0935f.png)

你只需要把如下这篇文章中的红点字符去掉即可
![image](https://user-images.githubusercontent.com/38999863/176185369-dd6ce5ef-de6f-40b5-aa1b-9a0957ef0fce.png)

[2022-06-28 14:17] ruibaby commented on #2197
@cetr 我建议可以探索一下是否可以在 2.0 中以插件的形式提供。这个插件的主要功能就是生成系统内各个模块链接的短链接。并不只是局限于附件的短链接生成。

另外，我个人其实对这种类型的短链接的使用场景不是太明白。主要是可读性差，无法通过 URL 知道这个链接具体是链接到哪方面的内容。

[2022-06-28 16:11] ListenV opened #2199 "博主发评论 优化建议"
### 你当前使用的版本

`1.5.3`

### 描述一下此特性

#### 评论现状

博主无法直接对文章发出评论，只能对别人评论进行回复。

#### 改善步骤

1. 允许博主直接在文章页进行评论和回复，评论和回复更直观
2. 评论时填写的邮箱必须与后台博主的邮箱一致
3. 为了确定是博主本人在评论，可以使用后台登录后的AccessToken进行鉴权

不知是否可行，讨论一下

### 附加信息

_No response_

[2022-06-29 01:44] JohnNiang commented on #2199
Halo 1.x 上暂时没有精力实现这个直接“直接在文章页面进行评论和回复”，这会涉及太多的改造。不过会在实现 Halo 2.x 的时候会考虑到这个问题。

尤其是 Halo 2.x 的认证体系和之前会有所不同。Halo 1.x 的认证体系比较简单，目前有以下缺点：

- 认证逻辑比较简单，没有利用 Session 机制来判断用户是否登录。
- 没有 PersonalAccessToken 机制，目前只支持创建一个用户自定义的 Token，且该 Token 的 Scope 还无法自定义。

Halo 2.x 我们打算实现：

- 利用 Session 机制判断用户是否登录。
- 完备的 PersonalAccessToken 机制，可针对不同 Scope 申请不同的 Token。
- 改造评论组件，允许登录用户直接评论和回复。

/kind improvement
/milestone 2

[2022-06-29 02:28] ruibaby commented on #2199
@NullPointX 目前可以在后台的文章管理列表打开评论弹框，其中有创建评论的功能。

<img width="1326" alt="image" src="https://user-images.githubusercontent.com/21301288/176338171-1e37afc3-58bd-4f4f-bfe1-b40faf2c3d64.png">

[2022-06-29 06:28] awxiaoxian2020 commented on #1664
我也遇到了同样的问题。

按照官方教程的方式部署的。
如果使用工作用户的非 sudo 权限运行就会读取到配置文件。一旦是root用户运行就变为默认配置。
然而启动服务需要 root……

[2022-06-29 07:18] awxiaoxian2020 commented on #1664
看情况未显示波浪线，可能不是home目录下

[2022-06-29 07:25] JohnNiang commented on #2141
/close

See #2163 for more.

[2022-06-29 07:25] #2141 closed

[2022-06-29 19:43] Bibooo25730 opened #2200 "halo 分页只能每页10条数据吗？"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

本地

### 发生了什么？

我在做一个主题，当我使用分页的时候，发现默认是10条数据一页。
我做的页面 我想每次只显示五条数据为一页，默认是10条数据为一页。
我在后台 所有文章选项中，看到了有文章的分页栏，难道是在这里修改吗？可是我每次修改了五条数据为一页还是不行，刷新又变成默认10条数据为

[2022-06-30 04:13] ruibaby commented on #2200
@Bibooo25730 Hello，可以提供一下你的模板片段。我没有复现这个问题。

[2022-06-30 10:54] Bibooo25730 commented on #2200
[code]

[2022-06-30 11:33] ruibaby commented on #2200
在后台设置即可，目前分页标签不支持设置每页条数。

<img width="880" alt="image" src="https://user-images.githubusercontent.com/21301288/176667413-5f830606-6dd0-4075-89f3-da81f6987977.png">

[2022-07-01 01:23] ACEGuiPeng commented on #1909
问题同样

[2022-07-01 04:11] JohnNiang commented on #1909
/priority critical-urgent

[2022-07-01 04:41] dysf888 commented on #1251
现阶段用来班级日志记录,单用户只能以专业名+班级 来发布,希望早日提上日程

[2022-07-01 04:46] guqing commented on #1251
可以关注 milestone2.0 https://github.com/halo-dev/halo/milestone/19 开发进度，提供了此功能

[2022-07-01 09:31] zyy247796143 opened #2201 "编辑文章的时候，滑动条会与链接面板有重叠。"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

写文章的时候，如果文章行数超过编辑区，产生滑动条的，。添加连接的弹窗会与编辑区的滑动条重叠。换两个浏览器都会这样子。体验不太好。
![image](https://user-images.githubusercontent.com/

[2022-07-01 10:16] JohnNiang opened #2202 "Directory traversal issue while renaming static file"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.4.0-1.5.3

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your si

[2022-07-03 08:51] chenlip opened #2203 "删除对应post时,可以将其单独关联的tag(标签)删除"
### Your current Halo version

V1.5.2

### Describe this feature

每次批量删除post时, 发现该post的对应的标签并没有删除, 产生很多tag的冗余数据

### Additional information

_No response_

[2022-07-03 10:11] JohnNiang commented on #2203
目前标签（tag）是单独管理的。且一个标签可能对应多个文章，所以对于文章的级联删除标签的做法可能不太合适。

但是是可以出一个删除孤儿（Orphan）标签的功能。

/kind improvement
/priority awaiting-more-evidence

[2022-07-03 13:45] ruibaby commented on #2203
我觉得可以在标签管理加一个清理无用标签的功能，目前可以完全在前端实现这个功能。

[2022-07-03 14:57] cetr opened #2205 "实现菜单与系统内置模块的链接关联"
### 检查清单

- [x] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

后台已设置固定链接路径后缀，独立页面管理页和菜单的从系统预设链接添加菜单的地址没有同步

![image](https://user-images.githubusercontent.com/49756728/177045272-6

[2022-07-03 15:01] cetr opened #2206 "添加ip库提供给评论模块展示留言者地址"
### 你当前使用的版本

_No response_

### 描述一下此特性

添加ip库提供给评论模块展示留言者地址

### 附加信息

_No response_

[2022-07-04 03:14] #2193 closed

[2022-07-04 03:16] #2202 closed

[2022-07-04 03:39] JohnNiang commented on #2206
/kind feature
/priority await-more-evidence
/milestone 2.0

[2022-07-04 04:06] ruibaby commented on #2205
/kind feature
/milestone 2.0

会在 2.0 考虑菜单与内置模块链接的关联。

[2022-07-04 04:35] ruibaby commented on #2205
/retitle 实现菜单与系统内置模块的链接关联

[2022-07-04 04:35] ruibaby commented on #2200
/triage needs-information
/kind support

[2022-07-04 04:36] ruibaby commented on #2197
/kind feature

[2022-07-04 04:36] ruibaby commented on #2129
如果没有后续动态，我将关闭此 issue。

/close

[2022-07-04 04:37] #2129 closed

[2022-07-04 05:59] wxyShine commented on #2201
/assign

[2022-07-04 08:29] Mr-Jies opened #2210 "建议加入Markdown的文件的导入导出"
### Your current Halo version

_No response_

### Describe this feature

建议加入Markdown的文件的导入导出，这样可以用于本地的文件备份，有利于用户在系统出问题的情况下也能观看文件内容

### Additional information

_No response_

[2022-07-05 00:39] wxyShine commented on #2210
![](https://www.helloimg.com/images/2022/07/05/Z2QFzX.png)

[2022-07-05 00:40] wxyShine commented on #2210
菜单> 系统 > 小工具

[2022-07-05 00:43] wxyShine commented on #2184
上传到程序运行的服务器根据年月生成目录，上传oss也这样吗 还是2.0 上传oss开发成插件形式 :alien:

[2022-07-05 02:24] ruibaby commented on #2184
可以考虑支持自行配置目录格式，比如：

- {year}/{month}/{day}

[2022-07-05 02:24] ruibaby commented on #2210
/kind support

[2022-07-05 05:40] ruibaby commented on #2184
2.0 确实会把云存储方式改为由插件提供，但是 1.x 也可以对此进行改进。

[2022-07-05 09:00] 1765659645 opened #2213 "建议增加一个后台对菜单自定义排序的功能"
### 你当前使用的版本

_No response_

### 描述一下此特性

排序可以使用拖拽排序

### 附加信息

_No response_

[2022-07-05 09:27] ruibaby commented on #2213
/kind support

[2022-07-06 01:11] #2213 closed

[2022-07-06 03:20] JohnNiang commented on #2210
/close

Please feel free to reopen this issue if you have any problems.

[2022-07-06 03:20] #2210 closed

[2022-07-06 06:21] sukekes opened #2214 "1.5.3版本首页不显示新增的文章分类"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

xjin.site

### 发生了什么？

添加文章分类后，在首页不显示对应分类
![image](https://user-images.githubusercontent.com/38717537/177482326-f6e9fea2-a5e7-456f-84d5-7f56b4b

[2022-07-06 06:29] cetr opened #2215 "开发者选项-系统变量，增加备注字段"
### 你当前使用的版本

_No response_

### 描述一下此特性

开发者选项-系统变量，增加备注字段

### 附加信息

_No response_

[2022-07-06 06:37] JohnNiang commented on #2215
/kind feature
/area core
/milestone 2.0

Halo 1.x 我们暂时不考虑增加此功能。我们在 Halo 2.0 的设计中会考虑完善它。

[2022-07-06 08:00] sukekes commented on #2214
好的，那可能是我记错了。之前在1.4.11版本的时候好像通过分类来设置就好了

[2022-07-06 08:00] #2214 closed

[2022-07-06 08:03] ruibaby commented on #2214
/kind support

[2022-07-07 00:58] WinJayX opened #2218 "文章搜索时，英文区分大小写"
### Your current Halo version

1.5.2

### Describe this feature

在首页进行文章搜索时，输入英文关键字：“MySQL”、“mysql”、“MySql”、“MySql" 等搜索出来的文章都不一样。
我想实现不管输入什么关键字，都不区分大小写来进行搜索。

### Additional information

_No response_

[2022-07-08 04:15] ruibaby commented on #2218
/close

[2022-07-08 04:15] #2218 closed

[2022-07-08 06:29] cetr opened #2224 "在非首次安装系统后访问install路径返回空白页面"
### 你当前使用的版本

1.5.4

### 描述一下此特性

在非首次安装系统后访问install路径返回空白页面，应该改为返回404页面

### 附加信息

_No response_

[2022-07-08 06:39] cetr commented on #2224
#2225

[2022-07-08 07:59] JohnNiang commented on #2224
直接重定向至首页会不会更好呢。

[2022-07-08 08:15] cetr commented on #2224
在安装完成后就用不上这个路径了，重定向到首页就给人一种这个路径有意义，我个人觉得应该让他的作用完全消失，就像访问到了一个从未存在过的资源

[2022-07-08 08:21] ruibaby commented on #2224
/kind improvement
/milestone 1.5.x

[2022-07-08 08:30] #2224 closed

[2022-07-09 01:34] dearthing opened #2228 "老版本升级新版本admin用户没有权限访问自己的文章"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://42.194.221.122:8090/archives/test

### 发生了什么？

从之前的老版本升级为最新版本时,遇到的问题,不知道是不是数据库的问题

### 相关日志输出

[code]

### 附加信息

![image](https://user-images.g

[2022-07-09 01:57] #2228 closed

[2022-07-09 03:31] xdfbb commented on #1484
StandOutput,StandError两个参数是不正确的，我这边用ubuntu类的系统也是同样的报错，删掉就好了

[2022-07-09 14:56] ruibaby opened #2230 "文章分类页面支持设置自定义模板。"
### 你当前使用的版本

1.5.4

### 描述一下此特性

文章分类页面（/categories/{slug}）支持设置和文章/自定义页面一样的自定义模板特性。

可参考方案：

1. category 增加 template 字段用于保存模板名称。
2. 主题支持添加如 `category_foo.ftl` 的模板文件。
3. 渲染 `/categories/{slug}` 时判断当前分类是否有设置自定义模板。如果有，则按照对应模板渲染，否则渲染默认的 `category.ftl`。

具体使用案例可以参考官网的主题仓库和博客页面。如果支持此特性，只需要为不同的文章分类类型（主题、博客）设置不同的模板即可。

- https://halo.run/themes.html
- https://halo.run/blog.html

/kind feature
/milestone

[2022-07-09 16:10] Bibooo25730 opened #2231 "我添加 footer.ftl 文件 在macro.ftl 出现报错"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

本地

### 发生了什么？

论坛里有人提过这个问题了但是他是在使用别人的主题，回答是用新版本，可是我的版本就是最新的啊

[code]
这是我的 footer.ftl 文件

[code]
我尝试全局添加 <@global.footer />
浏览器就会报错
GET http://127.0.

[2022-07-10 11:41] dysf888 commented on #1933
好像没有找到在编辑的时候可以直接上传附件并且插入文章中的 转halo之前typecho上这个功能很实用

[2022-07-10 12:26] ruibaby commented on #1933
目前编辑器支持拖拽上传和粘贴上传。

[2022-07-10 12:27] ruibaby commented on #2231
/kind support

没有怎么看明白这个问题的描述，你可以提供一下日志或者提供可复现的完整主题。

[2022-07-10 13:53] dysf888 commented on #1933
emmm俺的意思是非图片类型的附件,有时候提供 .zip 什么的文件下载什么的

[2022-07-11 03:18] ruibaby commented on #1933
PR welcome

[2022-07-11 05:34] fsyj-123 commented on #1743
我在最新版本的1.5.4的Fat Jar的方式部署也出现这个问题
MySQL版本：8.x
没加上之前报错日志和https://github.com/halo-dev/halo/issues/1743#issue-1167806379这个日志一样
加上之后启动成功

[2022-07-12 03:39] zyy247796143 opened #2237 "Halo后台编辑文章临时保存。"
### 你当前使用的版本

1.5.4

### 描述一下此特性

现在的版本貌似在后台编辑的文章的时候，不会主动临时保存。花大半个小时编辑了一大堆内容，浏览器突然崩掉啥都没了。可以的话，每隔5分钟或者几分钟，临时保存在redis里，或者内存里临时放着。浏览器崩掉的话，重新打开编辑器的时候读取缓存内容，即使内容没这么完整，也不至于这么崩溃。。

### 附加信息

_No response_

[2022-07-12 03:49] ruibaby commented on #2237
建议在编辑的时候手动 Ctrl + S（Mac：Command + S），这样保存就是暂存文章内容。

[2022-07-12 04:00] JohnNiang commented on #2237
/kind support
/area admin

[2022-07-12 04:02] zyy247796143 commented on #2237
手动Ctrl + S，是把数据直接写在数据库的吗？之前翻过数据库看了一下，貌似之前文章编辑过的历史记录也保留在里面。如果Ctrl + S保存比较多的话，数据库是不是也会堆积很多？

[2022-07-12 04:06] ruibaby commented on #2237
是会写入到数据库，但是 Ctrl + S 保存只会对当前版本的**内容**进行更新，只有在手动发布的时候才会创建新的版本。

[2022-07-12 04:09] zyy247796143 commented on #2237
了解。所以目前也是要有  Ctrl + S 的习惯才行。

[2022-07-12 04:11] zyy247796143 commented on #2237
最近一段时间，我的浏览器不知道为啥老容易崩。所以发布的话，我都在其他地方编辑好后，再一次把markdown粘贴过去。。

[2022-07-12 05:44] lijinghuatongxue commented on #1369
但是前端不填写邮箱和昵称，依旧提交不了评论的？

[2022-07-12 05:44] Smart-Boy-me commented on #1369
您好，这里是王LT同学。您的来信我已收到，我会尽快回复！谢谢！

[2022-07-12 06:24] JohnNiang commented on #1369
目前官方评论组件还没有去除邮箱验证。不过可以试试非官方评论组件：<https://github.com/cetr/halo-comment-yu>。

[2022-07-13 14:42] ruibaby commented on #1951
/reopen

在 1.5.4 在此出现该问题。

[2022-07-14 04:24] JohnNiang commented on #1951
/priority backlog

[2022-07-14 14:43] ruibaby commented on #1951
/good-first-issue

[2022-07-15 00:43] ldt0621 opened #2245 "数据迁移导入失败"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

47.101.212.29:80

### 发生了什么？

原先本地docker安装，转服务器，使用mysql数据库，在数据迁移，点击导入后显示 `内部服务器错误` `Internal Server Error`
![image](https://user-images.github

[2022-07-15 02:30] cetr opened #2246 "评论邮件发送时机"
### 你当前使用的版本

_No response_

### 描述一下此特性

目前当新访客给之前访客留的评论追评时，将会直接发送邮件给被追评的访客，即使已开启评论审核，那么就导致已留言的访客有被疯狂轰炸的风险

建议在站长审核通过后再发送邮件给已留言的访客，给站长留言不用改，还是即时通知

### 附加信息

_No response_

[2022-07-15 02:39] ruibaby commented on #2246
/kind improvement
/milestone 1.6.x

/good-first-issue

[2022-07-15 02:39] ruibaby commented on #2246
/area core

[2022-07-15 03:46] JohnNiang commented on #2245
建议提供一下错误日志，方便我们排查具体是什么错误。如果可以的话，建议提供一份可复现的”导入数据“。

[2022-07-15 03:46] JohnNiang commented on #2245
/kind support

[2022-07-15 11:00] Rainsheep opened #2251 "BlogProperties.BLOG_URL 不更新"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

我在博客设置中更新博客地址，然后访问加密博文，发现访问的 url 为更新前的 url。
阅读代码发现 ftl 中的 blog_url 来自 initSettings 方法 中
properties.put(BlogPropertie

[2022-07-15 14:49] manction opened #2252 "文章编辑器会自动在图片后面加换行标签"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.manction.com

### 发生了什么？

编辑器中，图片和文字明明没有换行，可是最终发布，代码中会自动有 br 换行，导致无法调整文章样式。

![e2936a55e0f5f32d448964802567854](https://user-images.githu

[2022-07-15 15:41] ruibaby commented on #2252
/remove-kind bug
/kind support

这属于 Markdown 渲染的行为，建议在检查主题的样式。

[2022-07-15 23:36] cetr opened #2253 "后台日志页面，代码块没有渲染"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [x] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

后台日志管理页面，第一次进页面没打开过编辑器时，不能渲染代码块

未渲染时：

![image](https://user-images.githubusercontent.com/49756728/179324394-d73a45

[2022-07-16 05:04] ruibaby commented on #2253
日志本身是不支持代码块高亮渲染的，打开编辑器之后可能因为编辑器的高亮插件影响到了列表的代码块渲染。

/kind improvement
/milestone 1.6.x

[2022-07-16 05:05] ruibaby commented on #2252
/close

[2022-07-16 05:05] #2252 closed

[2022-07-16 05:07] ruibaby commented on #2251
/triage needs-information

没有复现该问题，建议先使用 IP 的形式测试一下，排除 Nginx 等代理的缓存问题。

[2022-07-16 05:07] ruibaby commented on #2251
/kind support

[2022-07-16 05:08] ruibaby commented on #2245
/triage needs-information

[2022-07-16 05:30] ruibaby commented on #2203
/assign

[2022-07-16 05:32] ruibaby commented on #2203
我将尝试在前端提供清理无用标签的功能。

[2022-07-16 06:04] ruibaby commented on #2231
如果没有后续补充，我将关闭此 issue，可随时 reopen。

/close

[2022-07-16 06:04] #2231 closed

[2022-07-16 06:06] ruibaby commented on #2200
如果没有后续补充，我将关闭此 issue。

/close

[2022-07-16 06:06] #2200 closed

[2022-07-16 06:14] ldt0621 commented on #2245
已经解决了，是MySQL数据库端口的问题

[2022-07-16 06:14] #2245 closed

[2022-07-16 07:10] viticis opened #2254 "Nginx 请求头配置导致的 admin 页面重定向错误"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.4.16

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

### 背景
nginx 与 halo 在 docker 的同一网桥中，并且 nginx 配置为：
[code]
其中，`$server` 配置为 halo 的容器名字，`$port` 配置为 halo 应用及容器对外暴露的端口号

[2022-07-16 07:12] ruibaby commented on #2254
/assign @viticis

[2022-07-16 07:16] ruibaby commented on #2254
但需要注意的是，如果使用者配置的域名无法访问（比如 https 证书失效），使用者想通过 IP:端口/admin 进入后台的话，这个时候可能也无法正常跳转到后台。必须直接访问 IP:端口/admin/index.html 才可以。

[2022-07-16 07:21] viticis commented on #2254
是我考虑不周了😂，既然如此就不修改代码了，该 issue 可以关闭留待后人有类似问题时候能搜索到吧。

[2022-07-16 07:45] viticis commented on #2254
不过我又想到一个问题，为什么不直接返回页面，而是用重定向呢？

[code]

[2022-07-16 08:44] hash070 opened #2256 "建议增强模糊搜索功能"
### 你当前使用的版本

1.5.3

### 描述一下此特性

在最新的Halo博客中，不论是前台还是后台搜索，只要有一个字母的大小写对不上就无法返回相应的结果。
例如我有一篇文章名称为`Typora激活`
那么如果我在右上角的搜索框中填写并搜索关键字`typora`，将不会得到相关的结果，因为第一个字母t的大小写对不上
![image](https://user-images.githubusercontent.com/62081013/179347607-32ba01b6-812d-45df-ab39-1f456d58ed8b.png)
除非将搜索关键词替换为`Typora`才能搜索到相关结果
![image](https://user-images.githubusercontent.com/62081013/179347634-fd57677e-13a8-4d03-a451-c

[2022-07-16 09:56] ACEGuiPeng commented on #702
你好 请问如果我要自己改源码 可以怎么先临时解决这个问题？

[2022-07-16 11:11] KeysBytes opened #2257 "docker-compose部署文档有误"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

all?

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://docs.halo.run/getting-started/install/other/docker-compose#%E5%88%9B%E5%BB%BA%E5%AE%B9%E5%99%A8%E7%BB%84

### 发生了什么？

在文档中

目录中，给出的'' do

[2022-07-16 13:11] ruibaby commented on #2257
@KeysBytes Hello，有兴趣帮我们改正这个问题吗？ 向 https://github.com/halo-dev/docs 仓库提交 PR 即可。

[2022-07-16 13:13] ruibaby commented on #2256
/triage duplicate https://github.com/halo-dev/halo/issues/2218

我们将在 2.0 的时候提供全文搜索的插件。目前 SQL 模糊查询并不能太好地解决搜索问题。

<img width="591" alt="image" src="https://user-images.githubusercontent.com/21301288/179356394-2f89a834-e727-4ebb-9096-f12a2b8f0a07.png">

[2022-07-16 13:15] ruibaby commented on #2254
因为目前的方法是通过静态资源代理的方式代理到 admin 的构建资源目录。不是模板渲染，SpringMVC 的 Controller 返回 String 类型的数据应该是需要对应一个模板文件。

[2022-07-16 13:16] ruibaby commented on #2254
@viticis 不过也欢迎大家讨论一个更加好的方案。

[2022-07-16 13:17] ruibaby commented on #2257
/kind improvement
/area docs

[2022-07-16 13:17] viticis commented on #2254
我改成如上代码后是可以正常访问的，路径是 `localhost:8090/admin#install`，有时间我再具体测试下有没有问题，理论来说模板文件也是html🤣

[2022-07-16 14:27] #2256 closed

[2022-07-17 04:20] ldt0621 opened #2258 "可否自定义文章Markdown编辑器"
### 你当前使用的版本

1.5.4

### 描述一下此特性

![编辑器](https://cdn.jsdelivr.net/gh/HaoOuBa/BlogStatic/usr/uploads/2021/04/2867183119.png)
![编辑器](https://cdn.jsdelivr.net/gh/HaoOuBa/BlogStatic/usr/uploads/2021/04/842014622.png)

### 附加信息

_No response_

[2022-07-17 07:02] ruibaby commented on #2258
Halo 本身并不打算支持这样的非标准 Markdown 语法，个人认为这属于在扰乱 Markdown 的语法规范，会让 Markdown 越来越割裂。这种需求建议使用富文本编辑器实现。我们也会在 2.0 提供插件扩展功能，届时你可以接入你想支持的任何编辑器。

[2022-07-17 07:02] ruibaby commented on #2258
/kind feature

[2022-07-17 09:02] ldt0621 commented on #2258
赞同支持markdown标准化，期待2.0大版本能早日到来

发自我的iPhone

[2022-07-18 02:46] isFire commented on #2230
太好了，我刚想提这个需求的

[2022-07-18 04:14] ruibaby commented on #2230
@isFire 有兴趣参与实现一下吗？

[2022-07-18 04:26] ruibaby commented on #2254
/milestone 1.6.x

[2022-07-18 04:26] ruibaby commented on #2254
/kind improvement

[2022-07-18 09:56] isFire commented on #2230
哈哈哈，好啊，我先研究下，不过得等忙过这阵了

[2022-07-18 14:48] #2203 closed

[2022-07-19 02:27] #2237 closed

[2022-07-19 02:36] #2254 closed

[2022-07-19 05:03] JavaHackSen opened #2261 "进入文章页面，提示“出错了”"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://91biu.work

### 发生了什么？

![image](https://user-images.githubusercontent.com/37896126/179668634-c4b0ba9e-21e8-4313-8d6e-7dafa5f5efaa.png)
![i

[2022-07-19 08:51] JavaHackSen commented on #2261
啊好的~打扰了~😅

[2022-07-19 08:51] #2261 closed

[2022-07-19 09:06] ruibaby commented on #2261
/kind support

[2022-07-19 13:20] psc1453 opened #2263 "可否增加批量为文章添加标签以及目录归档的功能"
### 你当前使用的版本

1.5.4

### 描述一下此特性

在后台管理页面的“所有文章”选项卡下，目前的版本可以多选文章然后在批量操作的下拉菜单内设置文章的发布状态。
在我近期整理博客时，新增了几个标签和目录，想把现有的一些博客放进新目录并打上新标签，可是只能一篇一篇文章的单独设置，因此希望能够添加多选文章后，在批量操作的下拉菜单中或是其他某个位置添加批量为文章添加标签以及目录归档的功能。
非常感谢。

### 附加信息

_No response_

[2022-07-20 04:11] ruibaby commented on #2263
/kind feature

[2022-07-20 04:25] ruibaby commented on #2263
非常好的建议，但目前我们可能没有精力在 1.x 来支持这个功能。现在我们的主要精力放在 [2.0](https://github.com/halo-dev/halo/tree/next) 的开发上，做文章相关功能的时候会考虑这个功能的。不过，1.x 也欢迎大家参与贡献。

[2022-07-20 08:54] TU-RUI opened #2265 "配置了作为服务运行后，开机时服务启动失败，服务器就一直阻塞在开机流程了了，开不了机"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

服务器启动不了，看不到

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

eriri.cn:8009，但是现在服务器挂了，打不开

### 发生了什么？

我按照指南，配置了服务器启动时会启动halo服务，(systemctl enable halo)，配置后一直能正常开机启动。
今天上服务器上调整了一些配置，手动启动服务报错了，尝试几次后都无法启动，于是我

[2022-07-20 10:01] #2257 closed

[2022-07-20 10:03] ruibaby commented on #2265
本质上这并不属于 Halo 的问题，建议看看或者问服务商客服，能否通过其他方式登录（比如 VNC）服务器。

/kind support
/triage needs-information

[2022-07-20 10:04] JohnNiang commented on #2265
如果按照我们的文档配置 Halo Service，是不会影响 sshd 服务启动的。即使启动失败。

建议监测一下服务器运行状态，是不是资源不足导致无法启动。

[2022-07-20 10:59] poshoi opened #2266 "置顶优先级的问题"
### 你当前使用的版本

1.5.3

### 描述一下此特性

在文章置顶时，选择不同置顶文章的优先级

### 附加信息

_No response_

[2022-07-21 03:46] TU-RUI commented on #2265
确实不是halo定时任务的问题，再次物理重启服务器后，halo服务虽然开启启动失败，但是ssh服务能启动，这个问题已经修复，谢谢

[2022-07-21 03:46] #2265 closed

[2022-07-21 06:30] ruibaby commented on #2266
这可能得手动调整 topPriority 字段的值，欢迎大家贡献想法。

/kind feature

[2022-07-21 07:35] zyy247796143 opened #2268 "halo 后台文章编辑区界面容易出现错位"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

halo 后台文章编辑区界面容易出现错位。
比如我下面提供的视频所示，我编辑一大堆内容到80行还没进行大量删除的时候，鼠标滚轮上下滑动界面是不会出现问题的。到后面进行大量删除行后，鼠标滚轮再上下滑动界面就会出现整个界面一起上下滑动。

[2022-07-21 08:45] cetr commented on #2268
左边是markdown文本，右边是html，肯定会错开啊

[2022-07-21 08:47] zyy247796143 commented on #2268
我意思是上下滚轮，会带着整个整个窗口一起滑动，不止是编辑区

[2022-07-21 08:49] cetr commented on #2268
明白了，不过之前这问题不是修复了吗，怎么又出现了 @ruibaby

[2022-07-21 09:25] JohnNiang commented on #1717
Please refer to https://github.com/halo-dev/halo/tree/next/src/test/java/run/halo/app

[2022-07-21 12:32] JohnNiang commented on #2268
/kind bug
/area admin

[2022-07-21 15:21] liuzhihang commented on #1291
@ruibaby 那2.0是不是可以使用 vue react 来写前端？

[2022-07-22 02:30] ruibaby commented on #1291
现在也可以，使用 REST API 即可。https://api.halo.run/content-api.html

这里说的多模板引擎是后端渲染引擎，理论上有了 API，你用什么写都可以的。

[2022-07-22 02:40] ruibaby commented on #1291
@liuzhihang https://github.com/halo-dev/halo/discussions/2192#discussioncomment-3035622

[2022-07-22 02:49] liuzhihang commented on #1291
好嘞，感谢。

[2022-07-22 08:20] newbeedaly opened #2270 "docker方式部署时，启动服务报错"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

docker方式部署时，启动服务报错，相关版本配置如下：

8.0.23

application.yaml
[code]

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-07-23 08:37] savingrun commented on #1585
可以往多渠道自定义格式webhook思路想，配合事件中心（每个事件对应几个关键字的形式拖拉对应关键字）触发webhook，哈哈帮公司做消息中心的时候想到的方案，可以考虑一波，不止发webhook（这只是一个渠道而已）还可以发短信/微信模板消息/邮件都统一起来 dog.jpg

[2022-07-24 05:30] newbeedaly commented on #2270
镜像拉取和容器创建都是按照官网来的，配置文件拉取也是跟官网一样。
目前采用h2数据库，不使用配置文件是可以的。

[2022-07-24 09:10] ruibaby commented on #2270
目前采用h2数据库，不使用配置文件是可以的。

这个问题应该就是你 Docker 容器是否能连得上你 MySQL 服务的问题。建议参考这个文档：https://docs.halo.run/getting-started/install/other/docker-mysql

/kind support

[2022-07-24 15:00] ruibaby commented on #1545
我们预计在 2.0 首先提供基于 Meilisearch 的全文搜索方案。

https://github.com/halo-sigs/plugin-meilisearch

[2022-07-26 10:29] cetr opened #2275 "菜单列表管理"
### 你当前使用的版本

1.5.4

### 描述一下此特性

目前菜单的管理方案在列表内容过多时，增加内容时不太方便，新建一个链接后需要一直挪到最后面，我有两个建议

1. 点列表什么位置，就在什么位置新建一条链接，而不是新建后生成在顶部
2. 改成思维导图的一样，更方便可视化管理，方便管理内容较多的场景

需求原因是我使用目前的菜单功能做的网址导航，需要管理很多链接，一旦需要新增，就要挪动半天
预览地址：https://hao.coor.top

### 附加信息

_No response_

[2022-07-26 10:30] ruibaby commented on #2275
/kind improvement

PR welcome :)

[2022-07-26 10:31] ruibaby commented on #2275
/area admin

[2022-07-27 03:28] wangzhen-fit2cloud opened #2276 "【初始化】使用包含特殊字符的用户名初始化失败"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

安装完成后进行初始化时，使用了包含 emoji 的用户昵称。后台日志报 SQL 错误，导致用户没有正常创建且系统被标记成了已经初始化的状态。

最终既无法重新初始化，也没有可用的用户名密码进行登录。

### 相关日志输出

[co

[2022-07-27 03:33] ruibaby commented on #2276
/kind support

MySQL 数据库的字符集需要设置为 `utf8mb4`。

https://docs.halo.run/getting-started/config#mysql

[2022-07-27 03:35] #2276 closed

[2022-07-27 06:33] zyy247796143 opened #2277 "halo 后台markdown编辑区滚动，及目录定位问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

有两个小问题，不知道是不是bug。
1. 在编辑文章的左边源码编辑区里面进行上下滚动，右边的html预览区可以跟着上下滚动。但在右边的html预览区里上下滚动，左边源码区就不可以跟着上下滚动。。
2. 编辑文章的 导航目录 里点击目

[2022-07-27 10:08] ruibaby commented on #2277
不是 bug，当前没有实现编辑区域随着预览区域的滚动，属于可以优化的地方。

不过 PR welcome :)

/kind improvement
/area admin

[2022-07-27 10:58] Rainsheep commented on #1545
期待大小写都能搜索&分词功能 | 模糊搜索。
其实对于一个博客来说，我们希望的是能搜索出包含自己所需文章的列表，然后自己点击查看想看的文章。
我们对于搜索准确度的要求没那么高。相关性低点也没关系。
但是我们搜索一个关键词，搜索不到(比如因为大小写原因)，就比较**了。

[2022-07-28 09:49] youngledo commented on #507
能否增加按“分类”排序呢？

[2022-07-28 11:31] Rainsheep commented on #2251
无法复现 close, thanks

[2022-07-28 11:31] #2251 closed

[2022-07-28 14:26] ruibaby opened #2281 "文章页面的 meta_description 变量为空"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://ryanc.cc

### 发生了什么？

在正常情况下，如果文章设置中没有设置自定义描述，那么会在请求文章页面的时候根据文章内容生成 meta_description 内容。但当前不符合预期。

例如：

https://ryanc.cc/archives/halo-150-re

[2022-07-28 15:01] ruibaby commented on #2281
/cc @guqing

[2022-07-29 01:41] 129duckflew opened #2283 "附件中无法删除云端已经失效的附件"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.3

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://duckflew.cn

### 发生了什么？

我使用又拍云做对象存储服务，当我使用其他途径删除又拍云中与Halo相关的附件时， 在Halo中仍然会加载失效的附件，并且无法删除

### 相关日志输出

_No response_

### 附加信息

![image](http

[2022-07-29 01:45] 129duckflew opened #2284 "希望能提供写作界面直接拖入文件并且上传的功能"
### 你当前使用的版本

1.5.3

### 描述一下此特性

希望能提供写作界面直接拖入文件并且上传到云端(服务器或者云存储服务器) 的功能,类似上传图片一样，不过可能需要考虑到文件太大中途由于网络问题上传失败这些等等因素，也许需要做一些文件大小的限制

[2022-07-29 02:15] ruibaby commented on #2284
PR welcome :)

https://github.com/halo-dev/editor

/kind feature

[2022-07-29 02:18] ruibaby commented on #2283
云存储的文件并不是实时同步，而是在 Halo 这边上传之后保存了图片的信息。至于删除失败可能是因为在删除云存储资源的时候因为文件已经被删除，所以抛出异常。

/kind bug
/good-first-issue

[2022-07-29 02:19] ruibaby commented on #2283
/area core

[2022-07-29 03:28] #2281 closed

[2022-07-29 10:00] omygod666 commented on #2270
docker部署有一样的问题 v1.5.4

[2022-07-30 10:41] gzwrrr opened #2286 "文章编辑页面出现 sql 关键字时无法提交"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.5.4

### What database are you using?

H2

### What is your deployment method?

Docker

### Your site addr

[2022-07-30 11:02] ruibaby commented on #2286
看看是不是同一个问题：https://github.com/halo-dev/halo/issues/2178

/kind support
/triage duplicate

[2022-07-30 11:17] gzwrrr commented on #2286
是同一个问题，谢谢大佬！

[2022-07-30 17:27] muyunil opened #2287 "无法导出为.md文件"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://archs.cn

### 发生了什么？

原先通过md导入的文章无法在导出，提示Internal Server Error，但halo默认生生成的hello halo文章在备份目录可见，我修改了我其它文章的标题及链接名，无中文，但还是不行。

### 相关日志输出

_No re

[2022-07-30 17:36] muyunil commented on #2287
2022-07-30 17:34:29.344  INFO 8960 --- [main] run.halo.app.Application                 : Starting Application v1.5.4 using Java 17.0.4 on archlinux with PID 8960 (/home/muyu/.halo/halo.jar started by muyu in /)
2022-07-30 17:34:29.354  INFO 8960 --- [main] run.halo.app.Application                 : No active profile set, falling back to 1 default profile: "default"
2022-07-30 17:34:31.539  INFO 89

[2022-07-30 17:42] JohnNiang commented on #2287
/kind support

[2022-07-30 18:09] JohnNiang commented on #2287
从日志发现，你正在备份的文章名确实包含了特殊字符：`Mariadb-??`。

建议提供一个可复现的步骤，方便我们能够在本地复现，更快速解决问题。

[2022-07-31 02:16] muyunil commented on #2287
抱歉，这是我在回收站的一部分文章，我将它删除之后一切正常了，以后我会在仔细观察logs，谢谢你的帮助，我想如果有明确的错误提示会更好一点

[2022-07-31 04:08] ruibaby commented on #2286
/close

[2022-07-31 04:08] #2286 closed

[2022-07-31 04:18] JohnNiang commented on #2287
不过这里确实存在一个问题，导出文章的地方把回收站的文章也导出了。
@halo-dev/sig-halo 请帮忙确认一下这是一个问题呢还是故意这样设计的呢？

[2022-07-31 07:26] ruibaby commented on #2287
我觉得导出所有文章没有什么问题，但是可能得加上一个元数据或者分目录来标识是回收站的文章。

[2022-07-31 16:04] ZephyrCICD opened #2288 "后台黑夜模式"
### 你当前使用的版本

1.5.3

### 描述一下此特性

希望后台新增一个黑暗模式

### 附加信息

_No response_

[2022-07-31 16:47] JohnNiang commented on #2288
/kind feature
/area admin

[2022-08-01 01:29] xiuyuanjun opened #2289 "是否考虑多用户特性，即允许新用户注册与使用"
### 你当前使用的版本

1.5.4

### 描述一下此特性

允许新用户注册

### 附加信息

_No response_

[2022-08-01 01:55] ruibaby commented on #2288
2.0 的 admin 会支持通过 CSS 变量调整页面样式，届时会考虑支持 Dark Mode。但这个特性的优先级不会太高，可能不会在 2.0 的首个版本中发布。

https://github.com/halo-dev/halo-admin/blob/9c37f16b639d9c91ed24b2abc2e5bce4dedf301f/tailwind.config.js#L14-L40

1.x 因为改动会比较大，所以暂时不会考虑支持。不过欢迎社区贡献。

[2022-08-01 02:12] guqing commented on #2289
1.x不会支持，2.0版本会考虑，可以关注一下 [milestone 2.0](https://github.com/halo-dev/halo/milestone/19)

[2022-08-01 02:15] ruibaby commented on #2289
/triage duplicate https://github.com/halo-dev/halo/issues/1251

[2022-08-01 02:16] JohnNiang commented on #2289
/triage duplicate
Refer to #1251

[2022-08-02 08:01] ruibaby commented on #2289
我将关闭此 issue，后续请跟踪 https://github.com/halo-dev/halo/issues/1251

[2022-08-02 08:01] #2289 closed

[2022-08-02 09:00] ruibaby opened #2291 "主题安装功能"
### 你当前使用的版本

next

### 描述一下此特性

/kind feature
/milestone 2.0

支持主题安装功能。

1. 本地上传安装
2. 远程在线安装（支持 Git、ZIP 等）

安装主题的操作可能需要在上传之后读取资源文件（theme.yaml），在前端进行 apply 操作。

### 附加信息

_No response_

[2022-08-02 09:00] ruibaby commented on #2291
/area core
/area admin

[2022-08-02 09:02] ruibaby commented on #2291
/cc @halo-dev/sig-halo
/cc @halo-dev/sig-halo-admin

[2022-08-02 09:07] ruibaby opened #2292 "完善插件安装功能"
### 你当前使用的版本

next

### 描述一下此特性

/kind feature
/milestone 2.0
/area core
/area admin

支持插件安装，支持远程链接下载和本地上传。目前虽然已经实现上传安装，但是没有 review 资源文件（`plugin.yaml` `roleTemplates.yaml`）的过程。需要实现上传之后读取资源，在前端展示资源文件以及手动创建资源。

/cc @halo-dev/sig-halo
/cc @halo-dev/sig-halo-admin

### 附加信息

_No response_

[2022-08-02 09:09] ruibaby commented on #2292
/assign
/assign @JohnNiang
/assign @guqing

[2022-08-02 09:17] guqing opened #2293 "主题扩展 Java8TimeDialect 以支持时区"
### Your current Halo version

2.0

### Describe this feature

参考
https://github.com/thymeleaf/thymeleaf-extras-java8time/blob/5f5cd9fc0cf6ecf8f71e99c2fab85b1dfae5de7d/src/main/java/org/thymeleaf/extras/java8time/dialect/Java8TimeExpressionFactory.java#L32-L54

new Temporals(context.getLocale()) 时只传递了 Locale
[code]
需要扩展它传递 ZoneId 以支持主题日期根据时区显示

### Additional information

_No response_

[2022-08-02 09:17] guqing commented on #2293
/asign

[2022-08-02 09:19] guqing commented on #2293
/assign
/area core
/kind feature

[2022-08-02 09:59] JohnNiang opened #2294 "用 OpenAPI 3.0 Schema 替换 JSON schema"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性

当前我们采用 [JSON schema generator](https://github.com/victools/jsonschema-generator) 生成自定义模型的 JSON schema，但是对于一些特殊类型字段（如：URL）转换出现问题，最终导致无法正常校验该字段。

因此，我们需要利用 [OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.3.md#schemaObject) 来生成自定义模型 Schema，最终利用 [OpenAPI 3.0 验证器](https://github.com/openapi4j/openapi4j) 来校验数据是否正确。

### 附加信息

/

[2022-08-02 09:59] JohnNiang commented on #2294
/assign

[2022-08-02 10:21] ruibaby opened #2295 "导航菜单管理功能"
### 你当前使用的版本

next

### 描述一下此特性

/kind feature
/milestone 2.0
/area core
/area admin

2.0 重构导航菜单管理功能，相较于 1.x：

1. 支持与 Core 中各个模块（文章、文章分类、自定义页面等）的资源关联，如果被关联资源如果有更新，那么最终菜单项会随着更改。
2. 模型分为 Menu 和 MenuItem，其中 Menu 相当于 1.x 中的 team 字段。

/assign
/assign @JohnNiang

### 附加信息

_No response_

[2022-08-02 13:07] ruibaby opened #2296 "主题支持配置依赖插件"
### 你当前使用的版本

next

### 描述一下此特性

主题支持配置依赖插件，主要用于提示使用者需要安装插件以获得主题的全部能力。

如图：

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/21301288/182381795-a7283fce-0865-4e0d-8442-42c70678126b.png">

用途：

1. 主题开发过程中可能需要同时开发插件来做特定功能的支持。
2. 主题可能会依赖一些公共的插件，比如友情链接模块、图库模块等。

可能需要补充或者新提交 [RFC](https://github.com/halo-dev/rfcs/tree/main/theme)

### 附加信息

_No response_

[2022-08-02 13:07] ruibaby commented on #2296
/kind feature
/milestone 2.0

[2022-08-02 13:07] ruibaby commented on #2296
/area core
/area admin

[2022-08-02 17:21] zuoercc commented on #1370
我用的最简单的办法-让他一直保持有流量，就是每隔5分钟自动打开一次网页保持不休眠，然后腾讯云开发的cpu按量付费账单感动到我哭

[2022-08-03 02:33] ruibaby opened #2298 "主题支持配置设置表单和 configMap"
### 你当前使用的版本

next

### 描述一下此特性

当前插件支持通过配置 settingName 和 configMapName 来配置设置表单以及存储，主题的设置应该与此方式一致。

如：

- https://github.com/halo-sigs/plugin-template/blob/main/src/main/resources/plugin.yaml#L13
- https://github.com/halo-sigs/plugin-template/blob/main/src/main/resources/extensions/settings.yaml

### 附加信息

/kind feature
/milestone 2.0
/area core
/area admin

/assign
/assign @guqing

[2022-08-03 02:34] ruibaby commented on #2298
/assign @guqing

[2022-08-03 09:16] Qingfengyunfei commented on #2270
可以参考下docker搭建halo的流程：https://blog.csdn.net/jiangyunfan16/article/details/126125107

[2022-08-03 09:31] manction opened #2301 "日志列表直接设置公开/隐藏的优化建议"
### 你当前使用的版本

1.5.4

### 描述一下此特性

![Snap1](https://user-images.githubusercontent.com/9378928/182575121-18e3a90c-bfc1-46ef-af76-1694935d0610.png)

Halo-页面-所有页面-独立页面-日志页面，列表这个小锁图标，是不是设计为点击可以直接切换 公开/隐藏 会更方便些？目前是要打开编辑页面才能设置。

### 附加信息

月光海岸：https://www.manction.com

[2022-08-03 10:22] ruibaby commented on #2301
/kind improvement
/area admin

[2022-08-03 12:12] JustinLiang522 commented on #2283
@129duckflew 我尝试先在又拍云中删除文件，然后再从Halo删除该关联附件，虽然Halo提示删除失败，但该文件随后会从附件列表里消失，Halo也无法再加载该文件。请问你是用的什么途径删除关联附件的？

[2022-08-03 14:46] ruibaby opened #2304 "name 为 system 的 configMap 在系统重启之后会被重置"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

next

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

None

### 发生了什么？

重现步骤：

1. 启动 Halo 之后更新 name 为 system 的 configMap 资源。
[code]

2. 重启 Halo，查询 system 的 configMap

[code]

/kind improvement
/milestone

[2022-08-04 01:20] xiaodu33603 commented on #2147
好了，系统语言的原因

[2022-08-04 01:20] #2147 closed

[2022-08-04 02:35] ruibaby commented on #2298
/close

已经在 https://github.com/halo-dev/halo/pull/2299 和 https://github.com/halo-dev/halo-admin/pull/593 中实现。

[2022-08-04 02:35] #2298 closed

[2022-08-04 03:01] 129duckflew commented on #2283
我是通过halo admin端上传到又拍云，然后在又拍云中删除了文件，回到admin端  对应的附件已经无法删除了

[2022-08-04 04:22] JohnNiang opened #2305 "优化：简化 Reconciler 注册逻辑"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性

目前我们每写一个 Reconciler，都需要在 ExtensionControllerConfiguration 中注册对应的 Controller Bean，这样会导致该配置文件随 Reconciler 的增加不断增长。

https://github.com/halo-dev/halo/blob/ebecef89c651fa1e7fddc0d0852cfc477f0c4d8a/src/main/java/run/halo/app/config/ExtensionConfiguration.java#L63-L102

我的方案：
- 通过 `@Component` 注解将需要运行的 Reconciler 标记为 Bean
- 在 ExtensionControllerConfiguration 获取

[2022-08-04 04:42] JustinLiang522 commented on #2283
@129duckflew 谢谢你的回复，刚刚我又试了一下，在删除单个文件时，对应文件会在halo消失，但是同时删除多个文件时因为在删除第一个文件时抛出了异常，其它文件就不能正常删除。删除抛出异常的代码可以解决该问题，但是不知道这样修改的话是否合理？

[2022-08-04 06:09] JohnNiang commented on #2294
/close

This issue has been fixed by #2300

[2022-08-04 06:09] #2294 closed

[2022-08-04 06:12] guqing opened #2306 "新增主题卸载功能"
### Your current Halo version

2.0.0

### Describe this feature

新增主题卸载功能
卸载时：
1. 清理主题相关自定义模型资源
2. 删除主题目录

/milestone 2.0
/kind feature
/assign

[2022-08-04 06:15] guqing opened #2307 "新增自定义模型资源物理删除功能"
### Your current Halo version

2.0.0

### Describe this feature

目前 2.0 ExtensionClient delete 方法只是将资源标记 deletionTimestamp
需要提供一个真实删除自定义模型资源的功能

/milestone 2.0
/kind feature
/assign @JohnNiang

[2022-08-04 07:14] guqing opened #2308 "将数据库驱动依赖修改为 Reactive"
### Your current Halo version

2.0.0

### Describe this feature

目前数据库驱动是阻塞式的，而如果想要发挥出WebFlux的性能需要从 数据访问层 到 controller 都 reactive，建议将驱动改为响应式的

参考：
https://github.com/r2dbc/r2dbc-h2
https://spring.io/projects/spring-data-r2dbc
https://github.com/pgjdbc/r2dbc-postgresql

![image](https://user-images.githubusercontent.com/38999863/182783710-09659a50-9a9d-47f3-bb84-49bfefb641cd.png)

### Additional in

[2022-08-04 07:14] guqing commented on #2307
/area core
/milestone 2.0
/kind feature

[2022-08-04 07:16] JohnNiang opened #2309 "允许自动生成自定义模型数据的名称"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性

我们期望为自定义模型的 metadata 新增 generateName 字段。如果该字段设置，将会自动生成以 generateName 为前缀的随机名称。

自定义模型数据配置样例如下：

[code]

最终生成的数据如下：

[code]

### 附加信息

/area core
/milestone 2.0
/kind feature
/assign

[2022-08-04 07:22] guqing opened #2310 "提供 Reconciler 淘汰策略机制"
### Your current Halo version

2.0.0

### Describe this feature

目前 Reconciler 注册到 DefaultDelayQueue 中，执行失败会重新入 queue，当一个 Reconciler 执行几次都失败后会延长下次执行的时间，如果当失败的 Reconciler 多起来会导致积压，或许可以提供淘汰策略来减轻内存压力，比如失败一定次数就从 queue 中淘汰之类

### Additional information

/kind improvement
/milestone 2.0
/area core
/assign @JohnNiang

[2022-08-04 07:28] guqing commented on #2293
/close

[2022-08-04 07:52] JohnNiang opened #2311 "新增 PATCH 接口以部分更新自定义模型"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性

目前，我们已经有了 GET、POST、PUT 和 DELETE 接口，目前还缺失 PATCH 接口用于更新自定义模型数据的部分资源。

目前我们期望能够达到两种 PATCH 的方式：[JSON Patch](https://datatracker.ietf.org/doc/html/rfc6902) 和 [JSON Merge Patch](https://datatracker.ietf.org/doc/html/rfc7386)，例如：

[code]

和

[code]

### 附加信息

#### References

- https://datatracker.ietf.org/doc/html/rfc6902
- https://datatracker.ietf.org/doc/html

[2022-08-04 07:53] JohnNiang commented on #2311
/area core
/kind feature
/milestone 2.0
/priority important-soon

[2022-08-04 08:07] JohnNiang commented on #2308
/priority important-longterm

[2022-08-04 08:21] JohnNiang commented on #2304
系统默认配置建议不做任何变更，即使变更了也会被重置。建议系统默认配置 ConfigMap name 设置为 system-default。如果用户需要修改系统配置，则新创建一个名为 system 的 ConfigMap 来存储用户自定义配置。系统最终配置为用户自定义配置 Merge Patch 系统默认配置的结果。

[2022-08-04 09:03] 1456858781 opened #2312 "数据从H2迁移到Mysql后，使用Mysql作为数据库，重新打开博客文章数据都不见了"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

就是我想把H2数据库转为Mysql数据库，作为后续数据存储，但是重新部署后，一些配置数据保存了，但是文章数据不见了，但是数据库里面存在。

### 相关日志输出

_No response_

### 附加信息

_No respo

[2022-08-04 10:02] ruibaby commented on #2312
请提供完整复现步骤，根据当前的信息无法判断出是哪里出了问题。

/kind support
/triage needs-information

[2022-08-04 10:16] 1456858781 commented on #2312
找到问题了，数据迁移时，posts表遗漏了

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月4日(星期四) 晚上6:02
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nb

[2022-08-04 11:31] ruibaby commented on #2312
/close

[2022-08-04 11:31] #2312 closed

[2022-08-04 11:38] ruibaby opened #2313 "提供插件卸载的能力"
### 你当前使用的版本

next

### 描述一下此特性

支持插件卸载。

[RFC插件卸载](https://github.com/halo-dev/rfcs/blob/main/plugin/pluggable-design.md#插件卸载)

还需要考虑以下几点：

- 卸载之后移除插件提供的自定义模型。
- 插件产生的数据是否提供可清理选项，默认不清理。

### 附加信息

/kind feature
/milestone 2.0
/area core
/area admin

[2022-08-05 02:07] JustinLiang522 commented on #2283
还有一种方法是根据status_code的值处理，如果返回status_code值为404则提示附件不存在或已经被删除。我想尝试用这种方案来修这个bug，请问是否可行？@ruibaby

[2022-08-05 03:09] rookiehander opened #2314 "图片能支持分类不？"
### 你当前使用的版本

_No response_

### 描述一下此特性

图片支持分类，不仅仅根据后缀来分。
比如：我的图片和平时的博客分开。

### 附加信息

_No response_

[2022-08-05 05:08] ruibaby commented on #2314
你说的应该是附件。可以跟踪一下这个 issue：https://github.com/halo-dev/halo/issues/1712

/kind feature
/triage duplicate

[2022-08-05 07:32] ruibaby commented on #2283
@JustinLiang522 可以，但是需要考虑一下批量删除的情况。另外，可能也得处理一下其他云存储。

[2022-08-05 08:54] JustinLiang522 commented on #2283
/assign

[2022-08-05 09:03] liuzhihang opened #2316 "文章划词评论"
### 你当前使用的版本

1.5

### 描述一下此特性

评论模块能否支持划词评论、段落评论，类似于语雀、notion、infoQ 等，可以直接选中一段文字，然后进行评论。

同时其他人也可以看到有人对这段内容进行了评论。

### 附加信息

<img width="901" alt="image" src="https://user-images.githubusercontent.com/26057042/183042493-0857ebca-8ceb-4c63-bfc8-66a74b7da9ec.png">
<img width="564" alt="image" src="https://user-images.githubusercontent.com/26057042/183042609-74ca2a86-cdaf-451a-ba75-295d17c8ceb7.png"

[2022-08-05 12:10] FyHoly123 opened #2318 "存在远程命令执行漏洞"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

只测试了一个版本

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在Halo后台登录后可通过某接口在固定目录上传任意文件，之后通过某接口将文件移动到系统其他位置。之例如覆盖Linux crontab用户文件获取服务器权限。

### 相关日志输出

_No response_

### 附加信息

[2022-08-05 13:05] ruibaby commented on #2318
感谢反馈，但根据你提供的信息（`只测试了一个版本`、`某接口`），我们无法得知这个漏洞的具体版本和具体接口。如果是为了防止提前披露漏洞信息，请根据我们的 [SECURITY.md](https://github.com/halo-dev/halo/blob/master/SECURITY.md) 说明提交。

[2022-08-05 13:06] ruibaby commented on #2318
/triage needs-information

[2022-08-05 13:09] ruibaby commented on #2316
/kind feature

[2022-08-05 14:28] FyHoly123 commented on #2318
相关漏洞信息已发送邮件，期待halo官方的尽快回复

[2022-08-06 06:20] Ritoom commented on #2103
这个问题和我很相似，我之前用Caddy 1.x做的代理，老版本配置文件里好像有配置/upload/路径的代理，把这个去掉重启Caddy就好了😥

[2022-08-07 10:03] haiCheng-76 commented on #2270
使用docker部署时遇到问题，控制台信息如下图所示
![](https://s3.bmp.ovh/imgs/2022/08/07/c1823eb384695498.png)

[2022-08-09 04:15] ruibaby commented on #2314
如果没有后续动态，我将关闭此 issue。

/close

[2022-08-09 04:15] #2314 closed

[2022-08-09 04:19] ruibaby commented on #2291
已经在 https://github.com/halo-dev/halo-admin/pull/594 和 https://github.com/halo-dev/halo/pull/2302 中实现。

/close

[2022-08-09 04:46] ruibaby commented on #2318
如果没有后续动态，我将关闭此 issue。

/close

[2022-08-09 04:46] #2318 closed

[2022-08-09 12:53] JohnNiang commented on #2291
目前仅完成了本地文件上传的方式进行主题安装吧，远程链接下载方式安装还未实现。

[2022-08-09 13:20] ruibaby commented on #2291
确实，先 reopen。远程下载的方式需要讨论一下

/reopen

[2022-08-10 07:04] ajieOwO commented on #1037
我也遇到了同样的问题，出现`Authentication failure: [The one-time token does not exist]`报错并无法备份和下载备份文件（包括整站备份、数据导出和markdown导出）。
经排查，我遇到此问题是由于之前用另一个用户`www`运行了Halo，在/tmp路径下创建了与备份相关的同名文件夹halo-backup、halo-backup-markdown、halo-data-export。
现在我在用户名`ajiebox`下运行Halo，原有备份文件夹所属用户为`www`，且其它用户无读取写入权限。将halo-backup、halo-backup-markdown、halo-data-export删除，或更改用户组为运行Halo的用户组即可。
建议每一个Halo实例都初始化一个随机数，并将此随机数追加在备份导出文件夹名称中，这样在同一台服务器

[2022-08-10 07:08] hexWars opened #2320 "附件无法上传非图片文件"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://sehnsucht.top/

### 发生了什么？

使用的是七牛云在线存储,Nginx反向代理,JDK使用的是11,不过在服务器上装了两个JDK版本(使用了JDK11就应该没问题吧)

重启服务器和halo后还是一样,图片可以上传但是其他类型文件无法上传

在[论

[2022-08-10 07:46] JohnNiang commented on #1037
Hi @ajieOwO ，有没有可能 token 参数并未携带过去呢？

[2022-08-10 07:50] ajieOwO commented on #1037
我排查到临时文件夹权限问题，并删除原有属于另一个用户的文件夹后，就已经能够正常备份，于是就此作罢，没有再理会其它方面的问题

[2022-08-10 08:02] JohnNiang commented on #2320
Hi @hexWars，从你提供的链接无法下载日志，确认一下的日志信息是你所遇到的么：

从[论坛](https://bbs.halo.run/d/2016/14)中看到日志信息如下：

[code]

[2022-08-10 08:10] JohnNiang commented on #2320
刚刚通过你提供的链接又可以下载了，查看到关键日志信息如下：

[code]

[2022-08-10 08:29] hexWars commented on #2320
我重新弄了一下,应该是这段日志
补充一下,我上传的是`spring.log`文件,但是使用七牛云无法上传

[code]

[2022-08-11 09:37] guqing opened #2322 "新增文章模块"
### Your current Halo version

2.0.0

### Describe this feature
文章模块包含：文章 分类 标签 评论

#### 文章模型

文章可用排序策略：创建时间，文章热度，更新时间，最后回复时间

每篇文章对应一个 permalink 规则如下

/permalink/posts/{post-name}

[code]

文章统计相关内容待定

[code]

#### Category 模型

每个分类对应一个 permalink 规则如下：

/permalink/categories/{category-name}

[code]

#### Tag 模型

每个 Tag 对应一个 permalink 规则如下：

/permalink/tags/{tag-name}

[code]

#### 公共模型 Snapshot： 内

[2022-08-11 11:37] ruibaby commented on #2320
/cc @guqing

这似乎和 FilePathDescriptor 有关。

[2022-08-11 11:38] ruibaby commented on #2320
@hexWars 另外从你的日志中看到了不少建立 MySQL 索引错误的异常，可以关注一下。

[2022-08-11 11:41] hexWars commented on #2320
好的我看看,麻烦几位了

[2022-08-11 13:10] guqing commented on #2320
/milestone 1.5.x

[2022-08-14 13:34] ChunelFeng opened #2323 "halo迁移后的数据咨询"
### Your current Halo version

docker latest版本

### Describe this feature

您好，我通过 迁移工具，把原先的内容导出成 *.json文件，然后在另外一台ecs上开启新的 halo docker 。直接导入 *.json 文件后，工作正常。

[code]

但是有个问题，我没有在我本地指定的  /home/chunel/file/.halo 位置，没有生成对应的 .halo文件。

不确定这样下去，如果一周后docker异常重启，是否会保留这周更新的内容？

![image](https://user-images.githubusercontent.com/37905059/184539404-5f2d24cc-fd8a-47b3-9872-3f61e744a68b.png)

### Additional inf

[2022-08-14 13:58] JohnNiang commented on #2323
默认情况下，在 Halo 容器中，Halo 的工作空间目录应该设置为：`/root/.halo`。从你上面的指令来看应该是没有自定义工作空间。

[code]

上面这条命令没有正确映射工作空间目录，如果容器卷被删除后，数据将丢失。不过可以试试下面的命令：

[code]

可参考：
- https://docs.halo.run/getting-started/install/docker

[2022-08-14 13:59] JohnNiang commented on #2323
/kind support

[2022-08-14 14:06] ChunelFeng commented on #2323
已经将本地位置修改为 /root/.halo，并且确认对应位置有该文件的。

这样的话，重启docker，最近的改动就不会丢失了是吧

[2022-08-14 16:25] ruibaby opened #2325 "卸载主题时支持同时删除对应的 ConfigMap 和 Setting 资源"
### 你当前使用的版本

next

### 描述一下此特性

在删除主题确认对话框中可提示勾选删除当前主题的配置信息。

see https://github.com/halo-dev/halo-admin/pull/596#issuecomment-1212011363

/kind feature
/milestone 2.0
/area admin
/assign

### 附加信息

_No response_

[2022-08-15 06:00] JohnNiang commented on #2323
只要你保证本地文件夹：`~/.halo` 中有最新的文件内容，即使删除数据卷后，数据也不会丢。

[2022-08-15 06:30] ChunelFeng commented on #2323
好的哈，感谢。thx

[2022-08-15 06:30] #2323 closed

[2022-08-15 13:34] JohnNiang commented on #2308
目前，mssql 和 mariadb r2dbc driver 暂不支持 r2dbc spec 1.0.0，故我们暂时无法支持。请参考：<https://github.com/spring-projects/spring-data-relational/commit/ee6c2c89b5c433748b22a79cf40dc8e01142caa3>。

不过我们可以持续关注驱动开发动态：<https://jira.mariadb.org/browse/R2DBC-60>。

[2022-08-15 14:57] ruibaby commented on #2322
还需要确认的地方：

1. Post 模型和 Category 模型的 template 字段。

    可以再研究下是否有更好的方式来完成这样的功能。

[2022-08-15 14:58] ruibaby commented on #2322
/cc @halo-dev/sig-halo

[2022-08-15 15:10] ruibaby commented on #2322
也可以通过在 theme.yaml 配置模板，可以加上显示名称，描述，缩略图，模板文件名等字段。如果按照 1.x 的实现方式，那么在后台选择模板的时候是没有可读性的，如：

<img width="681" alt="image" src="https://user-images.githubusercontent.com/21301288/184661082-c55f9332-2896-4f06-aff8-3ea0671edbc3.png">

配置示例：

[code]

[2022-08-17 04:01] JohnNiang commented on #2308
替换 JDBC 至 R2DBC 的配置项的变化：

[code]

我们无需再指定 `driver-class-name`。

/close

[2022-08-17 04:01] #2308 closed

[2022-08-17 06:44] robinoneway commented on #2254
@ruibaby  请问一下，我在内网使用IP:8090访问前端页面和后台都没问题，当我用花生壳做内网穿透，使用域名可以访问到前端页面，但是访问admin后台，就提示“该网页无法正常运作，xxx.com未发送任何数据”，不知道是花生壳的问题，还是我配置有问题？

[2022-08-17 09:06] JohnNiang commented on #2307
/priority critical-urgent

[2022-08-17 12:11] AirboZH commented on #2320
发现在七牛的 [QiniuOssFileHandler:145](https://github.com/halo-dev/halo/blob/f8bd4febb9ee59847e1d199b10f3be7ae1c95320/src/main/java/run/halo/app/handler/file/QiniuOssFileHandler.java#L145-L152) 行中，如果文件不是图片类型的话就跳过了`setThumbPath`
但是在其他文件存储的handle中（如：本地 [LocalFileHandler:125](https://github.com/halo-dev/halo/blob/f8bd4febb9ee59847e1d199b10f3be7ae1c95320/src/main/java/run/halo/app/handler/file/LocalFileHand

[2022-08-17 12:17] ruibaby commented on #2320
@AirboZH 分析的没错，欢迎提交 PR。

你可以先评论一下 `/assign`。

[2022-08-17 12:29] AirboZH commented on #2320
/assign

[2022-08-18 00:23] zouzhe1 opened #2327 "你们官网文档，用户指南里面竟然没有用户指南，只有个移植。"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://docs.halo.run/user-guide

### 发生了什么？

https://docs.halo.run/user-guide
你们官网文档，用户指南里面竟然没有用户指南，只有个移植。
没有网站用户指南操作讲解，没有后台各功能介绍。

### 相关日志输出

_No respo

[2022-08-18 00:24] zouzhe1 commented on #2327
我甚至连后台登录地址说明都没有找到！！

[2022-08-18 01:15] OnlyTL commented on #2327
<img width="1913" alt="image" src="https://user-images.githubusercontent.com/43626236/185270658-d563755f-f247-42f8-8e8b-213fa9f45ce0.png">

是啊 ，什么都没有

[2022-08-18 02:39] ruibaby commented on #2322
Post Category Tag 的模型中需要有 `spec.slug` 字段作为访问路径的 slug。不能使用 `metadata.name`，因为文章别名是可能发生变动的的，`metadata.name` 不行。

[2022-08-18 02:40] ruibaby commented on #2322
在 https://github.com/halo-dev/halo/pull/2326/commits/660ab8396b05aa4744f9982e6280fef1e805f87c 中已增加。

[2022-08-18 04:20] ruibaby opened #2329 "完善站点设置功能"
### 你当前使用的版本

next

### 描述一下此特性

站点系统设置功能，包含针对于**站点**的可配置项。

包括但不限于以下配置：

- 基本信息
    - 站点标题
    - 站点副标题
    - Logo
    - Favicon
- 成员设置
    - 是否公开注册
    - 新用户验证方式
    - 默认角色
- 文章设置
    - 列表排序方式
    - 列表显示条数
    - 新文章审核（成员发布文章是否需要管理员审核）
- SEO 设置
    - 是否屏蔽搜索引擎
    - 站点关键词
    - 站点描述
- 评论设置
    - 启用评论功能
    - 新评论审核
    - 是否仅限注册用户评论
- 代码注入
    - 全局 head
    - 内容页 head（包含文章和自定义页面的详情页）
    - 底部

### 附加

[2022-08-18 04:20] ruibaby commented on #2329
/area core
/area admin

[2022-08-18 07:17] JohnNiang opened #2330 "附件功能设计"
### 你当前使用的版本

2.0.0-SNAPSHOT

### 描述一下此特性
---
## 功能要求

1. 附件管理主要包含附件本身和附件上传策略。针对附件本身，需要考虑到附件的分组和标签，附件的分组是树形结构，类似于文件夹形式。
2. 关于附件的访问，我们统一通过固定链接访问，如：<https://halo.run/uploads/favicon.ico>
   。我们不针对分组进行单独生成访问路径，如：<https://halo.run/uploads/photos/mountain.jpg>。
3. 我们需要记录每个附件的上传者，上传策略。
4. 文章附件的引用问题：每篇文章可引用多个附件，每个附件可被多个文章引用。故我们可定时扫描文章（无论是已发布还是草稿）的附件引用情况，并保存在“文章-附件-绑定”关系中。
5. 附件允许自定义展示名称，并且可根据展示名称搜索。
6. 根

[2022-08-18 08:06] #2283 closed

[2022-08-18 08:36] JohnNiang commented on #2307
# 垃圾回收器设计

目前 Extension 的删除仅仅是设置 `metadata.deletionTimestamp` 而已，并不会物理删除
Extension。之所以这样设计，主要是为了提供一个删除“后处理”逻辑。

实现垃圾回收器的前提是 finalizer 机制，有些资源需要等待系统额外处理完一些事情后，才能物理删除对应的数据，例如：删除某资源前，清理一些本地文件。

## Finalizer 机制

我们将在 `metadata` 中添加一个新的成员：`finalizers`，例如：

[code]

垃圾回收器处理序列图如下：

![image](https://user-images.githubusercontent.com/16865714/185350091-b854339c-bf75-4d08-9b24-0a7b53c4fe0c.png)

Finalization

[2022-08-18 09:33] ruibaby commented on #2330
可能不只是文章和附件可以绑定，这个特性主要让使用者知道附件在哪里被引用到。其他的可能还有自定义页面、分类的封面图、系统的设置项（ConfigMap），主题的设置项（ConfigMap）

[2022-08-18 10:21] JohnNiang commented on #2330
ConfigMap 这种绑定关系似乎不是很好处理。如果 ConfigMap 某个配置项的值是 JSON 字符串，我们也许要建立绑定关系么？例如：

[code]

[2022-08-19 01:04] JavaHackSen opened #2334 "502 Bad Gateway"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://91biu.work

### 发生了什么？

502 Bad Gateway

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-08-19 01:51] JohnNiang commented on #2334
Duplicate with #1743
/triage duplicate

[2022-08-19 01:58] JavaHackSen commented on #2334
请问我是通过docker部署的，1、那这个【database-platform: org.hibernate.dialect.MySQL5InnoDBDialect】要怎么添加啊
2、并没有安装数据库，难道是需要安装个MySQL吗？

[2022-08-19 02:00] JohnNiang commented on #2334
如果能够提供一个复现步骤，可以方便大家排查这个问题。我们并不知道你之前是如何操作的，配置文件具体内容是什么，在什么操作系统上运行的。参考了哪些文档。

[2022-08-19 02:04] JavaHackSen commented on #2334
我直接通过这种方式【$ docker pull halohub/halo:1.5.4
$ docker run -it -d --name halo -p 8090:8090 -v ~/.halo:/root/.halo】
也并没有做别的操作，昨天突然就502了，我并没碰过配置文件
云服务器centos上面

[2022-08-19 02:07] JavaHackSen commented on #2334
![image](https://user-images.githubusercontent.com/37896126/185526982-4b3d12a0-6840-4ada-a141-5e83571a8db7.png)
文件夹下并没有见有【application.yaml】，是要手动加一个吗？

[2022-08-19 02:12] JohnNiang commented on #2334
刚刚我在本地用以下命令运行了一下，没有出现以上问题：

[code]

运行结果如下：

[code]

确认一下是否有配置过任何环境变量。

[2022-08-19 02:19] JavaHackSen commented on #2334
我只是记得前两天改过一篇文章元数据的【enable_copy和enable_read_limit】，别的环境变量，也没有动过~

[2022-08-19 02:20] JohnNiang commented on #2309
/priority important-soon

[2022-08-19 02:24] JohnNiang commented on #2334
你可以试着更新一个目录重新运行一下 Halo，看看是否还会出现同样的问题。

- 如果正常运行，可能是你的数据库文件有问题
- 如果未正常运行再进行下一步排查

[2022-08-19 02:42] ruibaby commented on #2334
建议提供一下这个 logs 目录的日志文件，你上面提供的日志并不是很完整。

[2022-08-19 02:47] JavaHackSen commented on #2334
[spring (1).log](https://github.com/halo-dev/halo/files/9378831/spring.1.log)

[2022-08-19 04:39] JavaHackSen commented on #2334
我在新目录重新拉去一个是没有的问题正常运行，那要是数据库文件有问题，该怎么办呢？

[2022-08-19 05:33] JavaHackSen commented on #2334
[spring.log.2022-08-18.0.txt](https://github.com/halo-dev/halo/files/9379402/spring.log.2022-08-18.0.txt)
这是昨天开始出现问题时候的日志~

[2022-08-19 06:34] liuzhihang opened #2335 "图片自动上传并转换外链地址"
### 你当前使用的版本

1.5

### 描述一下此特性

#### 背景

在本地编辑器编写文章时，图片使用的图床或者 github 保存的，格式是

[code]

一般会一文多发，所以不会直接在 halo 后台编写，这个图片也就是在图床保存的。

#### 结果

需要讲文章复制到 halo 编辑器时，会读取这个图片，并且上传到 halo 或者指定的图床上，然后自动更换地址。

目前 掘金和 CSDN 都是使用的这种方式，上传到自己的机器上。从而保证图不会莫名其妙的挂了。

### 附加信息

下面是 CSDN 的例子。复制过去会先转换外链。然后变为自己的链接。

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/26057042/185557555-edfb7ea6-e37d

[2022-08-19 07:18] JavaHackSen commented on #2334
大佬们~请问还有救吗😭

[2022-08-19 07:48] JohnNiang commented on #2334
参考一下：https://bbs.halo.run/d/2717-errorh2/4 ，尝试先自己解决一下呢。

[2022-08-19 07:53] JohnNiang commented on #2335
/kind feature
/area core

[2022-08-19 07:58] #2320 closed

[2022-08-19 15:31] qq547176052 commented on #2295
后台菜单管理功能 可以安排上不

[2022-08-19 16:21] ruibaby commented on #2295
如果你指的是后台侧边菜单的管理功能，那么我们是没有计划支持的。后台菜单可通过插件添加，也可以通过用户组动态配置。

[2022-08-21 07:55] daifiyum opened #2338 "对象存储内的文件在控制台删除后，halo后台已在腾讯云删除附件不会同步删除，且无法手动删除"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

任意版本

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在halo后台采用了腾讯云的对象存储作为附件的存储位置，但如果在腾讯的控制面板上删除了这个存储桶或桶内图片，那么在halo后台的附件管理里还会有对象存储的文件，只不过都无法显示或打开，这些已在腾讯控制面板删除的文件在halo附件管理内无法删除

#

[2022-08-21 15:47] ruibaby commented on #2295
当前已经在 https://github.com/halo-dev/halo/pull/2303 和 https://github.com/halo-dev/halo-admin/pull/595 中完成普通链接类型的菜单管理。等待 https://github.com/halo-dev/halo/pull/2326 和 https://github.com/halo-dev/halo-admin/pull/599 完成之后将对关联类型的菜单做适配。

[2022-08-21 15:50] ruibaby commented on #2335
可以在编辑器监听粘贴事件，识别并展示非本站地址的图片链接。后端可能需要支持通过外部 image 链接添加附件的功能。

/area admin

[2022-08-21 15:53] ruibaby commented on #2338
/kind bug

https://github.com/halo-dev/halo/issues/2283

无法删除的问题应该在 https://github.com/halo-dev/halo/pull/2317 中处理了七牛云和又拍云，可以提供一下删除失败的日志吗？

[2022-08-21 15:53] ruibaby commented on #2338
/triage needs-information

[2022-08-21 15:58] JohnNiang commented on #2338
可参考
- https://github.com/halo-dev/halo/issues/2283
- https://github.com/halo-dev/halo/pull/2317
- https://cloud.tencent.com/document/product/436/7730

修复此问题。

[2022-08-21 17:22] AirboZH commented on #2246
看了一下代码想了一个不成熟的解决方法：
[run.halo.app.service.impl.BaseCommentServiceImpl#updateStatus](https://github.com/halo-dev/halo/blob/5d263d0b58400439c5c881adbaa8ba689b3a1ff0/src/main/java/run/halo/app/service/impl/BaseCommentServiceImpl.java#L374-L389)中也 `new CommentReplyEvent`
然后在[run.halo.app.listener.comment.CommentEventListener#handleCommentReplyEvent](https://github.com/halo-dev/halo/blob/5d263d0b584004

[2022-08-22 02:17] ruibaby commented on #2246
@AirboZH 整体思路没有问题。但是得注意一下，在 updateStatus 这个方法需要先判断是不是待审核状态，如果是，才进行后面的逻辑。否则如果管理员将回收站状态的评论转为发布状态的时候可能也会发送邮件。

[2022-08-22 02:22] AirboZH commented on #2246
@ruibaby 好的谢谢，确实是我忽略的一个点，那我先认领了。
/assign

[2022-08-22 06:53] manction opened #2339 "图库和日志页面的每页显示条数设置没有回显"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://www.manction.com

### 发生了什么？

Halo后台-页面-所有页面-独立页面-图库页面/日志页面-管理-页面设置，设置每页显示条数后，提示保存成功，再次打开页面设置，之前设置的数量没有回显，导致用户不知道之前的设置参数。

![Snap2](https://u

[2022-08-22 07:58] JohnNiang commented on #2339
/kind improvement
/area admin
/milestone 1.5.x

[2022-08-22 19:11] qq547176052 opened #2341 "代码运行不起来"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

编译失败

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

我使用以下命令不能使halo博客运行
[code]
![image](https://user-images.githubusercontent.com/26636842/185999280-7bf12438-1c14-40a6-a6c8-18d

[2022-08-23 01:02] JohnNiang commented on #2341
日志截图不够完整，建议直接粘贴 `~/.halo/logs/spring.log` 到这里。

[2022-08-23 01:02] JohnNiang commented on #2341
/kind support

[2022-08-23 04:57] zjy4fun commented on #2341
**需要将 jdk 版本设置为 11**
在 IDEA 中更改：
1. File -> Settings -> Build,Execution,Deployment -> Build Tools -> Gradle

![gradle-jdk11](https://user-images.githubusercontent.com/106857035/186072928-d65b09e7-971e-43f1-8e12-2f1b6020feb2.png)

2. File -> Project Structure -> Project
![project-jdk11](https://user-images.githubusercontent.com/106857035/186073010-713a31df-11fa-47e1-a24a-fe75ffe50490.png)

3. Run D

[2022-08-23 07:52] ruibaby opened #2342 "完善默认初始化的系统角色"
### 你当前使用的版本

next

### 描述一下此特性

完善默认初始化的系统角色，当前只有 super-role（超级管理员），期望有以下角色。

1. 超级管理员，包含所有权限。
2. 管理员，包含一般的管理权限。无某些涉及到系统核心的权限（如：插件停止和卸载等）。
3. 编辑，包含对内容模块资源的创建权限。
4. 访客，仅包含对个人账号的管理权限。

需要注意的是，系统初始化的系统角色不允许修改和删除，但可以基于以上权限创建新的权限。

### 附加信息

_No response_

[2022-08-23 10:47] JohnNiang commented on #2342
/kind improvement
/area core
/milestone 2.0

[2022-08-23 13:40] qq547176052 opened #2344 "让代码在docker容器运行 而 不是jar"
### 你当前使用的版本

1.54

### 描述一下此特性

代码在docker容器运行

### 附加信息

Dockerfile 文杰
[code]
上面的 Dockerfile  已经完成 jdk11 开发环境 并挂载 halo代码到docker容器
可是我不知道 怎么让代码跑起来

[2022-08-23 14:19] guqing opened #2346 "新增主题端业务数据查询模型"
### Your current Halo version

2.0.0

### Describe this feature

新增主题端业务数据查询支持，例如：
[code]
https://github.com/halo-dev/rfcs/tree/main/theme#%E4%B8%BB%E9%A2%98%E6%B8%B2%E6%9F%93

### Additional information

/area core
/milestone 2.0
/kind feature
/assign

[2022-08-24 13:00] #2246 closed

[2022-08-24 15:22] ruibaby commented on #2346
似乎还缺少 Menu 模型的查询模型。

[2022-08-25 07:44] ruibaby opened #2349 "文章预览功能"
### 你当前使用的版本

next

### 描述一下此特性

提供生成文章预览链接的功能。

/area core
/area admin
/milestone 2.0
/kind feature

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/21301288/186605705-8a772e6f-5e39-44ae-892b-a26e965c8e07.png">
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/21301288/186605766-c4a9fefa-00cd-45de-8f36-368bd3935a11.png">

### 附加信息

_No respo

[2022-08-28 07:43] itlubber opened #2358 "QQ邮箱SMTP的账号为QQ号码而非QQ邮箱地址，前端表单邮箱格式验证无法通过"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

halo 1.5.4 首页/系统/博客设置 页面中的 SMTP服务 发信设置 表单中的 邮箱账号

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

smtp邮箱账号无法设置为qq号码，前端表单验证为邮箱格式，无法通过格式验证提交表单

### 相关日志输出

_No response_

### 附加信息

[2022-08-28 12:16] JohnNiang commented on #2358
你可以试试 `xyz@qq.com`。而不是 `xyz`。

参考：
- https://service.mail.qq.com/cgi-bin/help?subtype=1&&id=28&&no=334

[2022-08-29 05:10] ruibaby commented on #2358
/kind support

[2022-08-30 02:13] mcsfsoft commented on #2258
附议: 我觉得用命令写md文档是件很浪漫的事,多了一堆附加的操作是在抛弃md的特性

[2022-08-30 03:50] comandowang opened #2360 "打印sql的参数"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

1.5.4

### What database are you using?

MySQL 5.7

### What is your deployment method?

Fat Jar

### Your s

[2022-08-30 05:52] ruibaby opened #2362 "登录支持保留登录状态"
### 你当前使用的版本

next

### 描述一下此特性

当前使用 Session 的方式进行接口授权，但在关闭浏览器之后会失效。期望支持勾选保留登录状态的选项。

/area core
/area admin
/kind feature
/milestone 2.0

### 附加信息

_No response_

[2022-08-30 07:52] comandowang opened #2363 "可以开放后台管理的源码吗"
### 你当前使用的版本

1.5.4

### 描述一下此特性

后台管理的代码都是编译后的吧, 请问能有编译前或者压缩前的源码可以看么

### 附加信息

_No response_

[2022-08-30 07:58] #2363 closed

[2022-08-30 11:49] guqing opened #2364 "主题模板文件支持动态路由规则"
### Your current Halo version

2.0.0

### Describe this feature

允许通过配置修改主题模板路由规则
例如，允许文章详情模板 post.html 路由为以下几种访问规则
/archives/{slug}
/archives/{name}
/?p={name}
/{year}/{month}/{slug}
/{year}/{slug}
/{year}/{month}/{day}/{slug}

### Additional information

/kind feature
/milestone 2.0
/area core
/assign

[2022-08-30 12:41] JustinLiang522 opened #2366 "无法设置日志页面每页显示条数"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

latest master

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

http://jiayuanliang.xyz

### 发生了什么？

页面->所有页面->独立页面->日志页面->管理->页面设置
![image](https://user-images.githubusercontent.com/73240868/187438791-a40

[2022-08-31 01:35] ruibaby opened #2367 "无法通过 CategoryFinder 获取分类数据"
### 你当前使用的版本

next

### 描述一下此特性

<img width="1277" alt="image" src="https://user-images.githubusercontent.com/21301288/187573360-9c3a9108-69ec-4be7-afc4-2bf68b771123.png">

模板语法：

[code]

结果：

[code]

<img width="906" alt="image" src="https://user-images.githubusercontent.com/21301288/187573391-a0d3ac57-9d14-4628-92af-37a900bf82eb.png">

/kind bug
/milestone 2.0

### 附加信息

_No response_

[2022-08-31 01:35] ruibaby commented on #2366
/triage duplicate

https://github.com/halo-dev/halo/issues/2339

[2022-08-31 01:38] guqing commented on #2367
/assign

[2022-08-31 01:58] guqing commented on #2367
你图片所示都是一级分类吗
应该并不是没有数据，而是CategoryVo没有toString方法所以显示不出属性来，可以取值试一下

[2022-08-31 02:04] guqing commented on #2367
我添加了 `toString` 注解后显示都正常，之前没加和你图示一样，应该不是功能问题
<img width="1698" alt="image" src="https://user-images.githubusercontent.com/38999863/187576425-674bc8df-87df-40fa-a95a-59544b46174a.png">
可先在 run.halo.app.theme.finders.vo 包下对所有 vo 添加 `@ToString` 注解 继承了 父类的则添加 `@ToString(callSuper = true)` 然后继续推进

[2022-08-31 02:07] JustinLiang522 commented on #2366
抱歉可能是我没有描述清楚。我在issue里指的是，在设置显示了条数并保存后没有效果，也就是修改成每页5条后，显示还是按照每页10条显示，并没有改成每页5条。[#2339](https://github.com/halo-dev/halo/issues/2339) 里提到的是设置时没有回显的这个功能，两者应该不能算同一个问题。

[2022-08-31 02:23] hugeleaf opened #2368 "在单个分类所属文章页面页面变量中，无法获取子分类中的文章"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

[#1567](https://github.com/halo-dev/halo/pull/1567) 中描述了类似的使用场景。
在单个分类所属文章页面页面变量中，无法获取子分类中的文章，有趣的是分类下的文章个数是对的。

举个例子：
[cod

[2022-08-31 02:27] guqing commented on #2368
/kind improvement
/area core
/milestone 1.5.x

[2022-08-31 02:27] guqing commented on #2368
/kind good-first-issue

[2022-08-31 02:30] guqing commented on #2368
hi @hugeleaf，感谢你对此提出 issue，你愿意参数与修复它吗，如果你感兴趣，可以回复 `/assgin` 认领 🥳

[2022-08-31 02:53] guqing commented on #2368
该问题的改进办法：
模板指令使用到的地方为：
run.halo.app.core.freemarker.tag.PostTagDirective
<img width="722" alt="image" src="https://user-images.githubusercontent.com/38999863/187580341-17663898-d492-4599-8987-6cf77df2d6c1.png">

需要将 run.halo.app.service.impl.PostCategoryServiceImp下的
- listPostBy(String slug, PostStatus status)
- listPostBy(String slug, Set<PostStatus> status)
- listPostBy(Integer categoryId, Set<P

[2022-08-31 02:57] hugeleaf commented on #2368
太抱歉了😢，711板砖党，用咱们工程也是因为没空自己写。话说要是Golang工程我可能抽点时间就直接提PR了，Java都10多年不碰了。

再次抱歉，祝这个伟大工程越来越好。

[2022-08-31 03:21] ruibaby commented on #2367
应该并不是没有数据，而是CategoryVo没有toString方法所以显示不出属性来，可以取值试一下

直接遍历确实没有问题。

/remove-kind bug

[2022-08-31 03:33] ruibaby commented on #2366
/reopen

[2022-08-31 03:34] ruibaby commented on #2366
/remove-triage duplicate

[2022-08-31 03:35] ruibaby commented on #2367
/close

[2022-08-31 03:35] #2367 closed

[2022-08-31 03:58] fyhkimyon opened #2369 "博客地址配置失效"
### 检查清单

- [x] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.4.13

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

我在使用nginx配置路径转发时将 `http://xxx.com/halo/` 映射到 `http://xxx.xxx.xxx.xxx:8090` 出现了问题
前端使用的是相对路径，除主页外其它资源都访问不到了，于是我尝试在设置中配置路由前缀

[2022-08-31 04:11] ruibaby commented on #2369
目前不支持域名子目录的形式进行代理，推荐使用子域名。

/kind support

[2022-08-31 07:26] ruibaby opened #2370 "优化后台的数据交互相关体验"
### 你当前使用的版本

next

### 描述一下此特性

/kind improvement
/milestone 2.0
/assign
/area admin

目前各个页面的列表数据是没有加载状态的，仅仅只有空状态。期望得到以下优化：

1. 提供体验良好数据加载状态。
2. 优化 CLS 问题。
3. 异常处理。

### 附加信息

_No response_

[2022-08-31 08:44] ruibaby opened #2371 "后端支持代理访问 admin 页面"
### 你当前使用的版本

next

### 描述一下此特性

后端支持代理 admin 的构建资源，提供 admin 的路由。

可能需要考虑的问题：

1. 是否需要通过 CI 在发布 Halo 版本的时候自动构建 admin。
2. 是否需要将 admin 的构建资源托管到 Halo 主项目。
3. 考虑到目前支持多用户和多角色，admin 这个单词是否还合理。可以考虑使用 console 等单词。

### 附加信息

_No response_

[2022-08-31 08:45] ruibaby commented on #2371
/area core
/area admin
/milestone 2.0

[2022-08-31 08:45] ruibaby commented on #2371
/kind feature

[2022-08-31 09:05] JustinLiang522 commented on #2366
/assign

[2022-08-31 09:06] #2358 closed

[2022-08-31 12:46] JustinLiang522 commented on #2366
我发现导致问题的原因是，代码中通过`options.journals_page_size`对页面大小赋值，然而`options`是数组类型，所以无法这样进行赋值。我想到了两种修改方法：
第一种是将`options.journals_page_size`替换成`options.find(item=>item.key=='journals_page_size').value`；
第二种是将获取`options`的方法由`listAll()`替换成`listAllWithMapView()`
不知道那种方法更合适，或者说是否还有其它更好的方法？

[2022-08-31 13:34] ruibaby commented on #2366
/kind bug

[2022-08-31 13:36] ruibaby commented on #2366
@JustinLiang522 可以考虑使用 `apiClient.option.listAsMapViewByKeys` 方法，仅获取 `journals_page_size` 和 `journals_title` 设置项的值。这个方法返回的是一个对象，可以直接和表单绑定。

PR welcome~

[2022-08-31 13:36] ruibaby commented on #2366
可以参考：https://github.com/halo-dev/halo-admin/blob/bbd810d308358acab12c15b6209a71caa4f13345/src/store/modules/option.js#L33

[2022-08-31 15:49] Elvin-zl opened #2372 "admin 上传插件建议提供同时生成压缩图的功能 ， 否则多图情况下体验不好"
### 你当前使用的版本

1.4.5

### 描述一下此特性

上传插件建议提供同时生成压缩图的功能

### 附加信息

_No response_

[2022-09-01 11:03] guqing commented on #2342
/assign

[2022-09-01 11:03] guqing commented on #2304
/assign

[2022-09-01 11:05] guqing commented on #2329
/assign

[2022-09-01 15:37] 1379 opened #2373 "主题开发：layout应该怎么使用"
### Your current Halo version

latest

### Describe this feature

我看到halo的默认主题里有使用到layout，这应该是一种组件化的能力？
但是我没在halo的主题开发文档里找到具体的使用方式。
所以想问下，layout具体是什么？应该怎么使用？以及它和公共宏模板的区别是什么？

### Additional information

_No response_

[2022-09-01 15:56] #2366 closed

[2022-09-01 15:56] #2339 closed

[2022-09-02 09:33] guqing opened #2376 "主题模板代码片段注入"
### Your current Halo version

2.0.0

### Describe this feature

主题模板渲染时
- 需要注入全局head
- 内容页 head
- 全局 footer
- 文章页需要注入文章关键词等seo meta

### Additional information

/area core
/milestone 2.0
/kind feature
/assign

[2022-09-02 11:53] ruibaby commented on #2376
`全局 footer` 可能不能通过这种方式注入，得主题作者自行调用，因为我们不知道具体放在哪个位置。一般我们对 head 标签部分进行注入即可。

[2022-09-02 11:54] ruibaby commented on #2372
你指的是我们 2.0 版本吗？1.x 我们目前是有压缩图的。

[2022-09-02 11:54] ruibaby commented on #2372
/triage duplicate

[2022-09-02 11:55] ruibaby commented on #2372
/remove-triage duplicate
/triage needs-information

[2022-09-02 12:31] Elvin-zl commented on #2372
嗯 我看到服务器上是有缩略图的,但是有一些问题

目前的使用场景是我平时写技术文章还好，但写游记之类的多图 （40+张图片）文章,对图片的要求是不大幅降低图片质量的情况下对体积进行压缩

遇到的问题是 : 缩略图不能直接使用在文章中，因为缩略图的质量太差了

我目前解决方案是 : 自己写了个静态页面,先把图片批量压缩好,再进行上传(地址 : http://image-compress.buukle.top/image-compress/index.html)
这样一张图片压缩完后从4m到300K,质量影响不大,加了cdn后,基本满足手机用户查看的需求 (文章地址 : https://i.buukle.top/archives/gubeishuizhen)

目标效果是 : 在halo后台设置中有一个或几个配置参数,能让用户配置直接上传图片时的压缩参数,是否压缩,
这样用户直接上传图片的时候

[2022-09-02 12:32] Elvin-zl commented on #2372
本来想down下前端代码自己引入一下compress , 又担心和主版本差太远,不好跟着进行升级 ,寻思能否在官方支持一下这种需求

[2022-09-02 12:39] ruibaby commented on #2372
1.x 暂时不打算支持这样的功能了。可以关注一下 2.0，我们会考虑是否提供图片上传的前置处理器，这种需求就可以交给插件来实现了。目前建议参考 https://halo.run/archives/halo-and-webp.html 搭建一个 webp 服务器，可以得到非常好的效果。

[2022-09-02 12:45] Elvin-zl commented on #2372
嗯 希望2.0支持类似功能 能够让用户 在创作的时候用起来更方便 ~
另外ps下 填了问卷 申请加vx没有通过  想加入组织参与一些contribute ,辛苦相关人员查看下申请哈  希望一起参与halo的发展 为halo更好用做贡献~

[2022-09-02 14:43] guqing commented on #2376
是的，需要一个自定义标签，比如<halo:footer/>

[2022-09-03 14:54] xmaigu opened #2378 "SMTP 服务邮箱发送失败,提示：出现未知错误，请检查系统日志"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

版本：1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

版本：1.5.4
数据库：H2 1.4.199 (2019-03-13)
运行模式：production

### 相关日志输出

[code]

### 附加信息

参考了https://www.codeleading.com/arti

[2022-09-05 02:52] JohnNiang commented on #2378
不太明白你的问题是否解决。提供的参考链接似乎已经包含了解决方案。

[2022-09-05 02:56] JohnNiang commented on #2378
/triage needs-information

[2022-09-05 04:00] ruibaby commented on #2372
/remove-triage need-information
/kind feature

[2022-09-05 04:01] ruibaby commented on #2372
/remove-triage needs-information

[2022-09-05 07:35] guqing opened #2379 "新增自定义页面功能"
### Your current Halo version

2.0.0

### Describe this feature

自定义页面同 1.x 相仿，但需要将访问路由根据 slug 挂载到根即没有路由前缀
自定义页面与文章不同，它没有分类和标签

### Additional information

/kind feature
/milestone 2.0
/area core
/assign

[2022-09-06 07:03] jadehh opened #2383 "希望加入文章pdf导出功能"
### 你当前使用的版本

1.5.4

### 描述一下此特性

加入文章pdf导出功能

### 附加信息

_No response_

[2022-09-06 08:04] sugarbeet77 opened #2384 "无法上传主题和更新主题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://blog.sugarbeet.cn/

### 发生了什么？

使用本地安装和本地更新时会报Internal Server Error错误。在本地安装报错后，能在服务器上找到上传的主题文件夹但应该不全，没有在halo后台显示

### 相关日志输出

[code]

### 附加信

[2022-09-06 08:34] ruibaby commented on #2384
/triage needs-information

请问你使用的 JDK 发行版是？

[2022-09-06 08:35] ruibaby commented on #2383
/triage needs-information

能更具体一点描述一下这个功能吗？

[2022-09-06 08:36] sugarbeet77 commented on #2384
11.0.16

openjdk version "11.0.16" 2022-07-19 LTS
OpenJDK Runtime Environment (Red_Hat-11.0.16.0.8-1.el7_9) (build 11.0.16+8-LTS)
OpenJDK 64-Bit Server VM (Red_Hat-11.0.16.0.8-1.el7_9) (build 11.0.16+8-LTS, mixed mode, sharing)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-09-06 09:02] ruibaby commented on #1565
/close

[2022-09-06 09:02] #1565 closed

[2022-09-06 09:03] ruibaby commented on #1565
see https://github.com/halo-sigs/plugin-comment-widget

[2022-09-06 14:09] JohnNiang commented on #2384
尝试重启以下 Halo。可能因为近期更新了 JRE 造成的。

[2022-09-07 00:31] sugarbeet77 commented on #2384
好的，重启之后好了，谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月6日(星期二) 晚上10:09
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2022-09-07 02:57] xiaoqin-xjc opened #2386 "后台文章的访问量数据异常"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.0

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

http://blog.xjc.vin

### 发生了什么？

后台文章的访问量数据异常，奇怪的9999+

### 相关日志输出

_No response_

### 附加信息

![67270f01e61b5764f1f9d19d2150a36](https://user-images.

[2022-09-07 03:19] ruibaby opened #2387 "希望 Halo 支持附件缩略图功能"
### 你当前使用的版本

next

### 描述一下此特性

目前 2.0 的附件如果是图片的话，仅有原图的访问地址（status.permalink），但目前会带来的问题是在后台展示或者选择图片的时候列表所加载的图片是原图，如果达到一定数量较大的原图，会导致页面卡顿。期望改进如下：

1. 默认本地存储策略支持生成缩略图。
2. `status.permalink` 改为 `status.urls`，其中 urls 包含一系列不同格式的图片。必须包含 `raw` 和 `thumbnail`。
3. 外部存储策略如阿里云 OSS 支持设置 thumbnail 的图片处理规则名称，那么这时候 OSS 的 `status.urls.thumbnail` 就形如 `
https://foo.oss-cn-shenzhen.aliyuncs.com/bar.jpg?x-oss-process=

[2022-09-07 03:19] ruibaby commented on #2387
/kind feature
/milestone 2.0
/area core
/area admin

[2022-09-07 03:19] ruibaby commented on #2387
/assign @JohnNiang
/assign

[2022-09-07 05:19] LemonMan888 opened #2388 "."

[2022-09-07 05:36] JohnNiang commented on #2388
/sig security

[2022-09-07 06:04] #2388 closed

[2022-09-07 06:09] JohnNiang commented on #2384
/kind support
/close

[2022-09-07 06:09] #2384 closed

[2022-09-07 06:30] LemonMan888 commented on #2388
同时，部分版本在评论&文章编辑处，预览情况下都存在js代码执行的情况
![image](https://user-images.githubusercontent.com/97210674/188804885-e8091101-b54a-422b-ae6c-6f03f83a3079.png)
![image](https://user-images.githubusercontent.com/97210674/188805008-4fa93f25-58b6-4c64-9dc2-422ef3f873e7.png)

[2022-09-07 06:35] ruibaby commented on #2388
目前文章编辑不限制使用代码注入。另外，提交安全报告请参考 https://github.com/halo-dev/halo/blob/master/SECURITY.md

[2022-09-07 06:37] ruibaby commented on #2386
/kind support

这应该是有人恶意访问文章，目前文章访问量的统计策略没有去重机制，访问一次就计算一次。建议根据 Nginx 的 access log 检查是否有 IP 在恶意访问文章。

[2022-09-07 06:42] ruibaby opened #2389 "在主题端提供主题设置和部分系统设置的变量"
### 你当前使用的版本

next

### 描述一下此特性

提供当前激活主题的 configMap 变量和部分系统设置等变量。期望提供以下变量：

1. theme：当前主题的信息，theme.yaml
2. config：当前主题的设置项。
3. 部分系统变量，不能直接提供 system 的 configMap。我们需要按需提供，比如：`{site_title}` `{site_url}` `{site_subtitle}`

### 附加信息

_No response_

[2022-09-07 06:42] ruibaby commented on #2389
/kind feature
/milestone 2.0
/area core

[2022-09-07 08:39] guqing opened #2390 "主题模板渲染时默认填充必要数据"
### Your current Halo version

2.0.0

### Describe this feature

主题端渲染时默认填充必要数据，如针对 tag.html 填充路由对应 tag 的 详情数据，tags.html 填充文章列表数据及获取上下页的url

### Additional information

/kind feature
/area core
/milestone 2.0
/assign

[2022-09-07 09:14] ruibaby commented on #2369
请参考：https://docs.halo.run/getting-started/prepare#web-%E6%9C%8D%E5%8A%A1%E5%99%A8%E5%8F%AF%E9%80%89

/close

[2022-09-07 09:14] #2369 closed

[2022-09-07 09:17] ruibaby opened #2391 "完善系统核心提供的 Extension 的角色模板定义"
### 你当前使用的版本

next

### 描述一下此特性

提供文章、附件、页面、主题等系统模块的角色模板定义。

/kind feature
/milestone 2.0
/area core
/area admin

### 附加信息

_No response_

[2022-09-08 03:05] JohnNiang commented on #1309
/assign

[2022-09-08 03:35] guqing opened #2394 "统一主题端 VO 的结构"
### Your current Halo version

2.0.0

### Describe this feature

示例：
[code]

### Additional information

/kind improvement
/area core
/milestone 2.0
/assign

[2022-09-08 10:03] guqing opened #2396 "使用正则细化主题端路由防止冲突"
### Your current Halo version

2.0.0

### Describe this feature

原先文章模板的路由 pattern 不带正则，如：`/{year}/{month}/{slug}` 容易与同样为三段式的其他路由产生二义性冲突
优化为类似：`/{year:\d{4}}/{month:\d{2}}/{slug}`

### Additional information

/kind feature
/milestone 2.0
/area core
/assign

[2022-09-08 12:28] eziosudo opened #2398 "本地启动插件配置时报错，找不到插件路径"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

next分支

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

开发平台：mac
分支：next
HEAD: d1902ef50f7a2add631adee9baf555f22695a28e

根据 [插件开发文档](https://github.com/halo-sigs/plugin-starter/

[2022-09-08 13:01] ruibaby commented on #2398
/cc @guqing

@eziosudo 你也可以暂时通过这种配置方式：

[code]

其中 `/Users/ryanwang/Workspace/github/ruibaby/halo-dev-plugins/plugin-unsplash` 为插件项目实际位置，配置之后启动会自动注册插件以及附带的所有模型资源。

[2022-09-08 14:40] ruibaby commented on #2398
这是因为后面改过逻辑，才会导致这个问题，如 @guqing 所说，目前更推荐在开发环境配置 fixedPluginPath，https://github.com/halo-sigs/plugin-starter 的文档已经更新。

[2022-09-09 01:18] JustinLiang522 commented on #2368
/assign

[2022-09-09 01:20] JustinLiang522 commented on #2368
@guqing 请问是否可以将`run.halo.app.service.impl.PostCategoryServiceImp`下`listPostBy`里的`postCategoryRepository.findAllPostIdsByCategoryId(categoryId)`都改为`categoryService.listPostIdsByCategoryIdRecursively(categoryId)`？

[2022-09-09 01:21] jadehh commented on #2383
类似于下面这种 https://github.com/alanshaw/markdown-pdf

[2022-09-09 03:27] guqing commented on #2368
建议将 categoryService.listPostIdsByCategoryIdRecursively 方法移动到 PostCategoryServiceImpl，因为 categoryService 依赖了PostCategoryServiceImpl 如果 PostCategoryServiceImpl在反过来依赖categoryService的方法会产生依赖循环问题

[2022-09-09 04:01] eziosudo commented on #2398
@ruibaby @guqing  谢谢两位，修改之后可以通过这个错误了。

但是又出现了新的报错信息。我是用原来的master项目建立的本地数据，然后切换到next来启动的，是表结构不兼容吗？

错误日志：
[code]
[code]

[2022-09-09 04:03] guqing commented on #2398
此错误可以忽略，这是乐观锁失败，会自动重试，不影响系统正常运行

[2022-09-09 04:12] ruibaby commented on #2398
/kind support

[2022-09-09 05:36] JustinLiang522 commented on #2368
`pagePostBy`方法目前也会忽略子分类文章，是否也需要修改？

[2022-09-09 06:23] eziosudo commented on #2398
好的，后台可以启动了，谢谢。

[2022-09-09 06:23] #2398 closed

[2022-09-09 06:24] guqing commented on #2368
这个分页的方法不改

[2022-09-09 08:29] guqing opened #2401 "统计分类及标签下所属文章功能"
### Your current Halo version

2.0.0

### Describe this feature

统计分类下所属文章，并更新到 category.status.posts，查询分类时带上文章数量及子分类文章数量，标签亦如是

### Additional information

/kind feature
/milestone 2.0
/area core
/assign

[2022-09-09 13:38] qingjiaorose157 opened #2403 "列出所有的技术栈"
### 你当前使用的版本

_No response_

### 描述一下此特性

例如：文件存储，数据库，，，，，

### 附加信息

_No response_

[2022-09-09 15:13] JustinLiang522 commented on #2368
categoryServiceImpl.listAllByParentId 调用了 super.listAll，如果将 categoryServiceImpl.listPostIdsByCategoryIdRecursively 和 listAllByParentId 都移到 PostCategoryServiceImpl 会导致 super 的类型不一样。能否将 listPostBy 都移动到 categoryServiceImpl 中？

[2022-09-09 15:36] guqing commented on #2368
我看了一下发现 PostCategoryServiceImpl 已经依赖了 CategoryService，你直接用 categoryService.listPostIdsByCategoryIdRecursively() 它即可，sorry  之前没主意看😅

[2022-09-09 15:50] JustinLiang522 commented on #2368
哈哈我刚刚也没注意到。不过listPostIdsByCategoryIdRecursively无法传入status参数，我改成这样的话不知道可不可以？
[code]

[2022-09-09 16:42] guqing commented on #2368
看起来没什么问题👍，你可以继续写，提交 PR 后统一 review

[2022-09-10 12:45] zjy4fun commented on #1951
想请教一下应该怎么复现这个问题啊？

我使用 Selenium 模拟点击界面上的 logo，并没有出现计数为负的情况

[code]

[2022-09-10 13:21] ruibaby commented on #1951
@cetr 我记得之前是你反馈说 1.5.4 还可以复现，能再尝试一下吗？可以提供一下你的电脑环境和浏览器环境。

[2022-09-11 06:17] JulyLies commented on #2362
仙总我有个想法，保留登陆状态后让加密文章显示在主页上

[2022-09-11 07:28] ruibaby commented on #2362
2.0 的文章设计目前有一个选项是可见性（公开，用户登录可见，不公开）。但目前没有考虑文章加密访问，有一定可能 2.0 不会做文章的加密。

[2022-09-11 10:29] cetr commented on #1951
@ruibaby 还是会，直接用[demo](https://demo.halo.run/)站试的，我环境是Windows 10，浏览器版本 105.0.5195.54（正式版本） （64 位）

[2022-09-11 16:06] ruibaby commented on #2394
/close in https://github.com/halo-dev/halo/pull/2400

[2022-09-11 16:07] ruibaby commented on #2394
/close

[2022-09-11 16:07] #2394 closed

[2022-09-11 16:07] ruibaby commented on #2390
/close

see https://github.com/halo-dev/halo/pull/2393

[2022-09-11 16:07] #2390 closed

[2022-09-11 16:08] ruibaby commented on #2379
/close

see https://github.com/halo-dev/halo/pull/2381
see https://github.com/halo-dev/halo-admin/pull/606

[2022-09-11 16:08] #2379 closed

[2022-09-11 16:09] ruibaby commented on #2364
/close

see https://github.com/halo-dev/halo/pull/2365

[2022-09-11 16:09] #2364 closed

[2022-09-11 16:09] ruibaby commented on #2376
/close

see https://github.com/halo-dev/halo/pull/2377

[2022-09-11 16:09] #2376 closed

[2022-09-11 16:11] ruibaby commented on #2295
/close

see https://github.com/halo-dev/halo/pull/2303 https://github.com/halo-dev/halo/pull/2380 https://github.com/halo-dev/halo/pull/2395 https://github.com/halo-dev/halo-admin/pull/595 https://github.com/halo-dev/halo-admin/pull/604 https://github.com/halo-dev/halo-admin/pull/608

[2022-09-11 16:12] #2295 closed

[2022-09-11 16:12] ruibaby commented on #2306
/close

see https://github.com/halo-dev/halo/pull/2315 https://github.com/halo-dev/halo-admin/pull/596

[2022-09-11 16:12] #2306 closed

[2022-09-11 16:15] ruibaby commented on #2307
/close

see https://github.com/halo-dev/halo/pull/2343

[2022-09-11 16:15] #2307 closed

[2022-09-11 16:18] ruibaby commented on #2346
/close

see https://github.com/halo-dev/halo/pull/2347

[2022-09-11 16:18] #2346 closed

[2022-09-12 00:09] JulyLies commented on #2362
这三个选项个人觉得够用了

[2022-09-12 13:45] ruibaby commented on #2301
/good-first-issue

[2022-09-13 03:51] Xuer123 commented on #2114
题主解决了嘛？？

[2022-09-13 05:56] #2368 closed

[2022-09-13 06:25] JohnNiang opened #2408 "上传名称包含特殊字符的附件无法创建出访问链接"
### Checklist

- [X] The issue has been searched in [GitHub Issues](https://github.com/halo-dev/halo/issues)
- [X] The issue has been searched in the [bbs.halo.run](https://bbs.halo.run/)
- [X] Already consulted [document](https://docs.halo.run/)

### What is version of Halo has the issue?

2.0-SNAPSHOT

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your s

[2022-09-13 07:25] zjy4fun commented on #2301
/assign

[2022-09-13 08:15] guqing opened #2409 "新增后台评论管理功能"
### Your current Halo version

2.0.0

### Describe this feature

后台评论管理功能，包括列表、条件筛选，回复等
- 列表接口需要出自定义 API，以支持聚合数据和条件筛选
- 评论列表展示 owner 用户名、显示名称、头像，评论内容、回复条数、是否有新回复状态、Subject  Kind 和标题及permalink等
- 评论的 status 需要使用 reconciler 更新最后阅读时间及回复的数量
- 筛选字段需要支持：状态、owner、Subject Kind
- 排序字段需要支持：最新回复时间、回复数量多少、评论时间
### Additional information

/kind feature
/milestone 2.0
/area core
/assign

[2022-09-13 08:21] ruibaby commented on #2322
评论模块相关可以关注：https://github.com/halo-dev/halo/issues/2409

/close

[2022-09-13 08:21] #2322 closed

[2022-09-13 08:21] ruibaby commented on #2409
评论的模型定义可查阅：https://github.com/halo-dev/halo/issues/2322

[2022-09-13 15:43] #2301 closed

[2022-09-14 10:23] ruibaby opened #2410 "Halo 2.0 Alpha.1 发布核对清单"
Halo 预计在 2022 年 9 月 30 日发布第一个 2.0 Alpha 版本，以下是发布前的核对清单。

## 核对清单

- [x] 从 master 分支创建 release-1.6 分支（[halo-dev/halo](https://github.com/halo-dev/halo) [halo-dev/halo-admin](https://github.com/halo-dev/halo-admin)）。
- [x] 合并 next 分支到 main 分支（[halo-dev/halo](https://github.com/halo-dev/halo) [halo-dev/halo-admin](https://github.com/halo-dev/halo-admin)）。
- [x] [halo-dev/halo-admin](https://github.co

[2022-09-14 10:27] HYPWolf opened #2411 "master分支在开发环境上传主题异常"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

master

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

开发环境：HaloConst.HALO_VERSION会去取值于gradle.properties的版本号1.6.0-SNAPSHOT（异常）
本地idea环境：HaloConst.HALO_VERSION会去取值于UNKNOW

[2022-09-15 01:24] JohnNiang commented on #2304
目前可优先考虑采用 https://github.com/java-json-tools/json-patch 作为 JSON Patch 的库，用于合并 ConfigMap 的值，理由如下：

1. 它默认集成了 Jackson JSON
2. 它同时支持 JSON Patch 和 JSON Merge Patch

[2022-09-15 05:56] Rainsheep opened #2413 "加密文章查阅建议"
### 你当前使用的版本

1.5.4

### 描述一下此特性

对于加密文章，目前有以下两种查阅方式。
1. 从后台管理界面进入 并输入密码后，才能查阅。
2. 拿到文章链接后，打开链接 并输入密码，才能查询。

疑问：
1. 不是很理解，为什么我的加密文章在前台搜不到，每次看都得进入后台。
2. 假设第一点是合理的，毕竟加密。   我都从后台查阅了, 那我肯定是管理员呀，为啥还需要再次输入文章密码，感觉设计很不合理。

建议如下：
1. 在前台界面能搜索到界面文章，点击 并输入密码能够查阅。
2. 从后台管理界面进入，不需要输入密码就能查阅。

### 附加信息

_No response_

[2022-09-15 06:14] ruibaby commented on #2413
/triage duplicate

https://github.com/halo-dev/halo/issues/561
https://github.com/halo-dev/halo/issues/2362#issuecomment-1242906508

[2022-09-15 06:20] ruibaby commented on #2413
当前 1.x 不打算修改这个行为。如 https://github.com/halo-dev/halo/issues/2362#issuecomment-1242906508 所说，我们 2.0 版本针对文章是否显示在访问端提供了设置，但 2.0 可能暂时不打算做加密的功能。

当前 1.x 最好的解决方案也是增加一个是否显示在文章列表的字段，而不受限于文章是否加密。 PR welcome :)

[2022-09-15 07:31] #2413 closed

[2022-09-15 07:42] ruibaby commented on #2411
/cc @JohnNiang

[2022-09-15 10:01] JohnNiang commented on #2411
是的，目前还不支持带有 SNAPSHOT 的版本号匹配。如果你是在本地进行开发调试，版本号应该为 Unknown，而不是 1.6.0-SNAPSHOT。你是否用当前分支进行打包后，直接运行的 Jar 或者 Docker 镜像。

[2022-09-15 10:03] liuzhihang commented on #2410
https://github.com/halo-sigs/theme-astro-starter

这个文档也需要出一下，应该可以结合 React 组件写主题。

[2022-09-15 10:03] JohnNiang commented on #2411
不过我们可以单独对 SNAPSHOT 的版本进行特殊处理。如果你有兴趣的话，欢迎提交 PR 增强。

/kind improvement
/area core
/milestone 1.6.x

[2022-09-15 10:15] HYPWolf commented on #2411
我是用master分支打包运行发现的异常，现已通过自行修改版本号解决了

[2022-09-16 13:25] guqing opened #2414 "关于主题配置项默认值问题"
### Your current Halo version

2.0.0

### Describe this feature

目前主题安装后基本都有 settings.yaml 并且其中配置了设置的默认值
[code]
如上所示，group=basic的 item 的 formSchema 是表单 schema，如果有默认值会在其中又一个 `value` 属性，例如 `40%`
但是主题首次安装需要在主题设置点击保存才能将默认值同步到 ConfigMap 中。
这显得很繁琐，而且不开箱即用，需要对此进行优化：
实现方式：
1. 主题安装时，console 端模拟保存动作，虽然能行但不建议
2. 安装主题时，后端处理默认值，读取 settings.yaml，`formSchema[index].value` 即为默认值根据

@halo-dev/sig-halo 你们怎么看

### A

[2022-09-16 13:34] guqing commented on #2389
/close
see https://github.com/halo-dev/halo/pull/2406

[2022-09-16 13:34] #2389 closed

[2022-09-18 15:29] Jonathanmns commented on #407
大佬们，这个问题解决了吗？我也是都设置没问题了但不知道怎么的都上不去～看了上面的内容也不成

[2022-09-18 22:42] wangxiaoerYah opened #2416 "Hook支持"
### Your current Halo version

1.5.4

### Describe this feature

Halo 能否支持一个入口为主题支持自定义运行hooks。

类似于hexo那种在提交时执行js，提交链接给bing或者baidu的那种功能。不用Halo支持，只要支持在添加文章或者更新文章的时候执行主题里的自定义js文件或者脚本即可。

这样可以实现很多可玩性。比如支持订阅之类的，用户输入它的邮箱，我后台每次更新或者发布文章时，hook将通过邮箱发给订阅者。等等功能。

就是我还不确定Halo是提前生成页面的还是等到有请求再生成页面的。Hooks这个功能怎么个实现也没有思路，你们一定知道😏😏

### Additional information

_No response_

[2022-09-19 02:02] ruibaby commented on #2416
目前你这个需求在博客设置内容页 head 的设置项设置对应的 JS 脚本即可。

这种就是我们 2.0 需要做的了，目前我们 2.0 实现了插件机制，只需要在对应的地方设置扩展点，然后交给对应的插件实现即可。可以参考 https://github.com/halo-dev/rfcs/blob/main/plugin/pluggable-design.md#%E5%AE%9A%E4%B9%89-extension-point

/kind feature

[2022-09-19 02:32] ruibaby commented on #2401
/close

see https://github.com/halo-dev/halo/pull/2402

[2022-09-19 02:32] #2401 closed

[2022-09-19 03:00] JohnNiang commented on #2414
FormKit 中定义的默认值和系统（default ConfigMap）提供的默认配置是两种不同维度的默认值。一个是面向表单，一个是面向系统。各自有各自的默认值即可。当然系统提供的默认值优先级更高。

[2022-09-19 03:02] guqing commented on #2414
主题刚安装的时候 formkit中定义的默认值是没有同步到 ConfigMap 的，而 ConfigMap 也没有关于此主题的默认值

[2022-09-19 06:46] wangxiaoerYah commented on #2416
那就很期待2.0了🥺

[2022-09-19 06:46] #2416 closed

[2022-09-19 08:46] guqing opened #2418 "修改自定义 API 的 group"
### Your current Halo version

2.0.0

### Describe this feature

- 修改管理后台使用的自定义 API 的 group 为 `api.console.halo.run`
- 面向三方应用的自定义 API 的 group 为 `api.halo.run`
- 插件的自定义 API 的 group 为 `api.plugin.halo.run`

### Additional information

/area core
/milestone 2.0
/kind improvement
/assign

[2022-09-19 08:50] JohnNiang commented on #2418
`console.api.halo.run` -> `api.console.halo.run`。

[2022-09-19 08:52] guqing commented on #2418
改了，聊天记录复制错了

[2022-09-19 09:33] #2411 closed

[2022-09-19 09:48] szgacsaftop opened #2420 "文章内跳转建立增加一个相对路径"
### 你当前使用的版本

1.53

### 描述一下此特性

1.目前我们使用的编辑页面链接的语法是  [超链接显示名](超链接地址 "超链接title")
2.是否增加一种在页面间跳转的时候使用相对路径

### 附加信息

_No response_

[2022-09-19 12:38] ruibaby commented on #2420
@szgacsaftop Hello, 能再详细描述一下这个特性吗？当前描述我不是很明白。

[2022-09-19 12:38] ruibaby commented on #2420
/needs-information

[2022-09-19 12:38] ruibaby commented on #2420
/triage needs-information

[2022-09-19 12:48] ruibaby opened #2423 "提供监控资源变更的方案"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

提供监控资源变更的方案。因为目前的后端架构使用了 Spring WebFlux 异步 Web 框架，一些资源变更并不是同步变更的（比如删除，和一些状态的变更），所以期望提供资源变更的方案。

<img width="986" alt="image" src="https://user-images.githubusercontent.com/21301288/191020707-0e8d1e83-dae7-4050-8a2d-74285e2714ea.png">

如上图，虽然目前可以显示出正在删除的状态，但是删除之后并不会通知到前端变更。

### 附加信息

/kind feature
/milestone 2.0
/area core
/area admin

[2022-09-19 13:08] ruibaby opened #2424 "文章支持关键词搜索"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

目前后台的文章管理不支持通过关键词搜索，期望支持。参考：

- /apis/api.console.halo.run/v1alpha1/attachments
- /apis/api.console.halo.run/v1alpha1/comments

### 附加信息

_No response_

[2022-09-19 13:09] ruibaby commented on #2424
/kind feature
/milestone 2.0
/area core
/area admin

[2022-09-19 13:09] guqing commented on #2424
/assign

[2022-09-19 13:17] ruibaby opened #2425 "期望支持扩展系统资源搜索接口"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

目前后台管理中通过关键词搜索资源（如附件、评论等）是通过字符串匹配的形式支持的。期望支持扩展系统资源搜索接口，以方便插件接入全文搜索引擎如 ElasticSearch、MeiliSearch 等。以获得更好的搜索效率和准确性。计划在 2.0 发布时提供官方支持的全文搜索插件：https://github.com/halo-sigs/plugin-meilisearch

基于此特性，我们也可以为前台主题提供公共的搜索模块，类似于评论组件。主题开发者无需再自行实现搜索功能，接入此模块即可。参考：https://docsearch.algolia.com

/kind feature
/milestone 2.0
/area core

### 附加信息

_No response_

[2022-09-19 13:25] ruibaby opened #2426 "为主题和插件提供更新/清空设置项的功能"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

目前主题和插件的设置部分使用了 Setting（设置表单 UI） 和 ConfigMap（设置存储） 模型，但在开发主题和插件过程中，可能会频繁修改 Setting 的内容，目前唯一能做的就是调用 Setting 的 Extension API 手动更新 Setting 的 FormSchema  定义。期望提供更新 Setting 的功能。

/kind feature
/milestone 2.0
/area core

/cc @halo-dev/sig-halo any idea?

### 附加信息

_No response_

[2022-09-20 02:58] ruibaby opened #2427 "用户密码重置逻辑异常"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

当前提供了两个接口：

- 管理员修改其他用户的密码：/apis/api.console.halo.run/v1alpha1/users/{name}/password `{password: string}`
- 当前登

[2022-09-20 03:05] ruibaby opened #2428 "提供系统初始化之后生成的默认资源"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

系统初始化之后需要提供一些默认的文章、分类、菜单等，具体清单如下：

1. 默认文章
2. 默认分类/标签
3. 默认菜单组
4. 默认独立页面

其具体内容我将更新到后续评论。

/kind feature
/milestone 2.0
/area core

### 附加信息

_No response_

[2022-09-20 04:08] ruibaby commented on #2428
/kind feature
/milestone 2.0
/area core

[2022-09-20 04:10] ruibaby commented on #1251
已经在 [next](https://github.com/halo-dev/halo/tree/next) 分支支持，将在 2.0 发布。

/close

[2022-09-20 04:10] #1251 closed

[2022-09-20 04:12] ruibaby commented on #1687
已经在 [next](https://github.com/halo-dev/halo/tree/next) 分支支持，将在 2.0 发布。

/close

[2022-09-20 04:12] #1687 closed

[2022-09-20 07:27] ruibaby opened #2430 "文章支持统计浏览量/评论量等数据"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

文章支持统计浏览量、评论量等数据。

/kind feature
/milestone 2.0
/area core

### 附加信息

_No response_

[2022-09-20 07:44] ruibaby opened #2431 "后台（Console）支持在浏览器标签显示页面名称"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

当前后台（Console）没有按照当前页面的名称更新浏览器标签名。期望根据路由配置而支持显示。

/kind feature
/milestone 2.0
/area admin
/assign

### 附加信息

_No response_

[2022-09-20 08:22] guqing opened #2432 "新增主题端评论列表 APIs"
### Your current Halo version

2.0.0

### Describe this feature

新增主题端评论列表 APIs 用于在各主题模板页展示评论和回复

### Additional information

/kind feature
/area core
/milestone 2.0
/assign

[2022-09-20 08:23] ruibaby opened #2434 "后台（Console）用户管理支持筛选"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

当前后台（Console）用户管理不支持筛选，期望支持通过关键词和角色等进行筛选。

/kind feature
/milestone 2.0
/area core
/area admin

### 附加信息

_No response_

[2022-09-20 08:33] ruibaby opened #2435 "主题端期望支持通过非 Attribute 语法获取路由或者资源实际地址"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

当前主题端 API 可以通过在 HTML 标签中编写 `th:href="@{/assets/foo/bar}"` 的形式最终渲染为实际的静态资源地址，但无法在非 HTML 标签上获取，如：

在 JavaScript 中加载主题内的静态资源

[code]

虽然在 JavaScript 片段中可以通过 `[[]]` 包裹 Thymeleaf 语法，但目前没有对应方法获取静态资源的地址。导致最终无法获取正确的地址。

期望可以提供以下 API：

- `${#theme.assets()}`
- `${#theme.route()}`

/kind feature
/milestone 2.0
/area core

### 附加信息

_No response_

[2022-09-20 10:03] guqing commented on #2396
/close
see #2397

[2022-09-20 10:03] #2396 closed

[2022-09-20 10:04] guqing commented on #2418
/close
see also https://github.com/halo-dev/halo/pull/2419 and https://github.com/halo-dev/halo-admin/pull/613

[2022-09-20 10:04] #2418 closed

[2022-09-20 10:05] guqing commented on #2435
/assign

[2022-09-20 10:12] 13160671810 opened #2437 "登陆后台后，反复提示【当前登录状态已失效，请重新登录】"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.2

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://ai-tech.inshopline.com/

### 发生了什么？

博客正常访问
后台登陆后一直提示【当前登录状态已失效，请重新登录】

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-09-20 10:13] ruibaby commented on #2437
建议检查登录之后是否更新了 token（登录接口返回的内容）。个人判断是因为加了某种缓存，登录接口被缓存了。

[2022-09-20 10:13] ruibaby commented on #2437
/kind support

[2022-09-20 10:18] 13160671810 commented on #2437
这种情况要怎么处理呢

[2022-09-20 14:14] ruibaby commented on #2437
与 Halo 无关，你可以尝试仅用 IP 访问尝试是否有问题。这种情况如上所说，建议检查你的前置代理（Nginx）或者是否配置了全站 CDN，而且将后台所请求的接口进行了缓存。

[2022-09-21 02:00] 13160671810 commented on #2437
用了官网的ng配置还是不行。。登进去后台就是状态失效，我看linux环境下，前端请求接口之前，每次都会调refresh/{token}接口？本地环境就不会，是不是因为这个原因导致每次token 都失效了

[2022-09-21 02:54] ruibaby commented on #2437
@13160671810 我还是建议你先使用 IP 先测试一下，先排除是 Halo 本身的问题，目前我们没有成功复现这个问题。

[2022-09-21 03:00] 13160671810 commented on #2437
崩溃了 搞了十几个小时。。。我先用release1.5的代码全量覆盖了我线上的代码，只改了application.yml里面的mysql地址，本地idea运行一切正常，部署到linux，访问admin页面出现如下问题，访问博客页面一切正常
![image](https://user-images.githubusercontent.com/37618640/191404487-15c542f4-edae-41a4-9543-a266fdf708fc.png)

[2022-09-21 03:27] ruibaby opened #2439 "后台（Console）文章筛选功能部分参数无效"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

后台文章筛选接口的 `categories` `tags` `contributors` 参数无效。看了一下后端的代码，是否是因为这里取值不正确？

https://github.com/halo-dev/halo/blo

[2022-09-21 03:36] JohnNiang commented on #2437
基本确认和 Halo 本身无关。

1. 你在本地运行一切正常
2. 前台页面正常访问

你可以尝试对比一下服务器上 /admin/index.html 和本地运行后 /admin/index.html 输出是否一致。

如果不一致，那就是上游的缓存问题了，这个需要你自己去排查一下。

[2022-09-21 06:16] 13160671810 commented on #2437
又回到原来的问题。。。，每次访问后台接口都会报 token已过期，想问下要怎么排查token是否存进去inMermory了？是有什么约束吗？
![image](https://user-images.githubusercontent.com/37618640/191428268-c610094f-f7ab-4987-81e9-7d391d40cb75.png)

[2022-09-21 06:47] JohnNiang commented on #2437
1. 建议开启 debug 模式，并提供详细的日志
2. 建议提供**详细**复现的步骤，至少能让大家能够在本地复现以上错误。

[2022-09-21 07:05] 13160671810 commented on #2437
已解决，我部署了多实例。。。项目默认把token放到map里。。。悲剧了 2天血泪教训。。。

[2022-09-21 07:28] ruibaby commented on #2437
https://docs.halo.run/getting-started/config#%E7%BC%93%E5%AD%98

可能可以解决你的问题，但目前我们没有针对多集群进行测试。

[2022-09-21 07:56] guqing commented on #2426
/assign

[2022-09-21 14:00] #2439 closed

[2022-09-22 02:14] wan92hen opened #2444 "仪表盘删除组件后不能立即生效"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在仪表盘中点击设置，删除组件后不能立即生效，被删除的组件仍然显示在页面上，需要点击完成组件才会消失。

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-09-22 02:30] ruibaby commented on #2371
/assign
/assign @JohnNiang

[2022-09-22 02:44] JohnNiang commented on #2444
/area admin
/milestone 2.0
/assign @ruibaby

[2022-09-22 02:51] wan92hen opened #2445 "文章大纲未按层级展示"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

文章编辑页面右侧的大纲中，添加的各级标题均进行了平铺展示，无法体现标题间的层级关系。
建议不同级别的标题使用不同宽度的缩进以进行区分。
![image](https://user-images.githubusercontent.com/276714

[2022-09-22 02:52] wan92hen commented on #2445
/area admin
/milestone 2.0

[2022-09-22 02:55] ruibaby commented on #2445
/milestone 2.0
/assign

[2022-09-22 03:20] wan92hen opened #2446 "新建用户修改密码报错"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

新建用户后，修改该用户的密码报错。

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-09-22 03:21] wan92hen commented on #2446
/area core
/milestone 2.0

[2022-09-22 03:24] JohnNiang commented on #2446
/assign

[2022-09-22 03:25] JohnNiang commented on #2446
Duplicate with https://github.com/halo-dev/halo/issues/2427
/close

[2022-09-22 03:25] #2446 closed

[2022-09-22 03:27] ruibaby commented on #2372
/close

[2022-09-22 03:27] #2372 closed

[2022-09-22 03:35] wan92hen opened #2447 "上传附件弹框存储策略名较长时存在样式问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

新建一个名字比较长的存储策略，或无存储策略时，上传附件弹窗右上角策略名存在样式问题。
![image](https://user-images.githubusercontent.com/27671436/191652661-9fa737f4-39f

[2022-09-22 03:48] ruibaby commented on #2447
/kind bug
/area admin
/assign
/milestone 2.0

[2022-09-22 03:53] ruibaby commented on #2409
/close

- https://github.com/halo-dev/halo/pull/2412
- https://github.com/halo-dev/halo-admin/pull/612

[2022-09-22 03:53] #2409 closed

[2022-09-22 03:58] wan92hen opened #2448 "最近发布组件显示了未发布文章"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

仪表盘中的 `最近发布` 组件，未发布的文章也进行了展示，与组件名称不符。
建议将组件名称改为 `最近文章`，或在当前 `最近发布` 组件中，仅展示已发布的文章。

/area admin
/milestone 2.0

### 相关日志输出

_N

[2022-09-22 04:07] wan92hen opened #2449 "最近登录组件数据不正确"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

仪表盘中的 `最近登录` 组件展示的内容与实际最近登录用户及登录时间不符。

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-09-22 04:17] ruibaby commented on #2431
/close

see https://github.com/halo-dev/halo-admin/commit/36bb28cd0ee6a39f3a08e3f38d48e0f79a42e271

[2022-09-22 04:17] #2431 closed

[2022-09-22 05:37] wxyShine opened #2450 "个人资料修改头像"
### 检查清单

- [x] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

个人资料修改头像时，如不点保存按钮 ， 修改的头像 刷新后就变回旧头像了。

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-09-22 06:03] wan92hen opened #2451 "上传附件未出现在默认的未分组中"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在附件库页面默认分组选择 `全部` 的情况下，上传附件后查看附件详情，其分组显示未分组，但在 `未分组` 分组中无法看到该附件；
选中 `未分组` 分组上传附件后，查看附件详情显示分组为 `none`。

### 相关日志输出

_No respon

[2022-09-22 06:32] wan92hen opened #2452 "文章摘要显示了未发布的内容"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

使用了官方主题 [theme-anatole](https://github.com/halo-sigs/theme-anatole/releases/tag/0.0.8)，修改文章后仅保存不发布的情况下，文章内容显示正常，首页文章列表中的文章摘要显

[2022-09-22 06:45] ruibaby commented on #2452
/kind bug
/milestone 2.0
/area core
/assgin @guqing

[2022-09-22 06:46] ruibaby commented on #2452
/assign @guqing

[2022-09-22 06:46] ruibaby commented on #2450
/milestone 1.6.x
/kind improvement

[2022-09-22 07:07] wxyShine commented on #2450
增加一个更新头像接口，修改头像确定时，去调用更新头像接口。如何？

[2022-09-22 07:08] wxyShine commented on #2450
/assign

[2022-09-22 07:10] ruibaby commented on #2450
不用，直接调用更新个人资料的接口即可。但是需要注意，修改头像的时候只能更新 avatar 这个字段，不要将正在编辑的表单也同时提交了。

[2022-09-22 07:13] wxyShine commented on #2450
好的

[2022-09-22 07:24] wxyShine commented on #2450
在halo-admin  [master分支](https://github.com/halo-dev/halo-admin)基础上改吗？

[2022-09-22 07:38] wan92hen opened #2454 "文章、自定义页面别名可以重复"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

文章及自定义页面可以使用相同的别名，导致在主题端无法正常浏览相同别名的文章和自定义页面。
<img width="563" alt="1663832317298" src="https://user-images.githubusercontent.

[2022-09-22 08:03] ruibaby commented on #2450
是的。

[2022-09-22 08:05] wan92hen opened #2455 "新增附件分组快捷键提示不正确"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

![image](https://user-images.githubusercontent.com/27671436/191691040-1ffd8830-41ca-49b6-9b86-63cac816db89.png)
新增分组弹框中，保存按钮提

[2022-09-22 09:07] guqing commented on #2426
插件不需要此功能，配置了 `fixedPluginPath` 后每次重启都会加载新的配置项

[2022-09-23 02:12] wxyShine commented on #2253
有啥修改思路没，我看看了代码  没找到啥原因。

[2022-09-23 02:40] shiker1996 opened #2458 "建议增加死链设置"
### 你当前使用的版本

1.5.4

### 描述一下此特性

修改设置选项中【文章固定链接类型】时，原文章链接会产生大量404地址，导致网站收录受影响。建议该处增加提示，或者参考站点sitemap，在固定链接修改后生成死链文件防止收录受影响

### 附加信息

百度索引量问题页面显示如下（均为404页面）：
![image](https://user-images.githubusercontent.com/32234876/191882695-d59581e3-e9e8-4e03-a114-e783229135db.png)

[2022-09-23 03:13] ccculing opened #2459 "在aidlux中打开jar包失败"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

安装了Java19，第一次运行就失败
![Screenshot_20220923_111026](https://user-images.githubusercontent.com/103477836/191885570-b4321cc4

[2022-09-23 03:21] ruibaby commented on #2458
确实可以提示一下。但这个生成死链文件不是太明白，有相关文档吗？

或许也可以支持一个 redirect 机制。

[2022-09-23 03:30] wxyShine commented on #2458
是文章地址变更后原文章地址都是404  把这些404地址汇总到txt或者其他格式生成一个直链吧?

[2022-09-23 06:31] JohnNiang commented on #2459
请提供完整的错误日志。以及运行 Halo 的完整命令。

[2022-09-23 06:50] ccculing commented on #2459
解决了，Oraclejdk的问题，要安装openjdk，安装的时候没注意

[2022-09-23 08:47] ruibaby commented on #2455
/kind bug
/milestone 2.0
/area admin
/assign

[2022-09-23 08:57] guqing commented on #2430
我将通过在模板页面插入 Javascript 来上报数据给一个 endpoint 然后 counter 数据到 metrics，定期刷新数据到自定义模型持久化

[2022-09-23 09:19] ruibaby commented on #2451
/kind bug
/milestone 2.0
/area core

[2022-09-23 09:26] JohnNiang commented on #2458
/kind feature
/area core

[2022-09-23 09:50] ruibaby commented on #2455
将修改为 Linux/Windows 显示 **Ctrl + Enter**，Mac 显示 **Command + Enter**

[2022-09-23 09:59] shiker1996 commented on #2458
是的，但是java项目是jar包部署的，没办法在shiker.tech域名下添加txt文件。所以需要开发，或者直接控制台能直接手动添加这些死链也可以，但对新手不友好🙈

[2022-09-23 10:10] shiker1996 commented on #2458
跟sitemap格式相同，百度对它的定义如下：

[2022-09-23 13:53] ruibaby commented on #2371
/close

- https://github.com/halo-dev/halo/pull/2453
- https://github.com/halo-dev/console/pull/617

[2022-09-23 13:55] ruibaby commented on #2449
/kind bug
/milestone 2.0
/area core
/area admin

[2022-09-23 13:56] ruibaby commented on #2445
/kind feature

[2022-09-23 14:01] #1928 closed

[2022-09-23 14:21] ruibaby opened #2461 "支持获取主题的物理存储位置"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

<img width="1663" alt="image" src="https://user-images.githubusercontent.com/21301288/191982293-a219299a-fa68-438a-9902-42335e50ab33.png">

如图，支持显示主题的存储位置。

/kind feature
/milestone 2.0
/area core
/area admin

### 附加信息

_No response_

[2022-09-23 14:49] ruibaby commented on #2448
/assign
/milestone 2.0

[2022-09-23 14:51] ruibaby commented on #2448
/close in https://github.com/halo-dev/console/commit/9d020c073ec158e08d0083a4761d960dc4269bf7

[2022-09-23 14:51] ruibaby commented on #2448
/close

[2022-09-23 14:51] #2448 closed

[2022-09-23 15:27] ruibaby commented on #2424
/close

- https://github.com/halo-dev/halo/pull/2436
- https://github.com/halo-dev/console/pull/615

[2022-09-23 15:29] ruibaby commented on #2435
/close

https://github.com/halo-dev/halo/pull/2438

[2022-09-23 15:29] #2435 closed

[2022-09-23 15:30] ruibaby commented on #2414
/close

- https://github.com/halo-dev/halo/pull/2440
- https://github.com/halo-dev/console/pull/616

[2022-09-23 15:30] #2414 closed

[2022-09-23 15:32] ruibaby commented on #2304
/close

https://github.com/halo-dev/halo/pull/2415

[2022-09-23 15:32] #2304 closed

[2022-09-24 06:27] JohnNiang commented on #2408
/close

See https://github.com/halo-dev/halo/pull/2462 for more.

[2022-09-24 06:27] #2408 closed

[2022-09-24 09:01] shiker1996 opened #2464 "2.0 sql文件不支持部署时执行"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

![image](https://user-images.githubusercontent.com/32234876/192089624-3cf60258-d546-4701-94f3-50064d81887f.png)

服务

[2022-09-24 09:22] shiker1996 commented on #2464
额，我看master有的，是2.0删了？这next改动挺大啊。。。

[2022-09-24 10:18] JohnNiang commented on #2464
建议详细描述一下复现步骤。目前我们正常启动没有任何问题。

[2022-09-24 13:40] JohnNiang commented on #2464
/kind support
/triage needs-information

[2022-09-24 13:43] shiker1996 commented on #2464
next分支，使用mysql部署会报这个错，提示没有这张表

[2022-09-24 13:58] JohnNiang commented on #2464
目前确实只写了 H2 的 [scheme-h2.sql](https://github.com/halo-dev/halo/blob/1da89f04e2bca3cde9c244d960dfddfe888caffb/src/main/resources/schema-h2.sql)。稍后我尝试适配一下 MySQL 和 PostgreSQL。

/kind improvement
/area core
/milestone 2.0
/assign

[2022-09-24 14:55] ruibaby commented on #2445
/close

目前已经支持体现层级关系，也已支持点击滚动到具体位置。 https://github.com/halo-dev/console/commit/831e3fd6ca63fb5839790f5cb3c18b9be885ecbc

[2022-09-24 14:55] #2445 closed

[2022-09-25 04:58] ruibaby opened #2465 "Console 构建之后无法正常加载附件图片"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

Console 构建之后无法正常加载附件图片，如图：

<img width="1662" alt="image" src="https://user-images.githubusercontent.com/213012

[2022-09-25 09:11] ruibaby opened #2467 "Console 的分页组件无法点击页码切换，当页码列表过长时会出现样式问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

Console 的分页组件无法通过点击页码切换分页，当页码列表过长会出现样式问题，如图：

<img width="1677" alt="image" src="https://user-images.githubuser

[2022-09-25 23:42] wxyShine commented on #2458
可以添加txt文件的，我目前就是这么做的。添加一个txt死链文件。
菜单 系统>小工具>开发者>静态文件

[2022-09-25 23:49] shiker1996 commented on #2458
哦，我自己加了，改了改代码🙃

[2022-09-26 01:08] shiker1996 commented on #2458
这种改法得自己拼之前的旧地址，拼错了也不会生效的，不够稳妥滴

[2022-09-26 02:28] JohnNiang commented on #2465
/ok-to-test

[2022-09-26 03:09] ruibaby commented on #2465
/close

See https://github.com/halo-dev/console/pull/622 for more

[2022-09-26 03:09] #2465 closed

[2022-09-26 04:14] wan92hen opened #2468 "文章、分类、标签等内容名称过长时存在展示问题"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

名称位置没有限制最长字符数，当名称过长时会影响后面部分的显示及操作。

已确认存在该问题的页面有：
- 文章列表
- 分类列表
- 标签列表
- 自定义页面列表
- 菜单列表
- 用户列表

基本上允许用户输入名称的地方都会存在这个问题。

![im

[2022-09-26 05:37] ruibaby commented on #2468
/kind improvement
/area admin
/milestone 2.0
/assign

[2022-09-26 06:53] ruibaby commented on #2450
/close

See https://github.com/halo-dev/console/pull/619 for more.

[2022-09-26 06:53] #2450 closed

[2022-09-26 06:59] ruibaby commented on #2444
/close

See https://github.com/halo-dev/console/commit/33c9399d0ef1c1ccfa20c1215919fe7c7d7c0376 for more

[2022-09-26 06:59] #2444 closed

[2022-09-26 07:50] ruibaby commented on #2455
/close

See https://github.com/halo-dev/console/commit/2c7d8551fb4efc7725ae486834ba57b1c6fc3327 for more

[2022-09-26 07:50] #2455 closed

[2022-09-26 09:32] ruibaby opened #2469 "自定义页面支持筛选和排序"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

当前在 Console 端的自定义页面管理无法筛选和排序，期望支持。

筛选：

1. 关键词
2. 状态
3. 可见性
4. 作者

排序：

1. 发布时间
2. 创建时间

/kind feature
/milestone 2.0
/area core
/area admin
/assign
/assgin @guqing

### 附加信息

_No response_

[2022-09-26 09:34] ruibaby opened #2470 "Console 端插件管理支持筛选和排序"
### 你当前使用的版本

2.0.0-prerelease

### 描述一下此特性

目前 Console 端插件管理不支持筛选和排序，期望支持。

筛选：

1. 关键词
2. 启用状态

排序：

1. 安装时间

/kind feature
/milestone 2.0
/area core
/area admin
/assign
/assign @guqing

### 附加信息

_No response_

[2022-09-26 09:37] ruibaby commented on #2469
/assign @guqing

[2022-09-26 10:03] ruibaby commented on #2428
分类：

[code]

标签：

[code]

文章：

[code]

菜单：

[code]

菜单项：

[code]

[2022-09-27 02:12] wan92hen commented on #2452
PR #2457 解决了该问题。

[2022-09-27 02:12] #2452 closed

[2022-09-27 02:19] ruibaby commented on #2454
目前已经在 https://github.com/halo-dev/halo/pull/2460 中实现如果出现重复 slug 会记录日志且不会将对应的 permalink 注册到路由。

暂时先不在创建的时候添加验证器。

[2022-09-27 02:26] wan92hen opened #2473 "文章及自定义页面无法使用中文别名"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在文章及自定义页面发布时使用中文别名，访问文章页面返回 404，访问自定义页面返回 500。
访问文章页面后台没有报错日志，访问自定义页面时日志如下。

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-09-27 02:37] JohnNiang commented on #2464
暂时无法支持 MySQL 了（正式发布时会想办法解决）。

我们目前采用了 [R2DBC](https://spring.io/projects/spring-data-r2dbc) 而不是 JDBC 作为数据库连接。支持 R2DBC 的 MySQL 驱动有：<https://github.com/mirromutth/r2dbc-mysql> 和 <https://github.com/jasync-sql/jasync-sql>。

1. mirrormutth/r2dbc-mysql 因为缺乏维护，无法支持 [R2DBC SPI 1.0.0](https://github.com/r2dbc/r2dbc-spi/releases/tag/v1.0.0.RELEASE)，可参考 issue：<https://github.com/mirromutth/r2dbc-mysql/issue

[2022-09-27 03:01] wan92hen commented on #2454
验证了一下，虽然后台出现了 slug 重复的报错，但是在管理端还是可以正常创建出这个内容，并且是已发布或正常状态。
反映到主题端还是会同时看到两个链接一致的内容。

[code]

针对文章、自定义页面这种存在发布操作的内容，是否增加一个发布失败状态，如果 slug 重复会发布失败，在主题端不会展示出来。

针对标签、分类这种直接创建的，后续应该要按创建、更新失败来处理。

[2022-09-27 03:28] ruibaby commented on #2473
/kind bug
/area core
/assign @JohnNiang
/milestone 2.0

[2022-09-27 05:51] wan92hen opened #2475 "切换分页报错"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

切换分页时浏览器控制台报错，无法正常切换。

![image](https://user-images.githubusercontent.com/27671436/192443594-e302469e-5a73-4d3a-a27e-87246767

[2022-09-27 06:41] ruibaby commented on #2475
/kind bug
/triage duplicate

https://github.com/halo-dev/halo/issues/2467

[2022-09-27 06:41] ruibaby commented on #2475
/close

[2022-09-27 07:33] ruibaby commented on #2470
/assign @JohnNiang

[2022-09-27 07:33] ruibaby commented on #2469
/assign @JohnNiang

[2022-09-27 10:28] ruibaby commented on #2432
/close

See https://github.com/halo-dev/halo/pull/2433 for more

[2022-09-27 10:28] #2432 closed

[2022-09-27 14:27] momosnail opened #2478 "附件上传4K图片3.5M生成不了缩略图总是失败"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

我上传了十几张4k大图片到附件，有几张总是生成不了缩略图，是否对于3.5M及以上的总会出现错误。

### 相关日志输出

_No response_

### 附加信息

_No response_

[2022-09-27 15:24] JohnNiang commented on #2478
建议提供一下错误日志供大家分析具体原因。可能的原因如下：

1. 如果服务器资源不足的话，较大的图片可能会导致生成缩略图失败，从而直接使用原图。
2. 图片格式问题

[2022-09-28 02:25] ruibaby commented on #2478
/needs-information

[2022-09-28 02:26] ruibaby commented on #2478
/triage needs-information

[2022-09-28 07:33] guqing commented on #2461
/assign

[2022-09-28 07:42] wan92hen opened #2485 "设置文章分类时展示分类层级"
### 你当前使用的版本

2.0

### 描述一下此特性

目前设置文章分类时分类目录没有展示出层级关系，如果在不同的父分类下存在同名分类，在设置时难以区分具体是选择了哪个子分类。

![image](https://user-images.githubusercontent.com/27671436/192718497-004b0c6e-2a65-47af-ad73-ce2f79a209fc.png)

![image](https://user-images.githubusercontent.com/27671436/192718439-e7571f68-e4fa-456c-98d7-255f28273c8d.png)

建议在设置文章分类时，使用不同的缩进量来表现分类层级关系。

### 附加信息

_No response_

[2022-09-28 10:11] momosnail commented on #2478
可以加我QQ：550218658  前辈有时间的话 找一天晚上下班我们可以远程试试，今天我和同事两个人都有自己的服务器，都按照了咱的 halo框架 ，我们两个人都在各自的服务器上试了一下 确实是有问题的。不是 1.服务器资源不足 2.图片格式问题 不是这两种原因。

[2022-09-28 14:13] ruibaby commented on #2485
/milestone 2.0
/area admin
/assign

[2022-09-29 02:08] zyy247796143 opened #2487 "图库后台批量添加图片，图片的顺序倒序"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

1.5.4

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

在后台的图库页，当选择批量添加已经存在的附件照片时，会发生倒序添加现象。
比如说我在图库页，选择批量添加，然后选择已经存在的早、中、晚，3个时间的图片附件，点击确定后，在图库页里看到刚刚添加照片的顺序发生了倒序，即看到的是晚、中、早

[2022-09-29 04:48] ruibaby commented on #2467
/close

See https://github.com/halo-dev/console/commit/668c678714c72a6c20f30cc1cc28f979983cb1b4 for more

<img width="683" alt="image" src="https://user-images.githubusercontent.com/21301288/192941256-bf56479e-56fb-4df7-9990-06216564d487.png">

[2022-09-29 04:48] #2467 closed

[2022-09-29 04:49] ruibaby commented on #2469
/close

See https://github.com/halo-dev/halo/pull/2481 and https://github.com/halo-dev/console/pull/625 for more

[2022-09-29 04:49] #2469 closed

[2022-09-29 04:49] ruibaby commented on #2461
/close

See https://github.com/halo-dev/console/pull/626 and https://github.com/halo-dev/halo/pull/2484 for more

[2022-09-29 04:49] #2461 closed

[2022-09-29 07:50] ruibaby commented on #2410
## README

<p align="center">
    <a href="https://halo.run" target="_blank" rel="noopener noreferrer">
        <img width="100" src="https://halo.run/logo" alt="Halo logo" />
    </a>
</p>

<p align="center"><b>Halo</b> [ˈheɪloʊ]，一款现代化的开源博客/CMS系统，值得一试。</p>

<p align="center">
<a href="https://github.com/halo-dev/halo/releases"><img alt="GitHub release" src="https://img.shields.io/github/release/h

[2022-09-29 07:56] ruibaby commented on #2410
## Console README

<p align="center">
    <a href="https://halo.run" target="_blank" rel="noopener noreferrer">
        <img width="100" src="https://halo.run/logo" alt="Halo logo" />
    </a>
</p>

<p align="center">
<a href="https://github.com/halo-dev/console/releases"><img alt="GitHub release" src="https://img.shields.io/github/release/halo-dev/console.svg?style=flat-square" /></a>
<a href="ht

[2022-09-29 10:24] ruibaby commented on #2426
/close

See https://github.com/halo-dev/halo/pull/2456 https://github.com/halo-dev/console/pull/620 https://github.com/halo-dev/halo/pull/2486 for more

[2022-09-29 10:24] #2426 closed

[2022-09-29 12:38] ruibaby opened #2490 "无法为用户分配角色"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

无法使用 `/apis/api.console.halo.run/v1alpha1/users/{name}/permissions` 接口为用户分配角色。

参数：

[code]

/kind bug
/area co

[2022-09-29 12:43] ruibaby opened #2491 "插件的 metadata 没有 creationTimestamp 字段"
### 检查清单

- [X] 已经在 [GitHub Issues](https://github.com/halo-dev/halo/issues) 中搜索过该问题
- [X] 已经在[论坛](https://bbs.halo.run/)中搜索过该问题
- [X] 已经查阅过[文档](https://docs.halo.run/)

### 是什么版本出现了此问题？

2.0.0-prerelease

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

返回结果：

[code]

/kind bug
/area core
/milestone 2.0
/priority critical-urgent

### 相关日志输出

_No response_

### 附加

[2022-09-29 13:45] ruibaby commented on #2478
@momosnail 抱歉，我们不支持一对一处理问题，建议提供日志以便于大家排查问题。

https://github.com/halo-dev/halo/issues/2478#issuecomment-1259669309

查看日志的方式：https://docs.halo.run/user-guide/faq#%E5%A6%82%E4%BD%95%E6%9F%A5%E7%9C%8B%E8%BF%90%E8%A1%8C%E6%97%A5%E5%BF%97

[2022-09-29 13:46] ruibaby commented on #2487
PR Welcome :)

/good-first-issue
/kind improvement
/area admin

[2022-09-29 15:07] JohnNiang commented on #2491
无法复现该问题。

[2022-09-29 15:21] ruibaby commented on #2491
/remote-priority critical-urgent
/triage needs-information

[2022-09-29 19:15] AsakusaRinne commented on #1848
您好，请问对这个issue的修复是不是尚未作为release发布呢？我使用1.5.4版本仍然遇到了这个问题（使用outlook邮箱）

[2022-09-29 20:49] zjy4fun commented on #2487
/assign

[2022-09-30 01:53] JohnNiang commented on #1848
好的，近期我们在筹备发布 Halo 2.0 的 Alpha 版本。发布之后会优先发布 Halo 1.5.5。

[2022-09-30 02:12] JohnNiang opened #2494 "Request for release of Halo 1.5.5"
### Your current Halo version

1.5.4

### Describe this feature

See
- https://github.com/halo-dev/halo/compare/v1.5.4...release-1.5
- https://github.com/halo-dev/halo/issues/1848#issuecomment-1262708985

for more.

### Additional information

_No response_

[2022-09-30 02:56] AsakusaRinne commented on #1848
好的，十分感谢！期待新版本的发布

[2022-09-30 02:57] ruibaby commented on #1848
更正一下，由于这个其实算一个新的特性。所以应该是发布到 1.6。1.6 我们也会和 1.5.5 一起发布。

[2022-09-30 05:08] ruibaby commented on #2447
/close

See https://github.com/halo-dev/console/commit/bdd863264778f9d2d90123233ae16263c4026429 for more

[2022-09-30 05:08] #2447 closed

[2022-09-30 05:50] ruibaby commented on #2428
/assign

[2022-09-30 10:13] momosnail commented on #2478
谢谢，找到日志的存放地方了，下面是 向附件上传使用的资源和日志，求帮忙解决。
图片资源：https://www.futurus.top:5544/uploads/landscape/pexels-irina-iriser-1408221.jpg
日志：
`java.lang.OutOfMemoryError: Java heap space
	at java.desktop/java.awt.image.DataBufferByte.<init>(Unknown Source) ~[na:na]
	at java.desktop/java.awt.image.Raster.createInterleavedRaster(Unknown Source) ~[na:na]
	at java.desktop/java.awt.image.BufferedImage.<init>(Unknown

[2022-09-30 11:34] ruibaby commented on #2490
/close

See https://github.com/halo-dev/halo/pull/2495 for more

[2022-09-30 11:34] #2490 closed

[2022-09-30 15:58] ruibaby commented on #2428
/close

See https://github.com/halo-dev/console/pull/632 for more

[2022-09-30 15:58] #2428 closed

[2022-09-30 15:59] ruibaby commented on #2430
/close

See https://github.com/halo-dev/halo/pull/2476 and https://github.com/halo-dev/console/pull/624 for more.

[2022-09-30 15:59] #2430 closed

[2022-10-01 11:25] guomingshan opened #2502 "输入账号密码点登录后跳转回登录页，所有接口401"
### 是什么版本出现了此问题？

Halo 2.0.0-alpha.1

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://49.232.14.183:8099/console/#/login

### 发生了什么？

docker部署命令：

[code]
---
输入账号密码点登录后跳转回登录页，所有接口401

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-10-01 14:46] xzyone opened #2503 "宝塔Docker构建Halo2.0时出现错误"
### 是什么版本出现了此问题？

Halo 2.0.0-alpha.1

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

构建时出现错误，无法启动docker容器

### 相关日志输出

[code]

### 附加信息

_No response_

[2022-10-01 15:18] zjy4fun commented on #2503
@xzyone 可以提供一下  /application/hs_err_pid7.log 的内容吗？
最好再提供一下服务器的配置和使用的docker版本 :wink:

[2022-10-01 16:00] ruibaby commented on #2502
请问账号是输入的 admin 吗？

[2022-10-01 16:01] ruibaby commented on #2503
似乎是 Docker 版本过低，请参考 https://github.com/adoptium/temurin-build/issues/2976

[2022-10-01 16:01] ruibaby commented on #2503
/kind support

[2022-10-01 16:01] ruibaby commented on #2502
/triage needs-information

[2022-10-02 00:31] shy-share opened #2504 "Could not find pf4j-3.7.0.jar (org.pf4j:pf4j:3.7.0)."
### 是什么版本出现了此问题？

2.0.0-SNAPSHOT

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

无

### 发生了什么？

将项目git clone到本地，等到构建完毕之后，开始运行之后，会有一个jar包无法从阿里云下载

### 相关日志输出

[code]

### 附加信息

![image](https://user-images.githubusercontent.com/50973219/193432845-ae0d539a-f0f8-4391-905e-c3323a9916a8.png)

我本地maven仓库其实已经有了pf4j 这个jar包 ，当我将gradle的从仓库获取依赖的顺序改为先从本地仓库查找的时候，还是出现了找不到这个jar的错误，很奇怪，

![image](https:/

[2022-10-02 02:12] #2503 closed

[2022-10-02 03:10] ZTfred opened #2505 "2.0版本不能使用"
### 是什么版本出现了此问题？

2.0

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

http://120.24.231.39:8090/

### 发生了什么？

部署后，首页无法访问，500报错，后台无法上传主题，500报错，默认halo-next下没有application.yaml配置文件
![image](https://user-images.githubusercontent.com/53425107/193436093-c3755483-eb88-4a11-a3d7-746718d220f3.png)
![image](https://user-images.githubusercontent.com/53425107/193436111-1f0b2b79-2706-404d-88b0-c3cac7ff3

[2022-10-02 05:34] ruibaby commented on #2505
你使用的是 1.5 的主题，我们在 release note 已经说明了不兼容 1.x 的主题。

- Release Note：https://github.com/halo-dev/halo/releases/tag/v2.0.0-alpha.1
- 文档使用说明：https://docs.halo.run/2.0.0-SNAPSHOT/getting-started/install/docker#%E4%BD%BF%E7%94%A8

/kind support

[2022-10-02 05:35] ruibaby commented on #2504
可以尝试清空 gradle 缓存再重新 build。

/kind support

[2022-10-02 05:58] shy-share commented on #2504
好滴 我试试

[2022-10-02 06:01] shy-share commented on #2504
这个是什么意思  我搜了一下 情况缓存重新build的命令也不是这个呀

[2022-10-02 06:08] zjy4fun commented on #2504
@shy-share 直接把原项目删掉，重新克隆再打开吧 😄
（你没发现这个issue已经加上support标签了嘛 👀

[2022-10-02 07:14] ruibaby opened #2506 "优化登录相关逻辑"
### 你当前使用的版本

2.0.0-alpha.1

### 描述一下此特性

目前存在的问题：

1. 目前在登录异常的时候，在前端无法得知具体异常（比如用户名密码错误）。原因是 Console 端使用 fetch 接口调用了 Spring Security 提供的 `/login <POST>` 接口，但这个接口需要 form 提交，暂时不是特别方便在 Console 端得到异常。
2. 如果使用后端提供的登录入口（/login），登录之后无法跳转到先前的页面。

可商讨的方案：

1. 单独提供登录接口，或者改造 /login 的默认行为。
2. 直接使用 Spring Security 提供的登录入口，但需要处理好重定向的问题。而且需要考虑到后续通过插件扩展登录方式。

/kind improvement
/milestone 2.0

### 附加信息

_No respon

[2022-10-02 08:57] ZTfred commented on #2505
https://github.com/xzhuz/halo-theme-xue/releases
![image](https://user-images.githubusercontent.com/53425107/193446367-c26d6e3d-7fb0-4162-aaa7-d71bed4ddda1.png)
我使用的是文档提供的社区主题，下载的最新的release版本

[2022-10-02 08:59] ZTfred commented on #2505
还有上传报错500的，这个和主题无关，目前还没有安装上主题的

[2022-10-02 09:04] ruibaby commented on #2505
这个主题还正在开发，没有发布 release。你需要在 https://github.com/ruibaby/halo-theme-xue/tree/refactor/migrate-next 分支下载 ZIP。

[2022-10-02 09:07] ZTfred commented on #2505
![image](https://user-images.githubusercontent.com/53425107/193446692-4706343d-8fbf-4250-a24d-49a0cbff61fc.png)
next分支还是安装报错
![image](https://user-images.githubusercontent.com/53425107/193446730-bc13b7bf-cbb1-480f-9837-034d89158c8b.png)
插件也是如此

next分支的配置文件在哪里呢

[2022-10-02 09:21] shy-share commented on #2504
@ruibaby @zjy4fun  现在是下面这个错误了

**Could not find openapi-schema-validator-1.0.7.jar (org.openapi4j:openapi-schema-validator:1.0.7).**
Searched in the following locations:
    https://maven.aliyun.com/repository/gradle-plugin/org/openapi4j/openapi-schema-validator/1.0.7/openapi-schema-validator-1.0.7.jar

Possible solution:
 - Declare repository providing the artifact, see the documentation at https

[2022-10-02 10:12] zjy4fun commented on #2505
![image](https://user-images.githubusercontent.com/106857035/193448948-abf84ed4-23ee-4c15-8534-d0dae3fe5ba5.png)

@ZTfred

[2022-10-02 11:06] ruibaby commented on #2505
详细说明一下：

1. https://github.com/halo-sigs/awesome-halo 中列出的主题和插件除了 `theme-xue` 还在开发中（标记了 WIP，Work In Progress），其他的库都需要去 release 的 Assets 下载构建产物，插件的后缀为 `.jar`。
2. theme-xue 这个主题你需要下载[refactor/migrate-next](https://github.com/ruibaby/halo-theme-xue/tree/refactor/migrate-next) 分支的源码。而不是 next。

如果还是不太清楚，你可以点击下方链接直接下载：

主题：

- halo-theme-xue : https://github.com/ruibaby/halo-theme-xue/archive/refs/heads

[2022-10-02 11:15] ZTfred commented on #2505
可以了，插件要下载jar包，后台才可以正常上传插件。文档只是要去github下载，我下载zip，在后台是无法上传成功的，zip是需要手动编译一下吧

[2022-10-02 13:07] ruibaby opened #2507 "用于统计内容访问量的接口需要鉴权（/apis/api.halo.run/v1alpha1/trackers/counter）"
### 是什么版本出现了此问题？

2.0.0-alpha.1

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

根据 <https://github.com/halo-dev/halo/pull/2476>，目前统计内容访问数据的方式为在页面加载一个 halo-tracker.js 通过访问接口推送数据。但目前 `/apis/api.halo.run/v1alpha1/trackers/counter` 接口无法在未登录的情况下访问。

<img width="671" alt="image" src="https://user-images.githubusercontent.com/21301288/193455645-fd07dff7-fc17-431b-88dd-4

[2022-10-02 13:08] ruibaby commented on #2507
/area core

[2022-10-03 01:49] #2505 closed

[2022-10-03 03:44] AsakusaRinne opened #2508 "特性提议：支持将某个分类下的文章设置为不进入“最新文章”列表"
### 你当前使用的版本

1.5.4

### 描述一下此特性

支持将某个分类下的文章设置为不进入“最新文章”列表。

比如我用halo给自己搭建了一个技术博客分享网站，但是里面也有一些自己日常非技术类的文章，虽然这些非技术类文章也是公开的，但是不希望作为“最新文章”列表中的一个出现在首页喧宾夺主，能否将某个分类设置成不参与“最新文章”列表的收录呢？

很抱歉因为我不怎么用JAVA和FreeMaker，很难直接自己实现并进行PR，不过如果能帮忙指出在哪几个文件修改可以实现这个的话，我很乐意学习一下并针对这个提一个PR。

国庆快乐！:)

### 附加信息

_No response_

[2022-10-03 10:23] ruibaby commented on #2508
这个特性提议不错，其实不仅仅是你提到的这种场景。像 Halo 官网这种，主题仓库也是通过文章发布的，那么在博客列表里面肯定就是不希望出现主题内容的，这个时候就需要排除特定的分类。

如果你想尝试一下修改，你可以看一下这个查询构建筛选条件的部分：<https://github.com/halo-dev/halo/blob/ce1ce585f018e5a2d4798b380f969c4967fec85c/src/main/java/run/halo/app/service/impl/PostServiceImpl.java#L144>，如果要在 1.5 支持该特性，可能需要考虑较多的地方。我们也会在 2.0 考虑是否要支持该特性。

/kind feature