[2020-11-08 10:33] JohnNiang commented on #1142
可以提供一下 application.yml 中 redis 相关的配置么？

[2020-11-08 10:41] HMingR commented on #1142
halo:

  # Your admin client path is https://your-domain/{admin-path}
  admin-path: admin

  # memory, level, redis
  cache: redis

  # if cache = redis, you need to set the following options
  cache-redis-nodes: ['127.0.0.1:6379']
  cache-redis-password: 123456

[2020-11-08 16:45] JessyTsu1 opened #1143 "服务器下centOS-7.x无法后台启动"
##环境：
服务器centOS-7.x

##问题：
正常用java -jar halo-latest.jar运行没有问题
但尝试用sudo service halo start或是sudo systemctl start halo.service来后台启动，都失败了
是按照官方文档进行配置的，不知道哪里出了问题，希望得到解答，感谢！

[2020-11-08 16:46] ruibaby commented on #1143
是否按照文档要求创建了 halo 用户，如果没有，删掉 halo.service 中的 User=halo，try again.

[2020-11-08 16:57] JessyTsu1 commented on #1143
删掉之后就可以用systemctl启动了，感谢！

[2020-11-08 16:57] #1143 closed

[2020-11-11 02:16] zhixiangyuan opened #1145 "feat: 附件回收功能"
## 动机

由于 Halo 的附件功能很好用，所以我们的很多图片都存在里面，但是随着文章的增加、删除和修改，很多图片可能就用不上了，但是图片依然会留在系统中，所以对这个东西有个想法。

## 详细解释

这里可以增加一个附件回收功能，判断一份附件是否还有效可以通过两个维度来判断，第一是通过解析 markdown 中的图片链接来判断获得当前还在使用的图片，第二是可以在系统中记录每份文件的最近访问时间，然后增加一个定时任务扫描，比如说每天扫描一次，如果 markdown 中有该链接则说明该图片当前还在使用，如果没有使用的文件可能是外部别的地方在用，这里可以在判断最近文件的访问时间，如果一个月（可配置）都没有被访问则定为垃圾文件，自动回收或放入回收站让用户处理

[2020-11-11 02:47] jiangqiang2020 opened #1146 "上传附件报错，求帮助"
![QQ截图20201111104310](https://user-images.githubusercontent.com/44720422/98758878-ba5f1b00-240a-11eb-97c4-d505bb23af89.png)

halo自己没有上传的日志，应该是nginx有问题，看见浏览器控制台网络响应的是
`<html>
<head><title>413 Request Entity Too Large</title></head>
<body>
<center><h1>413 Request Entity Too Large</h1></center>
<hr><center>nginx</center>
</body>
</html>`

附件大小22M
使用了nginx代理，但是nginx设置了最大body为1024m
![22](https://user-i

[2020-11-11 02:48] ruibaby commented on #1146
nginx 有重载配置或者重启吗？

[2020-11-11 02:50] jiangqiang2020 commented on #1146
有重启，上面是我最新的配置。加了一些超时时间的配置，然后浏览器上传之后直接就告诉我网络错误了。浏览器没响应。不加后面几个时间的配置就是413错误。

[2020-11-11 02:56] ruibaby commented on #1146
@jiangqiang2020 那就不太清楚了，这不属于 Halo 的问题，建议你在网上搜索解决方案。

[2020-11-11 03:20] zhixiangyuan commented on #994
私密文章访问确实不方便，但是某部分文章又指向以私密形式写出来，希望大佬早日支持

[2020-11-11 03:26] jiangqiang2020 commented on #1146
解决了。感谢。nginx的server和location都配置了大小，location只配置了10m。location优先级高，所以报错。另外，需要把nginx的超时时间设置大点才能正常上传。但是发现了一个问题：页面显示上传进度达到100之后得等很久才会告诉你上传成功，后台日志应该看出这段时间应该是上传到oss，这段时间间隔太长，页面没有一点互动效果，给人感觉就是卡死了，体验不好。

[2020-11-11 03:27] ruibaby commented on #1146
啊是的，之前考虑不周，oss上传是先经过服务器，而不是直接在客户端上传到 oss，所以会造成这一个现象。后面会重构附件上传，改为直接在客户端上传。

[2020-11-11 03:27] jiangqiang2020 commented on #1146
最后贴一个配置，希望可以帮助其他人，下面这段配置加在自己的nginx配置里面。
`        location /api/admin/attachments/ {
                proxy_set_header HOST $host;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

                #add_header Access-Control-Allow-Origin *;
                #

[2020-11-11 03:32] #1146 closed

[2020-11-11 03:32] ruibaby commented on #1145
可以考虑，但不纳入目前开发任务。

[2020-11-11 03:32] #1135 closed

[2020-11-11 05:59] zhixiangyuan commented on #989
大佬，今年年底前有没有可能用上新的编辑器？

[2020-11-12 06:28] joune90 commented on #407
我也发不了邮件，有没有大佬帮忙看看

[2020-11-12 06:28] joune90 commented on #407
Exception in thread "pool-4-thread-3" run.halo.app.exception.EmailException: 邮件发送失败，请检查 SMTP 服务配置是否正确
        at run.halo.app.mail.AbstractMailService.sendMailTemplate(AbstractMailService.java:114)
        at run.halo.app.mail.AbstractMailService.lambda$sendMailTemplate$0(AbstractMailService.java:128)
        at run.halo.app.mail.AbstractMailService$$Lambda$1273/0x00000000b8041110.run(Unknown Sour

[2020-11-12 06:29] joune90 commented on #407
Caused by: org.springframework.mail.MailSendException: Mail server connection failed; nested exception is javax.mail.MessagingException: Could not connect to SMTP host: smtp.exmail.qq.com, port: 587;
  nested exception is:
        javax.net.ssl.SSLException: Unsupported or unrecognized SSL message. Failed messages: javax.mail.MessagingException: Could not connect to SMTP host: smtp.exmail.qq.com,

[2020-11-12 06:44] JohnNiang commented on #407
@joune90 https://service.exmail.qq.com/cgi-bin/help?subtype=1&id=28&no=1000585

[2020-11-12 07:21] zhixiangyuan opened #1148 "bug: 引入外部字体不工作"
## 我的环境

版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.193 Safari/537.36

## 期望行为

在后台中通过 css 引入外部字体，虽然我已在文档中使用了该字体，但是浏览器并不会下载字体

![image](https://user-images.githubusercontent.com/25138766/98907894-87945000-24fa-11eb-9215-7b08ed894967.png)

## 当前行为

实际并没有下载该字体

[2020-11-12 07:22] ruibaby commented on #1148
啊这？怎么打上 bug 标签。

[2020-11-12 07:30] ruibaby commented on #1148
搜了个帖子，这样是可以的 https://bbs.halo.run/d/850

[2020-11-12 08:04] zhixiangyuan commented on #1148
大佬，你看我在最下面的那段代码，指定了代码用 JetBrains Mono，但是没有效果

[code]

![image](https://user-images.githubusercontent.com/25138766/98911705-0049db00-2500-11eb-91c4-c8a3230fac24.png)

[2020-11-12 08:04] #1148 closed

[2020-11-13 02:22] zhixiangyuan opened #1149 "bug: 数学公式不居中"
## 我的环境

版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.193 Safari/537.36

## 期望行为

数学公式居中

## 当前行为

数学公式使用 `$$xxx$$` 时不居中

![image](https://user-images.githubusercontent.com/25138766/99020637-f96fa680-2599-11eb-9223-44ec6f9778d8.png)

[2020-11-13 02:22] ruibaby commented on #1149
这是不是应该和主题的样式有关。

[2020-11-15 07:08] #1149 closed

[2020-11-16 07:40] yunajia opened #1152 "后台管理/外观，点击【菜单】提示异常信息"
org.springframework.web.bind.MissingServletRequestParameterException: Required String parameter 'team' is not present
        at org.springframework.web.method.annotation.RequestParamMethodArgumentResolver.handleMissingValue(RequestParamMethodArgumentResolver.java:204) ~[spring-web-5.2.9.RELEASE.jar!/:5.2.9.RELEASE]
        at org.springframework.web.method.annotation.AbstractNamedValueMethodArgum

[2020-11-16 07:42] ruibaby commented on #1152
- https://github.com/halo-dev/halo-admin/issues/253
- https://github.com/halo-dev/halo/issues/844

[2020-11-16 07:50] yunajia opened #1153 "导入markdown文件后，服务无法正常运行，后台日志显示内存溢出"
2020-11-16 15:47:30.597  WARN 1806 --- [qtp1544518128-15] o.e.j.u.thread.strategy.EatWhatYouKill   :

java.lang.OutOfMemoryError: Metaspace

[root@iZm5ebvlfc3n57gphm2koqZ blog]# jstat -gc 1806
 S0C    S1C    S0U    S1U      EC       EU        OC         OU       MC     MU    CCSC   CCSU   YGC     YGCT    FGC    FGCT     GCT
40960.0 40960.0  0.0    0.0   40960.0    0.0     184320.0   49810.3   1024

[2020-11-16 07:51] ruibaby commented on #1153
上传了多少？

[2020-11-16 07:53] yunajia commented on #1153
就刚刚上传一个文件

[2020-11-16 07:54] yunajia commented on #1153
问价大小4kb。还没有进行大批量的上传

[2020-11-16 07:57] ruibaby commented on #1153
没有复现，你现在服务是被停了吗？

[2020-11-16 08:02] yunajia commented on #1153
是的，我刚刚已经重启了服务，版本是1.4.2，也可能是我设置了jvm参数：
-Xmx300M
-Xms300M
-Xmn120M
-XX:MetaspaceSize=100M
-XX:MaxMetaspaceSize=100M
-Xss256K
-XX:+DisableExplicitGC
-XX:SurvivorRatio=1
-XX:+UseConcMarkSweepGC
-XX:+UseParNewGC
-XX:+CMSParallelRemarkEnabled
-XX:+UseCMSCompactAtFullCollection
-XX:CMSFullGCsBeforeCompaction=0
-XX:+CMSClassUnloadingEnabled
-XX:LargePageSizeInBytes=128M
-XX:+UseFastAccessorMethods
-XX:+Us

[2020-11-16 08:05] ruibaby commented on #1153
没有按照你的参数测试过，建议按照文档要求设置 -Xmx -Xms 再试试。

[2020-11-16 08:07] yunajia commented on #1153
好的，谢谢

[2020-11-17 07:59] cwjhome opened #1154 "私密文章前端不能显示吗"
私密文章前端不能显示吗

[2020-11-17 08:05] ruibaby commented on #1154
https://github.com/halo-dev/halo/issues/561

[2020-11-17 13:27] Stars-One opened #1155 "关于Https图片外链无法显示问题(附解决方法)"
当使用Https引用别的平台外链,图片会无法显示,如https://img2020.cnblogs.com/blog/1210268/202004/1210268-20200413161422035-1188549898.gif

**解决方法:**
在Html的head标签中添加以下代码即可
[code]

大佬看到,麻烦顺手修复以下,感谢!

[2020-11-17 14:29] #1154 closed

[2020-11-18 01:32] ruibaby commented on #1155
谢谢，但这不是 bug，也不是我们需要解决的范畴。甚至，我们不建议解决。

[2020-11-18 03:26] fangjianbin0227 commented on #1124
你好，你是怎么解决这个问题的，我目前也出现了这个问题，可以请教你一下吗，我邮箱wppa889@gmail.com
谢谢

[2020-11-18 08:28] miantiao5115 commented on #1058
博客名称：一根有梦想的面条
地址：https://miantiao.online

[2020-11-18 09:57] GalvinGao opened #1999 "[功能优化] 附件内图片展示效果优化"

[2020-11-19 07:00] womeng2009 opened #1156 "主题Anatole的code解析问题"
Halo官网下载最新halo.jar，部署后内置的Anatole默认主题，撰写博客加入```java```代码显示没有高亮。去主题仓库看到Anatole最新版是1.2，支持halo版本为1.3，而当前halo版本号为1.4。
发现问题后，在主题仓库下载NexT主题测试，发现问题解决，那Java代码不高亮显示的问题应该是Anatole主题的问题，请知晓。
不高亮显示效果：
![image](https://user-images.githubusercontent.com/64006143/99632248-de100a00-2a77-11eb-918c-19a83c5f4b8e.png)

[2020-11-19 07:05] #1155 closed

[2020-11-19 07:05] #1153 closed

[2020-11-19 13:34] micross opened #1157 "feat: 优化英文标题自动生成的别名"
## 概述

比如标题为”Hello halo“，目前系统会自动生成”H-e-l-l-o- -h-a-l-o“这样的别名，建议改成”Hello-halo“这样的形式。

## 动机

我认为采用-连接单词而不是将单词的每个字母拆出来再用-连接对SEO会更友好。

[2020-11-19 14:10] ruibaby commented on #1157
好的，我们已经发现了这个问题，将在后面的版本中优化，

[2020-11-20 01:06] xzhuz opened #1158 "feat: 获取文章的上一篇和下一篇文章rest接口"
## 概述
获取文章的上一篇和下一篇文章rest接口和日志点赞接口

## 动机

目前没有文章的上一篇和下一篇rest接口和日志点赞接口

## 详细解释

[2020-11-20 02:23] TigoTin opened #1159 "Markdown的Tab"
Markdown的Tab为啥是8个空格，每次写代码都得手动缩进

[2020-11-20 02:26] ruibaby commented on #1159
Markdown 理论上没有所谓的 tab。

[2020-11-20 09:52] xzhuz opened #1160 "feat: 希望能够放开日志的字数限制"
## 概述
目前对于每条日志是有字数限制的，希望能够放开这个限制。或者加上一个配置项
## 动机
不同主题对日志的展示意图是不一样的，固定字数对某些主题带来了部分限制。

## 详细解释

希望能够放开这个字数限制或者新增一个配置项

[2020-11-22 06:19] AnotiaWang opened #1161 "静态存储上传js文件时出现HTTP2_PROTOCOL_ERROR"
## 我的环境
版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36

网站已开启SSL

---

## 错误日志
[halo-log-2020-11-22-13-52-54.log](https://github.com/halo-dev/halo/files/5579052/halo-log-2020-11-22-13-52-54.log)

---

## 期望行为
我想给一个静态页面上传 jQuery js 文件

## 当前行为
在开发者选项中的“静态存储”中，点击上传，选中 j

[2020-11-22 06:30] AnotiaWang opened #1162 "为什么不同用户运行 Halo 程序，需要重新注册网站"
服务器：Ubuntu
我按照教程配置的时候用的是 root 用户，配置好了之后添加了 halo 用户并且添加到了systemd中，然后登录后台时要求重新注册一遍后台，最后我先换回root，导出配置 json，再换回 halo 导入才解决，这是为什么呢？

[2020-11-22 09:29] clien9025 opened #1163 "feat: 模板的问题，让我在文章中用MD语法时出现灰色前缀字号"
## 概述

去掉博客文章的灰色前缀字号（h1,h2,h3,h4,h5.....等等）
## 动机

因为这样真的很影响我博客的阅读，以至于在有时候博客文章采用的markdown语法书写时，标号太小导致文章中的有序排列的序号和灰色前缀字号重合，导致超级影响阅读。
## 详细解释

1.  我在写留言板的时候，发现写完留言板之后，在留言板发布的页面上有个[模板]选项（默认是 link），我点选[link]之后就没有像我其他文章那样的灰色前缀字号出现了，蛮好用的。

2.  我希望在[文章] --> [写文章] 之后发布的时候，发布页面也有这样一个模板选项，让我来勾选 [link] 选项，用来消除灰色前缀字号

[2020-11-22 09:31] ruibaby commented on #1162
Halo 的工作目录固定为当前系统用户下的 .halo 文件夹，所以你用不同的用户运行会有不同的工作目录。

[2020-11-22 09:32] #1159 closed

[2020-11-22 09:33] ruibaby commented on #1163
这应该是主题样式的问题，请问您用的哪个主题？

[2020-11-22 09:35] #1152 closed

[2020-11-22 09:38] AnotiaWang commented on #1162
好的，谢谢

[2020-11-22 09:38] #1162 closed

[2020-11-22 21:30] clien9025 commented on #1163
#### 这是我使用的主题，请大大过目
id: bao
name: 雪
author:
  name: 雪
  website: https://baozi.fun
description: 大道至简
logo:
website: https://github.com/xzzai/halo-theme-xue
repo: https://github.com/xzzai/halo-theme-xue
version: 1.0
require: 1.3.0

[2020-11-23 00:43] ruibaby commented on #1163
在这里去提 issue 吧。https://github.com/xzzai/halo-theme-xue

[2020-11-23 09:24] wenjunzhangp commented on #1058
博客名称：易读优
地址：[https://blog.yiduu.com](https://blog.yiduu.com)

[2020-11-23 15:25] #1163 closed

[2020-11-23 22:55] clien9025 commented on #1163
好的。

[2020-11-25 08:30] OnionSmile opened #1165 "数学公式显示不出来"
latex编辑的数学公式预览没有问题，发表出来显示有问题

[2020-11-25 08:31] ruibaby commented on #1165
- https://github.com/halo-dev/halo/issues/889
- https://github.com/halo-dev/halo/issues/607
- https://github.com/halo-dev/halo/issues/604
- https://github.com/halo-dev/halo/issues/602

[2020-11-25 09:53] yunxia99 opened #1166 "迁移过程中上传备份的.halo导致jar包启动失败"
## 我的环境
版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36

---

## 错误日志

[code]

---

## 期望行为
上传备份好的.halo文件能正常启动Jar包

## 当前行为
启动失败，但我删除我上传的.halo文件先正常启动生成默认的.halo后再替换相关数据文件又可以正常运行，这让我很疑惑。

[2020-11-25 09:56] ruibaby commented on #1166
[code]

[2020-11-25 10:03] yunxia99 commented on #1166
thanks

[2020-11-25 10:04] ruibaby commented on #1166
解决了？

[2020-11-25 10:06] yunxia99 commented on #1166
暂未测试 我测试后会回复并关闭问题的

[2020-11-26 02:49] yunxia99 commented on #1166
测试了，确实我的疏忽，抱歉。
原因是我使用Filezilla上传.halo文件时使用是root用户，而后面部署的时候是非root用户。导致权限不够
anyways，感谢你的帮助

[2020-11-26 02:49] #1166 closed

[2020-11-26 03:55] huangzong1998 opened #1167 "feat: 希望添加文章中解析豆瓣的功能"
## 概述

在文章中插入豆瓣url，可以自动解析成具体的内容（包括电影书籍的封面作者日期之类的信息）。

就是wordpress中wp-douban的功能，希望能移植到halo上。

## 动机

写一些观后感或读后感的文章，想插入关于影视的介绍，方便读者知道具体是哪部电影（书籍）。

## 详细解释

插入方式：直接在文章添加url，或者某个特殊标签，里面写豆瓣电影id文章id，然后能自动识别、解析

[2020-11-26 04:03] ruibaby commented on #1167
目前不打算再修改当前的编辑器来做支持，待新的编辑器开发完毕后再做这方面的支持。

https://github.com/halo-dev/halo/issues/989

[2020-11-26 06:39] Xizicl opened #1168 "feat: 希望增加一个文章导出的功能，比如说导出成markdown"
## 概述
希望增加一个文章导出的功能，比如说导出成markdown（一篇文章连带其资源导出为一个文件夹）

## 动机
在把之前写的markdown导入为文章后想导出备份到本地一下（服务器快到期了想更换其他服务器，或者想换其他博客系统【这么说是不是不太好哈哈哈哈】），目前咱们halo好像是只能备份~/.halo这一整个文件夹  :)

## 详细解释

[2020-11-26 06:41] ruibaby commented on #1168
暂时不打算做这个功能。你可以可以考虑再本地访问 h2，写一个小小的程序读取 posts 表，将 Markdown 导出。

[2020-11-26 06:55] Xizicl commented on #1168
好的，可是相关资源的引用路径比如图片都是指向网站的，可能会有些麻烦

顺便问一下：不知能不能在资源这一块做个类似资源管理器的功能（方便上传和下载）【目前好像是按月份放在同一文件夹中，或者改变一下按文章来存放也可】。

[2020-11-26 09:02] ruibaby commented on #1168
你可以将 upload 目录放到其他系统的根目录

~正考虑重构附件管理。

[2020-11-26 20:50] clien9025 opened #1169 "关于日志的报错是否与 /.Halo/db 不能备份有关"
## 我的环境
版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
启动时间：2020-11-18 09:33

---
## 期望行为

我想知道这些日志报错里面有没有什么致命的报错内容；
## 当前行为

1. 因为我是 docker 部署的，所以在我挂载出来的 .halo 文件夹下（我默认用的是 h2 数据库），我最近更新了很多的文章，但是
我的  **.halo/db/halo.mv.db** 文件的大小还是没有变化，更新的时间总是停留在过去。我怀疑是不是和以上的报错信息有关；
2. 我自己也在服务器上也开启了定时备份这样的功能，好久都没备份 **/db/halo.mv.db** 这个文件了
![image](https://user-images.githubusercontent.com/55913623/100390407

[2020-11-26 23:54] jiangqiang2020 opened #1170 "有没有考虑过加入简历功能？"
我的想法是新增一个单独的页面作为简历页面。通过设置个人资料维护简历信息，并且可以输入对方邮箱一键发送简历功能。并且简历页面可设置对他人不可见，保护信息不泄露。

[2020-11-27 01:08] ruibaby commented on #1170
抱歉，这不属于 halo 需要实现的范畴，不考虑实现。

[2020-11-27 01:59] Aspire814 commented on #1058
博客名称：Storm's Blog
地址：http://hi.stormblog.cn/
微信小程序，请搜索：凌碎

[2020-11-27 02:03] #1170 closed

[2020-11-27 02:05] ruibaby commented on #1169
你的异常信息都是正常的业务异常，没有问题。建议你将数据库下载到本地连接之后看看数据是否正常。

[2020-11-27 03:54] #1167 closed

[2020-11-27 03:55] #1165 closed

[2020-11-27 04:05] ruibaby commented on #1161
刚刚测试了上传 jQuery.js 是没有问题的，建议你上传的时候看一下请求是否被 nginx 拦截了。

[2020-11-27 07:30] tellbin commented on #1058
博客名称：TBlog
地址：[https://blog.tellbin.cn](https://blog.tellbin.cn)

[2020-11-27 09:36] #1168 closed

[2020-11-27 21:18] clien9025 commented on #1169
好的，那数据库 halo.mv.db 文件怎么打开呢？请大大指点下~

[2020-11-27 22:06] clien9025 commented on #1169
![image](https://user-images.githubusercontent.com/55913623/100486637-a839e800-313f-11eb-81f2-d149cedd9284.png)
zhe's这是我在服务器上的 db 文件的大小。
![image](https://user-images.githubusercontent.com/55913623/100486662-cdc6f180-313f-11eb-9115-900d364c07c7.png)
这是我通过后台小工具备份下来的 db 文件的大小

[2020-11-27 22:16] clien9025 commented on #1169
![image](https://user-images.githubusercontent.com/55913623/100486838-c3f1be00-3140-11eb-8e03-2da9110bc9a2.png)
而且用数据库工具打开这个文件的时候，提示不是数据库文件类型。就算输入密码进入，也是没有内容。。
![Uploading image.png…]()

[2020-11-27 22:17] clien9025 commented on #1169
![Uploading image.png…]()

[2020-11-27 22:17] clien9025 commented on #1169
![Uploading image.png…]()

[2020-11-28 06:05] jiangqiang2020 opened #1171 "关于友链设置的建议"
每次别人给我留言加友链，我都感觉太麻烦了。想能不能像评论一样，让别人按照格式写好友链的相关信息之后，管理员在后台核审一下就自动加上。

[2020-11-28 13:54] ruibaby commented on #1169
这可能是由于 macOS 计算方式不同导致的。

[2020-11-28 13:54] ruibaby commented on #1169
用的什么工具。

[2020-11-28 13:59] ruibaby commented on #1169
这篇帖子的问题似乎和你一样。https://bbs.halo.run/d/653/18

他导致这个问题的原因好像是 Halo 运行中的时候，重新用另外一个 halo.mv.db 覆盖了 halo.mv.db。导致后续的数据一直在内存，没有持久化到 db 文件。建议你现在不要随便重启，先在后台把数据导出。

[2020-11-28 16:33] LainNetWork opened #1172 "博客后台在一个月前突然收到大量来自你们开发组的issue评论，请问是什么原因？"
如图所示
![image](https://user-images.githubusercontent.com/20994069/100520728-54301180-31da-11eb-8f93-11fc55cba200.png)

[2020-11-28 16:34] ruibaby commented on #1172
@LainNetWork https://bbs.halo.run/d/1059-halo

[2020-11-28 16:36] LainNetWork commented on #1172
看来是你们被别人搞了。。我还以为是在测试什么新功能呢

[2020-11-28 16:36] #1172 closed

[2020-11-28 16:57] ruibaby commented on #1171
可以考虑。

[2020-11-29 04:39] clien9025 commented on #1169
Mysql 的 Navicat，和 SQLite 都用了，都打不开

[2020-11-29 04:41] clien9025 commented on #1169
好的，俺来研究研究。麻烦大大了~再有什么事情回头聊，哈哈哈~

[2020-11-29 04:42] clien9025 commented on #1169
好的，麻烦大大了~ 俺来研究研究，有其他的事情，回头聊，哈哈哈~

[2020-11-29 13:44] clien9025 commented on #1169
1. 确实我利用 halo 博客的后台的备份系统之后，导出的备份资料是2.9M，比之前的2.8M大了一点。但是这种覆盖的问题能不能从根源上解决哇，手动备份太麻烦了。毕竟我是将服务器上的  ~/.halo/ 文件夹加上Git 的定时备份的，老是我定时备份的文件夹 ~/.halo/ 被覆盖的话，那我的自动定时备份不是浪费了嘛~~~
2. 关键的是我还是 docker 部署的，那是要我重新手动备份一下我的服务器，然后重新 docker 在部署一遍？然后再把我下载好的备份文件再传到服务器上和 Docker 容器里的  /.halo 文件同步？ 然后之后再出现被覆盖的情况，俺会崩溃。。。 大大会不会后期的版本优化一下次BUG？哈哈哈哈~

[2020-11-29 13:51] ruibaby commented on #1169
@clien9025 我是担心你重启之后数据丢失，然后叫你导出数据（json文件），不是那个全站备份。后面的我没看懂。

[2020-11-29 13:54] ruibaby commented on #1169
这一句我上面说过了，你导出的是 2.9m 是和 macOS 容量计算不一样导致的，并不是根本问题。我按照那个帖子猜测是你在 Halo 运行途中覆盖了 db 文件，导致后续的操作没有办法持久化到 db 文件。备份并无影响，也不是 bug。

[2020-11-29 13:55] ruibaby commented on #1169
Docker 部署按照文档把 /root/.halo 映射到宿主机的某个文件夹就行了，然后备份这个文件夹即可。

[2020-11-29 15:15] clien9025 commented on #1169
1. 我的 Docker 是按照这样来部署博客的
![image](https://user-images.githubusercontent.com/55913623/100545722-36c17d00-3298-11eb-8715-c47af21c046d.png)

2. 只要重新运行上述的指令`docker run --rm -it -d --name halo -p 8090:8090  -v ~/.halo:/root/.halo ruibaby/halo`
还可以重新映射 容器里的 Halo 文件夹么？但是数据会丢失是么？烦请大大指点~~麻烦了~~

[2020-11-29 15:16] clien9025 commented on #1169
嗷嗷，好的呢。谢谢大大的耐心讲解~

[2020-11-29 15:17] ruibaby commented on #1169
如果你是按照文档的命令运行的，那么数据应该在你系统的 ~/.halo 下。

[2020-11-29 15:26] clien9025 commented on #1169
是的
![image](https://user-images.githubusercontent.com/55913623/100546030-067ade00-329a-11eb-807c-885ef8ac2259.png)

[2020-11-29 15:39] clien9025 commented on #1169
大大，可以方便加Q聊咩？
我的Q：302677599

[2020-11-30 12:52] #1169 closed

[2020-11-30 13:01] ruibaby commented on #1139
评估结果，待我们完成 [app id](https://github.com/halo-dev/halo/issues/474) 之后，这个功能将很方便支持。目前你也可以使用 admin api 的上传接口来实现，但 token 可能不太优雅的能获取到。

[2020-11-30 13:01] #1139 closed

[2020-11-30 13:01] #1161 closed

[2020-11-30 13:02] #1126 closed

[2020-11-30 13:02] ruibaby commented on #1124
已经修复，使用新的 Casper 主题即可。

[2020-11-30 13:02] #1124 closed

[2020-11-30 15:10] ruibaby opened #1174 "修改自定义页面路径形式"
目前有不少人反应自定义页面带了 /s/ 二级路径看着很奇怪，所以这个 issue 征集大家的意见。

1. 去除 `/s/`，直接使用 slug 根路径，类似 https://ryanc.cc/about
2. 保留现状，类似 https://ryanc.cc/s/about。 （目前这种方式的 /s/ 二级路径是可以在后台修改的）
3.

![image](https://user-images.githubusercontent.com/21301288/100626735-232e1900-3361-11eb-981b-2b2fa507321a.png)（自己在后台选择路径方式）

[2020-12-01 00:57] hongcyu opened #1175 "feat: 增加git类附件上传仓库的选项"
## 概述

想拥有类似PicGo一样的可以通过上传到github/gitee获取附件的功能。

## 动机

目前看到后台附件处有许多云存储的配置，希望增加这git类的配置0.0

## 详细解释

![image](https://user-images.githubusercontent.com/41502466/100683266-f145a280-33b2-11eb-9de8-a520e8f79e68.png)
![image](https://user-images.githubusercontent.com/41502466/100683288-002c5500-33b3-11eb-98cd-4e96c889f259.png)

[2020-12-01 01:15] LIlGG commented on #1174
个人是比较喜欢直接使用 slug 根路径的方式，也许是强迫症的原因，看到有个多余的二级 URI 就感觉很不舒服。
但以目前的情况，想切换成第一种方式还是有以下问题的：
1. 旧用户已经**被收录**的自定义页面将在更新版本后失效。
2. 旧用户**已经存在的自定义页面别名与现有的默认菜单名冲突**，将会造成不可预知的问题。
3. 在新增自定义时，将要校验自定义页面别名是否与现有默认页面名冲突，即需要多查一次库。

如果能解决掉如上所述的问题 ~~【我全都要？？？】~~，我个人还是比较喜欢直接 slug 根路径的方式。

[2020-12-01 06:11] #1103 closed

[2020-12-01 08:32] xzhuz commented on #1174
没有用过后台的自定义路径，所以不确定自定义页面路径是否支持自定义成`https://ryanc.cc/about`？如果可以支持自定义这种，那么感觉就没有必要讨论。即使不支持， 支持自定义页面路径，也可以让使用者自己DIY。

[2020-12-01 08:33] ruibaby commented on #1174
不支持，必须有二级。

[2020-12-01 08:37] xzhuz commented on #1174
那如果把这个限制放开，只限制路径不能重复。至于需要怎么样的路径，让使用者自己DIY。个人觉得，这样就很好了。

[2020-12-01 08:39] ruibaby commented on #1174
个人觉得也没必要限制路径不能和内置页面的路径重复，把自定义的优先级提高就好了，比如 /links，我想覆盖这个页面就可以新建一个自定义页面，slug 命名为 links。

[2020-12-01 08:42] xzhuz commented on #1174
👍这样设计感觉更好了

[2020-12-01 08:43] LIlGG commented on #1174
强行覆盖？你在教用户做事？？【狗头保命】

[2020-12-01 12:52] praming commented on #1174
1不是不好实现吗？如果能实现那肯定选1或者3啊。

[2020-12-01 12:53] ruibaby commented on #1174
以前不好实现，但现在好实现了，属于历史遗留问题，但要考虑老用户的兼容问题。

[2020-12-01 13:14] praming commented on #1174
如果是这样的话我觉得3比较合适啊。

[2020-12-01 13:15] praming commented on #1174
如果是这样的话我觉得3比较合适啊。

[2020-12-01 13:21] ruibaby commented on #1175
可以考虑，但不作为目前开发重点。

[2020-12-02 02:23] #1174 closed

[2020-12-02 02:24] #1158 closed

[2020-12-02 06:29] ghostsf opened #1178 "后台过期弹窗登录后不刷新"
## 我的环境

版本：1.4.2

## 错误

后台登录过期后弹窗登录
登录成功后未刷新渲染数据

[2020-12-02 06:29] ghostsf opened #1998 "后台过期弹窗登录后不刷新"
## 我的环境

版本：1.4.2

## 错误

后台登录过期后弹窗登录
登录成功后未刷新渲染数据

[2020-12-04 09:01] lanemy commented on #1142
感觉要做完善的话, redis得支持单机, 哨兵, 集群这些模式吧...

[2020-12-04 09:25] HMingR commented on #1142
个人博客感觉没必要使用这些模式，只要支持单机就可以了。但是目前是只能当redis配置了集群才能使用redis缓存。
https://github.com/HMingR/halo 这个是我个人fork下来修改的，兼容了支持单机redis，但是不能使用外部配置文件了[捂脸]。。

[2020-12-04 09:29] ruibaby commented on #1142
下个版本考虑去除 redis 缓存，目前来说必要不大。

[2020-12-04 13:47] lanemy commented on #1142
https://github.com/lanemy/halo/commit/7f4c5e34c88562d1c4ece8edfd423521b975762c

我加了个单机的实现, 利用原有的jedis, 配置文件可以生效的

  cache: redis-standalone
  cache-redis-host: 127.0.0.1
  cache-redis-port: 6379
  cache-redis-password: mypassword

[2020-12-05 01:19] LIlGG commented on #1061
已经提交了 issue，参见 #1177 以及 #1174

[2020-12-05 01:21] LIlGG commented on #1061
至于文章的 {slug}，本身便是可以自定义的，如下
![image](https://user-images.githubusercontent.com/31335418/101229430-2f0c3900-36db-11eb-9e92-a2dd72746182.png)

[2020-12-05 03:37] veneris commented on #1061
关于自定义链接，我的意思是，给定用户几个变量，例如{slug}，{year}，{month}，{day}，{id}等，然后用户可以自己根据以上的变量去搭配出来自己需要的链接形式，而不是固定的这几种组合方式。
![image](https://user-images.githubusercontent.com/28482172/101232667-d5613a00-36ed-11eb-9117-5fdb2b7f9514.png)

[2020-12-05 03:46] LIlGG commented on #1061
收到

[2020-12-05 03:47] ruibaby commented on #1061
目前做不到，有机会会尝试。

[2020-12-05 03:47] #1061 closed

[2020-12-05 06:38] MrLawrenc opened #1179 "博客没有内容保存时发生npe异常"
## 我的环境

版本：本地最新代码测试
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

---

## 错误日志

[code]

---

## 期望行为

修复空指针，运行临时保存未开始书写的文章
run.halo.app.service.impl.BasePostServiceImpl#createOrUpdateBy
[code]
## 当前行为
准备写博客，想了个标题没有写任何内容临时有事出门，就想先保存，就报错了
![image](https://user-images.githubus

[2020-12-05 06:47] ruibaby commented on #1179
确定是最新代码的问题？

https://github.com/halo-dev/halo/blob/master/src/main/java/run/halo/app/utils/HaloUtils.java#L277

在 https://github.com/halo-dev/halo/pull/1099 已经被修复。

[2020-12-06 02:48] ruibaby opened #1180 "从文件更新主题接口异常"
## 我的环境

版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36 Edg/87.0.664.55

/api/admin/themes/upload/{themeId}

---

## 错误日志

[code]

---

[2020-12-06 02:50] #1179 closed

[2020-12-06 11:45] yunxia99 opened #1181 "上传附件失败"
上传附件失败
环境：
版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36
日志：
2020-12-06 19:38:13.476  INFO 15072 --- [qtp970535245-12] r.h.app.handler.file.LocalFileHandler    : Uploading file: [4-1.png]to directory: [/home/lighthouse/.halo/upload/2020/12/4-1-53bbafca1c9d4f6f8a625b0

[2020-12-07 02:15] JohnNiang opened #1182 "对评论进行限制"
## 概述

近期 Haloer 收到大量的垃圾评论，希望能够出现一种策略保护 Halo，限制攻击者。

## 动机

https://bbs.halo.run/d/1059-halo

## 详细解释

- 对评论次数进行限制
- 对评论者 IP 进行限制

[2020-12-07 02:22] yunxia99 commented on #1181
回退到1.4.1重新部署后解决了问题，但我仍不知道以上问题的来源。

[2020-12-07 02:22] #1181 closed

[2020-12-07 02:29] ruibaby commented on #1181
可能和你系统 lighthouse 用户的文件权限有关。

[2020-12-07 02:32] yunxia99 commented on #1181
我也怀疑过权限问题，我尝试过把执行 chmod 777 ~/.halo  ，但依然上传失败，不知道这能否排除是权限问题。

[2020-12-07 02:33] ruibaby commented on #1181
目前你使用 1.4.1 是正常的，那你可以尝试更新到 1.4.2 试试。

[2020-12-07 02:38] LIlGG commented on #1182
目前不是已经有 IP 限制了吗？？当恶意用户使用代理池、肉鸡进行攻击时，IP 限制应该是无效的。对于 User-Agent 也可以进行伪造。。感觉合适的方式就是接口次数过多以后执行验证码，但这样必定会影响到所有的主题。。

[2020-12-07 02:40] LIlGG commented on #1182
不知道能不能实现，登录后评论的这种方式。。 即用户需要登录后台才可以进行评论，这样就可以有效限制垃圾评论。

[2020-12-07 02:42] JohnNiang commented on #1182
- 目前还无法拉黑 IP 地址或者 CIDR 地址；
- 验证码模式倒是可以考虑，不然现在就是在裸奔，但确实会影响到所有评论插件。

[2020-12-07 02:46] LIlGG commented on #1182
嗯嗯 了解了。 果然还是很期待这些安全方面的问题解决方案的。哈哈

[2020-12-07 11:15] OnionSmile opened #1183 "写文章时点击预览会出现404"
写文章的时候点击预览，会报404notfound错误，无法预览

[2020-12-07 11:20] ruibaby commented on #1183
请补充利于我们判断的详细信息，否则我们将关闭此 issue。

[2020-12-07 11:22] OnionSmile commented on #1183
写文章的时候点击预览，会报404notfound错误，无法预览。

[2020-12-07 11:25] ruibaby commented on #1183
版本多少。

[2020-12-07 11:47] OnionSmile commented on #1183
版本：1.3.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.198 Safari/537.36

[2020-12-07 11:47] ruibaby commented on #1183
@OnionSmile 升级到最新版即可解决。

[2020-12-07 11:53] OnionSmile commented on #1183
升级到1.4.2了还是不行

[2020-12-07 12:01] ruibaby commented on #1183
其他功能是否异常？有没有使用全局 cdn 的服务？ 预览的问题已经修复很久，目前没有发现过遇到您这种情况的。需要更多信息才能帮你判断。

[2020-12-07 13:07] OnionSmile commented on #1183
其他功能正常，用了cdn，是cdn的问题吗

[2020-12-07 13:08] ruibaby commented on #1183
https://github.com/halo-dev/halo-admin/issues/253

[2020-12-07 13:24] OnionSmile commented on #1183
感觉大佬解答，果然是cdn的问题，没设置参数跟随。

[2020-12-07 16:09] #2007 closed

[2020-12-07 16:09] #2022 closed

[2020-12-07 16:09] #1183 closed

[2020-12-07 17:47] QForever opened #1185 "日志一直报错/sw.js"
## 我的环境
版本：1.4.2
数据库：MySQL 5.7.26-log
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

## 当前行为

日志一直报错/sw.js

## 错误日志
![](https://gitee.com/wuduoqiang/image/raw/master/qblog/6c48e353370c4864.png)

[code]

## nginx配置

[code]

[2020-12-07 18:24] QForever opened #1186 "上传图片到阿里OSS明明成功了，却提示失败！"
## 我的环境

版本：1.4.2
数据库：MySQL 5.7.26-log
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

## 我的问题
上传图片到阿里OSS明明成功了，却提示失败！

## 错误日志

[code]

![1](https://user-images.githubusercontent.com/35030333/101389420-5f7eed80-38fc-11eb-81ef-d27fb50ad78d.jpg)
![2](https://user-images.githubusercontent.com/35030333/10138

[2020-12-08 01:59] #1157 closed

[2020-12-08 02:17] ruibaby commented on #1185
这是浏览器自己去请求 ServiceWorker 文件去了，由于 Halo 没有 sw.js 文件，所以这个异常其实是代表 404，不会影响操作。

[2020-12-08 02:17] ruibaby commented on #1186
次次都是吗？

[2020-12-08 08:06] MakiseVon opened #1187 "feat: 后台渲染 Markdown 时让 Table 居中"
## 概述

测试后台 Markdown 时发现 Table 默认居左

![](https://i.loli.net/2020/12/08/49HZPzJqnmy8YSt.png)

希望能让 Table 居中。

## 动机

一点强迫症 & 希望有更好的写作体验 ~

## 详细解释

[2020-12-08 09:26] #1185 closed

[2020-12-08 10:37] coortop commented on #1187
这是主题样式写的不对，和halo后台无关，你可以修改主题的css实现

[2020-12-08 10:50] MakiseVon commented on #1187
Halo 的前后端渲染不是分离的吗？主题 CSS 中没有发现有关 Editor 的内容...

[2020-12-08 10:54] coortop commented on #1187
后台编辑框的样式也不对，但发布完主要是给前端显示啊，你不用管后台咋显示，你把前端主题的样式改好不就行了

[2020-12-08 10:58] MakiseVon commented on #1187
我前端没有任何问题，提这个 issue 只是因为写文章时看着很怪（好像表格、图片之类的都没有居中？）。无论如何，谢谢你 ~

[2020-12-08 11:00] ruibaby commented on #1187
这其实是编辑器的样式规定，大多数 Markdown 样式都这样的，Github 的 Markdown 样式也一样。

|column1|column2|column3|
|-------|-------|-------|
|content1|content2|content3|

[2020-12-08 11:03] MakiseVon commented on #1187
谢谢 ~ 知道是规定之后就好受多了

[2020-12-08 11:03] #1187 closed

[2020-12-08 14:30] QForever commented on #1186
不是次次都是，有的图片正常上传到OSS，有的图片上传失败就一直显示失败，但实际上已经上传成功的。

[2020-12-08 14:31] ruibaby commented on #1186
可以把失败的图片提供一下。

[2020-12-08 14:39] fei1025 opened #1188 "遇到一个奇怪都问题 点击后台布局设置就会黑屏"
## 我的环境

我这个是一个hdim转vga 都屏幕,发现有些主题就会黑屏,
我尝试过打开其他人的halo博客,有些主题就会导致屏幕无线黑屏
![V01208-212615](https://user-images.githubusercontent.com/46546005/101497453-f653b480-39a5-11eb-92ed-b731d21f4a84.gif)

[2020-12-08 14:46] ruibaby commented on #1188
无法判断硬件的情况，建议升级浏览器或者换个浏览器试试。从理论上讲，一个 web 程序应该影响不到硬件。

[2020-12-08 16:05] QForever commented on #1186
比如 `mmexport1607352227499.jpg` 这张，明明上传成功了却提示失败，导致附件没有图片，而OSS上就存在了。

![mmexport1607352227499](https://user-images.githubusercontent.com/35030333/101507809-ee9a0d00-39b1-11eb-84b9-691f83081c30.jpg)

![Snipaste_2020-12-09_00-01-33](https://user-images.githubusercontent.com/35030333/101507859-fb1e6580-39b1-11eb-886e-0c1d3727e81d.png)

![Snipaste_2020-12-09_00-02-14](https://user-images.githubuserconte

[2020-12-08 16:07] JohnNiang commented on #1188
难道是动效搞死了显卡？：P

[2020-12-08 16:12] JohnNiang commented on #1186
需要你提供一下错误日志。

[2020-12-08 16:18] QForever commented on #1186
[code]

[2020-12-08 16:22] JohnNiang commented on #1186
由于我们的原因，导致错误栈没有完整的显示出来。

[2020-12-08 16:27] ruibaby commented on #1186
你可以在 application.yaml 加上如下配置打开 debug 模式。

[code]

日志问题我们将在下个版本中修复。

[2020-12-08 16:30] ruibaby opened #1189 "运行日志优化"
## 我的环境

版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36 Edg/87.0.664.55

---

## 错误日志

无

---

## 期望行为

1. 打印关键异常的堆栈信息。
2. 屏蔽无意义的日志。

## 当前行为

1. 业务异常的堆栈信息没有打印，导致无法判断具体错误。
2. 大量无意义的 404 日志。

[2020-12-08 16:40] QForever commented on #1186
Debug的错误日志

[code]

[2020-12-08 16:43] ruibaby commented on #1186
@QForever

[code]

是不是修改了图片后缀？我们目前处理图片的类似乎无法正确读取该类型的图片。

临时解决方案为换一张一样的图片，或者用格式转换的软件处理一下图片。

[2020-12-08 16:44] ruibaby commented on #1186
@JohnNiang 需要把这个异常捕获一下。

[2020-12-08 16:47] ruibaby commented on #1037
这个问题处理了么？

[2020-12-08 16:48] JohnNiang commented on #1037
无法复现。

[2020-12-08 16:53] QForever commented on #1186
我也看到这个了`Caused by: javax.imageio.IIOException: Not a JPEG file: starts with 0x89 0x50`，确实是因为后缀的原因，我将jpg修改成png就可以了。图片来源网络，我都是直接保存后就上传的，没做修改，可能是经过微信后png转成jpg了，但是图片对于用户来说应该算是正常的，电脑，手机，平板等都能正常打开。

[2020-12-08 16:54] JohnNiang commented on #1186
接下来我们将对次错误给出一个更有好的提示，或者直接忽略。

[2020-12-08 16:56] QForever commented on #1186
好的，找到问题就行了，谢谢解答！！！

[2020-12-09 01:38] fei1025 commented on #1188
我感觉是,有一个博客我打开,那个屏幕就黑屏显示无信号连接.....感觉有些东西要渲染但是hdim转vga就支持不了.....

[2020-12-09 01:43] fei1025 commented on #1188
补充下,我这个是双屏一个是vga一个是hdim转vga,vga没问题,
但是hdim转vga就有这个问题,
感觉像有点主题要渲染数据 但是hdim转vga造成了数据丢失,然后显示屏黑屏

[2020-12-09 02:40] ruibaby commented on #1188
那就非常抱歉了，这个不属于我们需要解决的范畴。

[2020-12-09 02:44] #1142 closed

[2020-12-10 09:44] BennettChina opened #1193 "后台设置标签不能指定仅使用父标签"
## 我的环境

版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

---

## 错误日志

---

## 期望行为

后台设置文章的标签时，如果这个标签有子标签，期望仅使用标签的父级

## 当前行为

我设置文章的标签时，这个标签有子标签，那么会设置成这篇文章使用所有的子标签，而无法使用父标签。

![image](https://user-images.githubusercontent.com/48208644/101754582-dc81b100-3b0e-11

[2020-12-10 09:44] BennettChina opened #1997 "后台设置标签不能指定仅使用父标签"

[2020-12-11 06:36] #1188 closed

[2020-12-11 07:09] duanmofan opened #1194 "feat: The images gallery stores images in categories"
## 概述

对图片进行分文件夹的管理，可以让用户把不同类型的图片主动放到不同的文件夹中，来更好的在编辑文章时选取封面和文章对图片的引用提供便利。
## 动机

我在halo博客上写博客时有时会在文中发一些截图的图片，复制图片直接上传的设定让我感到很方便。但是我的每种不同类型的博客都有特定的封面，对于技术博客总是有一张特定的偏暗色的图片当封面，对于感悟和记录博客都会有亮色一些的。所以我需要在每次发布博客时都手动设置tag和特定封面图，但在博客中发的截图会占用在选取封面图时的页面数，随着我的使用，原本我的封面图从第一页到达了第七页，每次我需要翻很多页的图片来找到我的封面，这让我感觉很麻烦。并且如果我以后要更新我的封面库的话，他们在顺序上将是分隔甚远的，会让我懒于更新并查找他们。
如果能够把图片分文件夹管理的话，我可以轻松的找到我的封面，并没有压力的更新和查找到他们，不用担心积攒太多无用图片会

[2020-12-11 07:11] JohnNiang commented on #1194
WIP: https://github.com/halo-dev/halo/pull/1125

[2020-12-11 10:24] thomas10011 opened #1195 "上传文件出现OOM错误"
## 我的环境
版本：1.4.2
数据库：H2 1.4.196 (2017-06-10)
运行模式：production
启动时间：2020-12-11 18:11

---

## 错误日志
[code]

---

## 期望行为
上传小于5m的文件成功，大于5m的文件就会报错

## 当前行为
上传大于5m的文件报错。jvm内存参数设置的是512m。

[2020-12-12 15:23] ruibaby commented on #1195
这个问题应该已经被修复了。https://github.com/halo-dev/halo/pull/1122

方便告知你服务器的配置吗？

[2020-12-12 15:32] thomas10011 commented on #1195
可以的，我的服务器是1核2G的配置，查看了内存可用情况，jvm可用内存基本维持在300M左右；另外我测试上传别的大图片倒是成功了，上传失败的两张图片均是全景图，分辨率比较高（不知道是不是这个原因？）

[2020-12-12 15:35] ruibaby commented on #1195
那确实有可能是图片太大导致的，因为 Halo 内部在上传图片的时候会生成缩略图，这一步往往随着图片的质量而消耗的资源更多，很容易导致 OOM，如果可以的话，你可以把图片发送到 i@ryanc.cc。我们测试一下。

[2020-12-12 15:41] thomas10011 commented on #1195
已发送

[2020-12-12 15:47] #1189 closed

[2020-12-12 15:55] ruibaby commented on #1195
@thomas10011 确实是在生成缩略图的时候产生的问题。目前你可以考虑压缩一下图片，或者调高一下 -Xms -Xmx 。

[2020-12-12 15:58] thomas10011 commented on #1195
好的，这个不急，可以等待修复

[2020-12-13 13:22] JohnNiang opened #1196 "用 Github Action 替代 Travis CI"
## 概述

用 Github Action 替代 Travis CI。

## 动机

Travis CI 相比于 Github Action 慢太多。

## 详细解释

优化内容：

- CI 流程
- 自动发布流程

[2020-12-14 02:27] JohnNiang commented on #1186
Fixed by #1191

[2020-12-14 02:27] #1186 closed

[2020-12-14 10:49] silly-Richard opened #1197 "可以自定义图库位置么"
写博客的时候会用到很多图片，但是图库的默认位置在c盘，想把它放在别的盘下。不知道这个可以自定义路径么？

[2020-12-14 10:50] ruibaby commented on #1197
不可以，这是固定的。

[2020-12-14 11:41] silly-Richard commented on #1197
还想冒昧地请教一下，我可以将整个halo配置文件配置在其他盘么？
我是技术小白，不是很懂这里面的配置。我只是想尝试使用halo搭一个私人的数据库或者是笔记本。
或许我应该死了这条心，换一个软件23333

[2020-12-14 11:42] JohnNiang commented on #1197
可以。稍后给你解决方案。

[2020-12-14 13:28] JohnNiang commented on #1197
可以在 `~/.halo/application.yml` 中新增如下配置：

[code]

[2020-12-15 02:06] Raremaa opened #1198 "feat: 以Markdown格式导出所有的文章"
## 概述
  一键以Markdown格式导出Halo所有的文章。

## 动机
事实上我除了Halo也在使用一些其他的比如Notion在内的笔记本软件(主要是本地使用)，大多数第三方笔记本软件都是支持导出导入Markdown格式的，这样第三方笔记本软件和Halo能互相交换数据。
除此以外，鸡蛋不能放在一个篮子里，对于我来说，博客的核心还是文章，如果能方便的导出文章也可以有一种人工备份的效果。

## 详细解释
  与Halo现版本(V1.4.2)的导出Json的功能类似，添加了相关的导出Markdown格式的API。通过这些API可以将Halo所有的文章以Markdown格式导出(会打包为一个ZIP文件)。

[2020-12-15 02:18] Raremaa commented on #1198
API部分已经提交PR

[2020-12-20 02:10] #1197 closed

[2020-12-22 10:56] zhixiangyuan opened #1200 "bug: 回收站功能未生效"
## 我的环境

[code]

## 错误日志

以下展示的是超过 30 天的日志

![image](https://user-images.githubusercontent.com/25138766/102881027-35463780-4487-11eb-9aeb-60cc0875ba05.png)

以下展示的是我的配置，开启了 30 天则自动回收

![image](https://user-images.githubusercontent.com/25138766/102881087-4c852500-4487-11eb-943d-8e0d4ecf30a6.png)

## 期望行为

超过三十天自动回收

## 当前行为

未回收

[2020-12-23 11:08] Moac1129 opened #1201 "关于图片预览"
在博客文章中的图片，似乎无法点击放大预览，是因为主题的原因吗还是没有这个功能

[2020-12-23 11:09] ruibaby commented on #1201
@Moac1129 需要主题支持。

[2020-12-23 14:53] wesecret opened #1202 "feat: 搜索不支持大小写，希望能支持，谢谢"
## 目前搜索不支持大小写

## 自己搜索文档或者别人搜索都挺不方便的

## 希望增加区分大小写的功能，谢谢

[2020-12-24 00:44] JohnNiang commented on #1202
搜索这块确实需要好好搞，不过可能要计划更后面进行了。

[2020-12-24 06:38] Angel0726 commented on #1198
现在实现导出markdown文件了吗？

[2020-12-24 13:21] #1201 closed

[2020-12-24 13:26] #763 closed

[2020-12-24 14:53] #1101 closed

[2020-12-25 01:21] Lwenguang opened #1205 "获取文件名时特殊字符没有转码"
## 我的环境

版本：1.4.2
数据库：MySQL 5.7.30-log
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36

---

## 错误信息

请求后端接口获取文件时 文件名特殊字符没有转码

文件名：` !@#$%^&()[]{}￥.jpg

后端传过来的文件名： ` !@#$%^&()[]{}￥.jpg

url实际能访问的文件名： %60%20%21%40%23%24%25%5E%26%28%29%5B%5D%7B%7D%EF%BF%A5.jpg

[2020-12-25 01:24] JohnNiang commented on #1205
下个版本修复。

[2020-12-25 01:27] ruibaby commented on #1205
具体是哪个地方。

[2020-12-25 01:39] Lwenguang commented on #1205
目前看到的有问题的接口：/api/admin/attachments
还有图库页面：/www.xxx.com/photos
暂时就发现这两个

[2020-12-25 03:31] JohnNiang commented on #1195
最新代码里面似乎已经修复了此问题。在压缩图片过程中如果出现了 OOM，我们会自动忽略，并将缩略图设置为原图链接。

[2020-12-25 03:35] ywqonly commented on #1180
原因是 CommonsMultipartResolver 只支持POST请求

[2020-12-25 03:35] JohnNiang commented on #1195
Duplicate #1085

[2020-12-25 03:35] ruibaby commented on #1180
感谢提醒，将在 1.4.3 修复此问题。

[2020-12-25 03:56] stone16 opened #1206 "服务器端口只开在ipv6？"
## 我的环境
CentOS 7.x

---

## 错误日志

---
正在配置服务器的过程当中，跟着官方指南刷新了Systemd 启动了Halo，然后我使用了`netstat -tlnp` 来看端口监听情况，发现只在ipv6上开了端口，ipv4上没有开。
[code]

## 期望行为
理论上应该在tcp 和tcp6上都开端口的，想知道是哪里出了问题

## 当前行为

只开在ipv6. 尝试直接调用jar包加上ipv4Pref的配置，`java -jar /home/halo/halo-latest.jar -Djava.net.preferIPv4Stack=true ` 这样子是能够在服务器ipv4地址上访问到的。

但是转向System halo文件的配置，同样的参数还是只在ipv6开了端口 `/usr/bin/java -server -Xms256m -Xmx256m -

[2020-12-25 04:00] JohnNiang commented on #1206
可以尝试配置 application.yml：

[code]

[2020-12-25 04:14] stone16 commented on #1206
尝试了下，还是只有ipv6的

[2020-12-25 06:03] Raremaa commented on #1198
提交了PR,等待review中

[2020-12-25 11:05] xiongsenlin opened #1208 "这货既然支持mysql，为啥连个建表语句都不给。"

[2020-12-25 11:07] ruibaby commented on #1208
那么您这货连运都没运行是怎么知道需要建表的呢？

[2020-12-25 13:34] #1208 closed

[2020-12-25 13:36] #1200 closed

[2020-12-25 13:40] #1160 closed

[2020-12-25 13:58] ruibaby commented on #1205
是的，接口确实没有做处理，但是在 admin 是有编码处理的。所以不太清楚你所遇到的问题到底在哪里。

[2020-12-25 14:00] #1180 closed

[2020-12-25 14:02] ruibaby commented on #1195
you are right.

[2020-12-25 14:02] #1195 closed

[2020-12-25 14:02] #766 closed

[2020-12-25 14:46] #1999 closed

[2020-12-25 14:52] ruibaby commented on #1206
参考一下 v2ex 的这个帖子。https://www.v2ex.com/t/474718

[2020-12-25 19:07] Lwenguang commented on #1205
## 错误1
[code]

## 错误2
[code]

建议对所有特殊字符都进行转码处理，免得再出其他bug

[2020-12-26 02:09] ruibaby commented on #1205
没错，上面我已经说了，所有后端接口对文章图片都没有做编码处理，但是在 admin 取图片的时候是已经在前端处理过的，所以我想问的是目前你具体在哪个功能出现了图片不能显示的问题。

至于到底要不要在接口处理，有待讨论。

[2020-12-26 05:24] qinhua opened #1211 "feat: 1.4.2版本是取消了设置子菜单的功能吗，只有分组了，我看1.4.1可以"
## 我的环境

---

## 错误日志

---

## 期望行为

## 当前行为

[2020-12-26 05:25] ruibaby commented on #1211
https://bbs.halo.run/d/1120-halo

[2020-12-26 08:56] Lwenguang commented on #1205
所有页面都无法显示这种图片

[2020-12-26 08:58] ruibaby commented on #1205
好吧，附件详情显示的链接确实没有做 urlencode 处理，但是对其进行复制和选择的时候是处理了的。接下来我们会直接在后端处理。

[2020-12-26 12:26] #1211 closed

[2020-12-26 14:17] ruibaby opened #1213 "feat: 重构初始化流程"
## 概述

重构初始化流程

## 动机

分为两种选择：`全新安装` 和 `导入数据`

## 详细解释

目前的初始化流程中的导入数据部分其实可以完整导入。

[2020-12-26 18:17] stone16 commented on #1206
谢谢，意识到问题是在EC2 VPC还有防火墙那里的配置，另外关于ipv4 还有ipv6的问题[stackoverflow](https://stackoverflow.com/questions/44718174/spring-boot-application-listens-over-ipv6-without-djava-net-preferipv4stack-tru) 意识到是会默认先找ipv6，可以通过下面指令来进行配置
[code]

[2020-12-26 18:17] #1206 closed

[2020-12-27 15:58] #1198 closed

[2020-12-31 09:54] Raremaa commented on #1202
@JohnNiang
集成一个Lucene如何，不然面对不一样的搜索引擎，我看halo好像是用的JPA criteria(Hibernate实现)做的数据库查询，我印象中这东西是没办法控制是否区分大小写的，而是取决于数据库的索引方式。

[2020-12-31 10:04] JohnNiang commented on #1202
不建议在数据库中进行查询，无法进行模糊匹配，效率还低。

[2020-12-31 10:09] #1035 closed

[2021-01-01 15:17] ruibaby opened #1214 "最新提交的代码带路径后缀文章链接无法访问。"
## 我的环境

版本：latest master
数据库：H2 1.4.197 (2018-03-18)
运行模式：development
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.66

---

## 错误日志

无

---

## 期望行为

带后缀文章路径可以正常访问。

## 当前行为

当前文章页面会将预先设置的路径后缀算作 slug，所以会导致 404。

[2021-01-02 05:25] zhixiangyuan opened #1216 "feat: 关闭写文章时的默认预览功能"
## 详细解释

当写的文章字数比较多时，后台渲染会很卡顿，目前短时间内似乎无法更新新的编辑器，那么希望提供关闭默认渲染的功能，省的每次写文章都要手动关闭渲染。

![image](https://user-images.githubusercontent.com/25138766/103451343-db066b80-4cfd-11eb-8230-01849c13ce0b.png)

[2021-01-02 05:26] zhixiangyuan commented on #1202
@wesecret 用 h2 数据库的话参考这篇文章可以解决，[文章链接](http://xiangbei.life/?p=34)

[2021-01-02 05:55] #1216 closed

[2021-01-02 06:01] zhixiangyuan commented on #989
@ruibaby 大佬，新年快乐，2021 年了，咱们的新编辑器啥时候能上？

[2021-01-02 06:45] xiongsenlin commented on #1208
能自动创建个锤子

[2021-01-02 06:47] ruibaby commented on #1208
拜拜

[2021-01-02 14:55] GalvinGao commented on #1182
个人感觉可以添加以下几种方案：
1. 考虑到垃圾评论通常带有外部链接，可以引入「将所有包含链接/疑似包含链接的评论预先设为“等待审核”」这一选项。具体实现方法可在传入评论后检测是否含有链接以及是否选定此选项，存库时附加一status字段
2. 垃圾评论通常完全/几乎完全重复之前内容。可以引入重复内容匹配机制，例如最为粗暴的方式就是直接在数据库内完全匹配评论内容，如果发现完全匹配就直接拒绝；但是弊端就是例如「很棒！」这样的词汇可能也会误杀，所以可能需要引入匹配的先决条件（例如当评论长度为20以上才进行这种匹配等）
3. 垃圾评论通常是一种固定逻辑的bot向多个站点频繁发送垃圾信息，那么根据隔壁 [Wordpress 的 Jetpack](https://jetpack.com/) 的思路，可以维护一个中心化的评论反垃圾系统，在所有halo站点突然暴增评论的情况下可以断言是受到了大规模的垃圾评

[2021-01-02 15:00] JohnNiang commented on #1182
@GalvinGao 可以参考一下 Spring Cloud Gateway 的思路来设计过滤器，我们尽可能多地提供过滤器实现，规则由使用者自定义即可。

[2021-01-02 23:44] GalvinGao commented on #1182
我觉得这个挺不错～ 但是感觉在自定义之前应该也预设几个规则（前端预设几个应该就可以），这样不会让新用户看到太多参数/规则可以设置而感到困惑这样。此外，感觉应该默认设置一个高宽容度的一套过滤器，比如限制同IP一小时最多100条（可能已经很多了）、整个站点每小时评论数不应超过 `整个站点上一小时的真人浏览post总数*1.5` 之类的。

[2021-01-03 14:05] #1196 closed

[2021-01-04 01:59] AaronW-BE opened #1218 "feat: 希望文章中可以支持插入ifram"
## 动机
可以使用codepen等演示工具演示代码运行效果

[2021-01-04 01:59] ruibaby commented on #1218
@AaronW-BE 现在就支持。

[2021-01-04 02:00] #1218 closed

[2021-01-04 02:01] AaronW-BE commented on #1218
对，刚才试了下直接使用iframe标签 可以的 哈哈哈

[2021-01-05 05:51] Raremaa commented on #1202
这种方式感觉就没那么灵活，就我的使用习惯来说，是否需要严格大小写应该是让用户来选择😂

[2021-01-05 08:25] fenglex opened #1222 "feat: 能否增加一个近日访问量统计的统计信息"
## 概述

能够看到近日访问量的统计信息

## 详细解释

能够看到近日访问量的统计信息，比如折线图，例如近30日（或一个月）访问量的，同时在也能够在记录访问量同时记录访问者的信息，比如ip，浏览器session之类的（可以为统计访问人次，访问人数），比如同一个session最为一个人统计，同时过滤博客   拥有者账号的访问（待考虑）
-->

[2021-01-05 08:25] ruibaby commented on #1222
暂不考虑，有更好的三方实现。

[2021-01-05 08:26] fenglex commented on #1222
有啥？

[2021-01-05 08:27] ruibaby commented on #1222
国内的 cnzz，百度统计，国外的 Google Analytics，以及类似于 [umami](https://github.com/mikecao/umami) 这种自建的服务都可以满足你的需求。

[2021-01-05 09:34] winsway opened #1223 "就是日志功能可以改善为朋友圈的功能"
希望能够将日志的功能扩展为朋友圈的功能，实现九宫宫格或者插入多张图片的形式。因为日志功能文字的字数是有上限的。一排版就不能操作了。

[2021-01-05 09:36] charnlsxy commented on #994
+1，我还以为只有我有这个需求呢

[2021-01-05 09:37] JohnNiang commented on #1223
不错的思路，可以考虑添加 star 其他 halo 博客的功能，然后将日志列表融合起来。

[2021-01-05 09:39] winsway commented on #1223
对的，因为现在微信朋友圈实在是政治化和站队化的风格，不属于自己的私人领地了。

[2021-01-06 14:48] JohnNiang commented on #1133
具体错误栈：

[code]

[2021-01-09 13:57] zhixiangyuan commented on #989
@ruibaby 大佬，关于编辑器我有个想法，编辑器这块我碰到的最大的痛点其实就是文章内容比较多的时候会卡顿，这是最无法接受的。

所以其实可以实现一个最简单的版本，只有一个输入框，快捷功能就两个，command +v 上传图片，command +s 保存为草稿就行了，其实别的功能花里胡哨没啥用。

大佬能不能开发个这样的编辑器，放个版本出来，先替换掉原来的编辑器

[2021-01-09 13:58] ruibaby commented on #989
但这只是你的需求，如果只放一个输入框，如何保证不被骂？

[2021-01-09 14:00] ruibaby commented on #989
@zhixiangyuan 你可以考虑 fork 一个 halo-dev/halo-admin ，修改之后独立部署一套。就像  admin.halo.run

[2021-01-13 06:35] zhixiangyuan commented on #1004
@ruibaby 大佬，分类加密的功能我正准备实现，想问以下实现这个功能有哪些注意事项

[2021-01-13 07:14] ruibaby commented on #1004
1. 你所说的分类加密是加密分类还是加密分类下的文章，加密之后文章是否还能被其他地方查询到。
2.  如何与目前的私密文章兼容。
3. 向下兼容之前已经加密的文章。
4. 路由处理。

希望在研究之后提一个 issue 详细描述和讨论你的方案。直接提交 pr，我们很可能不会合并。

[2021-01-13 07:19] LIlGG commented on #1004
@ruibaby  我认为他们想要的私密文章，可能是那种能够在前端输入密码进行访问的私密文章。
虽然我个人不喜欢那种，本来就是个开放的公共博客，又使用加密才能看到的文章，实在是让人无法理解。但这种需求确实是有的。

[2021-01-14 02:43] cetr opened #1224 "文章字数统计算法过滤的内容不适合"
## 我的环境

版本：1.4.2
数据库：MySQL 8.0.22
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36

---

## 错误

文章字数统计算法过滤的内容不适合

---

## 期望行为

只统计访客浏览时能看到的文字数，将其他比如将标签，图片的src内容和一切访问是不能直接看到的全不计入统计

## 当前行为

比如我在文章中插入几个Base64编码的图片，好家伙，最后统计出来几十万字的文章，当然不止图片的src属性，还有其他各种情况也需要剔除

[2021-01-14 02:43] JohnNiang commented on #1224
Confirmed.

[2021-01-14 08:29] zhixiangyuan opened #1225 "feat: 加密分类实现方案讨论"
## 概述

增加分类加密功能，当分类 A 被加密，文章 A、B 均处于该分类下时，需要输入分类 A 的加密密码。若某篇文章处于多个加密分类下，则输入正确任意加密分类的密码即可访问。

## 动机

总有一些内容是希望能通过验证的人才能看到

## 详细解释

目前加密文章的访问时序图：

<img width="742" alt="目前访问加密文章的流程" src="https://user-images.githubusercontent.com/25138766/104563892-35e87d00-5685-11eb-8b8a-12c5893421e0.png">

改动过后分类及文章的访问时序图：

<img width="648" alt="加密分类时序图" src="https://user-images.githubusercontent.com/25138766/1045

[2021-01-14 08:35] zhixiangyuan commented on #1004
@ruibaby  开了讨论链接，在 #1225

[2021-01-14 17:42] corgile commented on #1172
也可能是你halo后台配置的邮箱与GitHub登录邮箱一样，这样一旦你参与过issue，GitHub就会以邮件方式通知你issue的最新动态，从而你就会收到内容为某issue最新评论的邮件。而halo的回复评论功能也用到了通过邮件通知功能，所以halo后台就误以为这些issue邮件来自别人在你网站上的留言/回复。解决方法：unsubscribe.

[2021-01-14 17:57] corgile opened #1226 "feat: 文章备份管理"
## 概述

### 支持将文章同步到github/gitee上。我是说将所有md文件进行同步.

## 动机

### 因为我想导出md文件到本地，但只能下载到备份的json文件。

## 详细解释

同步到托管平台不是必要的，当然有了更好，只要能满足导出md到本地就行. 因为服务器会到期，本地文件迟早也会因各种因素丢失.

[2021-01-14 18:00] corgile commented on #1223
这个难道不可以通过修改ftl文件或主题代码实现吗

[2021-01-14 18:02] corgile commented on #1172
## 而不是所谓的被恶意调用api了.

[2021-01-14 18:11] corgile commented on #1172
unsubscribe的方法：点进去你曾经参与过的issue，划到下面，有个按钮

![IMG_20210115_021105](https://user-images.githubusercontent.com/48396880/104631263-f8acdb00-56d6-11eb-9d8c-bed2f4b5a27b.jpg)

[2021-01-15 00:32] ruibaby commented on #1172
和你说的似乎没有关系。这是攻击者挑了一个 issue 作为评论内容对使用者进行攻击。

[2021-01-15 00:37] ruibaby commented on #1226
duplicate https://github.com/halo-dev/halo/issues/1051

[2021-01-15 02:50] corgile commented on #1172
真的吗 对不起哈哈哈不好意思

[2021-01-15 03:17] zhixiangyuan commented on #1225
1. 对分类进行加密，密码设置在分类上。分类被加密则分类下面的文章均无法访问
2. 目前的私密文章加密通过判断密码是否相同来进行加密，加密分类同样采用判断密码是否相同的方式实现
3. 通过优先级的方式兼容已加密的文章，如果文章设置了密码，那么文章密码的优先级大于分类密码的优先级
4. 该改动只支持 restful api，不向 freemarker 跳转，无路由问题

[2021-01-15 03:19] ruibaby commented on #1225
@zhixiangyuan 只支持 rest api 是？

[2021-01-15 03:20] ruibaby commented on #1225
@JohnNiang 有时间 check 一下。

[2021-01-15 03:43] zhixiangyuan commented on #1225
是的

[2021-01-15 03:49] ruibaby commented on #1225
那现有主题怎么兼容？

[2021-01-15 04:40] zhixiangyuan commented on #1225
如果要兼容现有主题可以复用目前的 `post_password.ftl`，该模版页面用于给用户输入密码。在用户访问目录的时候判断访问的目录是否有加密，如果有的话则跳转到输入密码的页面，在输入密码后再跳转到主题分类列表页面。访问文章同理。这样就可以完成对现有主题的支持，并且不需要目前的主题做任何修改。

[2021-01-15 05:39] LIlGG commented on #1225
实际上这样做还是会对所有主题有影响。 意味着所有主题都必须存在 `post_password.ftl`，也就意味着如果在这个版本更新之后，没有这个 ftl 的主题将会出现功能不完善的问题。所有的主题都需要同步增加。

[2021-01-15 06:40] zhixiangyuan commented on #1225
`post_password.ftl` 是系统里面目前已有的通用 ftl 模版，目前点击加密文章弹出来的那个页面就是这个模版，这里在跳转的时候可以先去找用户有没有自定义 `post_password.ftl`，如果有的话就跳到用户自定义的 ftl 上，如果没有的话就调到默认 ftl 上

[2021-01-15 08:23] ruibaby commented on #1225
嗯，这是计划中的。

[2021-01-15 08:50] zhixiangyuan commented on #1225
大佬，没什么问题的话我就按照这个思路开始开发了

[2021-01-15 08:51] ruibaby commented on #1225
晚点我再通知 @JohnNiang 看一下。

[2021-01-15 08:51] zhixiangyuan commented on #1225
👌

[2021-01-15 13:47] mebest100 opened #1227 "请教一下这个项目的sql语句是怎么自动导入的？（因为我在研究该项目的源码）"
请教一下这个项目的sql语句是怎么自动导入的？（因为我在研究该项目的源码）

另外一个问题：我看到admin页面貌似不是从controller控制的，好像是从resource文件夹下的vue构建的静态页面进来的，
但是我并没有在这个admin目录的html页面文件中找到登录表单这些东西，能帮忙看看这些内容在哪个文件吗？　

另外：localhost:8090/根路径是直接跳转到用户博客列表的路由的，但是我在controller里面也没找到(controller里面全是/api开头的)，这个跳转路由的定义文件也能帮忙看看吗？ 谢谢

[2021-01-15 14:01] ruibaby commented on #1227
研究一下 Hibernate 和 Spring Data JPA。

https://github.com/halo-dev/halo

https://github.com/halo-dev/halo/blob/master/src/main/java/run/halo/app/controller/content/ContentIndexController.java#L60

[2021-01-15 14:56] JohnNiang commented on #1225
不太明白使用分类进行加密的场景是什么。

[2021-01-15 15:20] mebest100 commented on #1227
好的，谢谢！这个JPA的问题大致搞清楚了。

还有那个resource目录下的admin目录下的html页面文件中并找到登录表单这些东西，能帮忙看看这些内容在哪个文件吗？

[2021-01-15 15:22] ruibaby commented on #1227
https://github.com/halo-dev/halo-admin 构建之后的产物，css 和 js 在公共 cdn。

上面链接给错了。

[2021-01-15 22:20] Lilac-Dream opened #1228 "CentOS不是halo用户的时候，无法进行数据备份。"
## 我的环境
部署系统：CentOS7直接部署，没有使用Docker部署。
版本：1.4.2
数据库：MySQL 8.0.22
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36

---

## 错误日志

+ 2021-01-16 06:05:00.851 ERROR 980 --- [qtp1920907467-52] r.h.app.core.ControllerExceptionHandler  : Captured an exception: [Failed to backup halo]
+ 2021-01-16 06:05:05.522 ER

[2021-01-16 01:39] ruibaby commented on #1228
没有这样的限制。

[2021-01-16 01:40] JohnNiang commented on #1228
@Lilac-Dream 建议用以下 jar 包复现一下，同时也建议开启 debug 模式。

[2021-01-16 02:35] mebest100 commented on #1227
好的，谢谢！

[2021-01-16 02:35] #1227 closed

[2021-01-16 03:22] mebest100 opened #1996 "Bug反馈：npm构建报错：Ｍodule not found: Error : Can't resolve 'core-js/modules/es6.array.copy-within"

[2021-01-16 04:32] #1996 closed

[2021-01-16 05:51] zhixiangyuan commented on #1225
比如说个人的投资日记

[2021-01-16 08:33] #1228 closed

[2021-01-16 08:35] Lilac-Dream commented on #1228
嗯嗯，先不管了，能用就好了~非常感谢回复~

[2021-01-16 12:14] cetr opened #1995 "访客给日志页的日志评论，邮件通知正常，但后台没红点通知"
### 我的环境

版本：1.4.2
数据库：MySQL 8.0.22
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36

### 错误

访客给日志页的日志评论，邮件通知正常，但后台没红点通知

[2021-01-16 23:48] Keanwc opened #1229 "英语支持"
请问支持英语界面吗？

[2021-01-17 01:43] ruibaby commented on #1229
@Keanwc 暂不支持i18n

[2021-01-17 09:51] hongcyu commented on #1037
我也遇到这个问题了，重启应用，用IP访问都不行，不知道怎么解决

[2021-01-17 14:25] zhixiangyuan commented on #1225
老哥，你看下这个方案有没有什么问题，没问题的话，我就开始开发了

[2021-01-17 14:31] JohnNiang commented on #1225
好的，感谢您的贡献！

[2021-01-17 15:08] #1229 closed

[2021-01-19 09:20] graydovee opened #1230 "feat: 私密文章功能体验优化"
## 概述
1. 能否检测admin是否已登陆，若admin已经登陆则无需再输入文章密码
2. 私密文章分享功能，能否生成私密文章一次性的分享链接，以方便将文章分享给朋友

## 动机
* 我现在博客里有些文章包含一些敏感数据，比如mysql配置的文章里有我的数据库的常用密码，所以我将这些敏感数据独立到了另一篇私密文章里，并在原文章保存了一个跳转url，但体验不是很好，每次打开文章都要重新输入密码。
* 我在有时候想将私密文章分享给朋友时，对方打开文章还得输入密码，操作比较麻烦。而且我并不希望对方一直能知道文章的密码，分享后改密码又比较麻烦，所以希望能生成一次性的分享链接

[2021-01-19 09:20] ruibaby commented on #1230
1. 暂时无法解决，但是我们会研究。
2. 有这个计划。

[2021-01-19 15:26] salahatwa opened #1231 "URL of h2 console"
Can  you please share url of h2 console , i treid to open  following url
http://127.0.0.1:8090/h2-console
but it give me 404 not-found

[2021-01-19 15:29] JohnNiang commented on #1231
First of all, you have to make some changes in ~/.halo/application.yaml.

[code]

[2021-01-20 05:50] #1226 closed

[2021-01-20 05:52] #1096 closed

[2021-01-20 05:56] ruibaby commented on #803
https://github.com/halo-dev/halo/blob/master/SECURITY.md

[2021-01-20 12:03] salahatwa commented on #1231
thanks it's working

[2021-01-20 12:03] #1231 closed

[2021-01-21 13:01] guqing commented on #1202
要不要对文章内容进行分词（trie） 建立词与文章id关系索引可以持久化到文件  更新和新增文章时对索引进行维护  搜索时对搜索文本分词后到索引查找文章id（HashMap或二分查找） 然后对根据词频对结果排序后根据id到数据库查询文章 返回

[2021-01-21 17:23] salahatwa opened #1233 "are it's supported postgresql db"
are halo supported postgresql database ?

[2021-01-22 00:58] JohnNiang commented on #1233
Maybe you shall check file `org.springframework.orm.jpa.vendor.Database`.

[2021-01-22 14:21] Techoc opened #1234 "feat: 希望能够增加自动备份至对象存储的功能"
## 概述
设置定时任务备份数据至远端的对象存储

## 动机
能让数据能够保障性

## 详细解释

[2021-01-22 14:22] ruibaby commented on #1234
通过外部脚本就可以很好的实现你的需求，目前不打算加类似功能。

参考：https://ryanc.cc/archives/record-how-to-save-my-blog.html

当然不限于文章内的远程 Git 仓库。

[2021-01-24 03:24] xiaodingfeng opened #1239 "图片传失败"
## 我的环境
1.4.2

---

## 错误日志

[code]

---

## 期望行为
图片上传成功

## 当前行为
图片传失败
但是好像是特别小的图片可以上传
注销账号重新登录也报错
![image](https://user-images.githubusercontent.com/55263643/105620269-2102ab00-5e36-11eb-8be3-5132830c0577.png)

[2021-01-24 03:25] JohnNiang commented on #1239
已经修复，等待发布 v1.4.3。

[2021-01-24 04:55] #2010 closed

[2021-01-24 05:42] #1239 closed

[2021-01-24 05:50] xiaodingfeng commented on #1239
好像是nginx缓存，磁盘饱满的问题

[2021-01-24 06:55] #1234 closed

[2021-01-24 08:15] DearAhri520 opened #1240 "linux服务器上启动报错"
jdk版本：
openjdk version "11.0.9.1" 2020-11-04 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.9.1+1-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.9.1+1-LTS, mixed mode, sharing)
服务器系统
CentOS 8.2
报错详情：
[code]

[2021-01-24 09:09] ruibaby commented on #1240
@DearAhri520 https://docs.halo.run/install/linux

可以先按照这个文档试试。

[2021-01-24 09:35] #1240 closed

[2021-01-24 09:36] DearAhri520 commented on #1240
谢谢大佬

[2021-01-24 13:34] ruibaby commented on #1233
not yut

[2021-01-24 13:34] #1233 closed

[2021-01-24 13:35] #1214 closed

[2021-01-24 14:12] xxxxuanya opened #1243 "为什么访问会有5秒钟左右的等待 大概第六秒才能访问通 开始加载页面"
为什么访问会有5秒钟左右的等待 大概第六秒才能访问通 开始加载页面

[2021-01-24 14:13] ruibaby commented on #1243
不好判断，请提供你的站点链接。

[2021-01-24 14:15] xxxxuanya commented on #1243
ip是 106.54.114.83:8090 感谢帮忙看看

[2021-01-24 14:17] ruibaby commented on #1243
无法判断具体问题，大概率和服务器性能有关。

[2021-01-24 14:18] ruibaby commented on #1243
是不是用的 MySQL？换成默认的数据库试试？

[2021-01-25 01:45] qq1778551951 opened #1244 "org.hibernate.HibernateException: Access to DialectResolutionInfo cannot be null when 'hibernate.dialect' not set"
使用docker部署时候spring.log里报错，容器秒退

[2021-01-25 01:46] ruibaby commented on #1244
提供一下 spring.log 的完整内容。

[2021-01-25 01:47] JohnNiang commented on #1244
数据库连接配置错误。

[2021-01-25 02:01] ruibaby commented on #1244
如果你是使用的MySQL，这个帖子应该对你有帮助。https://bbs.halo.run/d/193-docker-mysql

[2021-01-25 02:53] qq1778551951 commented on #1244
com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174) ~[mysql-connector-java-8.0.21.jar!/:8.0.21]
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping

[2021-01-25 02:54] qq1778551951 commented on #1244
com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174) ~[mysql-connector-java-8.0.21.jar!/:8.0.21]
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping

[2021-01-25 02:56] qq1778551951 commented on #1244
mysql也在容器里，外网也能访问并连接到mysql
server:
  port: 8090

  # Response data gzip.
  compression:
    enabled: false
spring:
  datasource:

    # H2 database configuration.
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:file:~/.halo/db/halo
#    username: admin
#    password: 123456

    # MySQL database configuration.
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:

[2021-01-25 02:56] ruibaby commented on #1244
https://bbs.halo.run/d/193-docker-mysql

[2021-01-25 02:58] ruibaby commented on #1244
你 MySQL 也用 docker 跑的，那么 halo 容器和 MySQL 容器的网络互通吗？  看上面的链接。

[2021-01-25 03:03] LIlGG commented on #1244
外网能够连接到 mysql 不代表 docker 之间能互通。你配置文件里面使用的是
[code]

重点在于 **localhost** ，这个指向了你宿主机的ip，并不是你 mysql docker 容器的 ip。
建议使用
[code]
来获取你 mysql docker 的 IP，然后修改配置文件的 **localhost** 为 mysql 容器的 IP 地址

[2021-01-25 03:10] qq1778551951 commented on #1244
mysql中表都自动建好了，不是MySQL的问题，localhost是我刚才发出来时候改的，是用的阿里云的外网IP，mysql正常，
![image](https://user-images.githubusercontent.com/38367522/105656775-f419cb00-5efd-11eb-8fd1-3ee410a6fb38.png)

[2021-01-25 03:17] qq1778551951 commented on #1244
2021-01-25 11:15:28.668  INFO 7 --- [main] run.halo.app.Application                 : Starting Application v1.4.2 on f78739bb135f with PID 7 (/halo.jar started by root in /)
2021-01-25 11:15:28.671  INFO 7 --- [main] run.halo.app.Application                 : No active profile set, falling back to default profiles: default
2021-01-25 11:15:30.329  INFO 7 --- [main] .s.d.r.c.RepositoryConfiguration

[2021-01-25 03:17] qq1778551951 commented on #1244
上面是最新的log日志，请各位指导

[2021-01-25 03:19] LIlGG commented on #1244
。 mysql 版本是多少

[2021-01-25 03:19] LIlGG commented on #1244
建议使用 5.7+ 版本 mysql

[2021-01-25 03:20] ruibaby commented on #1244
两个问题：

1. `Specified key was too long; max key length is 767 bytes`，这个可以去网上搜。
2. 不支持 5.7 以下的版本。

[2021-01-25 03:20] ruibaby commented on #1244
不是建议，文档上是强制要求。

[2021-01-25 03:20] LIlGG commented on #1244
okok

[2021-01-25 03:21] qq1778551951 commented on #1244
好的，我安装个5.8的

[2021-01-25 03:40] qq1778551951 commented on #1244
升级了MySQL版本，问题成功解决

[2021-01-25 03:57] qq1778551951 opened #1245 "前端首页布局如何设置"

[2021-01-25 07:07] #1244 closed

[2021-01-25 12:30] #1243 closed

[2021-01-26 13:09] 2379155998 commented on #1208
不需要sql的
spring data jpa
👋

[2021-01-26 16:16] #1133 closed

[2021-01-27 10:17] cetr commented on #1245
问题可不可以描述清新一下，你是不知道怎么切换主题还是不会修改主题配置，还是在修改主题源码

[2021-01-27 14:16] ruibaby opened #1247 "初始化的时候复制默认主题到工作目录异常"
## 我的环境

版本：1.4.3-beta.2
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36 Edg/88.0.705.50

---

## 错误日志

[code]

[2021-01-27 17:52] #1247 closed

[2021-01-29 07:48] YuYongzhi opened #1251 "feat: 增加多用户管理、发布功能"
希望增加多用户管理功能，同时各个用户可独立登录后台发布文章

## 概述

1、增加多用户管理

## 动机

小团队内各个成员在 Halo 平台上使用时，由于使用相同账号登录发布文章，导致无法区分是谁发布的。

## 详细解释

新增这个功能，更方便团队内管理、统计等

[2021-01-29 07:50] ruibaby commented on #1251
会考虑，但得排在后面的大版本了。

[2021-01-29 07:50] #1245 closed

[2021-01-30 16:03] salahatwa opened #1252 "Where we can set backend api URL in halo-admin"
Where we can set backend api URL in halo-admin , for multiple environments like
dev , prod environments

[2021-01-30 16:06] ruibaby commented on #1252
Did you see the settings icon on the login page? Click on that.

[2021-01-30 17:31] MakiseVon opened #1253 "文章保存错误"
## 我的环境

版本：1.4.3
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.104 Safari/537.36

---

## 错误日志

保存的过程中没有产生错误日志。

---

## 期望行为

保存成功

## 当前行为

PC端，后台。
新建一篇文章，起标题。
在文章中输入如下内容（定位到的，我也不知道为啥）：

[code]

然后用鼠标点击保存草稿（而不是用键盘快捷键），产生错误。

![](https://i.loli.net/2021/01/31/S1itRDczUPVMBZ2.png)

不断重复用鼠标点击

[2021-01-30 17:42] MakiseVon commented on #1253
补充：发布也错误 orz

[2021-01-30 20:01] salahatwa commented on #1252
many thanks for your great help

[2021-01-30 20:05] salahatwa opened #1254 "How to change language in markdown halo editor"
How we can change language for halo editor  to be English rather than Chinese ,

` <halo-editor
      ref="md"
      v-model="originalContentData"
      :boxShadow="false"
      :toolbars="toolbars"
      :ishljs="true"
      autofocus
      @imgAdd="handleAttachmentUpload"
      @save="handleSaveDraft"
    />`

Thanks.

[2021-01-31 05:10] ruibaby commented on #1254
https://github.com/halo-dev/halo-editor

[2021-01-31 06:21] salahatwa commented on #1254
there's no information about how to do that in provided link , please your support

[2021-01-31 06:23] ruibaby commented on #1254
maybe you need fork it and publish to your npm packages. then install in your halo-admin.

By the way, do you want to translate into another language and use it?

[2021-01-31 06:26] salahatwa commented on #1254
yes ,  when we trying write article , markdown appears with Chinese (mean bold - italic -headlines ) tooltip appear with chinese language , how we can change it to english language

[2021-01-31 06:29] ruibaby commented on #1254
The halo editor only supports Chinese for the time being, so you can fork it, After translation, you can publish to your npm packages, Finally install your npm packages in halo-admin.

By the way, we already have plans to support internationalization and will support it in future major versions.

[2021-01-31 06:31] salahatwa commented on #1254
Thanks for your gentle support .

[2021-01-31 06:31] #1254 closed

[2021-01-31 06:48] #1225 closed

[2021-02-01 07:24] lnsane commented on #1253
正在 复现 bug

[2021-02-01 07:26] ruibaby commented on #1253
根据你的内容测试没有复现问题。建议先打开浏览器看看是否是 Nginx 那边报的错。

[2021-02-01 07:47] ruibaby commented on #1253
@ruibaby 补充：出现这种没有内容的提示，一般就是 nginx 的异常，都还没有经过 halo 服务。

[2021-02-01 09:11] lnsane commented on #1253
的确没有办法复现这个bug

[2021-02-01 09:51] MakiseVon commented on #1253
555 我懂了，我开了宝塔的 nginx 防火墙服务，然后就这样子了 orz
感谢各位的帮助 qaq

[2021-02-01 09:51] #1253 closed

[2021-02-01 10:13] lixianxing opened #1994 "菜单问题"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x ] [Halo 文档](https://docs.halo.run)
- [ ] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [ ] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [ x] BUG 反馈
- [ ] 添加新的特性或者功能
- [ ] 请求技术支持

##点击外观里面的菜单按钮，提示  （请求字段缺失, 类型为 String，名称为 team），菜单列表没有显示

[2021-02-01 10:53] #1994 closed

[2021-02-02 07:27] ruibaby opened #1993 "菜单管理排序优化"

[2021-02-02 12:10] ruibaby opened #1255 "保存博客设置后，主题会被设置为默认主题。"
## 我的环境

版本：1.4.3
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36 Edg/88.0.705.56

---

## 错误日志

无

---

## 当前行为

保存博客设置后，主题会被设置为默认主题。

具体原因：在主题管理设置主题后，博客设置页面接口返回的 `theme` 字段是默认主题的 id，所以点击保存后又被设置为默认主题。

排除：

1. 反向代理端缓存所导致。
2. 数据库原因，在 h2 和 MySQL 上都复现过。

不是普遍现象，只有少数用户出现了问题。

[2021-02-02 12:55] #1252 closed

[2021-02-04 05:59] yhl452493373 opened #1257 "能否增加链接转换开关？"
## 概述

编辑文章时，增加一个文字自动转链接的开关

## 动机

经常自动把不需要转链接的转成了链接，比如我写个申请域名的博客，必然会涉及到一些假构域名，例如a.b.com这种，但是也自动转成链接了，为了让其不显得奇怪（点击后不能正常访问），我必须对其进行修正，改成正常的连接才行。

[2021-02-04 06:00] ruibaby commented on #1257
没有太明白你的意思。是编辑器吗？

[2021-02-04 06:05] yhl452493373 commented on #1257
是的，编辑文章的时候。

[2021-02-04 06:05] yhl452493373 commented on #1257
是的，编辑文章的时候。

[2021-02-04 07:09] ruibaby commented on #1257
你可以通过 `` 语法包裹链接试试。

[2021-02-04 08:06] yhl452493373 commented on #1257
好的，回头试试。这个一直没找到方法

[2021-02-04 13:23] husky105 opened #1258 "halo的附件大小有上传要求吗，怎么调整。"
我上传了一张1M多的图片上传不上去，helo是否对附件大小有要求，可以修改吗

[2021-02-04 13:23] ruibaby commented on #1258
先排除是否是 Nginx 大小限制。

[2021-02-04 13:37] husky105 commented on #1258
果然是，在nginx的http全局块中配置
[code]
 就好了

[2021-02-04 13:48] #1258 closed

[2021-02-05 01:16] b286951543 opened #1259 "feat: 希望能增加 文章下面的分享按钮可以自定义 的功能"
希望能增加 文章下面的分享按钮可以自定义 的功能

[2021-02-05 02:36] sunnyswag commented on #879
最后运行成的配置文件如下：
[code]

**原因未知**<br>
猜测可能如下：
1、之前本地跑过 halo 不过后来删了，加载的可能是本地的包
2、没有开代理，一直显示 download 但是没显示是从 aliyun 下载的，下载时没显示任何前缀
3、多折腾折腾，可能就好了...

[2021-02-05 15:22] #1255 closed

[2021-02-05 15:23] husky105 opened #1260 "添加cdn"
请问，有helo博客如何添加cdn的介绍或教程吗?
感谢！！！

[2021-02-06 07:00] codesensi opened #1261 "无法进入开发者模式"
点击10次Dashboard之后，提示已进入开发者模式，页面跳转到小工具页面，但是页面不显示开发者模式菜单。
域名和IP+端口号访问情况一致。
![image](https://user-images.githubusercontent.com/66196408/107111515-a309bf80-688b-11eb-9f1b-1824a68c989a.png)

使用环境：
服务器：阿里云 centos8.2
数据库：docker mysql 最新版
halo：docker 最新版
nginx：docker nginx 最新版
浏览器：最新版Edge

[2021-02-06 08:34] JohnNiang commented on #1261
无法复现...

[2021-02-06 08:47] codesensi commented on #1261
emmmm，这就有点尴尬了，我再重新部署试试吧

[2021-02-06 12:36] ChunelFeng opened #1262 "halo换服务器后能否平行迁移"
我在阿里云ecs上通过docker部署halo。
如果我要更换ecs的机器了，在新的机器上，能否通过docker直接登录账号和密码，直接获取原先博客里的所有内容？
需要做什么迁移操作么？

[2021-02-06 12:39] ruibaby commented on #1262
可以先看看 https://docs.halo.run/install/prepare 里面对于工作目录（.halo）的说明。

实际上只需要迁移 .halo 目录即可。前提是你 docker 容器有把 /root/.halo 目录映射到宿主机。

[2021-02-06 13:13] ChunelFeng commented on #1262
了解了，是很方便呢！感谢大佬

[2021-02-06 13:13] #1262 closed

[2021-02-06 13:15] JohnNiang commented on #1261
我在本地用 docker 运行了一个实例，仍然无法复现。

[2021-02-06 13:46] JohnNiang commented on #1260
可以看看： https://github.com/halo-dev/halo/issues/944

[2021-02-06 13:47] JohnNiang commented on #1260
或者：https://championmi.cn/archives/网站博客配置又拍云cdn

[2021-02-06 13:47] JohnNiang commented on #1259
描述可以具体一些。

[2021-02-06 13:49] JohnNiang commented on #1257
是否符合预期呢？

[2021-02-07 00:51] codesensi commented on #1261
我猜有可能是nginx的问题，我在虚拟机里装了halo和MySQL，直接用ip访问，是没问题的，我也没再做测试了，大概率是我nginx配置有问题，这个issue我就关了哈，多谢大佬

[2021-02-07 00:51] #1261 closed

[2021-02-07 01:03] ruibaby commented on #1261
检查一下 nginx 的缓存配置。

[2021-02-07 14:58] Lulululx opened #1263 "feat: 希望能添加相册、文章密码访问功能"
## 概述
希望Halo可以提供一个相册＆文章加密的功能

## 动机
之前用过typecho里面的handsome主题支持文章、相册的加密访问功能，因为博客站点可能就会记录一些生活上的事情，并不希望让所有人都知道，halo是一个非常优秀的博客系统，希望在typecho上出现的实用的功能在halo上也能实现

## 详细解释
文章、相册要输入指定密码才能访问，从而只让一部分人看到某些内容。

[2021-02-07 15:57] LIlGG commented on #1263
文章、分类输入密码已经实现，详见 #1225 #1235 。

[2021-02-08 03:33] #1260 closed

[2021-02-08 03:36] husky105 commented on #1260
感谢

[2021-02-08 09:18] hotspring-zwb opened #1265 "文章密码访问功能 404"
## 操作方式
halo 1.4.4 版本，从 首页 -> 分类 -> 点击加密文章， 输入 密码， 页面一致报404
返回到 首页， 再次点击 可以直接打开 加密文章
## 期望

1. 如何处理这个问题
2. 密码正确 或密码错误 都是放回 404 ，这个能给个具体提示么

[2021-02-08 09:22] ruibaby commented on #1265
@hotspring-zwb 会在今晚发布一个版本解决此问题。https://github.com/halo-dev/halo/pull/1264

[2021-02-08 11:23] #1265 closed

[2021-02-08 11:23] #1259 closed

[2021-02-08 11:23] #1257 closed

[2021-02-10 07:16] ZONGQUAN-HU opened #1268 "启动报错2021-02-10 15:08:39.254 ERROR 5058 --- [ main] o.s.boot.SpringApplication : Application run failed"
- java -version
java version "15.0.2" 2021-01-19
Java(TM) SE Runtime Environment (build 15.0.2+7-27)
Java HotSpot(TM) 64-Bit Server VM (build 15.0.2+7-27, mixed mode, sharing)
- system
Linux VM-0-3-centos 3.10.0-1160.6.1.el7.x86_64 #1 SMP Tue Nov 17 13:59:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- 运行报错结果：

    __  __      __
   / / / /___ _/ /___
  / /_/ / __ `/ / __ \
 / __  / /_/ / / /_/ /
/_

[2021-02-10 08:03] salahatwa opened #1269 "Steps to initialize internal themes"
Please for yours support , to explaining steps of initializing internal theme ,
as we put  theme under **resources/templates/themes** , and build jar file , and run following **java -jar halo-1.4.2.jar**
we received below error

following path `try copy theme folder from [/BOOT-INF/classes/templates/themes] to [/app/.halo/templates/themes]

2021-02-10T07:59:58.701087+00:00 app[web.1]:run.halo.app.

[2021-02-11 03:43] ruibaby commented on #1268
是不是80端口被占用了？

[2021-02-11 03:46] ruibaby commented on #1263
如上所说，文章已经支持。但是相册是独立的，不是太想去实现。你可以在一个指定主题里面新建一个 post_photos.ftl，然后在发表文章的时候选择这个自定义模板来实现相册加密。

[2021-02-11 03:46] #1263 closed

[2021-02-11 03:50] ruibaby commented on #1269
It is not recommended to install the theme this way, you can upload it in admin. In the development environment, the default theme is a git submodule, so you may need `git submodule init` then `git submodule update`.

[2021-02-11 06:23] salahatwa commented on #1269
we can install theme , but in our case we need to initialize default theme , cause we have issue in our cloud deployment when we install theme after restart application we need to install theme every time , so if you can help us to solve above issue

[2021-02-12 07:53] Lewhan commented on #1268
看你用户名是halo，应该是没有root权限不能绑定80端口

[2021-02-12 08:49] ZONGQUAN-HU commented on #1268
确实，我才发现，没有root权限就不能用80端口，确定是端口和权限的问题吧，不是其他问题就好。

[2021-02-12 09:56] Lilac-Dream opened #1270 "从v1.4.3升级到v1.4.4和v1.4.5版本，清缓存后，第一次访问首页，页面加载不完全。"
## 我的环境
版本：1.4.5
数据库：MySQL 8.0.22
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

## 错误日志
没有错误日志

## 期望行为
页面显示正常
![image](https://user-images.githubusercontent.com/49761134/107750946-a9021380-6d57-11eb-9584-1276b13a3d4b.png)

## 当前行为
（LIlGG/halo-theme-sakura主题的首屏图片无法加载，文章内容图片一直模糊状态，不会继续加载，尝试更换主题也会出现类似的问题

[2021-02-12 09:58] ruibaby commented on #1269
It seems to be a problem with heroku, I also tried deploying on heroku, but it seems that the working directory cannot be kept（~/.halo）

[2021-02-12 10:01] ruibaby commented on #1270
先看看浏览器控制台有没有什么异常。

[2021-02-12 10:04] ruibaby commented on #1268
正解。

[2021-02-12 10:04] #1268 closed

[2021-02-12 10:05] Lilac-Dream commented on #1270
![image](https://user-images.githubusercontent.com/49761134/107754672-c685ac00-6d5c-11eb-9e42-1944ab44d2b5.png)
![image](https://user-images.githubusercontent.com/49761134/107754692-ce455080-6d5c-11eb-8f01-9f5c7fa3a411.png)
空白的，没有异常。

[2021-02-12 10:07] ruibaby commented on #1270
我们晚些时候会根据你的步骤尝试复现。

[2021-02-12 10:08] Lilac-Dream commented on #1270
谢谢！

[2021-02-12 10:37] Lilac-Dream commented on #1270
我发现，原来我有文章影响到首页显示的情况了。。。。从数据库删掉一些文章，竟然好用了。晚些我会上传更多的内容方便复现。

[2021-02-12 13:16] Lilac-Dream commented on #1270
（实在不知道怎么发文件了，只好传到github上面了）

https://github.com/Lilac-Dream/halo_bug/
这里是我出现问题的数据库和服务器的文件夹，我把多余的内容删掉了，容易复现。

作者大大只需要把halodb.sql数据库内容导入到halodb里面。然后把.halo文件解压到Centos上面。

我设置的服务器ip：http://192.168.200.6:10000
当前用户名：admin
密码：12345678

当前发现的解决方式：
1、mysql数据库：删除tags、删除categories、删除posts的内容都可以解决。

[2021-02-12 14:19] ruibaby commented on #1270
有成功复现，但是没有在其他主题上成功复现。

具体原因是请求发生了中断：

[code]

但是很遗憾，并没有排查出来请求中断的原因。

这个可能得我们年后再看看了。

[2021-02-12 14:25] Lilac-Dream commented on #1270
嗯嗯，好的，谢谢～

[2021-02-12 14:26] ruibaby commented on #1270
@LIlGG 我们需要先排查是否是Sakura主题的问题。

[2021-02-12 14:40] LIlGG commented on #1270
了解～明天我将系统的排查一遍主题，看看是不是主题的问题

[2021-02-13 11:02] Lilac-Dream commented on #1270
又要麻烦大佬们解决一下~~~我是通过删除我的数据库，把问题复现出来的。

#### 新的问题的复现文件下载：
https://github.com/Lilac-Dream/halo_bug/tree/master/%E6%96%B0%E7%9A%84%E9%97%AE%E9%A2%98%E5%A4%8D%E7%8E%B0

#### 当前halo微博的用户名：admin 密码：12345678

## 说明：
- 我只发现Sagiri和Sakura主题更新halo版本后才出现问题，默认主题是没有问题的。
- halo使用v1.4.4和v1.4.5版本运行会出现问题。
- halo使用v1.4.3版本运行，没有问题。
- 如果先进入归档页或者其他页面，比如先进入：`http://192.168.200.6:10000/archives`，然后再进行访问主页，就一切正常了，但是清理缓存后直接访

[2021-02-15 17:33] AbsoluteZeroKing opened #1271 "数学公式问题"
我看了你关于数学公式的issue，里面提到用
'''math
$$
$$
'''
来临时解决公式问题，可是我发现在我这并不起作用，请问这是为啥，我需要一个能解决行间公式的解决方案，感谢作者！

[2021-02-16 09:47] RealKiro commented on #1223
Bug？
- 写日志无法评论点赞，但是后台又有评论点赞按钮
- 发表的日志还是希望在`首页`和`归档`里面显示
以上，否则这个功能似乎没什么用啊（大雾

[2021-02-16 09:50] winsway commented on #1223
不是哈，就是希望写一写自己的生活的状态，每次都这一个文档太多了，没有必要，也写不出这么多话。

---原始邮件---
发件人: "未日"<notifications@github.com&gt;
发送时间: 2021年2月16日(周二) 下午5:47
收件人: "halo-dev/halo"<halo@noreply.github.com&gt;;
抄送: "winsway"<winsway_zero@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [halo-dev/halo] 就是日志功能可以改善为朋友圈的功能 (#1223)

Bug？

写日志无法评论点赞，但是后台又有评论点赞按钮

发表的日志还是希望在首页和归档里面显示
 以上，否则这个功能似乎没什么用啊（大雾

—
You are receiving thi

[2021-02-16 14:08] liangyuanpeng opened #1272 "feat: 附件/图片支持S3存储"
## 概述

附件/图片支持S3存储

## 动机

希望自己管理文件，例如自建minio

## 详细解释

[2021-02-16 14:47] liangyuanpeng commented on #1272
![image](https://user-images.githubusercontent.com/28711504/108078702-f3adc380-70a8-11eb-9f9e-76a67f3d80d6.png)

kan看到已经支持

[2021-02-16 14:47] #1272 closed

[2021-02-18 03:09] cwxyz007 opened #1274 "Halo OpenAPI 文档描述与实际不符合"
## 我的环境

版本：1.4.3
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.68

---

## 错误日志

无

---

## 期望行为

Halo OpenAPI 文档描述与实际不符合，期望 OpenAPI 文档描述与实际一致

## 当前行为

例如 `/api/content/posts` 的返回值如下

![image](https://user-images.githubusercontent.com/14226737/108299399-5

[2021-02-18 03:10] JohnNiang commented on #1274
关于分页返回参数问题，稍后解决。

[2021-02-18 03:14] ruibaby commented on #1271
https://github.com/halo-dev/halo/issues/607#issuecomment-593083221

[2021-02-18 03:14] cwxyz007 commented on #1274
请问一下 1.4.6 的版本会以 OpenAPI 文档为准吗？还是以现在实际返回的为准呢？

[2021-02-18 03:15] ruibaby commented on #1274
实际返回结果。

[2021-02-18 03:15] JohnNiang commented on #1274
以实际返回为准。

[2021-02-18 05:49] RealKiro opened #1275 "后台若干建议"
1. 写文章的`MarkDown输入工具栏`像Excel一样首行锁定，在文章很长很长的时候想用工具栏就不需要滑鼠标到最上面去选（或者工具栏放最下面也行啊）
![MarkDown输入工具栏](https://www.hualigs.cn/image/602dfcd4df72c.jpg)

2. `分类目录`和`菜单`功能我觉得应该合并，路径在拖放到子目录时自动锁定上一级目录，且去掉包含域名的绝对路径，只留相对路径（如二级路径是`/categories`,要加子路径就锁定`/categories/`，后面直接加如`software`，浏览路径是`域名/categories/software`）

3.  子菜单太多，望增加个目录折叠按钮

4.  当存在菜单目录有子目录时，当前菜单目录🔒 鼠标解除点击，否则点击上级菜单啥内容都没有很尴尬

5.  写`日志`后无法评论和点赞，但是后台是有评论和

[2021-02-18 05:49] RealKiro opened #1992 "后台若干建议"
1. 写文章的`MarkDown输入工具栏`像Excel一样首行锁定，在文章很长很长的时候想用工具栏就不需要滑鼠标到最上面去选（或者工具栏放最下面也行啊）
![MarkDown输入工具栏](https://www.hualigs.cn/image/602dfcd4df72c.jpg)

2. `分类目录`和`菜单`功能我觉得应该合并，路径在拖放到子目录时自动锁定上一级目录，且去掉包含域名的绝对路径，只留相对路径（如二级路径是`/categories`,要加子路径就锁定`/categories/`，后面直接加如`software`，浏览路径是`域名/categories/software`）

3.  子菜单太多，望增加个目录折叠按钮

4.  当存在菜单目录有子目录时，当前菜单目录🔒 鼠标解除点击，否则点击上级菜单啥内容都没有很尴尬

5.  写`日志`后无法评论和点赞，但是后台是有评论和

[2021-02-18 05:56] ruibaby commented on #1275
1. 会尝试优化。
2. 菜单和分类目录是独立的，暂时没有办法按照你说的这样做。但后面可能会考虑菜单和分类目录等联动。
3. 已有此计划。
4. 没有明白你说的哪个地方。
5. 需要主题支持，但目前我没有办法保证所有主题都支持。

[2021-02-19 12:04] cetr opened #1276 "安全性建议，可设置是否允许使用邮箱登录"
建议后台可以设置是否允许使用邮箱登录，避免被人暴力试密码

[2021-02-19 12:19] ruibaby commented on #1276
开个 2FA？

[2021-02-19 12:40] cetr commented on #1276
需求不同，我还是觉得加个是否运行邮箱好些，让用户自己选择

[2021-02-19 13:35] #1274 closed

[2021-02-19 15:26] #1037 closed

[2021-02-19 15:30] ruibaby commented on #1020
最新版本已经支持。

[2021-02-19 15:30] #1020 closed

[2021-02-19 15:32] ruibaby commented on #1269
Any follow-up feedback?

[2021-02-19 15:34] JohnNiang commented on #1269
You have to persist ~/.halo folder in your cloud deployment now.

[2021-02-19 15:35] JohnNiang commented on #1276
为什么使用邮箱登录就能够避免暴力试密码呢？

[2021-02-19 15:36] JohnNiang commented on #1276
目前登录接口只允许 5s 后重试，能够简单应付暴力破解。

[2021-02-19 15:41] JohnNiang commented on #1270
我怀疑是你的文章内容中包含特殊字符，导致最后渲染结果出问题了。

[2021-02-19 15:41] ruibaby commented on #1270
没有，内容都是 11 12 这种。

[2021-02-19 15:50] JohnNiang commented on #1270
我尝试用 docker 复现一下。

[2021-02-19 16:03] JohnNiang commented on #1270
使用 docker 从 1.4.3 升级至 1.4.4，再升级至 1.4.5，没有发现任何问题。

[2021-02-19 16:32] cetr commented on #1276
我想表达的其实也不算暴力破解，就是说当他不知道账号时，怎么试也没用

[2021-02-20 08:19] salahatwa commented on #1269
We done from intialize theme on heroku cloud , but there is some issue when application dyno sleep the theme deleted ,
We still trying to solve this issue

[2021-02-20 11:49] cwxyz007 opened #1280 "feat: 希望 content api 中能增加获取网站相关数据 api"
## 概述

![image](https://user-images.githubusercontent.com/14226737/108594303-41ca0c00-73b4-11eb-8457-196452480550.png)

希望能在 content api 中增加接口，获取这些数据。

## 动机

目前正在通过 content API 写 halo 主题 https://github.com/cwxyz007/halo-theme-sakura

发现无法获取 site 相关数据，期望能够增加接口获取相关数据。

[2021-02-21 05:58] kk140906 commented on #1270
我更新到1.45也发现这个问题了

[2021-02-21 07:12] ruibaby commented on #1270
捕获到异常：

[code]

@zhixiangyuan 和你提交的 java/run/halo/app/service/AuthenticationService#buildAccessPermissionKey 有关，希望可以排查一下。

[2021-02-21 07:15] ruibaby commented on #1270
@zhixiangyuan 可复现的工作目录：https://ryanc.cc/upload/2021/02/halo-backup-2021-02-20-00-18-56--1657152137-c5ee37cd2b224f939c1cfc8cc94e87af.zip

[2021-02-21 08:42] ZONGQUAN-HU opened #1281 "feat: 建议博客系统支持多域名访问"
## 概述

建议博客系统支持多域名访问，对于一些情况，可能需要多个域名访问同一个博客系统包括数据库，请在后台支持多个域名支持
## 动机

## 详细解释
![image](https://user-images.githubusercontent.com/36360150/108619998-c0ca4d80-7463-11eb-93c9-9426a52624bf.png)

[2021-02-21 08:42] ZONGQUAN-HU commented on #1281
多个博客地址

[2021-02-21 08:46] ruibaby commented on #1281
现在是兼容的，你可以到博客设置中关闭全局绝对路径就行了。

![image](https://user-images.githubusercontent.com/21301288/108620067-5665dd00-7464-11eb-9c48-76a57e3b88db.png)

[2021-02-21 08:53] ZONGQUAN-HU commented on #1281
关掉对吧

[2021-02-22 02:03] ruibaby commented on #716
已经支持：https://github.com/halo-dev/halo/releases/tag/v1.4.3

[2021-02-22 02:03] #716 closed

[2021-02-22 02:04] #427 closed

[2021-02-22 02:05] #245 closed

[2021-02-23 15:57] #1281 closed

[2021-02-24 15:03] JohnNiang opened #1285 "feat: 集成 umami 到 halo"
## 概述

将 umaimi 集成到 halo 中，实现访问统计。

## 动机

halo 期望能够有一个独有的访问统计模块，<https://github.com/mikecao/umami> 是一个合适的选择。

## 详细解释

![image](https://user-images.githubusercontent.com/16865714/109019973-7d3a4280-76f4-11eb-889e-baad4f14d659.png)

[2021-02-25 12:33] #1213 closed

[2021-02-26 15:09] #1271 closed

[2021-02-27 05:34] #1050 closed

[2021-02-28 07:32] daochen23 opened #1288 "使用sitemap 提交Google Search Console无法识别"
### 问题
你好，我使用halo生成的sitemap.xml 提交到Google Search Console，谷歌提示无法识别
![image](https://user-images.githubusercontent.com/49630946/109410981-a4855e00-79d9-11eb-8a32-1a6bbebf5056.png)
但是我通过浏览器的地址栏输入`https://www.kandx.icu/sitemap.xml`是可以找到地图的
![image](https://user-images.githubusercontent.com/49630946/109411027-f1693480-79d9-11eb-9d46-0eb9f3ab1415.png)
请问我这个是什么问题呢
### 其它
- 博客网址：www.kandx.icu
- 博客版本：1.4.5

[2021-02-28 07:33] ruibaby commented on #1288
不清楚，但大概率是 Google 的问题。

![image](https://user-images.githubusercontent.com/21301288/109411069-4907a000-79da-11eb-8724-ba5a37ddba92.png)

[2021-02-28 07:35] daochen23 commented on #1288
好的，那还有其它的方法让Google收录一下网站么

[2021-02-28 07:37] ruibaby commented on #1288
你的网站可能用的 1.4.5，先用 1.4.3 吧，这个版本有一个 bug。

https://github.com/halo-dev/halo/issues/1270

[2021-02-28 07:38] daochen23 commented on #1288
好的，谢谢

[2021-02-28 07:38] #1288 closed

[2021-03-03 05:32] liangyuanpeng opened #1290 "feat: 基于配置文件完成初始化过程"
## 概述

当前在每次在部署一个新的halo博客时都需要在页面填写初始化信息，如果这个信息可以在spring的配置文件配置完成，那么就省去了这个初始化的过程，同时对于docker环境来说可以直接使用环境变量来完成这个内容，会比当前便利不少。

## 动机

在不同机器上部署halo(每次在新环境部署)后都需要在页面填写初始化信息

## 详细解释

[2021-03-03 05:33] ruibaby commented on #1290
在页面上初始化对于大多数人来说是最好的选择。不认同你的说法。

[2021-03-03 05:37] ruibaby commented on #1290
在下一个版本，你可以通过数据导入导出来实现你的需求。

参考：

- https://github.com/halo-dev/halo/issues/1213
- https://github.com/halo-dev/halo-admin/pull/296

[2021-03-03 05:40] LIlGG commented on #1290
我也认为尽量不要使用各种配置文件来初始化。对于用户来说，具有零配置的初始化界面是最好的，且并不是每个用户都了解什么是 spring 的配置文件。
但可以针对于特殊人群，例如开发者等，单独给予功能更强大的方式。

[2021-03-03 05:45] liangyuanpeng commented on #1290
感谢如此快速回复，需要纠正的一点是 这个issue是希望提供多一个方式，并不需要抛弃现有的页面填写内容初始化的方式。

[2021-03-03 05:49] ruibaby commented on #1290
@liangyuanpeng 可以尝试一下 json 数据文件导入的方式，我认为要比写一个一个配置方便很多。你只需要创建一个初始博客，然后在后台导出就可以得到这个文件。然后每次新建博客的时候导入就行了。

[2021-03-03 05:53] liangyuanpeng commented on #1290
OK thanks

[2021-03-03 05:53] #1290 closed

[2021-03-03 09:29] ruibaby opened #1291 "feat: 模板开发可以选择模板渲染引擎（支持多模板引擎）"
## 概述

支持多模板引擎，不限于 Freemarker。

## 动机

让模板开发者自己选择熟悉的模板引擎。

## 详细解释

能够在 theme.yaml 这样定义：

[code]

[2021-03-03 10:13] LIlGG opened #1292 "feat: 扩展 Freemarker，使其支持 block"
## 概述
目前主流模板引擎都具有 block(插槽)，尽管 freemarker 具有 macro，但其只能具有一个 nested。考虑到模块化开发，建议扩展 freemarker 使其支持 block。

## 动机
扩展 freemarker 增加 block 功能，便于主题模块化开发。

## 详细解释

[2021-03-03 15:14] 52Lau opened #1293 "之前halo.run上面的开发文档都撤掉了么"

[2021-03-03 15:16] ruibaby commented on #1293
新文档还没有开放。

https://github.com/halo-dev/docs.halo.run/tree/main/developer-guide

[2021-03-03 15:18] 52Lau commented on #1293
好的,谢谢

[2021-03-04 07:34] 52Lau opened #1294 "https://halo.run/ 网站使用的主题可以找到呢"

[2021-03-04 07:34] ruibaby commented on #1294
抱歉，这个模板无法开源。

[2021-03-05 01:45] #1294 closed

[2021-03-05 01:45] #1293 closed

[2021-03-05 07:48] liangyuanpeng commented on #716
这个支持指的是导出MD文件吧，是否有可能将主题也同时导出为静态博客主题?我没有查看相关源码，因此不确定在技术上的实施问题

[2021-03-05 07:49] ruibaby commented on #716
不会做。

[2021-03-05 08:41] Lilac-Dream opened #1296 "附件添加图片报错"
## 我的环境
版本：1.4.5   以及  1.4.3 都试了
数据库：MySQL 8.0.22
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36

## 错误日志
2021-03-05 15:59:54.651  INFO 1478 --- [qtp764358458-14] r.h.app.handler.file.LocalFileHandler    : Uploading file: [1.gif]to directory: [/home/halo/.halo/upload/2021/03/1-bdc8003c079c46ba8d42bbef5f5

[2021-03-05 08:53] JohnNiang commented on #1296
感谢反馈，我马上测试一下。

[2021-03-05 10:54] #1993 closed

[2021-03-05 15:37] #1292 closed

[2021-03-05 17:10] #1296 closed

[2021-03-05 17:14] #1270 closed

[2021-03-06 14:50] ruibaby opened #1299 "最新提交上传主题更新异常"
## 我的环境

版本：latest master
数据库：H2 1.4.197 (2018-03-18)
运行模式：development
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36 Edg/88.0.705.81

---

## 错误日志

[code]

[2021-03-06 16:05] JohnNiang commented on #1299
无法复现。

[2021-03-06 16:06] JohnNiang commented on #1299
当且仅当安装已经存在的主题才会出现以上错误。

[2021-03-06 17:05] JohnNiang commented on #1299
已确定为更新当前主题出错。

[2021-03-07 03:38] #1299 closed

[2021-03-07 07:45] daochen23 opened #1302 "备份后无法下载"
# 问题
在halo后台管理页面进行整站备份后无法下载
![image](https://user-images.githubusercontent.com/49630946/110232897-aa3fee00-7f5b-11eb-92e0-eb322e21f03c.png)
查看日志后发现有报错
![image](https://user-images.githubusercontent.com/49630946/110232914-ca6fad00-7f5b-11eb-8b3c-de19ea0d3278.png)
[halo-log-2021-03-07-15-35-47.txt](https://github.com/halo-dev/halo/files/6096755/halo-log-2021-03-07-15-35-47.txt)
# 配置
- halo 版本 1.4.4

[2021-03-07 07:47] ruibaby commented on #1302
今晚会发布一个修复版本，届时你可以在尝试一下。

[2021-03-07 07:48] daochen23 commented on #1302
好的，谢谢回复

[2021-03-07 16:58] #1276 closed

[2021-03-07 17:00] JohnNiang commented on #1269
Hello, @salahatwa , how is the progress recently?

[2021-03-07 21:09] salahatwa commented on #1269
we finished intialized default theme , we working now to upgrade vue to angular ,   really great works from yours , thanks alot

[2021-03-07 21:09] #1269 closed

[2021-03-08 05:00] daochen23 commented on #1302
你好，1.4.6版本备份还是无法下载，我看后台的实时日志没有打印错误，貌似日志不打印了

[2021-03-08 05:02] JohnNiang commented on #1302
我怀疑不是 halo 的问题。你可以描述一下部署的拓扑结构么。

[2021-03-08 05:05] daochen23 commented on #1302
halo服务是部署到了阿里的服务器上，h2的数据库，cdn是又拍云

[2021-03-08 05:06] ruibaby commented on #1302
建议找找又拍云的问题，可以给他们提交工单。`Connection reset by peer` ，不止一次有用户出现这种问题。

[2021-03-08 05:07] ruibaby commented on #1302
当然，又拍云那边每次都说是阿里云的问题，白名单之类的。

所以这不是 Halo 的问题。

[2021-03-08 05:08] daochen23 commented on #1302
好的，谢谢回复

[2021-03-08 05:08] #1302 closed

[2021-03-08 05:26] JohnNiang commented on #1029
这应该是主题样式有关系：

[code]

[2021-03-08 05:29] JohnNiang commented on #1012
应用场景太少，不开发。

[2021-03-08 06:06] #1012 closed

[2021-03-08 06:07] zsinba opened #1991 "建议增加后台文章发布功能--编辑器优化"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x] [Halo 文档](https://docs.halo.run)
- [x] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [x] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [ ] BUG 反馈
- [x] 添加新的特性或者功能
- [ ] 请求技术支持

后台在编辑文章时，把发布后的公众号文章发布过来，从公众号复制文章过来时，图片不能复制，需要手动一个一个复制图片过来。
期望能在复制时把图片或视频也带过来。

另外 ，

[2021-03-08 06:09] zsinba opened #1990 "期望增加微信公众号管理功能"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x] [Halo 文档](https://docs.halo.run)
- [ x] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [ x] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [ ] BUG 反馈
- [ x] 添加新的特性或者功能
- [ ] 请求技术支持

期望增加公众号管理的插件或者后台功能； 联动公众号的发布和推广。
具体功能为：
公众号用户管理
公众号菜单管理
公众号文章管理
公众号关键字回复
公众号模板管理

[2021-03-08 06:17] zsinba opened #1930 "建议把附件管理细化一些--文件分类"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x] [Halo 文档](https://docs.halo.run)
- [x] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [x] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [ ] BUG 反馈
- [x] 添加新的特性或者功能
- [ ] 请求技术支持

目前后台的附件管理，内容秒多时，无法进行管理了。 因为多而乱。
建议：
1。设置里增加上传附件是类型，如果设置png,jpg,bmp等类型， 也可上传zip，word

[2021-03-08 06:26] zsinba opened #1306 "feat:期望增加多语言版本功能"
## 概述

## 动机

## 详细解释

[2021-03-08 06:26] ruibaby commented on #1306
https://github.com/halo-dev/halo/issues/546

[2021-03-08 09:23] #1306 closed

[2021-03-09 08:47] #1990 closed

[2021-03-10 01:55] ruibaby opened #1989 "关于 1.4.6 版本上传主题提示不支持当前文件格式的问题"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x] [Halo 文档](https://docs.halo.run)
- [x] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [x] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [x] BUG 反馈
- [ ] 添加新的特性或者功能
- [ ] 请求技术支持

目前已知在 Win 10 操作系统下，上传主题压缩包会提示 `不支持当前文件格式` 的问题，这是由于在 Win 10 下 zip 压缩包的 MIME type 和我们

[2021-03-10 04:57] liangyuanpeng opened #1307 "Token Header字段没有使用标准的OAuth 2.0认证方式是有什么特殊意义吗？"
标准的Bearer Token是Header字段key为`Authorization` ,value为`Bearer {token}`,

# 动机
当前我希望使用Prometheus抓取Halo的Metrics，但是发现需要传递Header key为`Admin-Authorization` value为token的方式,亦或者是URL后面添加`admin_token`参数, 并且token是动态的，如果标准的Bearer Token就可以很方便的处理。

# 其他

是否有特殊的设计意义？如果我忽略了什么文档，请提示我，Thanks.

[2021-03-10 07:53] JohnNiang commented on #1307
当初这么设计主要是为了区分到底是 admin 相关的 api 或者是 content 相关的 api。不过现在看来确实没必要区分。

[2021-03-10 12:37] loks666 opened #1308 "默认文档分类不小心给删了，导致默认分类页面404，该如何找回原来的分类页面？"
## 我的环境
Centos7.6 docker安装

---

## 期望行为

  可以恢复原来的分类页面

## 当前行为

  误删了默认生成的分类页面.md

[2021-03-10 12:39] ruibaby commented on #1308
不太明白你到底删除了哪个地方：

假设1：

删除了菜单的默认分类。你再加一个菜单就行了，路径为 `/categories/default`。

假设2：

删除了默认分类。去分类管理新建一个默认分类就行了。别名为 `default`。

[2021-03-10 13:27] liangyuanpeng commented on #1307
当前只是简单的从Header获取token，因此是否可以先简单处理取`Authorization`为key的header,然后将value去除`Bearer `的方式来支持`Bearer {token}`这种方式发送token的需求

[2021-03-10 13:51] JohnNiang commented on #1307
确实可以简单兼容这样的 header。

[2021-03-10 14:38] #1308 closed

[2021-03-11 02:41] JohnNiang opened #1309 "feat: 重构 API 授权服务并新增 scope 选项"
## 概述

直到 Halo 1.4.6，Halo 一直采用非常简单的 header 传入方式进行授权接口，且授权码的数量无法扩展，授权的范围无法自定义。

## 动机

所以，需要对接口划分范围，允许授权多个授权码，且可设置授权码有效期或可随时撤销授权码。

[2021-03-11 02:45] JohnNiang commented on #474
Duplicate of #1309

[2021-03-11 02:45] #474 closed

[2021-03-11 04:26] xiazhaoxiao opened #1310 "请问一下为什么安装了halo后远程拉取主题以及更新主题都会报连接超时网络错误，上传附件评论都可以"
环境：
系统：centos8.2
版本：1.4.6
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36
错误信息
![image](https://user-images.githubusercontent.com/40377520/110735480-d6fa4b00-8264-11eb-9088-ba016fb2ee41.png)

![image](https://user-images.githubusercontent.com/40377520/110735556-fd1feb00-8264-11

[2021-03-11 04:27] xiazhaoxiao commented on #1310
nginx配置都和官网上写的一样

[2021-03-11 04:28] ruibaby commented on #1310
@xiazhaoxiao 可能是由于你的服务器是国内的，访问 Github 超时了。https://bbs.halo.run/d/1292-halo-146/2

[2021-03-11 04:40] xiazhaoxiao commented on #1310
感谢您的答复，问题已经解决，的确是这个问题

[2021-03-11 04:40] #1310 closed

[2021-03-11 09:32] ruibaby commented on #1307
https://github.com/halo-dev/halo/issues/1309

[2021-03-11 09:32] #1307 closed

[2021-03-12 03:38] fuzui opened #1311 "content api中评论统计数问题"
## 我的环境
1.4.6
---

## 错误日志

---

## 期望行为
content api中：
文章、页面、日志的列表或详情接口中评论数应为已通过审核的评论数

## 当前行为
其评论数为为全部评论数(包括未审核的)

[2021-03-12 07:02] cetr opened #1312 "关于全局绝对路径"
## 我的环境

version: 1.4.6

## 当前行为

当后台开启全局绝对路径后导致数据库也会将一部分地址存储为绝对路径，如将附件里的图片添加到相册后，相册表里的图片地址为绝对路径，这就导致更改域名后所有相册图片全部失效

## 期望行为

应当无论开不开启全局绝对路径，数据库都存储相对路径，然后开启时向前端输出绝对路径

[2021-03-13 09:49] ruibaby opened #1313 "移除 rss 中的 language 标签。"
## 概述

移除 rss 中的 language 标签。

## 动机

目前不支持国际化，所以不限定语言或地区的地方就不限定。

[2021-03-13 16:55] fuzui opened #1314 "feat: content api中分类接口是否可以添加一个文章数属性"
## 概述
content api的分类列表及详情中添加文章数属性。

## 动机
目前分类接口返回结果中有分类名、描述、封面图属性，当我在扩展应用中(例如小程序)想要为分类列表中单独提出一个界面，只有这三个属性显示的有些单调。

## 详细解释
分类列表及详情中增加文章数(该分类下的文章数)，如果可以的话希望还有个访问数~

[2021-03-14 03:51] #1313 closed

[2021-03-15 10:11] #1989 closed

[2021-03-15 15:26] tuanzi-ne opened #1316 "运行成功后，启用主题报404"
运行成功后，安装完主题，启用主题，然后访问报404，请问是什么问题？[](url)
![83A236B881024C6C73EF29F000EB8E92](https://user-images.githubusercontent.com/50617712/111178218-e3283480-85e5-11eb-9f6d-0c8cf280ba4d.jpg)
![QQ20210315-232453](https://user-images.githubusercontent.com/50617712/111178239-e6bbbb80-85e5-11eb-89d0-228367b612eb.png)

[2021-03-15 15:32] ruibaby commented on #1316
请问所有主题都是这样吗？请提供一下日志。

[2021-03-15 15:33] ruibaby commented on #1314
文章数可以。分类访问数，目前做不到。

[2021-03-15 22:23] tuanzi-ne commented on #1316
只有默认自带的主题是能用的，其他安装的都404。没有报错信息
![image](https://user-images.githubusercontent.com/50617712/111228955-0cfe4d00-8620-11eb-9c83-192cfe69fcca.png)

[2021-03-16 02:48] fuzui commented on #1314
感谢~~
（访问数是想要分类下文章的总访问，有文章数也足够了！）

[2021-03-16 10:18] ruibaby commented on #1316
你是通过什么方式安装的呢

[2021-03-16 10:34] liangyuanpeng opened #1317 "新版本无法导入MD文件"
## 我的环境

Docker部署 1.4.6

---

## 错误日志

无
---

## 期望行为

导入md文件成功
## 当前行为

导入md文件失败

下图导入成功的为 1.4.5 ,导入失败的为1.4.6

![import-success-1 4 5](https://user-images.githubusercontent.com/28711504/111295253-21753080-8686-11eb-8189-1c188f8a0de5.png)

![import-failed](https://user-images.githubusercontent.com/28711504/111295264-23d78a80-8686-11eb-9f68-33ec2d812920.png)

同一个文件,

[2021-03-16 10:34] liangyuanpeng opened #1988 "新版本无法导入MD文件"
## 我的环境

Docker部署 1.4.6

---

## 错误日志

无
---

## 期望行为

导入md文件成功
## 当前行为

导入md文件失败

下图导入成功的为 1.4.5 ,导入失败的为1.4.6

![import-success-1 4 5](https://user-images.githubusercontent.com/28711504/111295253-21753080-8686-11eb-8189-1c188f8a0de5.png)

![import-failed](https://user-images.githubusercontent.com/28711504/111295264-23d78a80-8686-11eb-9f68-33ec2d812920.png)

同一个文件,

[2021-03-16 10:43] ruibaby commented on #1317
应该又是 Windows 平台下，Markdown 文档的 MIME 类型不同导致的。

[2021-03-16 12:49] tuanzi-ne commented on #1316
下载的zip包，然后下载的默认主题。想换其他主题就在后台管理端添加了主题包，然后启用就404了

[2021-03-16 12:51] ruibaby commented on #1316
无法判断是什么原因导致的，你可以先下载我们构建好的 jar 包试试。

[2021-03-17 13:41] #1988 closed

[2021-03-17 14:42] tuanzi-ne commented on #1316
构建好的jar包可以。下的源码不行，不知道为啥

[2021-03-17 14:43] JohnNiang commented on #1316
请开启 debug 模式在 IDEA 中启动。

[2021-03-18 09:53] xun404 opened #1319 "feat: 开启全站CDN后 文章访问数不正确"
## 动机

请求数以被访问的接口为准；也为日后静态话做准备

## 详细解释

在使用CDN对全站静态加速后，会导致访问数不正确，希望可以增加统计API，单独统计。
类似百度统计、google统计的嵌入方式，CDN对部分接口做忽略缓存策略

[2021-03-18 09:56] ruibaby commented on #1319
请问是哪里的访问数不正确？

[2021-03-18 10:57] xun404 commented on #1319
我是使用了CDN全站加速，实际访问时并不会到服务上，导致的访问数不正确。

[2021-03-19 01:21] ruibaby commented on #1319
明白了，我们会在 1.5.x 考虑此特性。

[2021-03-19 08:27] changly opened #1320 "halo后台管理地址如何修改"
## 我的环境

---

## 错误日志

---

## 期望行为

## 当前行为

[2021-03-19 08:27] ruibaby commented on #1320
https://docs.halo.run/zh/install/config

高级配置 部分。

[2021-03-19 08:28] #1320 closed

[2021-03-19 08:28] changly commented on #1320
ok

[2021-03-25 07:18] yuanzhixiang opened #1322 "feat: 分类增加排序字段"
## 概述

分类增加排序字段

## 动机

需要对分类进行排序

[2021-03-25 08:43] sadlay opened #1323 "feat: 附件可以支持OneDriver吗"
## 概述

增加附件对OneDriver的支持

## 动机

现在对象存储收费越来越贵了，OneDriver更方便一些

## 详细解释

无

PS：谢谢

[2021-03-25 08:45] ruibaby commented on #1323
第三方存储目前都不会考虑增加了。我们可能会在下一个大版本重构附件管理，届时会考虑一下。

[2021-03-27 03:30] YYplus opened #1326 "反向代理"
可以出个Caddy 2.x的配置教程吗，小白实在搞不定了
[code]

[2021-03-27 03:47] ruibaby commented on #1326
根据 Caddy 官方文档和我们提供的示例配置试了下，没有发现问题，

[code]

[code]

https://demo.ryanwang.me

[2021-03-27 03:48] ruibaby commented on #1326
能给出你 Caddyfile 的内容吗？

[2021-03-27 03:59] #803 closed

[2021-03-27 04:05] YYplus commented on #1326
https://www.yewan.life

encode gzip

reverse_proxy 127.0.0.1:8090
~

[2021-03-27 04:07] ruibaby commented on #1326
你的 443 端口似乎没有开放。开放之后重启 Caddy 应该就可以了。

[2021-03-27 04:09] #1316 closed

[2021-03-27 04:11] YYplus commented on #1326
![image](https://user-images.githubusercontent.com/65841378/112709544-87b74a00-8ef5-11eb-914e-230d5ddd7080.png)
看了一下是开着的

[2021-03-27 04:14] ruibaby commented on #1326
[code]

443 连不上哦。

[2021-03-27 04:16] ruibaby commented on #1314
发现分类列表的接口是可以获取到文章数的。你需要传一个参数 `?more=true`。

[2021-03-27 05:38] YYplus commented on #1326
![image](https://user-images.githubusercontent.com/65841378/112711210-9a378080-8f01-11eb-88b9-bd1a4b588e6f.png)
阿里云服务器，确实是放开了呀，不知道为啥连不上

[2021-03-27 05:40] ruibaby commented on #1326
不是很清楚，可以发工单问问。

[2021-03-27 06:54] YYplus commented on #1326
话说要把备份的.halo文件放到/home/halo/.halo里然后启动吗

[2021-03-27 06:57] ruibaby commented on #1326
.halo目录放到/home/halo

注意一下权限问题。https://bbs.halo.run/d/1348/6

[2021-03-27 07:10] YYplus commented on #1326
好的，谢谢

[2021-03-27 07:10] #1326 closed

[2021-03-27 11:03] lnsane opened #1329 "限流问题"
https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/annotation/DisableOnCondition.java#L25

https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/aspect/DisableOnConditionAspect.java#L35-L43

貌似我看了这个注解的相关逻辑和切面好像没有开启呀

请问该注解目前存在的意义是什么？

[2021-03-27 11:06] ruibaby commented on #1329
这是我们在演示环境禁用部分接口用的。

https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/aspect/DisableOnConditionAspect.java#L31

[2021-03-27 11:48] lnsane commented on #1329
谢谢

https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/cache/lock/CacheLock.java#L22-L46

https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/cache/lock/CacheLockInterceptor.java#L81

https://github.com/halo-dev/halo/blob/e6b32ac8c2be431f2b095425bf75a97a4c939f8a/src/main/java/run/halo/app/c

[2021-03-27 15:11] JohnNiang commented on #1329
我们会参考 https://github.com/spring-cloud/spring-cloud-gateway/tree/master/spring-cloud-gateway-server/src/main/java/org/springframework/cloud/gateway/filter/ratelimit 实现。

[2021-03-27 16:11] CodeChenL opened #1330 "后台管理页面点击`评论`----`页面`后空白"
## 我的环境
版本：1.4.7
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63

---

## 错误日志
日志无错误

---

## 期望行为
后台管理页面点击`评论`-`页面`

## 当前行为
点击`页面`后页面空白
![image](https://user-images.githubusercontent.com/43897062/112726736-f5955d00-8f59-11eb-855e-09576065c950.png)

[2021-03-27 16:11] CodeChenL opened #1987 "后台管理页面点击`评论`----`页面`后空白"
## 我的环境
版本：1.4.7
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63

---

## 错误日志
日志无错误

---

## 期望行为
后台管理页面点击`评论`-`页面`

## 当前行为
点击`页面`后页面空白
![image](https://user-images.githubusercontent.com/43897062/112726736-f5955d00-8f59-11eb-855e-09576065c950.png)

[2021-03-27 16:13] ruibaby commented on #1330
打开浏览器控制台看看呢

[2021-03-27 16:19] CodeChenL commented on #1330
![image](https://user-images.githubusercontent.com/43897062/112726997-3641a600-8f5b-11eb-8af1-20dbeb7b2204.png)

[2021-03-27 16:22] ruibaby commented on #1330
@CodeChenL 这应该是一个 bug。你的网站应该收到了一条带有特殊内容的恶意评论，解决方法是去数据库查看 comments 表删除这条评论。我们会尽快发布修复版本。

[2021-03-27 16:25] CodeChenL commented on #1330
确实收到了,同学的"恶意评论",很荣幸为这个项目修复这个安全问题

[2021-03-27 16:26] CodeChenL commented on #1330
需要我提供这条评论内容吗

[2021-03-27 16:27] ruibaby commented on #1330
可以发送到 hi@halo.run

[2021-03-28 01:55] thorntonhub commented on #1036
https://cn.gravatar.com/avatar/a33b1c332acbd7681cc7c35ef6358c06?s=256&d=mm
完全打不开，很影响blog的加载速度，loading很久，截图如下

![image](https://user-images.githubusercontent.com/19509744/112739983-8d6f6700-8fab-11eb-96af-6e69ab0c2045.png)
![image](https://user-images.githubusercontent.com/19509744/112739961-69138a80-8fab-11eb-816c-9bda46ee8b30.png)

[2021-03-28 02:02] JohnNiang commented on #1036
我们将在下个版本中提供这样功能。

[2021-03-28 03:08] #1323 closed

[2021-03-28 03:08] #1314 closed

[2021-03-28 03:17] fuzui commented on #1314
收到，感谢！

[2021-03-28 03:21] #1311 closed

[2021-03-28 10:11] #1987 closed

[2021-03-30 03:21] jearhe opened #1336 "feat: 想增加一个sheet的list列表"
## 概述

目前只有 文章的list遍历
<#list posts.content as post></#list>
想增加一个sheet的list列表

## 动机

自己修改主题模板
想专门有一个页面展示我的自定义页面，写的时候发现没有 只能修改利用菜单mean来改造达到这个效果

[2021-03-31 06:54] Alex-Zhuo opened #1337 "旧版本的halo无法正常工作"
本地JDK为1.8，由于有别的项目在运行，不太方便切换JDK版本。
部分服务启动截图：
![image](https://user-images.githubusercontent.com/32348122/113102407-94f37200-9230-11eb-9a71-42c5ebd8c7b1.png)
![image](https://user-images.githubusercontent.com/32348122/113102588-d257ff80-9230-11eb-8607-3e51ca92c4cd.png)

[2021-03-31 06:56] JohnNiang commented on #1337
当前运行的 Halo 版本是多少？

[2021-03-31 06:56] ruibaby commented on #1337
没有从你的截图里理解到是哪里无法正常工作。

[2021-03-31 07:05] Alex-Zhuo commented on #1337
1.3.2

[2021-03-31 07:06] JohnNiang commented on #1337
麻烦找到 ~/.halo/log/spring.log 文件，发送给我们看看。

[2021-03-31 07:16] Alex-Zhuo commented on #1337
不知道是不是这个
`
2021-03-31 14:42:06.580 ERROR 652 --- [XNIO-1 task-5] r.h.a.controller.core.CommonController   : Request URL: [http://106.53.237.25:8080/error], URI: [/error], Request Method: [GET], IP: [64.225.4.154]
2021-03-31 14:42:06.581 ERROR 652 --- [XNIO-1 task-5] r.h.a.controller.core.CommonController   : Captured an exception

org.springframework.web.util.NestedServletException: Request proces

[2021-03-31 07:48] #1337 closed

[2021-03-31 07:49] JohnNiang commented on #1337
希望能够发送整个文件，否则我们无法知道具体是出现了什么问题。

[2021-04-01 05:42] moon2008 opened #1338 "halo系统升级后数据丢失"

[2021-04-01 05:43] moon2008 commented on #1338
今天我将halo博客系统更新后，发现之前的数据全部丢失了，我只是重新拉了一下配置文件，不知道应当如何找回之前的数据

[2021-04-01 05:45] JohnNiang commented on #1338
请详细告知一下更新步骤。

[2021-04-01 05:46] moon2008 commented on #1338
应该是不一致的，我无法使用/h2-console查看我的数据库数据

[2021-04-01 05:48] JohnNiang commented on #1337
@Alex-Zhuo 请问问题是否已经解决呢？

[2021-04-01 05:54] ruibaby commented on #1338
有用到 systemd 吗？ systemd 是否指定了 USER。

[2021-04-01 05:57] moon2008 commented on #1338
是的，我使用了守护进程，但是没有具体指定USER

[2021-04-01 05:58] ruibaby commented on #1338
指定 USER 字段为 halo，执行 service halo restart 应该就可以解决此问题。

[2021-04-01 06:12] moon2008 commented on #1338
你好，是我说错了，我的USER已经指定过了，主要区别就是我使用的管理员用户名密码和之前不一样了

[2021-04-01 06:15] ruibaby commented on #1338
@moon2008 那你就分别用 halo 和 root 启动一下看看，看看到底哪个账户是你使用的，然后整理一下 .halo 目录。

[2021-04-01 06:23] moon2008 commented on #1338
我比较了一下halo.mv.db文件，然后我发现在root目录下的.halo.bak/.halo/db目录中的数据库是我应该使用的数据，我应当把.halo.back中的.halo文件直接覆盖掉现在root下的.halo文件吗？

[2021-04-01 06:49] ruibaby commented on #1338
可以试试，做好备份。

[2021-04-01 07:30] moon2008 commented on #1338
已经成功了，非常感谢，主要解决方法是把需要的.halo文件放到用户根目录下，然后systemd配置文件的USER指向该用户
最后我还想问两个问题：
1、具体是如何通过systemd配置实现对.halo文件的访问的呢？
2、我使用的系统是centOS，我对halo用户赋予了管理员权限，但是相关权限仍然受限制。

[2021-04-01 13:59] ruibaby commented on #1338
1. USER 字段指定之后会使用指定的用户运行 Halo，而 Halo 的工作目录又是放在运行用户的用户目录的。
2. 什么权限？如果是按照文档创建的 halo 账户，应该是不会有问题的。

[2021-04-01 13:59] #1336 closed

[2021-04-02 03:00] #1338 closed

[2021-04-03 04:16] #1329 closed

[2021-04-03 06:32] lnsane commented on #1182
加验证码评论还是比较不错的

[2021-04-05 12:11] xmengnet opened #1340 "后台文章页面只显示10篇"
如题，后台的文章页面只能显示十篇文章，不能翻页，选择每页显示的文章数目为20也没作用，请问怎么解决啊！

[2021-04-05 12:13] ruibaby commented on #1340
- https://github.com/halo-dev/halo/issues/844
- https://github.com/halo-dev/halo-admin/issues/253

[2021-04-06 03:55] xmengnet commented on #1340
好的，非常感谢！

[2021-04-06 03:55] #1340 closed

[2021-04-06 06:12] lixingyun0 commented on #1322
我都是去数据库里改分类ID 来改变排序 😂

[2021-04-06 14:30] YYplus opened #1341 "反向代理"
啥都没改，通过域名访问突然不加www，就打不开了，

[2021-04-06 14:31] ruibaby commented on #1341
请重新创建 issue 选择正确的 issue 类型，以及提供必要的信息。

[2021-04-06 14:31] #1341 closed

[2021-04-07 08:43] JohnNiang commented on #1280
如果我提供这样 API 看是否合适呢？

[code]

[2021-04-07 08:53] LIlGG commented on #1280
感觉是不是使用逗号分隔的形式会更好。比如 GET http://localhost:8090/api/content/options/bulk?names=option1,option2,option3

[2021-04-07 08:55] ruibaby commented on #1280
实际情况下，上面那种方式是数组的形式，后端也是用数组接收，你这种前后端处理起来都更麻烦。

[2021-04-07 08:57] JohnNiang commented on #1280
其实处理起来都不算麻烦。

[2021-04-07 08:59] ruibaby commented on #1280
但我更愿意这样传：

[code]

[2021-04-07 09:01] JohnNiang commented on #1280
这里似乎需要用 qs.stringify 来转换。

[2021-04-07 09:36] LIlGG commented on #1280
emm。 相较而言，我还是更喜欢我的那种方式。
使用前者迷惑性实在是太强了，如果在多个 names 里面，混入一个其他的参数，比如 `?names=option1&names=option2&mames=option3&names=option4`
而且参数过多以后，接口会过长，还是间接一点好，而且~~毕竟 GET 类型的 url 参数是有限制的~~，虽然一般达不到这个限制。
当然了，上面两个理由都比较牵强，实际上一般是不会出现上述情况的。

但对于 RESTful 风格的 api，目前推荐的还是使用类似 https://segmentfault.com/a/1190000017028535 的投影参数 fields。

结论：看大家喜欢哪种。

[2021-04-07 10:26] JohnNiang commented on #1280
那就定为：names=key1,key2,key3 吧。

[2021-04-08 14:10] MaiSR9527 opened #1344 "小工具导入hexo的markdown出错了"
![屏幕截图 2021-04-08 220416](https://user-images.githubusercontent.com/38725713/114041504-2d37c980-98b7-11eb-8269-01a9259cf475.png)最新的1.47版本

[2021-04-08 14:11] ruibaby commented on #1344
已经修复，等待下个版本发布。https://github.com/halo-dev/halo-admin/issues/310

[2021-04-08 14:13] MaiSR9527 commented on #1344
好的，请问什么时候发布。刚想体验提下halo的，想把hexo的文章转移过去

[2021-04-08 14:28] ruibaby commented on #1344
你可以先使用 1.4.5 版本。

[2021-04-08 15:45] JohnNiang commented on #1280
我刚刚发现 map_view 接口是提供了 key 数组参数的。

[2021-04-08 21:44] liaozan opened #1346 "添加菜单时，会把博客的域名也加上，导致无法访问"
## 我的环境

---

## 错误日志

---

## 期望行为

## 当前行为

[2021-04-08 23:49] JohnNiang commented on #1346
希望能提供更详细的信息。

[2021-04-09 02:51] JohnNiang commented on #1346
我发现你添加的菜单链接出现了问题：`https://blog.yuanbing.top/https://blog.yuanbing.top/categories`。添加菜单路径时请直接设置为：`/categories` 即可。

[2021-04-09 05:19] #1280 closed

[2021-04-09 05:19] #1346 closed

[2021-04-09 05:20] #1344 closed

[2021-04-09 08:10] liaozan commented on #1346
并不是，这个菜单路径是批量添加的
![image](https://user-images.githubusercontent.com/26990889/114149607-ad107300-994d-11eb-9611-d7cea459f6cf.png)
传到后台`run.halo.app.controller.admin.api.MenuController#updateBatchBy`时带上了域名前缀

[2021-04-09 08:12] ruibaby commented on #1346
这是主题的问题，建议去对应仓库提交 issue。https://github.com/CodeLunatic/halo-theme-simple-bootstrap

[2021-04-09 08:31] liaozan commented on #1346
这个和主题有什么关系？不懂，明明是在后台管理里操作的，拉取的数据也都是从接口返回的，怎么还扯到主题了？

[2021-04-09 08:35] ruibaby commented on #1346
https://github.com/CodeLunatic/halo-theme-simple-bootstrap/blob/30cb9b4c4baa9ef90b6a819ae8fea86d0faffb9c/module/navbar.ftl#L24

改为：

[code]

应该就可以解决你的问题。

[2021-04-09 08:36] liaozan commented on #1346
![image](https://user-images.githubusercontent.com/26990889/114153073-8a805900-9951-11eb-9149-5f66ece44a23.png)
![image](https://user-images.githubusercontent.com/26990889/114153217-ab48ae80-9951-11eb-8f61-2c8379fe9e26.png)

[2021-04-09 08:37] ruibaby commented on #1346
这是作者为了保证菜单路径始终在 / 下所做的判断，所以不兼容全路径。实际上这个判断是有问题的。

你可以去给作者提交 issue，或者自己修改我说的那行。

[2021-04-09 08:39] liaozan commented on #1346
这么说我就懂了，存储的时候是存储的全路径，展示的时候不需要判断路径的开始，但是这个限制于批量添加。
如果我是单独添加的话，那是不是也要加上域名前缀？

[2021-04-09 08:40] ruibaby commented on #1346
不需要，能访问就行，你可以添加为 /links 也可以写完整的路径。

[2021-04-09 09:09] liaozan commented on #1346
还有个小问题，新增菜单分组，设置新分组为默认，然后将新分组删除，默认的分组没有置为默认，导致前台看不到任何菜单

[2021-04-10 13:59] trainliang opened #1347 "群晖docker容器启动后，使用watchtower自动更新后丢失容器"
## 我的环境

---

## 错误日志

---

## 期望行为

## 当前行为

[2021-04-10 14:01] JohnNiang commented on #1347
有可能容器启动失败了，你可以看看 watchtower 的日志。

[2021-04-10 14:06] trainliang commented on #1347
不知道为什么，我的gitea和nexus等容器都更新正常名单时halo更新错误好几次了，halo更新失败导致的宕机好几次了

[2021-04-10 14:07] JohnNiang commented on #1347
你可以检查一下 halo 日志文件：`~/.halo/logs/spring.log`。

[2021-04-10 14:16] trainliang commented on #1347
log里边没有什么东西，就剩启动正常的了，昨天的我也看了没有东西，我这边建议docker环境测试一下，我的watchtower的启动代码是 -cleanup -s 0 20 3 * * *

[2021-04-10 14:18] JohnNiang commented on #1347
建议你提供一下 docker 启动命令，以及 watchtower 启动命令，以及对 halo 容器的设置。尽可能详细，这样我们才能够正确复现。

[2021-04-10 14:19] JohnNiang commented on #1347
以及对应的版本信息。

[2021-04-10 14:32] trainliang commented on #1347
问题发生在版本升级后，所以镜像为当前latest，机器系统为群晖ds3617x，docker版本:Docker version 18.09.8, build bfed4f5，
群晖界面启动的容器，配置了文件映射：（/docker/halo/data：/root/.halo）端口映射（38091： 8090），开启自动启动，限制1g内存，最终结果是更新后容器丢失，数据库使用的是外部的mysql

[2021-04-11 06:57] trainliang opened #1348 "feat: 可配置用户默认头像的avatar服务器"
## 概述

希望用户默认头像可以配置avatar服务器

## 动机
头像服务器大陆被墙

[2021-04-11 06:57] ruibaby commented on #1348
1.4.8 已经支持。

[2021-04-11 07:01] trainliang commented on #1348
只找到了头像的配置地址，请问首页用户头像服务器地址在哪个菜单配置的

[2021-04-11 07:02] ruibaby commented on #1348
你说的是评论还是博主的头像呢？

博主的头像可以在个人资料修改。

[2021-04-11 07:04] trainliang commented on #1348
博主的头像，我默认不也是avatar头像么，看代码文档里，不知道为啥只改了评论的

[2021-04-11 07:09] ruibaby commented on #1348
那确实是只针对评论头像的修改。个人资料那个还是默认的 Gravatar 源。暂时你可以考虑手动上传头像。

[2021-04-11 07:13] trainliang opened #1349 "feat: 建议附件存储使用时间戳命名，方便附件存储管理"
## 概述

目前的附件存储直接使用名称存储，不方便s3存储，而且没有按照日期分文件夹，可能路径有文字，有URI编码问题，不方便后期维护和使用

[2021-04-11 07:16] trainliang commented on #1348
嗯，后边也建议吧版本号打在dockerfile里，类似mysql

[2021-04-11 07:28] trainliang opened #1350 "feat: 建议添加文章使用时间戳别名"
## 概述
汉字、空格等命名都会造成访问URL异常，复制后比较长，建议提供时间戳别名

[2021-04-11 07:28] trainliang opened #1986 "feat: 建议添加文章使用时间戳别名"
## 概述
汉字、空格等命名都会造成访问URL异常，复制后比较长，建议提供时间戳别名

[2021-04-11 12:02] ruibaby commented on #1348
建议新提交一个 issue 详细描述一下，我们方便跟踪，这个 issue 我就先关闭了。

[2021-04-11 12:02] #1348 closed

[2021-04-11 12:03] ruibaby commented on #1350
可以考虑，但目前新建文章的时候，别名是会自动生成的，汉字会转为拼音并用 - 隔开。只是修改文章的时候不会自动生成别名，但可以考虑加一个按钮来生成。

[2021-04-11 12:03] ruibaby commented on #1349
附件存储会重构，这些我们会考虑进去。

[2021-04-11 12:05] ruibaby commented on #1347
@trainliang 加了 rm 参数吗？怎么会发生容器被删的情况呢。

[2021-04-11 12:06] trainliang commented on #1348
那这个issus里的 博主的默认头像地址服务器 会用上配置的地址么，cn服务器国内不大能用了

[2021-04-11 12:08] trainliang commented on #1347
没有单独加rm的，使用的是watchtower 的更新有，代码有-cleanup旧镜像，只有这些，watchtower 不能拉起问题

[2021-04-13 05:22] killbus opened #1351 "feat: Content API: Lists posts by category slug with keyword support."
## 概述

Support to search posts in a special category.

[2021-04-14 02:03] SusurHe opened #1352 "使用以前版本的数据库,菜单页面请求找不到"team"字段"
最近我将halo升级到了一个比较新到版本,但是我使用的是之前版本的数据库,我发现后台到菜单设置页面会报错
![image](https://user-images.githubusercontent.com/51081799/114643218-d3486100-9d07-11eb-8478-89a81c32faf8.png)

日志文件输出如下
[code]

我尝试了将老得数据库的表结构和引擎都设置为新版的,但是并没有得到解决;

目前我只发现一个解决办法: 重新建一个数据库重新安装halo才能解决

[2021-04-14 02:56] ruibaby commented on #1352
看看是否是下面的问题：

- https://github.com/halo-dev/halo/issues/844
- https://github.com/halo-dev/halo/issues/780

[2021-04-15 10:16] #392 closed

[2021-04-15 14:46] #1352 closed

[2021-04-15 16:31] Cui-Yusong commented on #1351
请问这个功能不是已经实现了吗？ 在所有文章的那一栏，可以通过关键词，分类以及发布状态来筛选文章的呀
还是说，你不是这个意思，我理解错你的意思了吗？

[2021-04-18 13:09] ruibaby commented on #740
会在新的编辑器提供，我先关闭了。

[2021-04-18 13:09] #740 closed

[2021-04-19 02:34] Cui-Yusong commented on #1202
请问这个问题，可以构建一个全文检索表吗？具体方法是，把每个文章先分词，然后给每个分词加上文章编号，相当于每个词是key值，文章编号是value值，到时候直接通过词去找文章
这个思路可以吗？

[2021-04-19 02:36] JohnNiang commented on #1202
@Cui-Yusong 有兴趣的话建议了解一下：<http://hibernate.org/search/>

[2021-04-19 02:54] Cui-Yusong opened #1355 "前端内容不同步"
## 我的环境

最新版本：1.4.8

---

问题是：在管理端对文章内容进行更改后，用户端看到的内容 在预览界面并没有发生改变，只有点进去这篇文章，才会看到改变后的内容。

测试： 在管理端写一篇文章，文章内容是 同步。发布后，在用户端的预览内容是 同步，此时并没有问题。
但是，在管理端进行更改后，改为：测试当前更改后是否同步。发现此时 在用户端，预览时的内容还是 同步，并没有变化。只有点进该文章，才能看到发生的变化。

![image](https://user-images.githubusercontent.com/45391593/115175442-8f859b00-a0fd-11eb-8aa6-e8afeb597c8c.png)
![image](https://user-images.githubusercontent.com/45391593/115175451-93

[2021-04-19 07:20] JohnNiang commented on #1285
Look at https://github.com/johnniang/spring-boot-umami

[2021-04-19 09:00] jeffxjh opened #1356 "1.4.8版本，编写文章，内容超过一定长度出现滚动条以后，富文本工具栏消失"
## 我的环境
版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.72 Safari/537.36

---

## 错误日志

---

## 期望行为
在超过长度后，显示文本框内的滚动条

## 当前行为
在超过长度后，显示网页滚动条
![image](https://user-images.githubusercontent.com/44387640/115209929-a8f40a80-a130-11eb-94fd-7e3a6a04a791.png)

[2021-04-19 09:02] ruibaby commented on #1356
新的编辑器会解决此问题。预计 1.5.0 发布。

[2021-04-19 10:19] #1356 closed

[2021-04-19 12:08] ShayneL opened #1357 "有权限管理功能吗"

[2021-04-19 15:45] JohnNiang commented on #1357
目前仅支持单用户功能，所以暂未开发权限功能。

[2021-04-20 01:30] LIlGG commented on #1355
在最外部查看到的是摘要而不是详细内容，属于正常逻辑，不属于 bug。对于摘要仅仅只会在第一次文章渲染时自动生成，你可以在后续更新文章时，手动更改摘要。

[2021-04-20 01:33] #1355 closed

[2021-04-20 07:20] zhixiangyuan commented on #1349
如果用有规律的名字，那么可能会有安全漏洞，别人能够自由爬取

[2021-04-20 07:21] ruibaby commented on #1349
现在没有规律吧。

[2021-04-20 07:23] zhixiangyuan commented on #989
老哥，新的编辑器啥时候能上？

[2021-04-20 07:24] trainliang commented on #1349
用 年月日文件夹/时间戳 基本不会被爆破了吧

[2021-04-20 07:26] ruibaby commented on #989
正在写，基本可以使用，还需要完善一些功能。

但是得等到1.5.0。

[2021-04-20 10:56] ruibaby commented on #989
@zhixiangyuan

![Snipaste_2021-04-20_18-54-13](https://user-images.githubusercontent.com/21301288/115384793-05772880-a20a-11eb-9ee6-246483b6b666.png)
![Snipaste_2021-04-20_18-54-39](https://user-images.githubusercontent.com/21301288/115384800-0740ec00-a20a-11eb-9284-2fb12d47422f.png)
![Snipaste_2021-04-20_18-55-09](https://user-images.githubusercontent.com/21301288/115384803-0740ec00-a20a-11eb-9a0

[2021-04-20 12:13] DavenAaron opened #1358 "升级后，服务无法正常启动"
![image](https://user-images.githubusercontent.com/20857689/115393886-c26e8280-a214-11eb-9b5e-3b6e4f905ea1.png)

[2021-04-20 12:13] DavenAaron commented on #1358
启动方式为docker启动

[2021-04-20 12:18] ruibaby commented on #1358
能否提供 ~/.halo/logs/spring.log 文件。

[2021-04-20 12:19] DavenAaron commented on #1358
已经解决 ， 感谢

[2021-04-20 12:20] DavenAaron commented on #1358
程序没有问题

[2021-04-20 12:20] #1358 closed

[2021-04-21 03:41] zhixiangyuan commented on #989
棒

[2021-04-21 03:44] zhixiangyuan commented on #1349
现在是固定前缀 + 时间戳的模式，如果我想拉别人的所有图片只需要看一下固定前缀是什么，然后写个程序遍历时间戳就能将指定 halo 博客的所有图片全部拉出来，如果这些图片里面涉及到了别人的隐私的话就会出现安全漏洞

[2021-04-23 13:58] Aienao opened #1359 "博客设置里的“切换到高级/基础选项”按钮样式太违和了，"
RT

[2021-04-23 13:58] Aienao opened #1985 "博客设置里的“切换到高级/基础选项”按钮样式太违和了"
RT

[2021-04-23 14:11] #1985 closed

[2021-04-24 02:54] ruibaby commented on #1357
Duplicate https://github.com/halo-dev/halo/issues/1251

[2021-04-24 02:54] #1357 closed

[2021-04-25 08:53] HYWZ36 opened #1361 "CORS跨域资源共享漏洞"

[2021-04-25 10:21] ruibaby commented on #1361
你好，我们已经对此问题详细讨论过了。我们想知道在真实场景下，攻击者如果简易的拿到 `Admin-Authorization`。

[2021-04-29 07:44] zhixiangyuan opened #1362 "feat: 使用 content api 开发主题增加非 hash 路由支持"
## 概述

使用 content api 开发主题增加非 hash 路由支持

## 动机

hash 会造成原生 hash 跳转功能不可用

## 解决方案

增加一个 url 前缀，将带有该前缀的 url 请求转发到 index.ftl 即可。

例如使用 front 当作前缀，主题实现者在设置前段路由时带上 front 前缀，那么访问的路径就是 /front/**

[2021-04-29 07:47] ruibaby commented on #1362
我不认为这是一个好的方案。

[2021-04-29 08:01] zhixiangyuan commented on #1362
那现在有没有比较好的解决方案，如果不解决这个问题前端实现 hash 跳转需要使用 js 实现，成本很高

[2021-04-29 08:02] ruibaby commented on #1362
不太明白你说的 hash 跳转是什么意思。

[2021-04-29 08:07] zhixiangyuan commented on #1362
比如说实现点击目录跳转到指定位置的时候，就是在指定的标签上打上 id=“xxxx”，然后在目录上加上 url="#xxxx"，这样点击目录就会自动跳转到指定的位置，但是现在使用 ’#‘ 做为前端路由，那么点击目录就会跳转页面。

今天在集成 halo-comment 的时候同样发现有这个问题，评论模块本身使用 ‘#’ 来跳到指定的楼层，但是由于现在 ‘#’ 被路由占用了，所以点击就变成了跳转页面

[2021-04-29 08:09] ruibaby commented on #1362
明白了，我们考虑下这个问题，晚点给你回复。

[2021-04-29 08:10] zhixiangyuan commented on #1362
好的，感谢🙏

[2021-04-29 16:08] zsinba opened #1363 "在MAC下面复制WORD的内容，粘贴会变成图片"
## 我的环境

![image](https://user-images.githubusercontent.com/890157/116582586-1b8e9280-a948-11eb-8c49-21f0ccafcf02.png)

---

## 错误日志

无
---

## 期望行为
从Word复制过来的内容，直接粘的时候，能恢复文本和图片。

## 当前行为
从WOrd复制过来的， CTRL+V的时候，整个WORD变成了图片。

[2021-04-29 16:10] ruibaby commented on #1363
目前的编辑器不足以支持你的需求。

[2021-05-01 16:49] cetr opened #1364 "feat: 后台主题模块添加自动检测主题新版本功能"
自动检测是否有新版本主题并提示用户更新

[2021-05-01 16:49] cetr opened #1929 "feat: 后台主题模块添加自动检测主题新版本功能"
自动检测是否有新版本主题并提示用户更新

[2021-05-03 18:54] zsinba commented on #1363
xiexie

[2021-05-03 18:54] #1363 closed

[2021-05-06 15:01] CraKeyBoy opened #1365 "这里能编译通过？"
https://github.com/halo-dev/halo/blob/15381e655e217f6cd95852ed6b406fc302bd7eb4/src/main/java/run/halo/app/service/impl/PostCommentServiceImpl.java#L83

[2021-05-06 16:52] fyljp opened #1366 "后台管理界面菜单新窗口打开，链接错误，404"
## 我的环境

版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36

---

## 期望行为

新窗口中打开相对应管理页面

## 当前行为

跳转至网页前台，浏览器地址错误。

例如：点击仪表盘

本应前往： /后台目录/index.html#/dashboard

最终前往：/dashboard

[2021-05-07 06:48] ruibaby commented on #1366
可能是你 Nginx 加了路径重写导致的，可以检查一下。

[2021-05-07 06:50] ruibaby commented on #1365
这个和 Spring Boot 似乎没什么关系，你是否在 IDE 安装了 Lombok 插件呢？https://docs.halo.run/developer-guide/core/prepare

另外，我们现在使用的版本不是 1.4.5。

[2021-05-07 06:50] JohnNiang commented on #1365
可以详细描述一下具体哪儿不兼容。如果确实有问题，欢迎提交 Pull Request。

[2021-05-07 11:22] CraKeyBoy commented on #1365
嗯，是 spring boot jpa 版本升级导致的，spring boot 2.5 把 spring boot 2.4.5 的  repository.getOne 方法，修改成了 repository.getById 。

[2021-05-07 11:24] JohnNiang commented on #1365
2.5.0 确实有很多 break change。

[2021-05-07 11:31] CraKeyBoy commented on #1365
2.5.0 还没发正式版，为什么不选择一个正式 release 版本。比如 2.4.5？

[2021-05-07 11:33] JohnNiang commented on #1365
有一个 feature 需要 2.5.0-M3 才能实现。

[2021-05-07 11:40] CraKeyBoy commented on #1365
[code]
是这个 feature 吗？ 这里 2.4.5 也不兼容，我改了一下，目前没发现什么问题。
[code]

[2021-05-07 11:50] CraKeyBoy commented on #1365
好的。我试试吧。

[2021-05-07 13:59] ruibaby commented on #1366
我这边没有问题。

[2021-05-07 14:07] jojeda-four-id opened #1367 "翻譯成西班牙文"
您好，我在拉丁美洲，我想使用您的CMS。 可以將其翻譯成西班牙語翻譯成西班牙語

Hola, me encuentro en latinoamérica y me gustaría utilizar su CMS. es posible traducirlo al idioma Español

[2021-05-07 14:24] ruibaby commented on #1367
We have plans to do localization support, but we haven't started development yet, we need to wait for a while.

https://github.com/halo-dev/halo/issues/546

[2021-05-07 14:49] jojeda-four-id commented on #1367
谢谢您的回复，我会很专心的。
问候和感谢

------------------------------------------------------

Thanks for your response, I will be attentive.
Greetings and thanks

[2021-05-07 15:44] 13077598960 opened #1368 "初始化脚本在哪个目录么？"
我需要冲很老的1.1.1升级到最新版本，想要进行数据迁移，所以想找一下初始化脚本在哪目录。
运行报错如下：
021-05-07 23:22:09.870 ERROR 8 --- [main] o.s.boot.SpringApplication               : Application run failed

org.flywaydb.core.internal.command.DbMigrate$FlywayMigrateException:
Migration V2__migrate_1.2.0-beta.1_to_1.2.0-beta.2.sql failed
-------------------------------------------------------------
SQL State  : 42S22
Error Code : 42122
Messag

[2021-05-08 00:26] ruibaby commented on #1368
@13077598960 建议再将 flyway_history 这个表删除时候重新启动。

[2021-05-08 00:53] 13077598960 commented on #1368
已清空

[2021-05-10 04:40] ruibaby opened #1369 "feat: 提交评论取消对邮箱字段的非空验证"
## 概述

RT

## 动机

对于评论者来说，邮箱确实不是必要的。目前邮箱也仅用于 Gravatar 头像和消息通知。

## 详细解释

无

[2021-05-11 01:40] Stonewalling opened #1370 "腾讯云 CloudBase"
- 我已经安装了最新版的 Halo
  - 我已经搜索了已有的 Issues 列表中有关的信息
  - 我已经搜索了论坛中有关的信息：https://bbs.halo.run
  - 我已经阅读了 Halo 的 FAQ：https://docs.halo.run/user-guide/faq

## 我的环境

版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36
---

## 错误日志

访问网址显示404，多刷几次它就又能正常访问，怀疑是腾讯云的问题，请求大佬给个方向，没

[2021-05-11 01:46] Stonewalling commented on #1370
``

[2021-05-11 02:00] ruibaby commented on #1370
好像没有出现你说的问题。

[2021-05-11 02:03] Stonewalling commented on #1370
是这样的，如果长时间不访问，下次访问的时候就会404，感觉像是腾讯云睡眠了一样，刷新几次后，他就又正常了

[2021-05-11 05:43] Stonewalling commented on #1370
多次刷新，一开始显示404，再刷新几次变成400，最后再刷新几次就能看到页面了

[2021-05-11 05:44] ruibaby commented on #1370
应该是有某种休眠机制，晚点我去看看。

[2021-05-11 09:26] cetr opened #1371 "feat: 新增自定义拼接固定链接格式"
新增自定义拼接固定链接格式

[2021-05-11 14:41] ruibaby commented on #1362
独立部署可能是目前最好的方案。

[2021-05-12 03:51] ruibaby opened #1984 "菜单管理中菜单项的链接过长会导致挡住操作按钮"
**我确定我已经查看了** (标注`[ ]`为`[x]`)

- [x] [Halo 文档](https://docs.halo.run)
- [x] [Github Wiki 常见问题](https://github.com/halo-dev/halo/wiki/4.-%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98)
- [x] [其他 Issues](https://github.com/halo-dev/halo-admin/issues)

----

**我要申请**  (标注`[ ]`为`[x]`)

- [x] BUG 反馈
- [ ] 添加新的特性或者功能
- [ ] 请求技术支持

[2021-05-12 16:09] cetr opened #1372 "后台日志页，单行文字过长显示异常"
## 我的环境

版本：1.4.8
运行模式：production

---

## 错误截图

![QQ截图20210513000826](https://user-images.githubusercontent.com/49756728/118008114-5d273080-b37f-11eb-94f0-0cc4bdf81c60.png)

[2021-05-12 16:09] cetr opened #1983 "后台日志页，单行文字过长显示异常"
## 我的环境

版本：1.4.8
运行模式：production

## 错误截图

![QQ截图20210513000826](https://user-images.githubusercontent.com/49756728/118008114-5d273080-b37f-11eb-94f0-0cc4bdf81c60.png)

[2021-05-13 00:46] #1370 closed

[2021-05-15 04:30] #1984 closed

[2021-05-15 05:16] #1366 closed

[2021-05-15 14:58] #1983 closed

[2021-05-15 17:00] 1171-jpg commented on #1369
您好，我查了下api是在 PostController.commetnst里。现有的RequestBody PostCommentParam是继承于BaseCommentParam的，我的修改思路是新建一个抽象类去实现接口，在实现时取消对@email的验证。然后让POSTCommentParam去继承这个新的抽象类。这样也不会对其他的api产生影响。不知道可不可以这样，谢谢！

[2021-05-16 03:00] chenguod opened #1374 "拷贝整个.halo文件，在新的服务器启动后，第一天没报错，第二天打不开仪表盘"
我的环境版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36

[2021-05-16 03:12] ruibaby commented on #1374
应该是数据库文件被破坏了，这个我们暂时无能为力。建议备份整个文件夹的时候，停止运行再备份。

[2021-05-16 03:13] ruibaby commented on #1374
[spring.log](https://github.com/halo-dev/halo/files/6488636/spring.log)

[2021-05-16 03:13] chenguod commented on #1374
收到，谢谢大佬指导

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月16日(星期天) 中午11:12
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [ha

[2021-05-16 08:24] ruibaby commented on #1369
其实都可以取消，我们需要讨论一下。

[2021-05-16 08:26] #1374 closed

[2021-05-16 08:26] #1367 closed

[2021-05-16 08:27] 1171-jpg commented on #1369
好的，如果都取消的话就不用这么麻烦了，在base里面取消@email就行了

[2021-05-16 08:40] guqing commented on #1369
我感觉可以取消  如果为空默认生成称呼和头像

[2021-05-19 03:57] ruibaby commented on #1361
你好，还有后续补充吗？

[2021-05-21 02:24] mimajiushi opened #1381 "【BUG】回收站的文章可以访问"
## 我的环境

版本：1.4.8
数据库：MySQL 5.7.33-log
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36 Edg/90.0.818.56

---

## 错误日志

无

---

## 期望行为

- 回收站的文章不可访问

## 当前行为

- 回收站的文章可访问（已刷新缓存）
- 如果私密文章进入回收站，则不用密码也能访问
![image](https://user-images.githubusercontent.com/33995610/119072692-7fbfe600-ba1e-11eb-96a3-e9dc0

[2021-05-21 02:27] JohnNiang commented on #1381
感谢您的反馈！如果可以的话，你可以提交 PR 帮助 halo 修复此问题。

[2021-05-21 03:52] mimajiushi commented on #1381
提交PR了

[2021-05-21 03:55] ruibaby commented on #1381
@zhixiangyuan 这貌似是因为你之前的分类加密的 pr 导致的，你取消了我们原有的通过 token 访问的方式，但是并没有提供新的方式，导致目前回收站和草稿状态的文档都可以直接通过链接访问。希望能看看这个问题。

[2021-05-21 09:24] #1361 closed

[2021-05-22 09:20] CraKeyBoy opened #1383 "JPA entity use Lombok may cause performance and memory consumption issues."
When working with JPA and Lombok, remember these rules:

- Avoid using @EqualsAndHashCode and @Data with JPA entities;
- Always exclude lazy attributes when using @ToString;
- Don’t forget to add @NoArgsConstructor to entities with @Builder or @AllArgsConstructor.

Reference:
- [Lombok and JPA: What Could Go Wrong?](https://dzone.com/articles/lombok-and-jpa-what-may-go-wrong)
- [lombok-hibernate-h

[2021-05-22 17:54] YYplus opened #1384 "feat: 页面灰色效果"
## 概述

  全站变为灰色页面

## 动机

 袁老去世，很伤心想把网页变成灰色的悼念一下，发现HALO并没有这个功能，我觉得有很多和我一样的小白会需要这个功能，

## 详细解释

  很多时候会用到这个功能吧，虽然自己的博客没啥访问量，但还是想尽自己的一片心意，虽然功能很小，但意义重大，希望Halo可以多一些这种很小但很人性化的小功能，变得更易于使用，希望Halo越来越好。

[2021-05-23 02:34] ruibaby commented on #1384
[code]

添加到博客设置的自定义 head 即可。

[2021-05-23 02:36] JohnNiang commented on #1384
这个功能希望通过社区来完善。

[2021-05-23 02:58] JohnNiang commented on #1383
That's a great suggestion. Currently, we haven't use `Lazy Attributes` feature of JPA, and our entities don't have any composited other entities, instead we use Lombok on simple entity only. So there is no need to follow those rules now. Thanks for your suggestion.

[2021-05-23 03:11] guqing commented on #1384
使用主题雪就有设置 像这样:  https://guqing.xyz

[2021-05-24 02:45] #1384 closed

[2021-05-24 07:18] MyToken08 opened #1385 "开源"

[2021-05-24 08:58] cetr opened #1386 "bug：使用后台的小工具数据导出迁移后分类密码消失"
## 我的环境

版本：1.4.8
数据库：MySQL 8.0.25
运行模式：production

[2021-05-24 08:59] fernvenue opened #1387 "Unable to redirect the 2FA page by pressing ENTER."
## Server info

Version：1.4.8
Database：H2 1.4.197 (2018-03-18)
Mode：production
User Agent：Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:88.0) Gecko/20100101 Firefox/88.0

---

## Error log

[code]

---

## Should be

Redirect to 2FA page by pressing ENTER.

## Current condition

In the login page, even if you use the correct user account and password, you can't redirect to 2FA page by pressing ENTE

[2021-05-24 08:59] fernvenue opened #1982 "Unable to redirect the 2FA page by pressing ENTER."

[2021-05-24 11:10] #1385 closed

[2021-05-24 14:06] #1982 closed

[2021-05-25 11:21] CraKeyBoy commented on #1383
OK.

[2021-05-25 11:21] #1383 closed

[2021-05-26 03:04] sunda-blog opened #1388 "分类的问题"
我在一级分类下添加二级分类   但是打开一级分类 下的二级分类查询不到文章
<img width="668" alt="WX20210526-110307@2x" src="https://user-images.githubusercontent.com/59949673/119596605-153dea00-be12-11eb-945f-2b7bc39d0ab6.png">
<img width="520" alt="WX20210526-110237@2x" src="https://user-images.githubusercontent.com/59949673/119596608-1707ad80-be12-11eb-9927-fcabef26cc19.png">

[2021-05-27 04:36] ruibaby commented on #1388
确实有这个问题，目前分类的分级仅仅只是在分类渲染的时候能体现出层级，但是有些逻辑上还没有做处理。我们会在后续的版本优化此问题。

[2021-05-27 04:37] ruibaby commented on #1388
duplicate in https://github.com/halo-dev/halo/issues/1136

[2021-05-27 04:37] #1388 closed

[2021-06-01 12:24] #1386 closed

[2021-06-02 02:27] huang545 opened #1391 "markdown表格居中不生效"
发布前预览时，表格居中生效
发布后，表格仍为左对齐

[2021-06-02 02:27] huang545 opened #1981 "markdown表格居中不生效"

[2021-06-02 12:58] ruibaby commented on #1391
这应该属于前后端渲染不一致导致的，我们后续会放弃后端渲染。

[2021-06-06 10:37] yinxiulong opened #1392 "feat: Halo 能否通过调用接口发布文章？"
能通过Api 接口来上传和发布文章吗？

[2021-06-06 12:30] JohnNiang commented on #1392
@yinxiulong

<https://api.halo.run/admin-api.html#operation/createByUsingPOST_7>

[2021-06-08 12:39] #1392 closed

[2021-06-10 01:40] lsh1358046425 commented on #305
现在这个问题有解决吗？日志的评论只能在日志管理页面查看，也看不见评论人的详细信息，邮件通知标题还是日期.......

[2021-06-10 01:44] ruibaby commented on #305
目前是这样的，我们打算在 1.5.x 重新设计此功能。

[2021-06-11 02:17] JsChen2Casiku opened #1393 "Docker拉取镜像后连接数据库失败，请告知原因"
Docker拉取最新1.4.8，连接数据库失败，数据库是自己在CentOS上搭建的，Navicat连接没有问题，排除数据库原因，版本为5.7.23，求解答

application配置：
`server:
  port: 8899

  # Response data gzip.
  compression:
    enabled: false
spring:
  datasource:

    # MySQL database configuration.
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/halodb?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPubl

[2021-06-11 02:19] ruibaby commented on #1393
MySQL 与 Halo 不在同一网络。

https://bbs.halo.run/?q=docker%20mysql

[2021-06-11 02:44] JsChen2Casiku commented on #1393
之前想到了，已经解决了，感谢回复

[2021-06-11 02:44] #1393 closed

[2021-06-11 07:59] ruibaby opened #1394 "初始化安装中全局链接路径类型设置与预期不符"
## 我的环境

版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36

---

## 错误日志

无

---

## 期望行为

默认设置值应该是 false。

## 当前行为

当前初始化安装，默认打开了 `全局绝对路径`  设置。

[2021-06-11 12:54] senyucci opened #1397 "Halo 的后台 Dashboard 在ipadOS环境下中文全部乱码"
## 我的环境
版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (iPad; CPU OS 14_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.1 Mobile/15E148 Safari/604.1

---

## 错误日志

---

## 期望行为
后台不乱码

## 当前行为
IOS下所有浏览器打开网站后台均乱码

![image](https://user-images.githubusercontent.com/59790687/121689355-156b0480-caf7-11eb-8daf-19ff4b455b41.png)
![image](https://user-im

[2021-06-11 15:10] ruibaby commented on #1397
请问你的 iPadOS 版本是？

[2021-06-11 15:29] senyucci commented on #1397
是 14.4

[2021-06-11 15:29] senyucci commented on #1397
是 14.4（18D52）

[2021-06-11 15:31] senyucci commented on #1397
已排除浏览器缘故，测试了包括safari在内的五个浏览器，后台的静态导航均乱码，其他文字没有乱码现象

[2021-06-11 15:31] ruibaby commented on #1397
你好，我们没有 iPad 设备，所以无法进行测试。请问是否有对浏览器进行过一些特殊设置？ iOS 似乎没有出现过类似的情况。之前也在 iPadOS 测试过，均无类似问题。

[2021-06-11 15:32] senyucci commented on #1397
这是一台新机器 😂 我稍后会恢复出厂设置并继续尝试一下

[2021-06-11 15:34] ruibaby commented on #1397
应该没有必要恢复出厂设置，你可以先尝试搜索一下 iPad 有没有类似问题。

[2021-06-11 15:34] senyucci commented on #1397
好的，十分感谢

[2021-06-11 15:45] #1394 closed

[2021-06-12 03:54] senyucci commented on #1397
已找到问题所在了，我开启了全站CDN，当直接用ip+端口进入后台时一切正常

[2021-06-12 03:54] senyucci commented on #1397
应该是cdn那边的编码问题

[2021-06-12 04:08] ruibaby commented on #1397
那么找到解决方法了吗

[2021-06-12 04:11] senyucci commented on #1397
目前没有很好的解决方式，不过后台一般是写文用的，也不会通过cdn加速的域名进入，因为预览会有延迟哈哈哈，目前并不影响使用

[2021-06-12 04:12] ruibaby commented on #1397
你可以尝试在 cdn 那边屏蔽掉 /admin 路径 和 /api/admin 接口路径试试。

[2021-06-12 04:12] senyucci commented on #1397
该现象应该是ios系共有的现象，在全站cdn下后台部分字体会乱码

[2021-06-12 04:13] senyucci commented on #1397
之前已经屏蔽过了，并没有很大的成效

[2021-06-12 04:19] ruibaby commented on #1397
理论上会有效的，可以看看 cdn 那边的屏蔽规则。

[2021-06-12 05:02] #1351 closed

[2021-06-13 07:17] #1397 closed

[2021-06-17 15:20] xiaofengjue opened #1398 "Failed to backup halo"
## 我的环境
阿里云 Centos7.7

---

## 错误日志

[code]
---

## 期望行为
成功的进行整站备份

## 当前行为
前辈好，我现在用的halo-1.4.8版本，使用root运行时时候可以整站备份，但是新建halo用户，以halo身份运行halo（按照官方教程），整站备份提示Failed to backup halo，还有就是导出文档为markdown时可以导出，但是进行下载的时候，提示失败-服务器出现问题

[2021-06-17 16:01] xiaofengjue commented on #1398
用halo用户的身份在/tmp新建一个halo-backup文件夹，再全站备份没问题了，但是下载全站备份的数据，提示失败-服务器出现问题

[2021-06-18 03:13] zzzgd opened #1399 "日志journal时间线问题"
发现一个bug, 日志我15点发条消息, 数据库是8小时时区问题存的23点, 不知道这个正不正常, 然后前端页面F12点开看到里面的时间 journal.createTime 是03点.

实际时间: 11点, 数据库: 19点, journal.createTime: 11点
实际时间: 15点, 数据库: 23点, journal.createTime: 03点

这个给我看不懂了.

jdbc已经加上了 serverTimezone=Asia/Shanghai
数据库selectNow是正常时间.
11点那个我能理解是代码做了时区调整, 但是15点那个咋回事啊. 这两个数据是我同一天测的

[2021-06-18 03:17] ruibaby commented on #1399
只有日志有问题吗？

[2021-06-18 03:18] ruibaby commented on #1398
感谢反馈，晚点我们尝试复现一下。

[2021-06-18 03:18] zzzgd commented on #1399
目前是只发现这个, 我一开始以为主题js问题, 但是看他是取得数据就这样

[2021-06-18 03:21] ruibaby commented on #1399
看看和这个帖子是不是一样的问题。https://bbs.halo.run/d/1495-halo8

[2021-06-18 05:45] ruibaby commented on #1398
你好，我根据文档使用新开的服务器测试了一遍，没有发现类似问题。

![image](https://user-images.githubusercontent.com/21301288/122512276-383b7280-d03b-11eb-987f-cd2328cd119e.png)
![image](https://user-images.githubusercontent.com/21301288/122512310-438e9e00-d03b-11eb-9478-a33c67fc0780.png)
![image](https://user-images.githubusercontent.com/21301288/122512372-543f1400-d03b-11eb-9350-dd6215c8f41c.png)

建议检查一下 halo 账户的权限。

[2021-06-18 06:21] zzzgd commented on #1399
应该不是, 你看我这最新的一条测试 https://zzzgd.info/journals , 日志中写的是实际发送时间, 差了12小时.

服务器
[root@10-9-95-174 ~]# date
Fri Jun 18 14:15:41 CST 2021

数据库在docker上
select now();
2021-06-18 14:15:26

然后数据库的记录是:
2021-06-18 22:06:27	2021-06-18 22:06:27	<p>试下现在时间 2021年6月18日14:06:25</p>

然后F12的时间是 2021年6月18日02:06:25 , 这个我看js是取的 journal.createTime

[2021-06-18 06:25] ruibaby commented on #1399
@zzzgd Halo 容器中的时间呢？

[2021-06-18 06:32] zzzgd commented on #1399
@ruibaby halo是在宿主机上的, 只有mysql放在docker

[2021-06-18 06:36] ruibaby commented on #1399
好的，我们会根据你的环境尝试复现一下。

[2021-06-18 06:38] zzzgd commented on #1399
主题中 jounal.ftl代码:
`
                            <div class="ziyan-content">
                                <div class="ziyan-header">
                                    <span class="ziyan-username">${user.nickname!}</span>
                                    <span class="is-verified-badge"></span>
                                    <span class="ziyan-text">·</span>

[2021-06-18 06:43] ruibaby commented on #1399
@zzzgd 我想问一下，你后台的日志管理中显示的时间是否正常。

[2021-06-18 06:47] zzzgd commented on #1399
@ruibaby 我后台管理页面没看到日志管理啊, 只有发表. 旁边的操作记录倒是正常

[2021-06-18 06:49] zzzgd commented on #1399
版本：1.4.8
后台菜单: 仪表盘
文章
页面
附件
评论
外观
用户
系统

[2021-06-18 06:49] zzzgd commented on #1399
版本：1.4.8
后台菜单: 仪表盘
文章
页面
附件
评论
外观
用户
系统

[2021-06-18 06:51] ruibaby commented on #1399
页面->内置页面->日志

[2021-06-18 06:53] zzzgd commented on #1399
==  大佬你这页面藏的也太仔细了, 我昨天找了一天图库怎么设置, 最后直接在附件一个个点的

[2021-06-18 06:54] ruibaby commented on #1399
不是进入页面管理就可以看到的吗🙃

[2021-06-18 06:57] zzzgd commented on #1399
看了下, 后台日志时间正常 (插入数据库硬生生+8小时, 不过前端时间是对的就行), 那感情还是日志页面返回的journal.createTime不对

[2021-06-18 06:59] ruibaby commented on #1399
注意到了，主题的锅。

[code]

应该是大写的 HH，你自己改了试试。

数据库中的时间有可能是 UTC 时间。

[2021-06-18 07:00] zzzgd commented on #1399
是 页面->所有页面->独立页面
一般人也联想不到日志管理和图库管理在这里面把. 毕竟以为这个是对游客的页面管理==

[2021-06-18 07:02] zzzgd commented on #1399
惊了, 没发现, OK 解决了, 我去给这位提issue去

[2021-06-18 07:02] ruibaby commented on #1399
好吧，会将此问题纳入新版 admin 的考虑范围。

[2021-06-18 08:10] #1399 closed

[2021-06-18 11:16] xiaofengjue commented on #1398
您好，感谢您的热情恢复。我创建halo用户也是根据官方文档来的`usermod  -aG wheel halo`，这么一句将halo加入了wheel用户组，使用su，输入root密码就能以root身份登陆管理。下载整站备份的时候，域名访问和ip访问返回的信息不一样，域名是失败-服务器出现问题，ip是提示：{"status":400,"message":"The one-time token does not exist or has been expired","devMessage":null,"data":"XXXXXXXXXXXXXXXX"}，我还新发现了一个bug，当我按照官方文档`作为服务运行`( https://docs.halo.run/install/linux )，然后启动halo服务，发现之前配置文件里面修改的后台路径不生效了，又变回了admin，当我把`ExecSta

[2021-06-18 11:19] xiaofengjue commented on #1398
您好，感谢您的热情恢复。我创建halo用户也是根据官方文档来的`usermod  -aG wheel halo`，这么一句将halo加入了wheel用户组，使用su，输入root密码就能以root身份登陆管理。下载整站备份的时候，域名访问和ip访问返回的信息不一样，域名是失败-服务器出现问题，ip是提示：{"status":400,"message":"The one-time token does not exist or has been expired","devMessage":null,"data":"XXXXXXXXXXXXXXXX"}，我还新发现了一个bug，当我按照官方文档`作为服务运行`( https://docs.halo.run/install/linux )，然后启动halo服务，发现之前配置文件里面修改的后台路径不生效了，又变回了admin，当我把`ExecSta

[2021-06-18 11:21] ruibaby commented on #1398
@xiaofengjue 根据你提供的信息我们无法判断是不是 bug，你可以考虑联系我微信我远程看看 Wry2slp。

[2021-06-18 11:54] ruibaby commented on #1398
1. 无法下载的问题是因为是用了腾讯云的 CDN，无法判断是什么问题。
2. 后台路经与预期不符的问题是因为配置文件放错位置。

[2021-06-18 11:54] #1398 closed

[2021-06-18 14:11] xiaofengjue commented on #1398
您好经过我后续的验证，发现使用了cdn之后，系统->博客设置处，博客地址设置为ip+端口的形式后，整站备份能够下载数据，唯一的问题就是在访问文章时会将真实ip和端口暴露出来（首页是域名形式）
取消cdn之后，博客地址设置为域名，下载全站备份不再出错

总结：我的猜想，应该是使用cdn后，halo服务无法找到真实ip，而halo是根据ip+端口进行请求下载服务的，所以导致出错。所以最后的解决方式就是不使用cdn，但是不使用cdn，也就根据域名轻而易举查到对应ip了。最后还是看个人需求吧，加个cdn，web不能下载备份也能接受，因为web端下载比较慢，还不如直接ftp传输备份包来的快

[2021-06-20 02:55] xiaofengjue opened #1400 "关于草稿文章的未授权访问"
## 我的环境
阿里云Centos7

---

## 错误日志
无

---

## 期望行为
当我们保存文章为草稿时，那么应该只有用户在登陆状态下才能访问该文章链接，未登陆则无法显示文章内容

## 当前行为
在未登陆用户的状态下，可以访问到草稿状态的文章内容

[2021-06-20 02:56] ruibaby commented on #1400
Duplicate https://github.com/halo-dev/halo/issues/1381#issuecomment-845634598

[2021-06-20 02:56] #1400 closed

[2021-06-20 03:09] ruibaby commented on #1224
https://github.com/halo-dev/halo/pull/1354

[2021-06-20 03:09] #1224 closed

[2021-06-20 03:10] #1175 closed

[2021-06-20 03:39] #734 closed

[2021-06-20 15:10] LeeShaoYu opened #1403 "feat: Markdown 支持脚注"
## 概述
希望可以添加脚注支持

## 动机
[code]

## 详细解释

[2021-06-20 16:04] PeteLing commented on #495
Why isn't it numbered cve yet？

[2021-06-21 01:37] P7XXTMX opened #1404 "feat: 未来有考虑过前后端分离吗"
前后端分离之后，前端写主题会更方便，后端只需提供接口api也比较方便

[2021-06-21 01:37] ruibaby commented on #1404
https://api.halo.run

[2021-06-21 02:30] #1404 closed

[2021-06-25 08:10] s1084796293 opened #1405 "启动报错，显示的信息是乱码，有人遇到这个错误码"
idea 将代码拉下来以后，编译直接就失败了
<img width="881" alt="Snipaste_2021-06-25_16-05-42" src="https://user-images.githubusercontent.com/17758223/123392583-caa9bc00-d5cf-11eb-9604-c5f258552621.png">

[2021-06-25 08:11] ruibaby commented on #1405
JDK 的最低要求为 11

https://github.com/halo-dev/halo/blob/master/build.gradle#L11

[2021-06-25 08:37] s1084796293 commented on #1405
不行，还是这个错误
<img width="1093" alt="Snipaste_2021-06-25_16-05-42" src="https://user-images.githubusercontent.com/17758223/123396239-ab149280-d5d3-11eb-8dce-a0bdb79c9b58.png">

[2021-06-25 08:40] ruibaby commented on #1405
那你可以先解决一下控制台乱码的问题再看看。

我们的 CI 都是通过的。

https://github.com/halo-dev/halo/actions

[2021-06-25 11:00] s1084796293 commented on #1405
已解决，jdk问题，之前没用过gradle，没想到build里面还需要指定jdk版本
<img width="806" alt="Snipaste_2021-06-25_16-05-42" src="https://user-images.githubusercontent.com/17758223/123415217-875b4780-d5e7-11eb-94ad-0accaa50215b.png">

[2021-06-25 11:00] #1405 closed

[2021-06-27 11:15] DuQingsong2002 opened #1407 "feat:关于评论"
## 概述

评论时填网址的时候，没有http或者https的前缀就会校验错误，希望在网址输入框左边弄个下拉框选项，默认可以为http://

[2021-06-27 13:02] JohnNiang commented on #1407
感谢 @DuQingsong2002 提供反馈。

如果有兴趣的话，可以直接去 <https://github.com/halo-dev/halo-comment> 提交 Pull Request。

[2021-06-28 09:00] DuQingsong2002 commented on #1407
只见 It is not required to merge💔

[2021-06-28 09:02] ruibaby commented on #1407
你的意思是？

[2021-06-28 09:14] DuQingsong2002 commented on #1407
没事没事，刚提了个pr然后就It is not required to merge,然后随便发发😂

[2021-06-28 09:15] #1407 closed

[2021-06-28 09:22] JohnNiang commented on #1407
hi @DuQingsong2002 这个 issue 还没有修复之前，请不要关闭。

[2021-06-28 13:37] DuQingsong2002 opened #1980 "关于编辑文章的工具栏建议"

[2021-06-29 05:27] #1104 closed

[2021-06-29 05:27] #1403 closed

[2021-06-29 12:45] zhixiangyuan commented on #1381
这个我来解

[2021-06-29 13:29] zhanglp92 opened #1408 "文章更新但首页显现的摘要没变"
## 我的环境

版本：1.4.8
数据库：H2 1.4.197 (2018-03-18)
运行模式：production
User Agent：Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36

---

## 错误日志

文章更新了(内容清空重写), 但首页显现的摘要还是之前的内容

---

## 期望行为

首页显示的摘要也同步更新

## 当前行为

[2021-06-29 13:35] ruibaby commented on #1408
目前的策略是，保存文章的时候如果没有自定义摘要，那么会自动从文章截取。所以你更新的时候是已经有摘要了的，不会更新。你现在如果需要更新摘要，可以在保存文章的时候将原有的摘要删除。

[2021-06-29 13:49] #1362 closed

[2021-06-29 14:11] Aanko opened #1409 "Content API 的文章点赞接口限流应该按照文章 id 做处理"
## 我的环境

[code]

---

## 错误日志

[code]

---

## 期望行为

限流处理应该按照文章 id 做限制。

## 当前行为

点赞完一篇文章之后立刻点击另外一篇文章会提示 `访问过于频繁，请稍后再试！`

[2021-06-29 14:49] Aanko opened #1411 "文章的评论数统计与日志冲突"
## 我的环境

[code]

---

## 错误日志

无

---

## 期望行为

日志与文章的评论数显示正常。

## 当前行为

当前的日志评论数量似乎和文章的评论数量重合，假设有同一个 id 数值的文章和日志，那么日志的评论数量为对应 id 文章的评论数量。如图：

![image](https://user-images.githubusercontent.com/21301288/123817830-112e4c00-d92b-11eb-8bc5-01a852ebbf52.png)

[code]

![image](https://user-images.githubusercontent.com/21301288/123817891-1be8e100-d92b-11eb-8e5d-2c5d683e6394.png)

[code]

[2021-06-29 23:34] zhanglp92 commented on #1408
明白了，谢谢。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年6月29日 21:36
收件人: halo-dev/halo ***@***.***&gt;
抄送: lr ***@***.***&gt;, Author ***@***.***&gt;
主题: 回复：[halo-dev/halo] 文章更新但首页显现的摘要没变 (#1408)

目前的策略是，保存文章的时候如果没有自定义摘要，那么会自动从文章截取。所以你更新的时候是已经有摘要了的，不会更新。你现在如果需要更新摘要，可以在保存文章的时候将原有的摘要删除。

—
You are receiving this because you authored the thread.
Reply

[2021-06-29 23:40] #1408 closed

[2021-06-30 12:22] ruibaby commented on #1381
那个 pr 已经 close 了，只能麻烦你看看了。

[2021-06-30 12:43] mimajiushi commented on #1381
测试用例本地、自己服务器都能过，到github上就挂了，排查不出原因，只好放弃了😂

[2021-06-30 14:23] JohnNiang commented on #1411
Hi @Aanko , 文章 ID 和 日志 ID 应该是不会有重复的。

[2021-06-30 14:26] ruibaby commented on #1411
@JohnNiang 我已经复现过了，日志的评论数量确实和文章的有重合，你可以重新初始化一个 Halo，然后将默认的评论审核通过，再发一条日志，它的评论数量就是 1，然后再去第一个文章评论，第一条日志的评论数量也会增钾。

[2021-06-30 14:34] JohnNiang commented on #1411
明白了，文章和日志是两张不同的表，确实有可能造成 ID 重复，可能在查询评论数量的服务处理不当造成的。

[2021-07-02 02:23] gerayking commented on #1381
请问现在要解决的是要求回收站的文章不能访问，而使用admin的时候能访问回收站的文章吗？

[2021-07-02 15:25] xq-soliton opened #1412 "我使用的是 雪 这个主题 但是 在写文章的时候写$符号会出现报错 不知道是什么原因 代码块里面写$也会报错 请问有什么解决办法嘛？"

[2021-07-02 15:32] ruibaby commented on #1412
Xue 是在前端渲染的 Markdown，我们也不知道是什么原因导致的，你可以向 https://github.com/xzhuz/halo-theme-xue 提交 issue。

[2021-07-02 15:36] xq-soliton commented on #1412
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

                    ***@***.***好的先先

        签名由网易邮箱大师定制

    在2021年7月2日 23:32，Ryan ***@***.***> 写道：

Xue 是在前端渲染的 Markdown，我们也不知道是什么原因导致的，你可以向 https://github.com/xzhuz/halo-theme-xue 提交 issue。

—You are receiving this because you authored the thread.Reply to this email directly,

[2021-07-02 15:59] #1412 closed

[2021-07-04 14:57] lzhbhlrPython opened #1413 "feat: 支持自定义工作目录。"
## 概述

令Halo可以生成、读取当前目录下的数据文件、主题文件等

## 动机

本人及团队目前使用自建Windows Server服务器搭建博客，由于经费问题，我们的系统盘仅仅是一块64GB M.2硬盘，而主要储存是一块4TB的机械硬盘，我们为了节约系统盘空间，需要将一些东西放在非系统盘下（跑的项目很多，而且有时候可能需要多个Halo并存，目前无法实现）。

## 详细解释

根据我们的需求，我希望可以在Halo安装时提供选项，来确定将博客中的图片、主题等文件存放位置，并且在启动时默认优先读取根目录下配置文件，并且真切的希望可以将原本需要在配置文件中调整的如数据库类型等问题在安装页面有所体现，感谢贵团队的项目，希望这些东西能够采纳！

（Java学的不精，不能自己写PR……）

[2021-07-04 14:58] ruibaby commented on #1413
会考虑自定义工作目录地址。但目前你可以通过 Docker 管理多个 Halo，并且可以将工作目录映射到你们 4TB 的机械硬盘。

[2021-07-04 14:59] ruibaby commented on #1413
https://docs.halo.run/install/docker

https://www.bilibili.com/video/BV1hE411L7bU

[2021-07-04 15:06] lzhbhlrPython commented on #1413
好的谢谢！毕竟docker不是很常用，希望早日更新（目前WP的速度着实不敢恭维）

[2021-07-05 07:43] reednow commented on #1413
你这个需求我感觉可以用软链接文件夹解决~

[2021-07-07 11:16] zhixiangyuan commented on #1381
确实是这个问题，我恢复了原来从 admin 跳转时的 token，现在对于 admin 页面的访问不再做校验，对于别的请求会校验所有非公开文章。

[2021-07-12 10:55] #1381 closed

[2021-07-13 01:32] LazyMaple opened #1417 "unsafe usage of freemarker"
there is a SSTI vulnerability in halo with unsafe usage of freemarker, the details has be sent by email.

[2021-07-13 01:34] ruibaby commented on #1417
It has been received and we are processing it. Do you have a good solution?

[2021-07-13 01:58] LazyMaple commented on #1417
dont make unnecessary context inject into template context, such as springMacroRequestContext

[2021-07-13 08:18] zhaohaao131 opened #1418 "feat: 访问量希望能过滤掉搜索引擎爬虫的访问"
## 概述

## 动机

## 详细解释

[2021-07-14 12:04] ExplodingDragon opened #1419 "feat: 希望可以添加对 UML渲染支持"
## 概述

在文章中展示UML图

## 动机

在文章中展示某些模型时用 UML 比文字更方便

## 详细解释

或许可以使用 [PlantUML](https://plantuml.com/zh/)

PlantUML 支持快速绘制：
- 时序图
- 用例图
- 类图
- 对象图
- 活动图
- 组件图
- 部署图
- 状态图
- 定时图
同时还支持以下非UML图：
- JSON 数据
- YAML 数据
- 网络图 (nwdiag)
- 线框图形界面
- 架构图
- 规范和描述语言 (SDL)
- Ditaa 图
- 甘特图
- 思维导图
- WBS 工作分解图
- 以 AsciiMath 或 JLaTeXMath 符号的数学公式
- 实体关系图

[2021-07-14 15:32] JohnNiang commented on #1419
PlantUML 确实是非常优秀，如果有了插件机制，这个功能是非常容易地集成进去的。

[2021-07-14 15:57] ExplodingFKL commented on #1419
插件机制会对第三方开放吗？

[2021-07-14 15:59] ruibaby commented on #1419
现在没有插件机制。你说的这个会在新的编辑器上考虑。

[2021-07-14 15:59] ruibaby commented on #1419
现在没有插件机制。你说的这个会在新的编辑器上考虑。

[2021-07-15 02:31] Pantyhose-X opened #1420 "部署问题"
怎么部署在
[freenet网络](https://freenetproject.org/)
[I2P匿名网络](https://geti2p.net/zh/)
[Beaker Browser IPFS 为分布式 Web](https://beakerbrowser.com/)
[ZeroNet网络](https://zeronet.io/zh)

[2021-07-15 06:08] JohnNiang commented on #1420
网络问题这里没办法解答你

[2021-07-15 06:15] Rgege opened #1421 "配置项缓存支持redis吗"
你好  我看配置缓存选项中一共有两种 内存和本地 请问一下可以配置Redis缓存吗

[2021-07-15 06:19] ruibaby commented on #1421
可以集成，但目前我们不做第一优先级开发，欢迎你的贡献。

[2021-07-15 06:24] Rgege commented on #1421
好的 谢谢

[2021-07-15 06:24] #1421 closed

[2021-07-15 08:10] kingz40o commented on #135
CVE-2020-19037 was discovered by Chaitin Tech.
[https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-19037](url)
![image](https://user-images.githubusercontent.com/19370924/125750918-bc93c3c4-61eb-4cf7-a401-e4eb9626e743.png)
![image](https://user-images.githubusercontent.com/19370924/125750977-14026892-b7b9-49d8-99ad-eadb4032bf5e.png)

[2021-07-15 08:12] kingz40o commented on #136
CVE-2020-19038 was discovered by Chaitin Tech.
[https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-19038](url)
![image](https://user-images.githubusercontent.com/19370924/125753282-7c3e832f-8f4e-43f2-853f-4452dfad93e1.png)
![image](https://user-images.githubusercontent.com/19370924/125753325-1afdaf73-9cda-41e7-a1cf-9634e32b586b.png)

[2021-07-15 13:05] abnormal01 opened #1422 "defect：admin日志管理页面，当单行内容过长时，编辑和删除按钮不展示"
### What is version of Halo has the issue?

1.4.8

### What database are you using?

MySQL 8.x

### Your site address.

https://blog.nonamedog.com

### What happened?

admin日志管理页面，当单行内容过长时，编辑和删除按钮不展示

### Relevant log output

_No response_

### Additional information

_No response_

[2021-07-15 13:05] abnormal01 opened #1979 "defect：admin日志管理页面，当单行内容过长时，编辑和删除按钮不展示"
### What is version of Halo has the issue?

1.4.8

### What database are you using?

MySQL 8.x

### Your site address.

https://blog.nonamedog.com

### What happened?

admin日志管理页面，当单行内容过长时，编辑和删除按钮不展示

### Relevant log output

_No response_

### Additional information

_No response_

[2021-07-15 13:09] ruibaby commented on #1420
/needsMoreInfo

[2021-07-15 13:10] abnormal01 opened #1423 "defect：后台日志管理页面，单行内容过长时，编辑和删除按钮不显示"
### What is version of Halo has the issue?

1.4.8

### What database are you using?

MySQL 8.x

### Your site address.

_No response_

### What happened?

后台日志管理页面，单行内容过长时，编辑和删除按钮不显示

### Relevant log output

_No response_

### Additional information

_No response_

[2021-07-15 13:11] ruibaby commented on #1423
我刚刚已经将 issue 转移到了 halo-admin 项目，因为这属于 admin 的问题。

https://github.com/halo-dev/halo-admin/issues/345

[2021-07-15 13:11] #1423 closed

[2021-07-15 13:55] Pantyhose-X commented on #1420
![Capture](https://user-images.githubusercontent.com/42504385/125800040-4062e719-48af-4690-b6b0-1d765ceb985f.JPG)

[2021-07-15 14:09] ruibaby opened #1424 "test command"
### What is version of Halo has the issue?

1.4.8

### What database are you using?

H2

### Your site address.

https://halo.run

### What happened?

test command

### Relevant log output

_No response_

### Additional information

_No response_

[2021-07-15 14:09] ruibaby commented on #1424
/needsMoreInfo

[2021-07-15 14:10] ruibaby commented on #1424
/needsMoreInfo

[2021-07-15 14:11] ruibaby commented on #1424
/*off-topic

[2021-07-15 14:11] guqing commented on #1424
/gifPlease

[2021-07-15 14:12] ruibaby commented on #1424
感谢您报告了这个issue！遗憾的是，我们很难了解你看到的问题。 请提供一段屏幕录制来准确地展示不符合预期的情况。虽然`GitHub`支持很多标准格式，但尽量首选`.gif` 文件，因为它们在GitHub是内联展示。你可以使用基于浏览器的gif录制工具 https://gifcap.dev 来帮助您。

如果这个issue依赖键盘输入，您可以通过启用`screencast`模式来录制 (`Developer: Toggle Screencast Mode` in the command palette)。

[2021-07-15 14:13] ruibaby commented on #1424
/gifPlease

[2021-07-15 14:15] guqing commented on #1424
/confirmationPending

[2021-07-15 14:16] guqing commented on #1424
/rntg

[2021-07-15 14:17] guqing commented on #1424
/confirm

[2021-07-15 14:26] ruibaby commented on #1424
/close

[2021-07-15 14:28] guqing commented on #1424
@ruibaby /*question

[2021-07-15 14:28] ruibaby commented on #1424
/*out-of-scope

[2021-07-15 14:29] #1424 closed

[2021-07-18 08:17] ruibaby commented on #1420
抱歉我们没法提供这方面的教程，只能你自己研究研究了。我先关闭了，如果需要补充，你可以 reopen。

[2021-07-18 08:17] #1420 closed

[2021-07-18 10:09] ruibaby commented on #1411
/assign @ruibaby

[2021-07-18 14:08] #1411 closed

[2021-07-18 14:57] #1417 closed

[2021-07-18 16:32] fengzhao opened #1428 "希望支持 github pages 和 cloudflare pages 等静态页面托管程序。"
## 概述

希望支持 github pages 和 cloudflare pages 等静态页面托管程序。

## 动机

可以不占用自己的服务器资源。

## 详细解释

[2021-07-18 16:32] JohnNiang commented on #1428
/milestone 1.5.x

[2021-07-18 16:34] #1428 closed

[2021-07-18 16:35] JohnNiang commented on #1428
感谢提出宝贵的提议。关于静态页面的生成后续会考虑的。不过不会出现在 1.4.x 版本中。

[2021-07-18 16:36] JohnNiang commented on #1428
可以告诉我们关闭 issue 的原因么

[2021-07-19 03:33] fengzhao commented on #1428
之前没看到是java应用，以为是纯前端静态页面的应用。

[2021-07-20 06:48] SoraKasvgano opened #1431 "昨天docker自动更新镜像后报错standard_init_linux.go:219: exec user process caused: exec format error"
### What is version of Halo has the issue?

RPI4 8G raspbian 64bit

### What database are you using?

MySQL 5.7

### Your site address.

_No response_

### What happened?

standard_init_linux.go:219: exec user process caused: exec format error
,standard_init_linux.go:219: exec user process caused: exec format error
,standard_init_linux.go:219: exec user process caused: exec format error
,standard_

[2021-07-20 06:50] ruibaby commented on #1431
重新更新，1.4.9 的镜像有问题。

[2021-07-20 07:06] SoraKasvgano commented on #1431
qs,更新完好了，谢谢

[2021-07-20 07:06] #1431 closed

[2021-07-20 11:34] ruibaby commented on #1418
/needsMoreInfo

[2021-07-21 04:38] manction opened #1432 "1.4.10 API更新导致WeHalo小程序无法获取文章列表"
### 是什么版本出现了此问题？

1.4.10

### 使用的什么数据库？

H2

### 在线站点地址

https://m.xiaobaipb.com

### 发生了什么？

更新：Content Api 中的获取文章列表支持传入关键字和分类 id 筛选项。halo-dev/halo#1373
问题：1.4.10 API 更新导致 WeHalo 小程序无法获取文章列表，需要新增关键字和分类 id 参数才能正常访问。

### 相关日志输出

[code]

### 附加信息

_No response_

[2021-07-21 04:45] ruibaby commented on #1432
这两个参数确实不应该是必传，我们会在下一个版本修改。目前你可以考虑在文章列表的接口加上这两个参数并将值设置为 null。

/assign @ruibaby

[2021-07-21 04:47] manction commented on #1432
好的。

[2021-07-21 15:50] JohnNiang commented on #1432
/unassign @ruibaby

[2021-07-21 16:06] JohnNiang commented on #1432
/assign -@ruibaby

[2021-07-21 16:38] YangDunYu opened #1433 "希望开发图库点赞功能"
### 你当前使用的版本

_No response_

### 描述一下此特性

图库前台点赞，后台计数

### 附加信息

_No response_

[2021-07-22 02:06] Jalr4ever opened #1434 "评论的 Gravatar 镜像源设置无法生效"
### 是什么版本出现了此问题？

1.438

### 使用的什么数据库？

H2

### 在线站点地址

https://jalr4ever.cn/

### 发生了什么？

路径：首页/系统/博客设置/基础选项/评论设置

之前设置了 v2ex 镜像源后，最近 v2ex 被墙，设置了其他镜像源，例如 //gravatar.com/avatar/，但并没有生效，请求的评论头像还是 v2ex 源
![image](https://user-images.githubusercontent.com/23929139/126581192-ee5bf9f7-5590-435d-ac27-3631e1d3f4df.png)

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-07-22 11:11] ruibaby commented on #1433
目前感觉不是太有必要，但我们会考虑一下。

[2021-07-22 11:12] ruibaby commented on #1433
/assign ruibaby

[2021-07-22 16:08] xzyone opened #1435 "1.4.10 版本远程下载报错"
### 是什么版本出现了此问题？

1.4.10

### 使用的什么数据库？

H2

### 在线站点地址

https://plusx.fun

### 发生了什么？

使用后台 “安装主题-远程下载” 输入链接点下载后，提示 “Internal Server Error”

F12控制面板错误信息如图
![image](https://user-images.githubusercontent.com/23356216/126669195-428d1369-4062-4763-85c1-486522f27340.png)

### 相关日志输出

[code]

### 附加信息

_No response_

[2021-07-23 02:31] java-aodeng commented on #1223
亲，这边建议注册个微博，还能骂人哦:smirk:

[2021-07-23 09:28] ruibaby commented on #1435
/assign @JohnNiang

[2021-07-23 09:30] JohnNiang commented on #1435
请参考一下：https://stackoverflow.com/questions/18813847/cannot-open-git-upload-pack-error-in-eclipse-when-cloning-or-pushing-git-repos

[2021-07-23 16:22] #1979 closed

[2021-07-23 16:33] #1432 closed

[2021-07-23 16:40] ruibaby opened #1437 "删除非图片附件错误提示附件缩略图删除失败"
### 是什么版本出现了此问题？

1.4.10

### 使用的什么数据库？

H2

### 在线站点地址

_No response_

### 发生了什么？

删除非图片附件的时候，提示附件缩略图删除失败。

https://github.com/halo-dev/halo/blob/f42d4e2daed1e2045cc875856df515867e2e1084/src/main/java/run/halo/app/handler/file/LocalFileHandler.java#L197

这里不应该抛出异常。

### 相关日志输出

[code]

### 附加信息

_No response_

[2021-07-23 16:41] ruibaby commented on #1437
/assign ruibaby

[2021-07-24 04:05] #1437 closed

[2021-07-24 08:47] li-guohao opened #1439 "minio 无法指定region"
### What is version of Halo has the issue?

1.4.11

### What database are you using?

H2

### Your site address.

https://blog.liguohao.cn

### What happened?

我对接了minio存储，minio这边我设置了region的环境变量，
[code]

然后halo这边上传文件会报错
[code]

### Relevant log output

[code]

### Additional information

希望能在配置minio附件存储时，加上region字段的配置，并在操作minio的bucket时带上此字段

[2021-07-24 13:54] JohnNiang commented on #1439
/assign li-guohao

[2021-07-25 06:01] #1439 closed

[2021-07-26 14:14] li-guohao opened #1441 "生产环境邮件推送无法成功"
### What is version of Halo has the issue?

1.4.11

### What database are you using?

Other

### Your site address.

https://blog.liguohao.cn

### What happened?

生产环境下，邮件推送无法成功，相同的配置本地开发木的问题
生产环境状况：
数据库用的是`MariaDB10`
涉及halo服务的有两台机器，分别是部署`halo`的`blog-halo`，和进行反向代理的`home-nginx`
`halo`部署在服务器`blog-halo`上，端口占用默认的`8090`，防火墙已关闭，IP地址是局域网的`192.168.0.122`
`nginx`部署在服务器`home-nginx`上，防火墙已关闭，反向代理`halo`的配置文件`b

[2021-07-26 14:19] ruibaby commented on #1441
/assign @JohnNiang

[2021-07-27 00:47] JohnNiang commented on #1441
生产环境下能够和邮件服务器正常沟通么？

[2021-07-27 00:57] li-guohao commented on #1441
我试过了部署 halo的机器对阿里云的那个smtp域名是可以ping通，然而程序如日志里那样，在连接域名服务器时出现EOF错误。

我这边目前打算去了解下SMTP协议的相关定义信息，了解下EOF错误

[2021-07-28 11:22] #1418 closed

[2021-07-29 10:04] weidongzhou1994 opened #1443 "脚注显示错误"
### What is version of Halo has the issue?

1.4.11

### What database are you using?

H2

### Your site address.

_No response_

### What happened?

脚注在编辑器中正常显示，但发布后无法查看

### Relevant log output

_No response_

### Additional information

_No response_

[2021-07-29 10:15] guqing commented on #1443
/needsMoreInfo

[2021-07-29 10:18] weidongzhou1994 commented on #1443
这是示例的脚注文本显示结果
![Uploading image.png…]()

[2021-07-29 10:19] guqing commented on #1443
图片还没上传完呢 等待上传完毕后再点击comment

[2021-07-29 10:19] weidongzhou1994 commented on #1443
![image](https://user-images.githubusercontent.com/40510496/127475381-ced8ec29-3954-4b68-b229-88a68e36a9c0.png)

[2021-07-29 10:23] weidongzhou1994 commented on #1443
这是脚注示例文本的显示结果：
![image](https://user-images.githubusercontent.com/40510496/127475882-1b35fca2-0ec6-434c-b66c-c5dc57b73445.png)

[2021-07-29 10:28] weidongzhou1994 commented on #1443
这样可以了吗？

[2021-07-29 10:37] guqing commented on #1443
请问使用的什么主题呢

[2021-07-29 10:58] weidongzhou1994 commented on #1443
https://halo.run/archives/theme-xue.html

[2021-07-30 06:36] ruibaby commented on #1443
这是主题的问题，这个主题是在前端渲染的 Markdown。

[2021-07-31 05:39] #1443 closed

[2021-07-31 07:57] Wakme opened #1444 "增加滚动条"
### 你当前使用的版本

v1.4.10

### 描述一下此特性

在markdown预览栏中加入滚动条, 因为markdown可能比实际展示出的文章短很多, 这样要看到现时效果就需要频繁拖动页面的滚动条, 如果可以在预览栏中加入滚动条, 会更加方便.

### 附加信息

_No response_

[2021-07-31 07:57] Wakme opened #1978 "增加滚动条"
### 你当前使用的版本

v1.4.10

### 描述一下此特性

在markdown预览栏中加入滚动条, 因为markdown可能比实际展示出的文章短很多, 这样要看到现时效果就需要频繁拖动页面的滚动条, 如果可以在预览栏中加入滚动条, 会更加方便.

### 附加信息

_No response_

[2021-08-04 02:07] TravelEngineers opened #1447 "增加整站使用备份文件一键还原功能"
### 你当前使用的版本

1.4.11

### 描述一下此特性

目前Halo 已支持进行整站备份，但是在操作页面没有发现可以进行整站还原的功能。
建议增加使用备份包进行一键还原的功能，这样不用在恢复数据时一篇一篇文章进行导入。

### 附加信息

无

[2021-08-04 02:08] JohnNiang commented on #1447
/help

[2021-08-04 02:10] ruibaby commented on #1447
目前我们整站备份是打包的整个工作目录，无法支持在系统启动之后还原。你可以自行上传到对应路径解压。

工作目录的定义参考文档：https://docs.halo.run/install/prepare

[2021-08-04 02:13] TravelEngineers commented on #1447
那还是先备份docker数据目录吧，文章导入可以支持批量的不呀。

[2021-08-04 02:14] ruibaby commented on #1447
docker 不应该将工作目录映射出来的吗？

[2021-08-04 02:16] TravelEngineers commented on #1447
现在是将工作目录映射出来的。

[2021-08-04 02:17] ruibaby commented on #1447
@TravelEngineers 那么你现在遇到的问题是？

[2021-08-04 02:19] TravelEngineers commented on #1447
没了，只是突然想起来，halo大都是个人站长，没有运营的概念。

[2021-08-04 02:19] #1447 closed

[2021-08-04 11:49] dylan1174 opened #1448 "SSRF vulnerability in Theme fetch interface which allow attacker to detect the intranet information"
### What is version of Halo has the issue?

1.4.11

### What database are you using?

H2

### Your site address.

_No response_

### What happened?

In the theme page,there is an interface to fetch the remote theme file.Attacker can input the arbitrary intranet address, then by the corresponding response he can check whether port in enable.

For example,if the uri is http://127.0.0.1:8090/tt.zip a

[2021-08-04 12:17] ruibaby commented on #1448
Sorry, we don't understand this issue.

/needsMoreInfo

[2021-08-04 12:20] guqing commented on #1448
This api can only be accessed by the administrator, and currently does not support multiple users, so I don’t think your question is valid.

[2021-08-05 14:56] Clownsw commented on #1448
这个位置目前只有管理员能访问

[2021-08-05 15:00] JohnNiang commented on #1448
这个操作等于在浏览器上输入  `http://127.0.0.1:8090/tt.zip` 链接后自动下载，然后手动解压缩文件。我们不认为这种情况我们能够解决，除非我们提供白名单，但这会缺失灵活性。

[2021-08-07 12:03] #1448 closed

[2021-08-07 12:03] ruibaby commented on #1441
是否有解决此问题呢？

[2021-08-07 12:03] ruibaby commented on #1435
是否有解决此问题呢？

[2021-08-07 12:09] li-guohao commented on #1441
最近在忙工作，这个问题目前还没解决，这段时间没有空了，建议可以先暂时关闭，毕竟这个问题可能的原因有多个方面，或许并不是halo本身造成的问题。

[2021-08-08 04:21] JohnNiang commented on #1309
## 关于 Halo API Scope 的讨论

### Admin API

- api：对所有 API 都有读写权限
- read_api：
- attachment_api
- read_attachment
- backup_api
- read_backup
- category_api
- read_category
- journal_comment_api
- read_journal_comment
- journal_api
- read_journal
- link_api
- read_link
- read_log
- mail_api
- menu_api
- read_menu
- option_api
- read_option
- photo_api
- read_photo
- post_comment_api
- read_post_comment

[2021-08-08 04:26] ruibaby commented on #1309
假设的场景：

1. 创建微信小程序，这时候我们可以创建一个可以访问所有 Content API 的 access token。
2. 我们提供一些三方应用的扩展，比如 Chrome 插件，这个插件的用途是设置 api 地址和 access token，可以用来保存内容到博客的日志中，这个时候可以建一个仅访问 Admin API 中创建日志接口的 access token。

[2021-08-08 04:39] LIlGG commented on #1309
1. api - 获取所有 API 的权限，admin
2. read_content - 对非 admin 信息有读的权限
3. read_user - 对用户有读的权限（为多用户考虑）
4. read_xxx - 对 cms 内容有读的权限，例如小程序
5. write_xxx - 对 cms 内容有写的权限，例如第三方写文章，写日志
6. upload_xxx - 文件上传权限

[2021-08-08 04:43] ruibaby commented on #1309
是否可以根据 crud 来做 scope，比如：

admin api:

- PostController
   - read
   - write
   - delete
   - update

[2021-08-08 08:20] JohnNiang commented on #1309
/assign

[2021-08-08 10:00] JohnNiang commented on #1309
这样的 Scope 会不会太细了呢。或者说定义成这样有什么明显的好处么？

[2021-08-08 12:22] ruibaby commented on #1309
@JohnNiang 分成 read 和 write 也行。

[2021-08-10 15:21] dejavuwl commented on #1441
1.4.8 生产环境没有问题，用的是163的SMTP服务，过两天升级到最新版试一下

[2021-08-11 15:26] dejavuwl commented on #1433
感觉可以作为锦上添花的小功能，跟文章点赞类似了

[2021-08-11 15:29] dejavuwl commented on #1202
集成google站内搜索是不是也可以作为一种思路 搜索的关键词后面加上 site:xxx.com

[2021-08-12 10:41] xzyone commented on #1435
您好，没有解决。我看了下这个说的是eclipse环境，是不是编译端的问题呢

[2021-08-12 10:42] ruibaby commented on #1435
可能和你环境有关，我们测试没有遇到过这种问题。

[2021-08-12 19:24] B3EF opened #1451 "Reported a bug in huntr"
### What is version of Halo has the issue?

latest

### What database are you using?

MySQL 8.x

### Your site address.

run in localhost for testing

### What happened?

Blind XSS

### Relevant log output

_No response_

### Additional information

https://huntr.dev/bounties/f53d6e67-5262-402d-9b3f-65002dee1bfa/
check huntr adversary page

[2021-08-14 05:08] ruibaby commented on #1451
Hi @B3EF , I can't view this page.

[2021-08-14 11:04] B3EF commented on #1451
hi @ruibaby  are you reviewing the security issue ? , basically only maintainers of the repo will be able to see the security issue's adversary page ? if you are the reviewer then i will ask huntr to add you to the adversary page.

[2021-08-15 08:19] B3EF commented on #1451
hi @ruibaby huntr have sorted out the issue you will be now able to view the adversary page.

[2021-08-16 06:54] GodApex opened #1453 "博主评论显示问题"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://www.godapex.com

### 发生了什么？

en,似乎博主的回复无法在文章页看见

### 相关日志输出

_No response_

### 附加信息

![image](https://user-images.githubusercontent.com/52237591/129523129-2b9c3b17-fdd2-4d0a-a2d6-593b731df29b.png)
![image](https://user-images.githubusercontent.com/52237591/129523146-9297bd9f-64a3-450b-abef-6e148b100246.png)
如

[2021-08-16 06:55] GodApex commented on #1453
不知道是不是这个主题的原因

[2021-08-16 06:55] ruibaby commented on #1453
点击更多。

[2021-08-16 06:56] GodApex commented on #1453
可不可以自行展开

[2021-08-16 06:57] ruibaby commented on #1453
那你可以换一个：https://github.com/halo-dev/halo-comment-normal

[2021-08-16 06:58] GodApex commented on #1453
谢谢

[2021-08-16 06:58] #1453 closed

[2021-08-16 12:29] rsosor opened #1454 "HaloMvcConfiguration's FileUpload"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

localhost

### 在线站点地址

_No response_

### 发生了什么？

The project was not built since its build path is incomplete. Cannot find the class file for org.apache.commons.fileupload.FileUpload. Fix the build path then try building this project

The type org.apache.commons.fileupload.FileUpload cannot be resolved. It is indirectly referenced from

[2021-08-16 12:35] ruibaby commented on #1454
我尝试使用 Eclipse 复现一下。

[2021-08-16 12:59] rsosor commented on #1454
好的感恩

[2021-08-16 13:13] ruibaby commented on #1454
确实有这样的问题，没有能解决此问题。

![image](https://user-images.githubusercontent.com/21301288/129567537-456231cf-e1fc-48c9-aecf-cc1e7be3657f.png)

@rsosor 能尝试使用 idea community edition 吗？

[2021-08-16 13:28] rsosor commented on #1454
我再試試看Idea，感謝

[2021-08-17 07:07] FlickerMi commented on #1371
想换成halo，但是又想之前的博文换了之后还能访问，就指望这功能，然后从其它博客平台转过来了。

[2021-08-18 03:15] secondarycoder opened #1455 "minioJava客户端调https接口报：xxx PKIX path building failed"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

使用minIO上传附件时，如果是https协议则会上传失败，报：xxx PKIX path building failed。而S3客户端可以正常使用。经过查询资料，应该是服务端的ssl证书不在jdk的证书信任列表中。因此解决方法有两种：1.将服务端的ssl证书导入到jdk的证书信任列表中（更安全但操作复杂）2.绕过ssl验证
参考：https://github.com/minio/minio-java/issues/1032#issuecomment-671926716 使minIO绕过ssl验证

### 相关日志输出

[code]

### 附加信息

_

[2021-08-18 03:16] secondarycoder commented on #1455
稍后提交PR

[2021-08-18 03:16] ruibaby commented on #1455
/assign @secondarycoder

[2021-08-18 15:18] secondarycoder commented on #1435
这边提供一个思路可能不对。这个或许与 #1458  问题原因一样，都是由于ssl证书校验不通过导致的。解决方法也是两种：1.将证书导入jdk的cacerts库中2.避开ssl校验

[2021-08-19 01:03] #1455 closed

[2021-08-19 01:03] ruibaby commented on #1454
是否有解决此问题呢？

[2021-08-19 02:20] zhixiangyuan commented on #1419
新的编辑器什么时候能发出来使用？

[2021-08-19 05:09] rsosor commented on #1454
我轉 idea 就可以了！

[2021-08-19 12:27] mimajiushi commented on #1433
这个还跟主题有关，主题作者支持度是个问题，正如现在不是所有主题都支持日志评论一样

[2021-08-19 12:30] mimajiushi commented on #1441
我以前遇到过这个错误，不过原因似乎是自己改了springboot版本导致的

我现在用的1.4.11版本+MySQL，从阿里云切到腾讯云都木有问题，或者可以换台服务器试试？

[2021-08-19 12:37] li-guohao commented on #1441
我迁移博客到阿里云的服务器上了，一样的jar包，阿里云的服务器没问题，不知道什么原因，这个issue我关掉了

[2021-08-19 12:37] #1441 closed

[2021-08-20 15:37] Steuart commented on #1182
加验证码应该是最简单行之有效的

[2021-08-22 01:14] zhixiangyuan commented on #1419
关于新的编辑器有个建议，现在的编辑器能自动上传图片，但是我删除图片的时候不会自动删除附件，需要手动删除，这里希望能在新的编辑器上删除文章中的图片时自动删除附件。

[2021-08-23 03:51] #1454 closed

[2021-08-23 17:55] #1435 closed

[2021-08-24 14:40] B3EF commented on #1451
hi @ruibaby , can you validate the issue ,  it will not be published until you confirm a fix here , also it will help me grab a small bounty for the bug this month.

[2021-08-25 02:55] weizeng commented on #910
用了latest版本访问，无论是mysql和h2版，当数据量级达到1w左右的时候，查询非常慢，单个文章的查询基本在5-6s加载完成。排查中导出数据到mysql，单个查询，速度并不慢【20-100ms】，我跟踪代码进去，单个文章的关联查询多，还会查询上一篇和下一篇的文章。每一个查询递归 加起来，确实非常慢 【10106.wang】

[2021-08-25 02:55] weizeng commented on #910
用了latest版本访问，无论是mysql和h2版，当数据量级达到1w左右的时候，查询非常慢，单个文章的查询基本在5-6s加载完成。排查中导出数据到mysql，单个查询，速度并不慢【20-100ms】，我跟踪代码进去，单个文章的关联查询多，还会查询上一篇和下一篇的文章。每一个查询递归 加起来，确实非常慢 【10106.wang】

[2021-08-25 03:06] JohnNiang commented on #910
感谢问题的排查。性能优化问题将会是 1.5.x 的重点。

[2021-08-26 14:09] xzyone opened #1459 "希望增加自定义文章设置功能"
### 你当前使用的版本

1.4.11

### 描述一下此特性

建议主题theme.yaml的PostMetaField和sheetMetaField可以和settings.yaml一样设置不同的文本框、选择框之类的，然后这个设置会出现在文章设置处，这样对于不同主题开发者每篇文章或者页面都有不同的变量选择。

### 附加信息

_No response_

[2021-08-27 01:01] ruibaby opened #1460 "手动上传的主题在线更新失败 repository not found"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

首次初始化 Halo，更新默认主题提示失败。

### 相关日志输出

[code]

### 附加信息

_No response_

[2021-08-27 01:29] zygzzp opened #1461 "建议在线编译文档时markdown语句可以和编辑显示的内容对齐"
### 你当前使用的版本

1.4.7

### 描述一下此特性

建议在线编译文档时markdown语句可以和编辑显示的内容对齐

### 附加信息

建议在线编译文档时markdown语句可以和编辑显示的内容对齐

[2021-08-27 01:39] #1461 closed, assigned to nobody

[2021-08-29 15:42] stitchLau opened #1462 "Docker创建并运行容器失败 org.h2.message.DbException: Error while creating file ""/root/.halo/db"""
### 是什么版本出现了此问题？

1.4.11,1.4.10

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

遵照[官方文档](https://docs.halo.run/install/docker)使用Docker进行安装，创建容器并运行时报错，测试1.4.10及1.4.11版本均出现相同问题（其他版本未测试）。
在CentOS7容器测试过jar包方式运行，正常。
注：版本信息将附在“附加信息”

### 相关日志输出

[code]

### 附加信息

[root@localhost .halo]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)
[root@localhost .halo]

[2021-08-30 03:43] moon-sixpence commented on #1251
希望增加多用户管理功能

[2021-08-30 03:52] ruibaby commented on #1462
有没有可能是 Docker 版本过低了，使用最新版本试试。

[2021-08-30 07:08] stitchLau commented on #1462
将Docker更新至最新版`Docker version 20.10.8, build 3967b7d`之后正常运行

[2021-08-30 07:08] #1462 closed

[2021-08-30 12:37] project-concerto opened #1463 "Potential Issues in CacheLock's timeout"
### What is version of Halo has the issue?

master

### What database are you using?

MySQL 5.7

### What is your deployment method?

Fat Jar

### Your site address.

_No response_

### What happened?

CacheLock is used across halo to provide lock semantics. CacheLock has a default timeout set to 5 seconds. With this timeout, CacheLock actually has the semantics of a **lease**, leading to potentia

[2021-08-31 01:18] lajidonggua commented on #1460
问题解决没，我这也遇到了。

[2021-08-31 01:20] ruibaby commented on #1460
你现在可以删掉原来的，重新安装就行了。

[2021-08-31 02:16] moon-sixpence opened #1464 "希望对文章提供下架的功能，感谢"
### 你当前使用的版本

文章管理

### 描述一下此特性

文章管理

### 附加信息

_No response_

[2021-08-31 03:20] zhixiangyuan opened #1465 "回收站文章抵达回收时间但是没有被回收"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

回收站文章抵达回收时间但是没有被回收，我设置的 30 天后回收，但是实际没有效果

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-08-31 03:22] zhixiangyuan commented on #1465
补充两张图片

![image](https://user-images.githubusercontent.com/25138766/131436464-d08af3a5-3d8b-4685-83bf-6ba099e2a597.png)
![image](https://user-images.githubusercontent.com/25138766/131436491-64b892bc-768c-460c-a040-40f96947c687.png)

[2021-08-31 09:13] idchangyifan commented on #1399
NICE啊，同样的问题，修改主题已结局。
希望官方可以出个主题，现在主题都有bug

[2021-08-31 13:56] ruibaby commented on #1464
可以将其设置为草稿或者放到回收站，这个下架状态我觉得没有意义。

[2021-08-31 15:19] JohnNiang commented on #1464
是的，我们目前建议你将文章状态设置为“回收站”。

[2021-08-31 15:19] JohnNiang commented on #1464
/help

[2021-09-01 13:42] qinhua opened #1466 "希望能暴露博客访问量和点赞接口"
### 你当前使用的版本

### 描述一下此特性

1、希望模板中可以直接使用类似@viewCount这类获取到博客访问量数据用于展示；
2、希望能支持一个点赞功能；

### 附加信息

无，打算暂时用百度统计提供的接口

[2021-09-01 15:08] #1464 closed

[2021-09-03 03:32] ruibaby commented on #1466
目前都是有接口的，但是需要视主题支持情况而定。

[2021-09-03 03:32] ruibaby commented on #1465
/assign @guqing

[2021-09-03 03:33] ruibaby commented on #1463
/assign @JohnNiang

[2021-09-03 05:26] xvzan commented on #1136
既然父节点处在半选择状态时并不会将父节点的ID传出去，那么能否取消父子节点选中状态的关联，让用户自己决定是否选中父节点？

[2021-09-03 06:38] guqing commented on #1465
hi @zhixiangyuan, 回收站文章的自动清理时间=文章加入回收站的时间 + 回收站文章保留时长，也就是说文章加入回收站的时间并不等于发布时间，所以请查看一下文章的 updateTime 时间与当前时间的差值是否达到回收时间，如果确认自动清理功能的确有问题在给我们回复！

[2021-09-03 14:33] qinhua commented on #1466
ftl文件里可以获取到总访问量吗？

[2021-09-04 01:38] #1465 closed

[2021-09-04 08:33] xiaofengjue opened #1467 "无法访问halo"
### What is version of Halo has the issue?

1.4.8

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site address.

https://sillage.wang

### What happened?

早上醒来看到阿里云给我发的信息，halo博客所在的阿里云宕机了，然后重启实例
然后重启halo，halo显示运行着，但是无法访问，排除了防火墙以及阿里云安全组的端口问题
halo的安装是根据官方文档来的，新建halo用户，以及将halo添加为服务管理
停止halo，查看halo状态，提示状态为failed，那就应该是有什么错误了

就很奇怪昨天都可以，宕机一下，今天就怎么都不行了

### Re

[2021-09-04 09:12] guqing commented on #1467
检查一下halo的启动日志看看有没有什么异常，你贴的日志没法看出问题的原因

[2021-09-04 09:16] guqing commented on #1467
或者重新启动一下试试: `java  -Xms256m -Xmx256m -jar /home/halo/app/halo.jar > nohup.out 2>&1 &`

[2021-09-05 09:31] xiaofengjue commented on #1467
还是不行啊，手动启动能访问但是不是原来的了，服务形式重启又无法访问

[2021-09-05 09:32] xiaofengjue commented on #1467
启动时有提示这个：No active profile set, falling back to default profiles: default
配置文件写的8090端口，但是启动服务后，lsof -i查看该端口没有服务

[2021-09-05 09:34] xiaofengjue commented on #1467
这个周末的好心情都被搞没了

[2021-09-05 10:01] ruibaby commented on #1467
请提供完整日志。~/.halo/logs/spring.log

[2021-09-05 10:02] ruibaby commented on #1467
那您觉得我们每天面对这些 issue 心情如何？

[2021-09-05 11:56] xiaofengjue commented on #1467
您好，希望能提供一下帮助
[code]

[2021-09-05 12:01] ruibaby commented on #1467
@xiaofengjue  不够完整，建议直接上传 spring.log 文件，或者发送到 hi@halo.run 邮箱。

[2021-09-05 12:46] xiaofengjue commented on #1467
您好请问您有时间吗，如果可以的话希望您能远程帮助我一下，我和我的小伙伴现在仍未解决这个问题，查看了日志，halo服务一直无限重启，我已经被这个问题折磨了两天了，我会在线等您半小时

[2021-09-05 12:57] ruibaby commented on #1467
wx: Wry2slp

[2021-09-05 13:02] xiaofengjue commented on #1467
我之前加过你  给你发消息了

[2021-09-05 13:02] xiaofengjue commented on #1467
wx：StarkShadow

[2021-09-05 13:53] xiaofengjue commented on #1467
问题已经解决

问题原因：直接在配置文件里修改了h2的数据库密码，重启服务后就遇到一系列问题。调试过程中将halo.service里的运行用户由halo改为root忘了改回去导致调试时遇到一些未知错误和现象，如：`java -jar halo.jar`启动halo时提示对应端口为8091，但是访问8090才有halo博客，但8091却没有（已防火墙和安全组策略问题），然后博客css丢失界面异常，而且也丢失了原来博客的数据

解决办法：将配置文件中的h2的数据库密码改为默认的123456，将halo.service中的用户改回halo；并将h2-console关闭，这样就几乎没有什么安全问题。如果需要修改h2相关数据，进入配置文件将下面false都改为true，访问`ip:port/h2-console`即可
[code]

最后再次感谢`Ryan Wang`深夜的远程帮助。

[2021-09-05 13:53] #1467 closed

[2021-09-07 04:27] lemoniiio commented on #1251
希望增加多用户功能

[2021-09-07 10:18] qinhua commented on #1466
@ruibaby 最近在完善相关主题，希望得到帮助，我要如何使用这个点赞接口呢

[2021-09-07 10:36] ruibaby commented on #1466
可以参考 https://github.com/cetr/halo-theme-sagiri

[2021-09-08 09:29] guqing commented on #1463
Hi @project-concerto, examples of using concurrent installation：If the controller uses `CacheLock` annotation, it just directly returns the results that already exist in the cache according to the same parameters, and executes the code logic without hitting the cache, so there is no concurrent installation problem. You can describe in detail how concurrent installations will occur.

[2021-09-09 04:34] dingguangyi0 opened #1470 "目录加密-目录输入密码访问-看不见文章"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://www.ycdr.fun/

### 发生了什么？

1. 设置加密目录-目录访问文章 列表为空
2. 问题分析 逻辑有问题
[code]

3. 不清楚是否是我使用错误
4. 主题使用的是雪
5. 我的网站 每日计划 为加密目录 密码为1 ，文章有四篇 目前显示不出来
### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-09-09 06:39] dingguangyi0 commented on #1470
我的网站 | 我临时修复了

[2021-09-09 06:39] ruibaby commented on #1470
欢迎提交 PR。

[2021-09-09 06:39] ruibaby commented on #1470
/assign @dingguangyi0

[2021-09-09 06:40] dingguangyi0 commented on #1470
不清楚是我分析的问题吗 ？ 全局的代码并没有看 ，怕该错了

[2021-09-09 06:50] dingguangyi0 commented on #1470
好的

[2021-09-09 09:02] dingguangyi0 commented on #1470
@ruibaby   你好,按照官方操作文档设置代码格式过程中发现 https://docs.halo.run/developer-guide/core/code-style  官方文档,按照文档操作,在idea版本2021.1 , checkstyle idea 版本是 5.5 情况下 checkstyle.xml 创建失败，不清楚咱们 checkstyle.xml使用的版本是多少

[2021-09-09 09:03] ruibaby commented on #1470
@dingguangyi0 提示什么？

[2021-09-09 09:06] dingguangyi0 commented on #1470
com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module LineLength - Property 'fileExtensions' does not exist, please check the documentation
	at com.puppycrawl.tools.checkstyle.Checker.setupChild(Checker.java:477)
	at com.puppycrawl.tools.checkstyle.api.AutomaticBean.configure(AutomaticBean.java:198)
	at org.infernus.idea.checkstyle.service.cmd.OpCreateChecker.execute(Op

[2021-09-09 09:06] dingguangyi0 commented on #1470
com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module LineLength - Property 'fileExtensions' does not exist, please check the documentation
	at com.puppycrawl.tools.checkstyle.Checker.setupChild(Checker.java:477)
	at com.puppycrawl.tools.checkstyle.api.AutomaticBean.configure(AutomaticBean.java:198)
	at org.infernus.idea.checkstyle.service.cmd.OpCreateChecker.execute(Op

[2021-09-09 09:09] dingguangyi0 commented on #1470
@ruibaby   你好，checkstyle idea  新版本已经把设置转移到 tools ,我自己这边降低版本 5.3 5.2 idea2021安装不成功，5.4 可以安装成功 设置文件版本从8.23 - 6.19 我这边都试了一下 ，都无法创建成功，而且错误不太一样，麻烦告知下 你那边 开发idea和checkstyle idea  版本

[2021-09-09 09:11] dingguangyi0 commented on #1470
@ruibaby 我看咱们配置文件是依照谷歌格式 的，现在checkstyle idea 官网默认提供谷歌 和 sun 格式化 就是为了解决 checkstyle idea 升级造成的低版本xml不兼容问题，我们是否可以直接使用checkstyle idea 提供的那？

[2021-09-09 09:15] ruibaby commented on #1470
@dingguangyi0

![image](https://user-images.githubusercontent.com/21301288/132658597-dd61486c-bc58-4a2d-baac-4879a016a427.png)

这里有：https://github.com/halo-dev/halo/blob/master/build.gradle#L14

[2021-09-09 09:17] dingguangyi0 commented on #1470
@ruibaby 好的 我尝试一下8.39 ，文档可以说明一下

[2021-09-09 14:34] Wanxp commented on #1419
可以考虑使用kroki 接口服务，kroki也是对一众的 可读语言 -> 图形(包括plantuml)进行了接口级别的封装，能够覆盖大多数的这种需求。不过这样相对应的需要 部署自己的服务kroki服务(步骤不是很复杂)，可以考虑预留使用kroki的扩展

[2021-09-09 15:29] 51167018 opened #1472 "迁移到其他服务器后无法保存"
### What is version of Halo has the issue?

v1.4.11

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site address.

https://www.gravity.wang

### What happened?

迁移到其他服务器的时候,所有界面都可以访问,后台所有内容都无法保存,提示Internal Server Error

### Relevant log output

[code]

### Additional information

_No response_

[2021-09-09 15:43] ruibaby commented on #1472
重启试试，或者说你当前运行 Halo 的账户是否有工作目录的读写权限？

[2021-09-11 07:00] cetr opened #1473 "后台附件识别不到ico图片尺寸"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

![20210911145940](https://user-images.githubusercontent.com/49756728/132939584-33d1413c-ef46-4939-8d3e-a420b3cbdbcd.png)

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-09-12 23:06] Qiang156 commented on #1413
He uses Windows as the production environment.

[2021-09-13 05:14] Menci opened #1475 "评论自动过滤与审核通知（Webhook）"
### 你当前使用的版本

1.4.11

### 描述一下此特性

Halo 现有的评论审核机制比较简陋，可以考虑接入 WordPress 生态中常用的 Akismet 评论过滤系统来做一个自动化的过滤。要求不高的情况下可以代替人工审核，要求较高的情况下也可以为人工审核减轻负担。

除邮件以外，可以考虑加入 Telegram（或者其他支持 Bot 的 IM 平台）来更方便地将新评论通知给博主，使博主能够更方便地审核、回复评论。

以上功能如果可以采纳，我将会在实现之后发起 PR。

### 附加信息

_No response_

[2021-09-13 05:20] Menci opened #1476 "使用类似主题配置的配置项声明方式来编写主站配置"
### 你当前使用的版本

1.4.11

### 描述一下此特性

当前 Halo 的 admin 系统采用了前后端分离的架构，在后端每次新增一个配置项需要同时更新前端代码和后端代码。如果能够将后端的各种配置以类似主题配置描述文件的形式提供给前端，让前端动态渲染这些配置项，便可以很大程度上减少前端代码修改/构建的频率。

### 附加信息

_No response_

[2021-09-13 05:48] ruibaby commented on #1476
可以这么做，但目前使用这种方式还有不少问题，比如目前的主题配置都还没做表单项验证。所以暂时不打算做这样的改动。

[2021-09-13 05:49] ruibaby commented on #1475
欢迎 PR，/assign @Menci

[2021-09-13 06:23] Menci commented on #1419
#989

[2021-09-13 07:17] ruibaby commented on #1472
@51167018 你好，此问题是否已经解决？

[2021-09-13 08:15] #1473 closed

[2021-09-13 08:17] ruibaby commented on #1472
先 Close 了，如果后续还有问题，请 Reopen。

[2021-09-13 08:17] #1472 closed

[2021-09-13 08:41] JohnNiang commented on #1475
@Menci 非常感谢你的建议。

建议现在 issue 中描述一下具体的实现思路后再写代码。

[2021-09-13 09:04] ruibaby commented on #1463
I closed it , if you have any other questions, you can reopen it.

[2021-09-13 09:04] #1463 closed

[2021-09-13 13:37] Menci commented on #1475
大体看了一下项目架构，感觉应该在 `handleCommentNewEvent` 中（也就是发邮件的地方）处理评论后的逻辑。

---

首先在评论设置里加入两个选项：「Akismet API Key」和「评论过滤设置」。在「评论过滤设置」中可以选择：**删除垃圾评论**和**垃圾评论需要审核**。

原「SMTP 服务」改为「通知设置」，将原有的两个二级 Tab 改为一个二级 Tab「SMTP 服务」，并添加一个二级 Tab「Telegram Bot」，其中包含四个设置项：

* Telegram Bot Token
* Telegram 收件人
* Telegram API 地址（可能有用户需要使用反向代理）
* 代理服务器地址（可能有用户需要使用正向代理）

---

在 `handleCommentNewEvent` 中将构造的文本信息发往 Telegram 时，如果该评论需要审核

[2021-09-13 14:43] lzhbhlrPython commented on #1413
Yeah，you are right... But we are not good engineer... We couldn't set centos well .... I'm waiting for new version!

[2021-09-13 16:40] Qiang156 commented on #1413
I am sorry if my words hurt you.
You can learn how to deploy it with Docker.
It would be easier.
Good luck!

[2021-09-14 07:51] ruibaby commented on #1476
暂时先关闭了，如果有后续补充，可以 Reopen。

[2021-09-14 07:51] #1476 closed

[2021-09-14 07:51] ruibaby commented on #1476
暂时先关闭了，如果有后续补充，可以 Reopen。

[2021-09-14 07:53] #1029 closed

[2021-09-14 08:52] #1470 closed

[2021-09-14 17:42] qinhua commented on #1466
@ruibaby 文章点赞接口 /api/content/posts/{postId}/likes 请求成功后，列表里的 likes 字段没更新，一直是0，我看日志的点赞接口是好的，这块是没有实现吗?

[2021-09-15 01:19] JohnNiang commented on #1460
请在附加信息里面添加一下对应的主题文件。

[2021-09-15 01:20] ruibaby commented on #1460
随便下载一个主题上传然后在线更新就可以复现。默认主题也可以。

[2021-09-15 08:50] lostmaniac opened #1478 "新建文章标签页xss漏洞"
### 是什么版本出现了此问题？

新建文章

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

新建文章标签页xss漏洞
标签内容填写<script> alert(1) </script>

### 相关日志输出

_No response_

### 附加信息

![2b7f34cce97617bcb150922474786e2](https://user-images.githubusercontent.com/6057477/133402121-2f8f390d-499b-4eae-a863-15e9210bf109.png)

[2021-09-15 08:51] lostmaniac commented on #1478
![image](https://user-images.githubusercontent.com/6057477/133402450-1a1fc510-e225-4c37-9e9b-2a340a0e3ce2.png)

[2021-09-15 09:13] guqing commented on #1478
Hi @lostmaniac, 感谢你创建该 issue, 标签只有管理员可以创建，目前halo也不支持多用户因此不会发生 xss，如果后续版本支持多用户后我们会考虑该问题，但目前这不是bug

[2021-09-15 15:10] #1478 closed

[2021-09-16 00:53] #1978 closed

[2021-09-16 00:53] #1980 closed

[2021-09-16 01:50] #1460 closed

[2021-09-16 03:01] jiashuai123 opened #1480 "gravatar头像很容易打不开"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

neojarvis.top

### 发生了什么？

评论区的gravatar经常显示不出（偶尔能加载），可能跟国内环境有关
![image](https://user-images.githubusercontent.com/20734746/133542374-ad14bf97-cc25-4e09-b17c-0187eb7615da.png)

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-09-16 03:02] ruibaby commented on #1480
https://bbs.halo.run/d/1455

[2021-09-16 07:16] ruibaby commented on #1475
另外提一下，建议评论过滤和 Telegram 通知分为两个 PR 提交。

[2021-09-16 10:19] dongjiancom opened #1481 "”文章标题“的英文字母会被转大写字母。"
### Your current Halo version

”文章标题“的英文字母会被转大写字母。

### Describe this feature

”文章标题“的英文字母会被转大写字母。

### Additional information

”文章标题“的英文字母会被转大写字母，这样不太友好吧？

[2021-09-16 10:20] ruibaby commented on #1481
@dongjiancom 那是主题的设置，你可以在对应主题的设置里关闭。

[2021-09-16 11:26] qinhua opened #1482 "希望评论接口可以支持保存头像url"
### Your current Halo version

1.4.11

### Describe this feature

现有的评论接口似乎只能保存用户名、邮箱、网址这些，没有提供用户头像的字段。使用gavatar又很慢，如果是qq头像，希望能直接保存下来下次展示

### Additional information

_No response_

[2021-09-17 11:45] cetr opened #1483 "后台的菜单移动，子菜单无效"
### 是什么版本出现了此问题？

1.4.12

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

后台的 外观-菜单 里

复制菜单到别的分组时，子菜单被忽视

点移动菜单到别的分组时甚至子菜单内容直接丢失

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-09-17 11:45] cetr opened #1977 "后台的菜单移动，子菜单无效"

[2021-09-18 03:02] joson1205 opened #1484 "服务器重启后halo.service无法自启"
### 是什么版本出现了此问题？

1.4.12

### 使用的什么数据库？

H2

### 在线站点地址

_No response_

### 发生了什么？

CentOS7.9环境，已将halo服务设为开机自启，查看服务状态显示报错。每次需要`systemctl restart halo`重启服务才能正常运行。

### 相关日志输出

[code]

### 附加信息

![image](https://user-images.githubusercontent.com/21129878/133870334-b7edcd8d-0752-4215-99f2-10a810bd93b4.png)

[2021-09-18 03:19] joson1205 commented on #1484
配置与官方提供的模板配置一致的，未做修改，ExecStart项，单独执行正常。

[2021-09-18 03:23] ruibaby commented on #1484
那你再执行一下下面的命令试试吧：

[code]

[code]

[2021-09-18 05:44] #1484 closed

[2021-09-18 06:21] #1480 closed

[2021-09-18 06:23] ruibaby commented on #1482
这相当于让评论者随意输入头像地址，我觉得可能会有一定安全风险，所以保持待定。

至于 Gravatar 慢的问题，你可以参考 https://bbs.halo.run/d/1455

[2021-09-19 11:39] scdlyh opened #1486 "希望能增加集成一个富文本编辑器"
### Your current Halo version

1.4.12

### Describe this feature

**希望能增加增加集成一个富文本编辑器，halo的Markdown编辑器挺好的，使用过 wangEditor [https://www.wangeditor.com]富文本编辑器感觉不错，编辑内容时排版挺直观的，希望能增加集成 wangEditor 这样的富文本编辑器**

### Additional information

_No response_

[2021-09-19 17:23] qinhua commented on #1482
了解

[2021-09-19 17:23] #1482 closed

[2021-09-20 08:30] ruibaby commented on #1486
会支持一个富文本编辑器，1.5.x 的时候。

[2021-09-20 08:32] ruibaby commented on #1486
duplicate https://github.com/halo-dev/halo-admin/issues/303

[2021-09-20 08:32] #1486 closed

[2021-09-20 12:34] myread-code commented on #1251
希望增加多用户管理功能

[2021-09-22 03:19] yiweizhi commented on #1251
希望增加多用户管理功能

[2021-09-23 07:27] B3EF commented on #1451
hi @ruibaby , can you validate the adversary page, its has been one month since i have reported the issue

[2021-09-24 01:49] fujieNo1 opened #1487 "后台菜单模块页面分组异常提示"
### 是什么版本出现了此问题？

最新版本

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

进入后台菜单页面提示错误信息，如图：
![image](https://user-images.githubusercontent.com/41049282/134605975-fd467298-e050-4ad7-8860-9a760ff341e3.png)
![image](https://user-images.githubusercontent.com/41049282/134606091-e25134d5-4078-4c9d-a574-c0e28a0fb157.png)

### 相关日志输出

_No response_

### 附加信息

_No re

[2021-09-24 01:51] ruibaby commented on #1487
https://github.com/halo-dev/halo/issues/844

[2021-09-24 02:05] fujieNo1 commented on #1487
感谢

[2021-09-24 02:11] #1487 closed

[2021-09-26 12:51] ruibaby opened #1976 "弱化动态效果"

[2021-09-26 12:53] ruibaby opened #1975 "修改默认包管理器为 pnpm"

[2021-09-26 14:56] #1975 closed

[2021-09-28 09:32] phybrain opened #1489 "Mathjax 公式无法换行"
### What is version of Halo has the issue?

latest

### What database are you using?

MySQL 5.7

### What is your deployment method?

Docker

### Your site address.

_No response_

### What happened?

[code]
\\\\ 和\\ 都无法换行

### Relevant log output

_No response_

### Additional information

_No response_

[2021-09-29 07:09] #1489 closed

[2021-10-03 03:18] Fengz-z opened #1490 "nexT主题：页面代码高亮没有渲染，但页面元素存在<code>标签"
### 是什么版本出现了此问题？

v1.4.12

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

39.103.141.25

### 发生了什么？

只有这一个主题有问题，试了别的主题都可以显示高亮

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-10-06 19:02] hutupro opened #1491 "1.4.12 整站备份失败，提示Failed to backup halo"
### 是什么版本出现了此问题？

1.4.12

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

点击“整站备份”，提示Failed to backup halo，后台日志发现可能是~/.halo/db/halo.mv.db文件被锁定导致，仅被Java占用。
![image](https://user-images.githubusercontent.com/91881995/136266342-2e1545fe-dafb-4370-b503-dcd31558cecc.png)

直接复制这个数据库文件也提示失败，关闭halo后可以复制。
![image](https://user-images.githubusercontent.com/91881995/1362662

[2021-10-08 03:57] hutupro commented on #1491
这只是规避方式呀，有没有根本解决措施？

[2021-10-08 07:06] moon-sixpence opened #1493 "附件上传能不能有个分类文件夹上传的功能，方便迅速定位找到需要的图片"
### 你当前使用的版本

_No response_

### 描述一下此特性

![image](https://user-images.githubusercontent.com/21488737/136512799-f5b3ed31-5d65-46f7-bc94-34e088f380e6.png)
![image](https://user-images.githubusercontent.com/21488737/136512891-76265b59-94d9-455e-ab85-fbec9a5fba9a.png)

因为有些图片 文件我是批量上传的。有很多关键词也重复了，根据关键词查也不好定位。 所以建议加个上传是分类文件夹的功能。不知道技术上能否实现呢？

### 附加信息

_No response_

[2021-10-08 10:47] ruibaby commented on #1493
Duplicate https://github.com/halo-dev/halo/issues/1084

[2021-10-09 07:29] ruibaby commented on #543
/assign @guqing

[2021-10-12 06:54] #543 closed

[2021-10-13 10:08] ruibaby commented on #1451
@B3EF hi B3EF, I have confirmed, but we are unable to determine when it will be repaired. I will close this issue first.

[2021-10-13 10:08] #1451 closed

[2021-10-13 10:31] B3EF commented on #1451
ok

On Wed, Oct 13, 2021 at 3:38 PM Ryan Wang ***@***.***> wrote:

[2021-10-14 04:40] moby008 opened #1495 "markdown 文章时 预览mermaid 可以正常展示 ，但是发布后文章无法展示mermaid图形"
### 是什么版本出现了此问题？

1.4.12

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

markdown 文章时  预览mermaid 可以正常展示 ，但是发布后文章无法展示mermaid图形

### 相关日志输出

_No response_

### 附加信息

![image](https://user-images.githubusercontent.com/61699816/137252345-0d98eb06-83c9-4d70-b0e7-aaff4b02fc47.png)
<img width="881" alt="1634185854(1)" src="https://user-images.githubusercontent.com/61699

[2021-10-14 04:41] ruibaby commented on #1495
https://docs.halo.run/user-guide/markdown#%E5%9B%BE%E8%A1%A8

[2021-10-14 05:09] xiuyuansoftware opened #1496 "新增用户注册功能"
### 你当前使用的版本

1.4.12

### 描述一下此特性

可否新增用户注册功能，目前的版本只有管理员可以登录修改文章，其他人想要修改或者发布文章只能找管理员来操作。能否增加用户注册功能，从而可以实现多人协作管理博客网站。

### 附加信息

_No response_

[2021-10-14 06:40] xiuyuanjun opened #1497 "建议新增热门文章排行页面显示"
### 你当前使用的版本

1.4.12

### 描述一下此特性

建议在首页显示本站的热门文章排行。或者新增按文章阅读量进行排序的功能。这样在打开博客网站的第一时间就能知道哪篇文章最热门，写的最好。才考下图。下图是从博客园截图过来的。我觉得这个功能很实用。

<img width="514" alt="微信截图_20211014144018" src="https://user-images.githubusercontent.com/24690740/137265045-be913e15-7645-441c-9e70-9afac3753faf.png">

_No response_

[2021-10-14 06:42] #1496 closed, assigned to nobody

[2021-10-14 07:02] xiuyuansoftware opened #1498 "希望在文章摘要下面添加显示阅读和评论的次数或者数量"
### 你当前使用的版本

1.4.12

### 描述一下此特性

希望在文章摘要下面或者后面添加显示阅读和评论的次数或者数量，这样对于一个浏览者来说，登录博客之后可以有选择的先看哪些提供一定量的选择依据。类似如下图的这种显示：

<img width="686" alt="微信截图_20211014150605" src="https://user-images.githubusercontent.com/24690740/137268398-9467bbdf-b971-44f4-821a-f31a31015bef.png">

[2021-10-15 00:44] #1498 closed, assigned to nobody

[2021-10-15 00:44] #1497 closed

[2021-10-15 08:23] #1491 closed

[2021-10-18 10:39] ruibaby opened #1499 "重构上传附件的命名方式"
### 你当前使用的版本

1.4.12

### 描述一下此特性

当前会在上传的时候自动追加一个随机字符串，如 2021/03/IMG_9552-d22d2ef8d6fc4fe9812f036092607564.jpeg，这样做可能会造成以下问题或者困扰：

1. 语义不清楚，比如我期望获得 2021/03/logo.png 或者 2021/03/favicon.ico 的文件地址。
2. 不利于维护文件数据。

现在期望改为在上传的时候根据构造好的文件路径查询是否已经存在该路径的附件，如果没有则使用原文件名，否则追加随机字符串。

### 附加信息

_No response_

[2021-10-22 03:50] ruibaby opened #1501 "[Admin API] 通过状态搜索文章希望可以支持多个状态。"
### 你当前使用的版本

1.4.12

### 描述一下此特性

[code]

### 附加信息

_No response_

[2021-10-27 14:05] hagaiwech opened #1502 "Contact Me Regarding a Security Issue"
### What is version of Halo has the issue?

All

### What database are you using?

Other

### What is your deployment method?

Docker

### Your site address.

_No response_

### What happened?

Hi @ruibaby @JohnNiang,

I've tried to contact you through your security mail for over a month now, but got no response.
It's regarding vulnerabilities we found in your project.
Although we prefer that a fi

[2021-10-27 16:19] #1502 closed, assigned to nobody

[2021-10-29 11:36] #1499 closed, assigned to guqing

[2021-10-29 12:27] #1992 closed

[2021-10-29 12:28] #1981 closed

[2021-10-29 12:59] #1991 closed

[2021-10-29 13:29] jerry-shao opened #1505 "多机部署后台管理登录Session混乱"
### 是什么版本出现了此问题？

1.4.11

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://jerryshao.com

### 发生了什么？

网站目前部署在AWS的3台EC2上面，前面加了AWS Elastic LoadBalancer做负载均衡。

前端页面访问正常。

后端管理页面登录后，频繁提升需要重新登录。

通过服务器A登录之后的session，登录成功跳转到控制台页面可能被转到了服务器B或C。
不知道咱们对后端登录Session是怎么管理的？

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-10-29 13:47] #1986 closed

[2021-10-29 14:01] #2014 closed

[2021-10-29 14:04] #1998 closed

[2021-10-29 14:21] ruibaby opened #1974 "文章编辑页面标题排版优化"
### 你当前使用的版本

1.4.13

### 描述一下此特性

![image](https://user-images.githubusercontent.com/21301288/139451491-4f553ff6-b568-48e7-87bf-371d566814c0.png)

如图，顶部标题与下方标题输入框合并。

### 附加信息

_No response_

[2021-10-29 14:33] #1976 closed

[2021-10-29 14:35] #1997 closed

[2021-10-31 06:06] JohnNiang commented on #1505
Thank you reaching out here!

目前 Halo 是有状态服务，即使是使用了 MySQL 也不适合多机部署。

我们不认为这是一个 bug，不过可以作为一个 improvement 来完善。

[2021-10-31 10:01] JohnNiang opened #1506 "Request to upgrade setup-java action to v2 in GitHub workflow"
### Your current Halo version

latest

### Describe this feature

[setup-java action](https://github.com/actions/setup-java) v2 supports [maven and grade cache providers](https://github.com/halo-dev/halo/blob/1d9145050542bd186207bbdb09d7374eab7c8942/.github/workflows/halo.yml#L31-L47), and it's helpful to simplify our build workflow:

https://github.com/halo-dev/halo/blob/1d9145050542bd186207bbdb0

[2021-10-31 10:09] ruibaby opened #1507 "Docker 镜像同时发布到 GitHub Packages"
### 你当前使用的版本

1.4.13

### 描述一下此特性

GitHub Actions 支持发布版本同时发布 Docker 镜像到 GitHub Packages。

example：https://github.com/mikecao/umami/pkgs/container/umami

### 附加信息

_No response_

[2021-10-31 10:09] ruibaby commented on #1507
/assign @JohnNiang

[2021-10-31 11:19] JohnNiang commented on #1506
/assign

[2021-10-31 13:48] #1506 closed

[2021-11-01 00:56] #1507 closed

[2021-11-01 12:38] ruibaby opened #1973 "文章管理方式重构"
### 你当前使用的版本

1.4.12

### 描述一下此特性

默认仅显示已发布的文章，提供回收站和草稿箱的入口（或许草稿箱的优先级可以提高）。

### 附加信息

_No response_

[2021-11-01 12:41] ruibaby opened #1928 "提供快速编辑文章模式"
### 你当前使用的版本

1.4.13

### 描述一下此特性

提供一种能快速编辑文章的方式，对已有的文章进行快速选择和编辑。

### 附加信息

_No response_

[2021-11-01 12:44] ruibaby opened #1972 "取消原有的如附件详情、文章设置的抽屉设计"

[2021-11-01 15:21] JohnNiang opened #1512 "Request to bump snapshot version automatically after a new release"
### 你当前使用的版本

latest

### 描述一下此特性

Currently, PR #1511 has implemented setting final version with tag when releasing, but next development version is not changed automatically.

For example, current snapshot version is `1.4.13-SNAPSHOT`, and when we create a new release `1.4.13`, the next development version should be changed to `1.4.14-SNAPSHOT` automatically.

### 附加信息

_No response_

[2021-11-01 18:18] jerry-shao commented on #1505
同意，毕竟是还不支持的功能。

我有时间也看下代码，看能不能把这个问题解决。

[2021-11-02 02:14] fuzui opened #1513 "希望能够在Content API中添加查询图库分组信息接口"
### Your current Halo version

1.4.13

### Describe this feature

RT，目的为了通过分组信息查图库。

查阅了下友链的分组查询实现，其`/api/content/links/team_view`接口返回的是全部分组及其分组下的友链信息。
个人觉得图库分组查询应是一个单独只查询全部分组列表的接口，因为图库分页查询中已有`team`参数，以及图库数量相比友链会更多。

### Additional information

_No response_

[2021-11-02 02:30] FelicxFoster opened #1514 "数学公式前端显示不正常"
### 是什么版本出现了此问题？

1.4.13

### 使用的什么数据库？

Other

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

编辑插入markdown语法矩阵，后端显示正常，前端只显示markdown代码，其他公式都显示正常

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-11-02 06:40] ruibaby commented on #1514
我们会在这个 issue 解决的同时解决  https://github.com/halo-dev/halo/issues/989

[2021-11-02 06:40] #1514 closed

[2021-11-02 14:09] #1513 closed

[2021-11-03 05:32] 1379 opened #1517 "halo 源码里的Sheet是什么呢"
### What is version of Halo has the issue?

-

### What database are you using?

MySQL 8.x

### What is your deployment method?

Fat Jar

### Your site address.

-

### What happened?

我在阅读halo的源码，发现有post和sheet两种区别，想问一下，post和sheet的区别是什么啊

### Relevant log output

_No response_

### Additional information

_No response_

[2021-11-03 05:37] 1379 commented on #1517
不好意思，issue类型好像只能选bug，但这并不是bug

[2021-11-03 05:37] ruibaby commented on #1517
自定义页面，和文章独立开的，你可以用来建立留言板，关于页面等。

[2021-11-03 05:44] #1517 closed

[2021-11-03 14:43] JohnNiang commented on #1505
Hi @jerry-shao ，这不仅仅是 Session 的问题。还有三个问题需要考虑：

1. 多机部署不能使用 H2 数据库作为数据存储
2. 多级部署模式下，目前还没有办法同步主题文件
3. 多级部署模式下，目前还没有适配集中式缓存

[2021-11-03 15:07] JohnNiang commented on #1291
/assign @JohnNiang

[2021-11-04 03:38] 1379 opened #1518 "加密文章更新后没有删除访问权限"
### What is version of Halo has the issue?

latest

### What database are you using?

MySQL 8.x

### What is your deployment method?

Fat Jar

### Your site address.

no

### What happened?

代码在这里：https://github.com/halo-dev/halo/blob/c3536cb8ce3be22acb597f1c0ce413c316c4429b/src/main/java/run/halo/app/service/impl/PostServiceImpl.java#L897

这里似乎删除了个寂寞。文章更新后，只删除了当前更新文章的人的权限，也就是说删除了管理员的权限。期望的行为应该是删除

[2021-11-04 03:45] ruibaby commented on #1518
欢迎提交 pr。

[2021-11-04 03:47] 1379 commented on #1518
@ruibaby 首先我要确定下，这是一个bug吗？我的判断是正确的吗

[2021-11-04 03:48] ruibaby commented on #1518
已确认可以复现。

[2021-11-04 03:48] JohnNiang commented on #1518
@1379 建议提供一个复现步骤，我们好确定问题是一样的。

[2021-11-04 03:51] 1379 commented on #1518
@JohnNiang 打开两个浏览器。其中一个加密文章，输入密码，可以访问。在另一个浏览器里使用管理员登录，修改加密文章的密码，然后回到刚才的浏览器，访问加密文章，不需要输入密码就可以访问。

[2021-11-04 03:51] 1379 commented on #1518
这是我在看源码时发现的问题

[2021-11-04 04:01] 1379 commented on #1518
有人正在修复这个问题吗，我可以提个pr

[2021-11-04 04:03] ruibaby commented on #1518
没有

[2021-11-04 04:08] 1379 commented on #1518
你们有开发者交流群组吗，我可以加入吗。最近看源码有一些自己的思考想交流下

[2021-11-04 04:09] ruibaby commented on #1518
在 issue 交流即可。

[2021-11-04 04:40] JohnNiang commented on #1518
建议公开交流，这样也能留下讨论记录，更多人能够看到你的想法，有机会和你探讨。

建议在留言的时候把观点或者问题描述清楚，给对方足够多的信息，这样能避免一些反复来回沟通。

[2021-11-04 07:32] 1379 commented on #1518
我发先这个问题有些麻烦

诉求是在更新加密文章时删除所有人对这篇文章的权限。
现在权限是存储在缓存里的 key:sessionID -> value:postID 。
怎么根据postID 来反查 sessionID 呢？
如果把postID 作为key，value是HashSet，set里面存储sessionID，这样确实可以根据postID 反查到 sessionID，但是也引来了新的问题，因为不能对HashSet里的子项设置过期时间，这个HashSet可能会越来越大。。
有人有好的解决办法吗

[2021-11-05 07:32] weiran1999 opened #1520 "宝塔mysql5.7版本无法使用mysql配置"
### 是什么版本出现了此问题？

1.4.13

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Docker

### 在线站点地址

_No response_

### 发生了什么？

宝塔Liunx中，mysql5.7版本无法在配置文件中使用mysql配置，只能用h2数据库配置，不知道是不是halo更新后，只能支持mysql8.x的版本了。

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-11-05 07:33] ruibaby commented on #1520
支持 5.7 及以上版本，是有什么异常吗？

[2021-11-05 10:34] weiran1999 commented on #1520
请问，halo支持5.7以上包括5.7吗，就是用宝塔Linux来部署Halo，用mysql配置一直失败，看日志是连接数据库问题，只有用h2才正常运行。自己云服务器性能比较低，只能装mysql5.7，mysql8.x都装不了呜呜···

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@**

[2021-11-05 10:36] ruibaby commented on #1520
请提供日志，以及看看文档是否符合要求。

https://docs.halo.run/getting-started/config#mysql-1

[2021-11-05 11:33] weiran1999 commented on #1520
我曾经怀疑是application.yaml中的驱动设置driver-class-name: com.mysql.cj.jdbc.Driver 这一项，关于mysql低版本的是com.mysql.jdbc.Driver，但我两种驱动设置都用过

日志我好像都给删掉了····我现在找得到这一句···The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-11-05 11:58] weiran1999 commented on #1520
我重现了下日志的报错

com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174) ~[mysql-connector-java-8.0.25.jar:8.0.25]
	at com.mysql.cj.jdbc.exceptions.SQLExcepti

[2021-11-06 11:37] ruibaby commented on #1520
和你的 MySQL 配置有关系。https://stackoverflow.com/questions/14559794/mysql-with-java-error-the-last-packet-sent-successfully-to-the-server-was-0-mil

[2021-11-06 16:26] weiran1999 commented on #1520
不好意思，确实都试过文章中的方法以及延伸文章的方法，确实暂时无法成功使用mysql配置。
如果大家其他人的情况没有出现这种情况，那可能是自己的环境问题之类的。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月6日(星期六)

[2021-11-07 02:11] ruibaby commented on #1520
@weiran1999 换个角度试试，你可以尝试部署一个其他应用来连接这个库，看看是否有同样的问题。

[2021-11-08 01:34] 569258yin opened #1521 "后台菜单编辑保存后报错误提示"
### 是什么版本出现了此问题？

版本：1.4.12 数据库：MySQL 5.7.28 运行模式：production 启动时间：2021-10-23 11:28

### 使用的什么数据库？

MySQL 5.7

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://blog.jinzhimu.com/

### 发生了什么？

后台在编辑菜单的时候，保存后报错误提示

![image](https://user-images.githubusercontent.com/13885222/140670873-6a5e204b-b4ab-478d-9d65-e32706d5d09f.png)

### 相关日志输出

[code]

### 附加信息

_No response_

[2021-11-08 01:41] ruibaby commented on #1521
能否提供一下请求接口和参数，我们复现一下。

[2021-11-08 01:56] 569258yin commented on #1521
https://blog.jinzhimu.com/api/admin/menus/batch

[{"id":1,"name":"首页","url":"/","priority":0,"target":"_self","icon":"*","parentId":0,"team":"","children":[]},{"id":2,"name":"归档","url":"/archives","priority":1,"target":"_self","icon":"*","parentId":0,"team":"","children":[]}]

我在本地代码启动使用h2的数据库是没发现报错的

[2021-11-08 01:57] 569258yin commented on #1521
mysql 表结果：
[code]

[2021-11-08 01:58] ruibaby commented on #1521
我们会在 MySQL 环境尝试复现一下。

[2021-11-08 03:49] ruibaby commented on #1518
cc @zhixiangyuan

[2021-11-08 03:49] weiran1999 commented on #1520
我另外开一个应用，相同的驱动。确实没有halo部署的时候到类似问题。暂时难以搞明白问题出在哪里

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月7日(星期天) 上午10:11
***@***.***&gt;;
***@**

[2021-11-08 03:53] ruibaby commented on #1520
@weiran1999 晚点我使用宝塔面板按照你的版本和配置尝试复现。

[2021-11-08 03:54] weiran1999 commented on #1520
好的，多谢了

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年11月8日 11:53
收件人: halo-dev/halo ***@***.***&gt;
抄送: Weiran ***@***.***&gt;, Mention ***@***.***&gt;
主题: 回复：[halo-dev/halo] 宝塔mysql5.7版本无法使用mysql配置 (Issue #1520)

@weiran1999 晚点我使用宝塔面板按照你的版本和配置尝试复现。

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2021-11-08 03:57] weiran1999 commented on #1520
我的环境是腾讯云服务器的一核2g，mysql是5.7，用的docker部署，1.4.13的halo。多谢复现了。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年11月8日 11:53
收件人: halo-dev/halo ***@***.***&gt;
抄送: Weiran ***@***.***&gt;, Mention ***@***.***&gt;
主题: 回复：[halo-dev/halo] 宝塔mysql5.7版本无法使用mysql配置 (Issue #1520)

@weiran1999 晚点我使用宝塔面板按照你的版本和配置尝试复现。

—
You are receiving this because you were menti

[2021-11-08 03:59] ruibaby commented on #1520
Docker 部署，你的 Halo 能和 MySQL 网络互通吗？

[2021-11-08 04:02] weiran1999 commented on #1520
halo应该就是连不上mysql，日志就是我发的那些报错。我自己其他应用连的上。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年11月8日 11:59
收件人: halo-dev/halo ***@***.***&gt;
抄送: Weiran ***@***.***&gt;, Mention ***@***.***&gt;
主题: 回复：[halo-dev/halo] 宝塔mysql5.7版本无法使用mysql配置 (Issue #1520)

我的环境是腾讯云服务器的一核2g，mysql是5.7，用的docker部署，1.4.13的halo。多谢复现了。

Docker 部署，你的 Halo 能和 MySQL 网络互通吗？

—
You a

[2021-11-08 04:02] ruibaby commented on #1520
是 MySQL 通过 Docker 部署还是 Halo

[2021-11-08 04:03] weiran1999 commented on #1520
docker部署

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年11月8日 12:03
收件人: halo-dev/halo ***@***.***&gt;
抄送: Weiran ***@***.***&gt;, Mention ***@***.***&gt;
主题: 回复：[halo-dev/halo] 宝塔mysql5.7版本无法使用mysql配置 (Issue #1520)

是 MySQL 通过 Docker 部署还是 Halo

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, o

[2021-11-08 04:04] ruibaby commented on #1520
我的意思是是 MySQL 是 Docker 部署还是 Halo 是 Docker 部署，还是都是通过 Docker 部署。

[2021-11-08 04:06] weiran1999 commented on #1520
halo是docker部署，mysql是宝塔自己的

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: Ryan Wang ***@***.***&gt;
发送时间: 2021年11月8日 12:05
收件人: halo-dev/halo ***@***.***&gt;
抄送: Weiran ***@***.***&gt;, Mention ***@***.***&gt;
主题: 回复：[halo-dev/halo] 宝塔mysql5.7版本无法使用mysql配置 (Issue #1520)

我的意思是是 MySQL 是 Docker 部署还是 Halo 是 Docker 部署，还是都是通过 Docker 部署。

—
You are receiving this because you were mentioned.

[2021-11-08 04:07] ruibaby commented on #1520
那估计网络没有互通，参考：https://bbs.halo.run/d/193-docker-mysql

[2021-11-08 08:32] weiran1999 commented on #1520
我使用Linux来部署Halo后，成功使用Mysql，后续日志和使用正常了。应该就是Docker部署Halo和宿主机Linux的Mysql连接有问题，虽然这个问题我以前版本部署的时候没有遇到过。总算是解决了，谢谢作者的指导！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "halo-dev/halo"                                                                                    ***@***.**

[2021-11-08 08:33] #1520 closed

[2021-11-08 13:38] ruibaby commented on #1521
我这边使用 MySQL 无法复现。

[code]

[code]

[2021-11-08 14:48] ruibaby commented on #1521
已复现，批量保存菜单接口(https://github.com/halo-dev/halo/blob/master/src/main/java/run/halo/app/controller/admin/api/MenuController.java#L103) 会导致 `create_time` 字段被置为 `null`，并且 `create_time` 是允许为空的。 @569258yin 我想问下你有修改过表结构吗？

相关信息：
![image](https://user-images.githubusercontent.com/21301288/140763064-fbdbc0df-747c-40a6-bc2b-cc309717bccb.png)

[code]

cc @JohnNiang @guqing

[2021-11-08 15:17] 1379 commented on #1419
目前我们有设计插件机制吗，或者说插件有计划安排了吗？@JohnNiang

[2021-11-09 01:53] 569258yin commented on #1521
我应该是没有改过表结构的，我这个系统是两年前搭建的，是不是中间升级过DB的结构，我一直没有进行更新过数据库表结构，我只是更新了docker的镜像版本了

[2021-11-09 01:55] 569258yin commented on #1521
不过create_time设置可空，系统又不对赋值，还是不太好的，这个时间还是设置一下比较好，我看系统代码中有prePersist,这个方法怎么还没有应用到

[2021-11-09 01:59] ruibaby commented on #1521
@569258yin 是的，我们还在排查。目前你可以将其设置成允许为 null，目前 Menu 的 `create_time` 在系统中没有什么影响。

[2021-11-09 02:14] 569258yin commented on #1521
好的，感谢支持

[2021-11-09 06:11] #1145 closed

[2021-11-09 07:20] 1979139113 opened #1522 "Arbitrary file upload in the backend could cause a stored XSS vulnerability."
### What is version of Halo has the issue?

1.4.13

### What database are you using?

Other

### What is your deployment method?

Fat Jar

### Your site address.

_No response_

### What happened?

At the function point of uploading the avatar, any file can be uploaded, such as uploading an HTML file, which will cause a stored XSS vulnerability.

the file upload function points.

<img width="1545"

[2021-11-09 07:45] ruibaby commented on #1522
你好，目前此项目仅为单管理员设计，也就意味着目前只有管理员能操作后台。所以目前即便存在这样的问题，暂时我们也不会将优先级提高。

另外，您是否有阅读 https://github.com/halo-dev/halo/blob/master/SECURITY.md

[2021-11-09 14:14] Smart-Boy-me commented on #1369
支持取消！

[2021-11-09 14:39] JohnNiang commented on #1369
如果有人能够有意愿提交 Pull Request 就更好了。: P

[2021-11-10 02:10] #1522 closed

[2021-11-12 16:47] StarSky1 opened #1525 "启动报错，访问过于频繁"
### What is version of Halo has the issue?

1.4.13

### What database are you using?

H2

### What is your deployment method?

Fat Jar

### Your site address.

http://blog.starsky1.cn

### What happened?

使用 systemctl start halo 启动报错。环境: ubuntu16.04 lts

### Relevant log output

[code]

### Additional information

_No response_

[2021-11-13 03:29] JohnNiang commented on #1525
这个错误是业务错误，不会阻碍程序启动。

[2021-11-13 03:40] ruibaby commented on #1525
请提供 halo.service 配置内容。

[2021-11-13 05:02] StarSky1 commented on #1525
[code]
已解决，是因为/usr/bin/java 的版本是jdk8，导致启动失败，当前java版本过低。换成jdk11可以正常运行了。

[2021-11-13 05:02] #1525 closed

[2021-11-13 07:50] JohnNiang commented on #1521
/assign @guqing

[2021-11-13 14:48] #1521 closed

[2021-11-14 10:48] #1501 closed

[2021-11-16 08:10] JOCK-ONE opened #1532 "feat: 后台显示评论 MarkDown 源码，用评论来投稿"
### 你当前使用的版本

v1.14.12

### 描述一下此特性

### 缘由
因为准备用 halo 搭建一个团队博客网站，发现还不支持多用户，有人提过了，但是还没有加，所以想到一个临时解决的办法，我创建一个专门的页面，其他人通过评论来投稿，但是还是需要我拿过来去文章里发布。

### 问题
现在的评论，在后台显示的渲染后的样子，我没有办法直接拿到文章里进行发布，希望可以增加一个查看评论原内容的按钮。

### 另一个想法
评论也增加一个转换为文章的按钮，直接把评论的内容复制或转化为文章，现成的文章审核功能

### 附加信息

_No response_

[2021-11-16 08:16] JOCK-ONE commented on #1532
![image](https://user-images.githubusercontent.com/63354237/141946828-cb4538eb-826c-48f2-9c62-de1409e7a331.png)

[2021-11-16 08:19] JohnNiang commented on #1532
Thanks for sharing your idea. This could be implemented in https://github.com/halo-dev/halo-admin. What do @ruibaby reckon?

[2021-11-16 09:10] ruibaby commented on #1532
可以考虑在后台支持编辑评论内容。

[2021-11-16 09:19] lvyyevd opened #1533 "前台search功能存在xss漏洞"
### 是什么版本出现了此问题？

最新版本

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

_No response_

### 发生了什么？

### 1、前台search存在xss
在java/run/halo/app/controller/content/ContentSearchController.java
![image](https://user-images.githubusercontent.com/46083201/141956813-23452e48-b5e2-4eaa-a98b-f88600d56d2d.png)
对keyword 没有任何过滤 访问
http://127.0.0.1:8090/search/page/1?keyword=%3C/title%3E%3Cscript%3Ealert(1

[2021-11-16 10:33] guqing commented on #1533
Hi @lvyyevd, thank you for your proposal, we will fix it right away.

[2021-11-16 11:44] jerry-shao commented on #1532
I can help on the implementation of this feature if it's not assigned to anyone :)

[2021-11-16 13:42] #1533 closed

[2021-11-17 05:49] ruibaby opened #1971 "使用 js-sdk 进行接口请求"

[2021-11-17 10:46] #508 closed

[2021-11-17 10:47] #533 closed

[2021-11-17 10:48] #551 closed

[2021-11-17 10:49] #704 closed

[2021-11-17 10:52] #125 closed

[2021-11-17 10:52] #209 closed

[2021-11-17 10:53] #308 closed

[2021-11-17 10:53] #319 closed

[2021-11-17 10:54] #623 closed

[2021-11-17 10:54] #572 closed

[2021-11-17 10:55] JohnNiang commented on #289
I'm going to close this issue, because I have no more time to handle this issue.

[2021-11-17 10:55] #289 closed

[2021-11-17 10:57] #526 closed

[2021-11-17 19:28] jerry-shao commented on #1369
PR: https://github.com/halo-dev/halo/pull/1535

[2021-11-18 08:20] #1349 closed

[2021-11-18 08:29] #857 closed

[2021-11-18 08:30] #400 closed

[2021-11-18 08:30] #293 closed

[2021-11-18 08:34] ruibaby commented on #1518
/assign @guqing

[2021-11-18 08:37] ruibaby commented on #1466
/assign @guqing

[2021-11-18 12:28] #1433 closed

[2021-11-18 12:29] #1532 closed

[2021-11-18 19:14] CodeLunatic opened #1538 "[评论分页逻辑隐患] run.halo.app.service.impl.BaseCommentServiceImpl#pageVosBy:173使用的subList可能会有分页问题"
### 是什么版本出现了此问题？

1.4.13

### 使用的什么数据库？

MySQL 8.x

### 使用的哪种方式部署？

Docker

### 在线站点地址

https://halo.cyblogs.top

### 发生了什么？

因为`run.halo.app.service.impl.BaseCommentServiceImpl#pageVosBy:173`使用了subList做了分页，所以可能会出现未开启评论审核功能时，每当新评论添加后，在旧页面中停留的用户，点击评论的第二页时，列表中出现了上一页中的最后一条数据。

### 相关日志输出

[code]

### 附加信息

暂无

[2021-11-19 00:18] ruibaby commented on #1538
你好，确实存在这样的问题，你有什么好的解决方案吗？

[2021-11-19 00:20] JohnNiang commented on #1538
Thanks for reaching out here @CodeLunatic ! I'll be in charge of this problem.
/assign @JohnNiang

[2021-11-19 00:26] JohnNiang commented on #1538
Hi @CodeLunatic , I found that you have located the cause of this problem, are you interested in fixing this problem?

[2021-11-19 12:26] ruibaby opened #1539 "云存储的上传方式改为客户端上传"
### 你当前使用的版本

1.4.13

### 描述一下此特性

云存储的上传方式改为客户端上传，目前采用的服务端上传方式，会受限于服务器的带宽。

### 附加信息

_No response_

[2021-11-21 04:56] ruibaby opened #1970 "重构主题设置"
### 你当前使用的版本

1.4.13

### 描述一下此特性

1. 取消抽屉主题设置，提供单独的页面。
2. 外观菜单增加主题设置，默认为当前启用的主题设置。
3. 主题设置页面提供更多的主题信息，比如版本，变更日志等。

### 附加信息

_No response_

[2021-11-21 04:56] #2023 closed

[2021-11-21 14:03] xiaofengjue opened #1542 "整站备份再恢复，改博客地址提示internal server error"
### 是什么版本出现了此问题？

1.4.8

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://sillage.wang

### 发生了什么？

整站备份再恢复，进后台看到博客设置处的博客地址还是之前的博客地址
改博客地址提示internal server error

### 相关日志输出

_No response_

### 附加信息

_No response_

[2021-11-21 14:52] #1542 closed

[2021-11-21 14:53] xiaofengjue commented on #1542
重新用另一个机子做nginx反向代理然后再改博客地址又可以了，，，

[2021-11-22 01:10] #1518 closed

[2021-11-22 04:04] Zinyan-Z opened #1543 "评论UA 未兼容window11的识别"
### 是什么版本出现了此问题？

1.4.12

### 使用的什么数据库？

H2

### 使用的哪种方式部署？

Fat Jar

### 在线站点地址

https://zinyan.com

### 发生了什么？

评论时，用户windwos 11的电脑发的信息，识别成了window10.

现在window 11 已经正式上线了一段时间了。

希望能够正确的显示客户端的版本信息。

### 相关日志输出

_No response_

### 附加信息

https://docs.microsoft.com/zh-cn/microsoft-edge/web-platform/how-to-detect-win11
 这是微软官网 针对UA 识别的参考文档。

 User-Agent字符串不会进行更新以区分Windows 11和Windows 10。 我们不建议使用字符串Use

[2021-11-22 04:07] JohnNiang commented on #1543
Good catch!

We will investigate it later.

![image](https://user-images.githubusercontent.com/16865714/142799765-1527ec5e-45e1-47f4-8879-847b24bbe31a.png)

[2021-11-22 11:20] TimberKito commented on #1543
Maybe can be used "sec-ch-ua-platform-version" to match the user's OS
refer: https://wicg.github.io/ua-client-hints/#sec-ch-ua-platform-version

[2021-11-22 11:21] ruibaby commented on #1543
pr welcome 😄

[2021-11-23 03:16] CodeLunatic commented on #1538
@ruibaby 提供一个我们现在项目中的解决方案吧，代码如下，思路在注释中说明，这个思路是关于SQL如何避免这样的情况的，subList分页的话，可能还需要使用类似于JavaScript中的findIndex方法先查询到index，然后再做分页。
[code]
@JohnNiang 我非常有兴趣解决这个问题，您看这样的方案怎么样呢

[2021-11-23 06:16] TimberKito commented on #1543
### 想确认一下，目前前端用户评论中关于用户信息渲染是基于comments表中的user_agent字段吗？
https://github.com/halo-dev/halo/blob/d965b6c3e785d5d850e27d949e150943e0015812/src/main/java/run/halo/app/model/entity/BaseComment.java#L92
![1637647167413](https://user-images.githubusercontent.com/57060551/142977597-4b088e7a-43ce-482d-8887-a0938e51cb39.png)

![1637647194849](https://user-images.githubusercontent.com/57060551/142977650-8eccb